body {
  color: #000;
  font-family: 'Red Hat Text', Verdana, sans-serif;
}
.components-examples {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;

  .example-wrapper {
    border-top: 1px solid #29d305;
    padding: 32px 32px 72px;
  }
  &.e-theme-dark {
    .example-wrapper {
      border-top-color: #35bb18;
    }
  }
}

h1 {
  text-align: center;
  font-family: 'Red Hat Display', Verdana, sans-serif;
  margin: 40px 0px 48px;
}
h3 {
  font-family: 'Red Hat Display', Verdana, sans-serif;
  font-size: 22px;
  margin-bottom: 32px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
