body {
  color: var(--e-color-text-1);
  font-family: 'Red Hat Text', Verdana, sans-serif;
}
.components-examples {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;

  .example-wrapper {
    padding: 32px 32px 72px;
  }
}

h1 {
  text-align: center;
  font-family: 'Red Hat Display', Verdana, sans-serif;
  margin: 40px 0px 48px;
}
h3 {
  font-family: 'Red Hat Display', Verdana, sans-serif;
  font-size: 22px;
  margin-bottom: 32px;
}
