@import "../../../../../style/src/variables/colors.scss";
@import "../../../../../style/src/variables/shadows.scss";

.color-example {

	display: flex;
	align-items: center;
	flex-direction: column;

	&-container {
		display: flex;
		align-items: center;

		.example {
			height: 50px;
			width: 50px;
		}
		.example-big {
			height: 100px;
			width: 100px;
		}
		.example-extra-big {
			height: 200px;
			width: 200px;
		}
		
		.example,
		.example-big,
		.example-extra-big {
			display: inline-block;
			border-radius: 100%;
			margin: 14px;
			box-shadow: $shadow-strong;
		}
	}
}
