<!--HEADER-->
<app-component-header
  [tabs]="tabs"
  [(selected)]="selected"
>
  <ng-container ngProjectAs="headerTitle">
    Templates
  </ng-container>
  <ng-container ngProjectAs="headerDescription">
  At the start of a new project we advice that you take a look at the existing templates. This will give you a good
  insight in how
  components are used, style and tone. Feel free to use an existing template as an origin to quickly get started on
  development.
  This will contribute a consistent experience for our users. Remember that components can be adapted to your need, but
  this needs
  to be clarified with the designer in charge of the Elvis design system.
  </ng-container>
  <ng-container ngProjectAs="descriptionDoes">
    Follow standards for external and internal sites.
  </ng-container>
  <ng-container ngProjectAs="descriptionDonts">
    Create new layouts for existing structures such as articles, factboxes etc.
  </ng-container>
</app-component-header>

<!--BODY-->
<div class="page-body">
<!-- Toggle Desktop or Mobile display -->
      <div class="template-choice-container">
        <div class="template-radio-switch">
          <input
            type="radio"
            id="desktop-display"
            name="template-choice"
            value="Desktop"
            (click)="displayDesktop()"
            [checked]="isDesktop"
          />
          <label for="desktop-display">Desktop</label>
          <input
            type="radio"
            id="mobile-display"
            name="template-choice"
            value="Mobile"
            (click)="displayMobile()"
            [checked]="!isDesktop"
          />
          <label for="mobile-display">Mobile</label>
        </div>
      </div>
  <!--GUIDELINES-->
  <div *ngIf="selected == 'Article'">
    <div *ngIf="isDesktop">
      <div class="template-img-container">
        <img
          src="../../../../assets/img/desktop-placeholder.png"
          alt="Desktop Example"
        >
      </div>
    </div>
    <div *ngIf="!isDesktop">
      <div class="template-img-container">
        <img
          src="../../../../assets/img/mobile-placeholder.png"
          alt="Mobile Example"
        >
      </div>
    </div>
    
    
  

  </div>
  <!--GUIDELINES-->
  <div *ngIf="selected == 'Header'">
        <div *ngIf="isDesktop">
          <div class="template-img-container">
            <img
              src="../../../../assets/img/desktop-placeholder.png"
              alt="Desktop Example"
            >
          </div>
        </div>
        <div *ngIf="!isDesktop">
          <div class="template-img-container">
            <img
              src="../../../../assets/img/mobile-placeholder.png"
              alt="Mobile Example"
            >
          </div>
        </div>
  </div>
  <!--GUIDELINES-->
  <div *ngIf="selected == 'Footer'">
        <div *ngIf="isDesktop">
          <div class="template-img-container">
            <img
              src="../../../../assets/img/desktop-placeholder.png"
              alt="Desktop Example"
            >
          </div>
        </div>
        <div *ngIf="!isDesktop">
          <div class="template-img-container">
            <img
              src="../../../../assets/img/mobile-placeholder.png"
              alt="Mobile Example"
            >
          </div>
        </div>
  </div>

</div>