$popover-border-width: 1px;
$popover-padding: 32px;
$popover-button-offset: -30px;
$popover-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
$green: #29d305;

.ewc-no-outline,
.ewc-no-outline * {
  outline: none !important;
}

.ewc-popover {
  display: inline-flex;
  box-sizing: border-box;
  position: relative;

  &__trigger {
    display: flex;
    flex-direction: column;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__backdrop {
    z-index: 99;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    position: absolute;
    box-sizing: content-box;
    width: max-content;
    left: 50%;
    opacity: 1;
    z-index: 100;
    pointer-events: all;
    padding: $popover-padding;
    background-color: white;
    color: black;
    text-align: left;
    box-shadow: $popover-box-shadow;
    border-radius: 8px;
    transition: opacity 250ms ease-in;
    // Top aligned
    bottom: 100%;
    margin-bottom: 16px;

    .ewc-popover__close {
      position: absolute;
      top: 7px;
      right: 7px;
    }
    .ewc-popover__header {
      font-family: 'Red Hat Text', Verdana, sans-serif;
      font-size: 14px;
      line-height: 22px;
      font-weight: 500 !important;
      padding-bottom: 8px;
      margin-right: 16px;
    }
    .ewc-popover__text {
      font-family: 'Red Hat Text', Verdana, sans-serif;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
    }
  }

  &.ewc-popover--hide .ewc-popover__content,
  &.ewc-popover--hide .ewc-popover__backdrop {
    opacity: 0;
    visibility: hidden;
    .ewc-btn .ewc-btn__icon i {
      opacity: 0;
      visibility: hidden;
    }
  }

  &.ewc-popover--text-only .ewc-popover__content {
    max-width: 450px - $popover-padding * 2;
    .ewc-popover__text {
      padding-right: 8px;
    }
    // IE specific
    @media screen and (-ms-high-contrast: none) {
      width: 450px;
    }
  }

  &.ewc-popover--bottom .ewc-popover__content {
    top: 100%;
    bottom: auto;
    margin-top: 16px;
  }
}

// Should be moved out at some point
// --- ICON BTN ---
.ewc-btn.ewc-btn--icon {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  padding: 8px;
  background: none;
  color: black;

  .ewc-btn__icon {
    width: 24px;
    height: 24px;
    i {
      display: flex;
      justify-content: center;
      align-items: center;
      visibility: visible;
    }
  }

  &.ewc-btn--lg .ewc-btn__icon {
    width: 32px;
    height: 32px;
  }
  &.ewc-btn--sm:not(.ewc-btn--circled) .ewc-btn__icon {
    width: 16px;
    height: 16px;
  }

  &.ewc-btn--circled {
    padding: 0;

    // Hiding hover ikon
    .ewc-btn__icon i[class*='filled-color'] {
      visibility: hidden;
    }

    &.ewc-btn---hover,
    &:hover:not(:disabled),
    &.ewc-btn---active,
    &:active:not(:disabled) {
      background: transparent;
      // Showing hover ikon
      .ewc-btn__icon i:not([class$='filled-color']),
      .ewc-btn__icon i:not([class$='disabled']) {
        visibility: hidden;
      }
      .ewc-btn__icon i[class*='filled-color'] {
        visibility: visible;
      }
    }
    &.ewc-btn---active,
    &:active:not(:disabled) {
      transform: scale(0.93);
    }
  }

  &.ewc-btn---hover,
  &:hover:not(:disabled),
  &.ewc-btn---active,
  &:active:not(:disabled) {
    background: $green;
    .ewc-btn__icon i[class$='inverted'] {
      visibility: visible;
    }
  }
  &.ewc-btn---active,
  &:active:not(:disabled) {
    transform: scale(0.95);
  }
  &.ewc-btn---focus,
  &:focus:not(:disabled) {
    outline: 2px solid #0064fa;
    outline-offset: 2px;
  }
  &.ewc-btn---disabled,
  &:disabled {
    cursor: not-allowed;
  }
}

// --- ICONS ---
.ewc-icon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
  i {
    width: 16px;
    height: 16px;
  }
}
