@import '../utilities/icons.scss';

//[[INJECT_ICONS]]
    
@each $label, $icon in $icons {
    .e-icon-#{$label} {
        background-image: $icon;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width:$defaultSize;
        height:$defaultSize;
        display:inline-block;
    }
}

@each $label, $size in $sizes {
    .e-icon-#{$label} {
        width: $size;
        height: $size;
        img {
            width:$size;
            height:$size;
        }
    }
}