.e-stepper .e-stepper__content {
  width: 330px;
}
.e-stepper .e-stepper__content.special-stepper {
  width: 420px;
}
.e-stepper--vertical .e-stepper__content {
  width: 430px;
}

.container {
  display: flex;
  flex-direction: column;
  .state {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 16px 0;

    .number-cont {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      min-width: 150px !important;
      max-width: 150px !important;
      margin-right: 56px;
      left: 0;

      &.e-stepper {
        margin: 0;
        margin-right: 56px;
        min-width: 150px !important;
        max-width: 150px !important;
      }

      .number {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;

        font-family: 'Red Hat Display';
        font-weight: bold;
        font-size: 18px;
        line-height: 120%;
      }
      .error {
        border: 2px solid var(--e-red);
        color: var(--e-black);
      }
      .disabled {
        border: 2px solid var(--e-grey-30);
        color: var(--e-grey-30);
      }
      .collapsed {
        border: 2px solid var(--e-black);
        color: var(--e-black);
      }
      .done {
        border: 2px solid var(--e-black);
        color: var(--e-black);
      }
      .e-stepper__step-line {
        background: var(--e-grey-30);
      }
    }
  }
}
