@use '@elvia/elvis/src/utilities/breakpoints.scss' as breakpoints;

:host {
  padding-inline: 16px;
}

.error-overivew {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 900px;
  text-align: center;

  @include breakpoints.breakpoint-up(Mobile) {
    max-width: 320px;
  }
  @include breakpoints.breakpoint-up(Tablet) {
    max-width: 550px;
  }

  .error-illustration {
    width: 70%;
    max-width: 304px;
  }
}
