@use '@elvia/elvis/src/utilities/mixins.scss';

.badge-container {
  width: fit-content;
  position: relative;
}

.badge-circle {
  @include mixins.typography('text-micro');
  line-height: 9px;
  font-size: 9px;
  font-weight: 600;
  color: var(--e-color-text-4);
  background-color: var(--e-color-background-element-5);
  border-radius: 50px;
  display: grid;
  padding: 4px 0;
  place-items: center;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  user-select: none;
  height: 16px;
  width: 16px;
  z-index: 10;
}

.badge--wide {
  padding: 4px;
  width: unset;
}

.badge--green {
  background-color: var(--e-color-signal-positive);
  color: var(--e-color-signal-positive--contrast);
}

.badge--red {
  background-color: var(--e-color-signal-danger);
  color: var(--e-color-signal-danger--contrast);
}

.badge--orange {
  background-color: var(--e-color-signal-warning);
  color: var(--e-color-signal-warning--contrast);
}

.badge--neutral {
  background-color: var(--e-color-background-element-5);
  color: var(--e-color-text-4);
}

.badge--data-1 {
  background-color: var(--e-color-data-1);
  color: var(--e-color-data-1--contrast);
}

.badge--data-2 {
  background-color: var(--e-color-data-2);
  color: var(--e-color-data-2--contrast);
}

.badge--data-3 {
  background-color: var(--e-color-data-3);
  color: var(--e-color-data-3--contrast);
}

.badge--data-4 {
  background-color: var(--e-color-data-4);
  color: var(--e-color-data-4--contrast);
}

.badge--data-5 {
  background-color: var(--e-color-data-5);
  color: var(--e-color-data-5--contrast);
}

.badge--data-6 {
  background-color: var(--e-color-data-6);
  color: var(--e-color-data-6--contrast);
}
