@use '../variables/borders';

// Making border classes for all border-sizes
.e-border {
  &-none {
    border: none;
  }
  & {
    border: borders.$border-medium;
  }
  &-t {
    border-top: borders.$border-medium;
  }
  &-b {
    border-bottom: borders.$border-medium;
  }
  &-l {
    border-left: borders.$border-medium;
  }
  &-r {
    border-right: borders.$border-medium;
  }
}

// Making CSS-variables for shadow-variables
:root {
  --e-border-medium: #{borders.$border-medium};
}

.e-br-4 {
  border-radius: 4px;
}
.e-br-8 {
  border-radius: 8px;
}
