$mobile-max: 767px;
$tablet-max: 1023px;
$mindesktop-max: 1439px;
$maxdesktop-min: 1440px;

@mixin breakpoint-up($size) {
  @if $size == Mobile {
    @media (max-width: #{$mobile-max}) {
      @content;
    }
  } @else if $size == Tablet {
    @media (max-width: #{$tablet-max}) {
      @content;
    }
  } @else if $size == MinDesktop {
    @media (max-width: #{$mindesktop-max}) {
      @content;
    }
  } @else if $size == MaxDesktop {
    @media (min-width: #{$maxdesktop-min}) {
      @content;
    }
  }
}

// Note: This breakpoint is only here for backwards compability
// with regards to Bootstrap. We can probably remove this when we
// remove the .e-grid class some time in the future.
@mixin xs-mobile() {
  @media (min-width: 320px) {
    @content;
  }
}

@mixin gt-mobile() {
  @media (min-width: #{$mobile-max + 1}) {
    @content;
  }
}

@mixin gt-tablet() {
  @media (min-width: #{$tablet-max + 1}) {
    @content;
  }
}

@mixin gt-desktop() {
  @media (min-width: #{$mindesktop-max + 1}) {
    @content;
  }
}
