.e-flex {
  display: flex;
}
.e-align-items-center {
  align-items: center;
}
.e-align-items-end {
  align-items: flex-end;
}
.e-align-items-start {
  align-items: flex-start;
}
.e-align-self-center {
  align-self: center;
}
.e-align-self-end {
  align-self: flex-end;
}
.e-align-self-start {
  align-self: flex-start;
}
.e-flex-direction-column {
  flex-direction: column;
}
.e-flex-direction-row {
  flex-direction: row;
}
.e-flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.e-flex-wrap {
  flex-wrap: wrap;
}
.e-justify-content-around {
  justify-content: space-around;
}
.e-justify-content-between {
  justify-content: space-between;
}
.e-justify-content-center {
  justify-content: center;
}
.e-justify-content-end {
  justify-content: flex-end;
}
.e-justify-content-start {
  justify-content: flex-start;
}

$i: 0;
@while $i <= 72 {
  .e-gap-#{$i} {
    gap: #{$i}px;
  }
  $i: $i + 8;
}
