@use 'breakpoints';

@mixin create-breakpoint-classes($size, $breakpoint: '') {
  .col-#{$breakpoint}#{$size} {
    width: calc(100% / 12 * $size);
  }

  .order-#{$breakpoint}#{$size} {
    order: $size;
  }

  .offset-#{$breakpoint}#{$size} {
    margin-left: calc(100% / 12 * $size);
  }

  .row-cols-#{$breakpoint}#{$size} > * {
    width: calc(100% / $size);
  }
}

.e-grid {
  box-sizing: border-box;

  .row {
    --offset: 24px;

    display: flex;
    flex-wrap: wrap;
    margin-inline: calc(var(--offset) * -1);

    &.e-grid-gutters-ext.e-grid-gutters-vertical [class^='col'],
    &.e-grid-gutters-int.e-grid-gutters-vertical [class^='col'] {
      padding-block: var(--offset) !important;
    }

    &.e-grid-margin-ext {
      margin: var(--external-margin, 64px) !important;
    }

    &.e-grid-margin-int {
      margin-left: var(--internal-margin-right, 64px) !important;
      margin-right: var(--internal-margin-right, 8px) !important;
    }

    @include breakpoints.breakpoint-up(MaxDesktop) {
      --external-margin: 64px;
      --internal-margin-left: 64px;
      --internal-margin-right: 8px;

      &.e-grid-gutters-ext {
        --offset: 28px;
      }
      &.e-grid-gutters-int {
        --offset: 12px;
      }
    }

    @include breakpoints.breakpoint-up(MinDesktop) {
      --external-margin: 64px;
      --internal-margin-left: 64px;
      --internal-margin-right: 8px;

      &.e-grid-gutters-ext {
        --offset: 28px;
      }
      &.e-grid-gutters-int {
        --offset: 12px;
      }
    }

    @include breakpoints.breakpoint-up(Tablet) {
      --external-margin: 0px;
      --internal-margin-left: 64px;
      --internal-margin-right: 0px;

      &.e-grid-gutters-ext {
        --offset: 16px;
      }
      &.e-grid-gutters-int {
        --offset: 12px;
      }
    }

    @include breakpoints.breakpoint-up(Mobile) {
      --external-margin: 0px;
      --internal-margin-left: 0px;
      --internal-margin-right: 0px;

      &.e-grid-gutters-ext,
      &.e-grid-gutters-int {
        --offset: 8px;
      }
    }
  }

  .no-gutters {
    margin-right: 0;
    margin-left: 0;
  }

  .no-gutters > .col,
  .no-gutters > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }

  .col,
  [class^='col-'] {
    position: relative;
    width: 100%;
    padding-inline: var(--offset);
  }

  .col {
    flex: 1 0 0%;
  }

  [class^='col-'] {
    flex: 0 0 auto;
  }

  // Create a bunch of classes within the 12 column grid
  // The order of these matter. It's important that we first
  // generate CSS for max desktop, then min desktop, then tablet
  // and finally mobile, because of specificity.
  @for $i from 1 through 12 {
    @include breakpoints.breakpoint-up(MaxDesktop) {
      @include create-breakpoint-classes($i, xl-);
    }
  }

  @for $i from 1 through 12 {
    @include breakpoints.breakpoint-up(MinDesktop) {
      @include create-breakpoint-classes($i, lg-);
    }
  }

  @for $i from 1 through 12 {
    @include breakpoints.breakpoint-up(Tablet) {
      @include create-breakpoint-classes($i, md-);
    }
  }

  @for $i from 1 through 12 {
    @include breakpoints.breakpoint-up(Mobile) {
      @include create-breakpoint-classes($i, sm-);
    }
  }

  @for $i from 1 through 12 {
    @include create-breakpoint-classes($i);
  }
}
