@use 'sass:map';
// Multiples of 8
$sizes: (
  'xxs': 8px,
  'custom12': 12px,
  'custom14': 14px,
  'xs': 16px,
  'custom19': 19px,
  'custom20': 20px,
  'sm': 24px,
  'md': 32px,
  'lg': 40px,
  'xl': 48px,
  'xxl': 56px,
);

@function get-icon-size($size) {
  @return map.get($map: $sizes, $key: $size);
}

@mixin icon-size($icon-size) {
  $size: get-icon-size($icon-size);
  width: $size;
  height: $size;

  img,
  i {
    width: $size;
    height: $size;
  }
}

@mixin icon-variables() {
  --e-icon-color-primary: var(--e-color-text-primary, #000);
  --e-icon-color-secondary: var(--e-color-background-primary, #fff);
  --e-icon-color-on: var(--e-color-state-on, #29d305);
  --e-icon-color-caution: var(--e-color-state-caution, #ff0);
  --e-icon-color-warning: var(--e-color-state-warning, #ffa000);
  --e-icon-color-danger: var(--e-color-state-danger, #ee0701);
}

$default-size: 'md';

.e-icon {
  @include icon-variables();
  @include icon-size($default-size);
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &.e-icon-- {
    &inverted {
      --e-icon-color-primary: var(--e-color-background-primary, #fff);
      --e-icon-color-secondary: var(--e-color-text-primary, #000);
    }

    // TODO: Generate from color labels in color package
    &color- {
      &disabled,
      &gray {
        --e-icon-color-primary: var(--e-color-state-disabled, #bdbdbd);
      }

      &disabled-light,
      &gray-light {
        --e-icon-color-primary: var(--e-color-state-hover-grey, #f4f4f4); // TODO: is this the correct color?
      }

      &on,
      &green {
        --e-icon-color-primary: var(--e-icon-color-on);
      }

      &danger,
      &red {
        --e-icon-color-primary: var(--e-icon-color-danger);
      }

      &caution,
      &yellow {
        --e-icon-color-primary: var(--e-icon-color-caution);
      }

      &warning,
      &orange {
        --e-icon-color-primary: var(--e-icon-color-warning);
      }

      &white {
        --e-icon-color-primary: #fff; // TODO: Add label with white -> dark white
      }
    }
  }
}

// Making icon size classes
@each $label, $size in $sizes {
  .e-icon--#{$label} {
    @include icon-size($label);
  }
}
