@use 'sass:map';
@use '@elvia/elvis-assets-icons/dist/scss/themeVariables' as IconMap;

// Multiples of 8
$sizes: (
  'xxs': 8px,
  'custom12': 12px,
  'custom14': 14px,
  'xs': 16px,
  'custom19': 19px,
  'custom20': 20px,
  'sm': 24px,
  'md': 32px,
  'lg': 40px,
  'xl': 48px,
  'xxl': 56px,
);

@function get-icon-size($size) {
  @return map.get($map: $sizes, $key: $size);
}

// Use with icon maps from '@elvia/elvis-assets-icons/dist/scss/themeVariables' to generate css variables
@mixin icon-variables($map) {
  @each $label, $color in $map {
    --e-color-icon-#{$label}: #{$color};
  }
}

@mixin icon-size($icon-size) {
  $size: get-icon-size($icon-size);
  width: $size;
  height: $size;

  img,
  i {
    width: $size;
    height: $size;
  }
}

$default-size: 'md';

.e-icon {
  @include icon-size($default-size);
  display: inline-block;

  line-height: 0;

  @each $class, $colors in IconMap.$icon-theme-classes {
    &.e-icon--#{$class} {
      @include icon-variables($colors);
    }
  }
}

// Making icon size classes
@each $label, $size in $sizes {
  .e-icon--#{$label} {
    @include icon-size($label);
  }
}

// Set the icon (and icon foregrounds) to currentcolor
// Foreground should be opposite of background/stroke (i.e. black/white)
@mixin icon-currentcolor($foreground-color: 0) {
  --e-color-icon-stroke-1: currentcolor;
  --e-color-icon-filled-background-1: currentcolor;
  @if $foreground-color != 0 {
    --e-color-icon-filled-foreground-1: #{$foreground-color};
  }
}
@mixin icon-color($color) {
  --e-color-icon-stroke-1: #{$color};
  --e-color-icon-filled-background-1: #{$color};
}
