@use 'sass:map';
@use './breakpoints.scss';
@use '@elvia/elvis-typography/dist/typographyMap.scss' as TypographyMap;

$typography: TypographyMap.$typography;

@function getValue($name, $value) {
  $typography-map: null;

  @if map-has-key($typography, $name) {
    $typography-map: map-get($typography, $name);
  } @else {
    @each $label, $map in $typography {
      @if map-has-key($typography, alt-labels) {
        @if contains(map-get($map, alt-labels), $name) {
          $typography-map: $map;
        }
      }
    }
  }

  @if not $typography-map {
    @warn 'the typography variable "#{$name}" was not found';
    @return null;
  }

  @return map-get($typography-map, $value);
}

@mixin typography($name) {
  color: getValue($name, color);
  font-family: getValue($name, family);
  font-size: getValue($name, size);
  font-style: getValue($name, style);
  font-weight: getValue($name, weight);
  letter-spacing: getValue($name, letter-spacing);
  line-height: getValue($name, height);
  text-transform: getValue($name, transform);
  @include breakpoints.breakpoint-up(Mobile) {
    font-size: getValue($name, size-m);
    line-height: getValue($name, height-m);
  }
}
