// TODO: Every class below is deprecated - Remove classes after they have been deprecated for a while
@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';

$primary-colors: (
  'white': (
    color: #fff,
    contrastText: #000,
    alt-labels: (
      elvis-on,
      elvia-on,
      font-color-light,
      elvia-inverted,
    ),
  ),
  'green': (
    color: #29d305,
    contrastText: #000,
    alt-labels: (
      elvia-charge,
    ),
  ),
  'black': (
    color: #000,
    contrastText: #fff,
    alt-labels: (
      elvis-off,
      elvia-off,
      font-color,
      text,
    ),
  ),
  'grey': (
    color: #262626,
    contrastText: #fff,
    alt-labels: (
      elvia-dark,
    ),
  ),
);

$signal-colors: (
  'yellow': (
    color: #ff0,
    rgb: rgb(255, 255, 0),
    contrastText: #000,
  ),
  'orange': (
    color: #ffa000,
    rgb: rgb(255, 160, 0),
    contrastText: #000,
    alt-labels: (
      warning,
    ),
  ),
  'red': (
    color: #ee0701,
    rgb: rgb(255, 0, 0),
    contrastText: #000,
    alt-labels: (
      error,
    ),
  ),
);

$data-colors: (
  'green-apple': (
    color: #21ac04,
    rgb: rgb(33, 172, 4),
    contrastText: #000,
  ),
  'violet-grape': (
    color: #490192,
    rgb: rgb(73, 1, 146),
    contrastText: #fff,
  ),
  'blue-berry': (
    color: #006ddb,
    rgb: rgb(0, 109, 219),
    contrastText: #fff,
  ),
  'purple-plum': (
    color: #b66dff,
    rgb: rgb(182, 109, 255),
    contrastText: #000,
  ),
  'orange-mango': (
    color: #db6d00,
    rgb: rgb(219, 109, 0),
    contrastText: #000,
  ),
  'red-tomato': (
    color: #b90202,
    rgb: rgb(185, 2, 2),
    contrastText: #fff,
  ),
);

$grey-colors: (
  'grey-90': (
    color: #3b3b3b,
    contrastText: #fff,
  ),
  'grey-80': (
    color: #515151,
    contrastText: #fff,
    alt-labels: (
      font-grey,
      text-light,
    ),
  ),
  'grey-70': (
    color: #676767,
    contrastText: #fff,
    alt-labels: (
      placeholder,
    ),
  ),
  'grey-60': (
    color: #7c7c7c,
    contrastText: #000,
  ),
  'grey-50': (
    color: #929292,
    contrastText: #000,
  ),
  'grey-40': (
    color: #a8a8a8,
    contrastText: #000,
  ),
  'grey-30': (
    color: #bdbdbd,
    contrastText: #000,
    alt-labels: (
      disabled,
      light-inverted,
    ),
  ),
  'grey-20': (
    color: #d3d3d3,
    contrastText: #000,
  ),
  'grey-10': (
    color: #e9e9e9,
    contrastText: #000,
  ),
  'grey-05': (
    color: #f4f4f4,
    contrastText: #000,
    alt-labels: (
      disabled-light,
    ),
  ),
  'grey-02': (
    color: #fafafa,
    contrastText: #000,
  ),
);

$internal-colors: (
  'focus-outline': (
    color: #0064fa,
  ),
);

@function color-map($name, $color-set: $colors) {
  $color-map: null;

  @if map.has-key($color-set, $name) {
    $color-map: map.get($color-set, $name);
  } @else {
    @each $label, $map in $color-set {
      @if list.index(map.get($map, alt-labels), $name) {
        $color-map: $map;
      }
    }
  }

  @if meta.global-variable-exists(override-colors) {
    @if map.has-key($override-colors, $name) {
      $color-map: map.get($override-colors, $name);
    } @else {
      @each $label, $map in $override-colors {
        @if list.index(map.get($map, alt-labels), $name) {
          $color-map: $map;
        }
      }
    }
  }

  @if not $color-map {
    @warn 'the color "#{$name}" was not found';
    @return null;
  }

  @return $color-map;
}

@function color($name, $color-set: $colors) {
  $map: color-map($name, $color-set);
  @return map.get($map, color);
}

@function internal-color($name, $color-set: $internal-colors) {
  $map: color-map($name, $color-set);
  @return map.get($map, color);
}

$just-colors: map-merge($signal-colors, $data-colors);
// just-colors needs to also contain elvia-green (with an rgb value) for legacy
$just-colors: map.set(
  $just-colors,
  'green',
  map.set(map.get($primary-colors, 'green'), rgb, rgb(41, 211, 5))
);
$grey-primary: map-merge($grey-colors, $primary-colors);
$colors: map-merge($just-colors, $grey-primary);

// TODO: Every class below is deprecated - Remove classes after they have been deprecated for a while
.e-text {
  color: color('font-color');
}

.e-bg {
  background: color('elvia-on');
}

@each $label, $map in $colors {
  $color: color($label);
  $contrast-text: map.get($map, contrastText);

  $alt-labels: map.get($map, alt-labels);
  $labels: ($label);

  @if $alt-labels {
    @each $label in $alt-labels {
      $labels: list.append($labels, $label);
    }
  }

  @each $label in $labels {
    :root {
      --e-#{$label}: #{$color};
    }
    .e-text-#{$label} {
      color: $color !important;
    }
    .e-bg-#{$label} {
      background: $color !important;
      color: $contrast-text !important;
    }
  }
}
