$sizes: (
  100: 100%,
  75: 75%,
  50: 50%,
  25: 25%,
  0: 0,
);

@each $size, $value in $sizes {
  .e-w-#{$size} {
    width: $value !important;
  }
  .e-h-#{$size} {
    height: $value !important;
  }
}
