.e-w-100 {
  width: 100% !important;
}

.e-w-75 {
  width: 75% !important;
}

.e-w-50 {
  width: 50% !important;
}

.e-w-25 {
  width: 25% !important;
}

.e-w-0 {
  width: 0 !important;
}

.e-h-100 {
  height: 100% !important;
}

.e-h-75 {
  height: 75% !important;
}

.e-h-50 {
  height: 50% !important;
}

.e-h-25 {
  height: 25% !important;
}

.e-h-0 {
  height: 0 !important;
}
