@use "sass:list";
@use "sass:map";
@use "../variables/spacing";

// Making margin and padding classes for all spacing
@each $label, $map in spacing.$spacing {
  $value: map.get($map, value);
  $alt-labels: map.get($map, labels);
  $labels: ($label);

  @if $alt-labels {
    @each $label in $alt-labels {
      $labels: list.append($labels, $label);
    }
  }

  @each $label in $labels {
    .e {
      &-p-#{$label} {
        padding: $value !important;
      }
      &-pt-#{$label} {
        padding-top: $value !important;
      }
      &-pb-#{$label} {
        padding-bottom: $value !important;
      }
      &-pl-#{$label} {
        padding-left: $value !important;
      }
      &-pr-#{$label} {
        padding-right: $value !important;
      }
      &-px-#{$label} {
        padding-right: $value !important;
        padding-left: $value !important;
      }
      &-py-#{$label} {
        padding-bottom: $value !important;
        padding-top: $value !important;
      }
      &-m-#{$label} {
        margin: $value !important;
      }
      &-mt-#{$label} {
        margin-top: $value !important;
      }
      &-mb-#{$label} {
        margin-bottom: $value !important;
      }
      &-ml-#{$label} {
        margin-left: $value !important;
      }
      &-mr-#{$label} {
        margin-right: $value !important;
      }
      &-mx-#{$label} {
        margin-right: $value !important;
        margin-left: $value !important;
      }
      &-my-#{$label} {
        margin-top: $value !important;
        margin-bottom: $value !important;
      }
      &-m-n#{$label} {
        margin: -$value !important;
      }
      &-mt-n#{$label} {
        margin-top: -$value !important;
      }
      &-mb-n#{$label} {
        margin-bottom: -$value !important;
      }
      &-ml-n#{$label} {
        margin-left: -$value !important;
      }
      &-mr-n#{$label} {
        margin-right: -$value !important;
      }
      &-mx-n#{$label} {
        margin-right: -$value !important;
        margin-left: -$value !important;
      }
      &-my-n#{$label} {
        margin-top: -$value !important;
        margin-bottom: -$value !important;
      }
    }
    // Making CSS-variables for shadow-variables
    :root {
      --e-spacing-#{$label}: #{$value};
    }
  }
}
