@use 'sass:list';
@use 'sass:map';

$spacing: (
  '0': (
    value: 0,
  ),
  '8': (
    value: 8px,
    alt-labels: (
      primary,
    ),
  ),
  '16': (
    value: 16px,
  ),
  '24': (
    value: 24px,
  ),
  '32': (
    value: 32px,
  ),
  '40': (
    value: 40px,
  ),
  '48': (
    value: 48px,
  ),
  '56': (
    value: 56px,
  ),
  '64': (
    value: 64px,
  ),
  '72': (
    value: 72px,
  ),
  '80': (
    value: 80px,
  ),
  '88': (
    value: 88px,
  ),
  '96': (
    value: 96px,
  ),
  '104': (
    value: 104px,
  ),
  '112': (
    value: 112px,
  ),
);

// Making margin and padding classes for all spacing
@each $label, $map in $spacing {
  $value: map.get($map, value);
  $alt-labels: map.get($map, labels);
  $labels: ($label);

  @if $alt-labels {
    @each $label in $alt-labels {
      $labels: list.append($labels, $label);
    }
  }

  @each $label in $labels {
    .e {
      &-p-#{$label} {
        padding: $value !important;
      }
      &-pt-#{$label} {
        padding-top: $value !important;
      }
      &-pb-#{$label} {
        padding-bottom: $value !important;
      }
      &-pl-#{$label} {
        padding-left: $value !important;
      }
      &-pr-#{$label} {
        padding-right: $value !important;
      }
      &-px-#{$label} {
        padding-right: $value !important;
        padding-left: $value !important;
      }
      &-py-#{$label} {
        padding-top: $value !important;
        padding-bottom: $value !important;
      }
      &-m-#{$label} {
        margin: $value !important;
      }
      &-mt-#{$label} {
        margin-top: $value !important;
      }
      &-mb-#{$label} {
        margin-bottom: $value !important;
      }
      &-ml-#{$label} {
        margin-left: $value !important;
      }
      &-mr-#{$label} {
        margin-right: $value !important;
      }
      &-mx-#{$label} {
        margin-right: $value !important;
        margin-left: $value !important;
      }
      &-my-#{$label} {
        margin-top: $value !important;
        margin-bottom: $value !important;
      }
      &-m-n#{$label} {
        margin: -$value !important;
      }
      &-mt-n#{$label} {
        margin-top: -$value !important;
      }
      &-mb-n#{$label} {
        margin-bottom: -$value !important;
      }
      &-ml-n#{$label} {
        margin-left: -$value !important;
      }
      &-mr-n#{$label} {
        margin-right: -$value !important;
      }
      &-mx-n#{$label} {
        margin-right: -$value !important;
        margin-left: -$value !important;
      }
      &-my-n#{$label} {
        margin-top: -$value !important;
        margin-bottom: -$value !important;
      }
    }
    // Making CSS variables for spacing-variables
    :root {
      --e-spacing-#{$label}: #{$value};
    }
  }
}
