@use "sass:map";
@use "../variables/typography";
@use "./breakpoints.scss";

@each $label, $map in typography.$typography {
  $family: map.get($map, family);
  $size: map.get($map, size);
  $size-m: map.get($map, size-m);
  $align: map.get($map, align);
  $height: map.get($map, height);
  $height-m: map.get($map, height-m);
  $weight: map.get($map, weight);
  $color: map.get($map, color);
  $style: map.get($map, style);
  $letter-spacing: map.get($map, letter-spacing);
  $transform: map.get($map, transform);

  $labels: ($label);

  @each $label in $labels {
    .e-#{$label} {
      font-family: $family;
      font-size: $size;
      text-align: $align;
      line-height: $height;
      font-weight: $weight;
      font-style: $style;
      letter-spacing: $letter-spacing;
      text-transform: $transform;
      @include breakpoints.breakpoint-up(Mobile) {
        font-size: $size-m;
        line-height: $height-m;
      }
    }
  }
}
