@import '../variables/colors.scss';

$badge-padding: 5px 10px;
$badge-radius: 20px;
$badge-font-size: 0.75rem;

.elvis-badge {
  padding: $badge-padding;
  border-width: 0;
  border-radius: $badge-radius;
  font-size: $badge-font-size;
  font-weight: bold;
  box-sizing: border-box;

  // Default colors
  background: color('red');
  color: color('white');

  &.is-green {
    background: color('green-lime');
    color: color('black');
  }
  &.is-orange {
    background: color('orange-peel');
    color: color('black');
  }
}
