@import '../variables/colors.scss';

.elvis-link {
  text-decoration: none;
  color: color('green-lime');
  box-sizing: border-box;

  &:hover,
  &.is-hovering,
  &:focus,
  &.is-focusing {
    text-decoration: underline;
  }
  &:active,
  &.is-active {
    color: green;
    text-decoration: underline;
  }
}
