$tag-padding: 10px;
$tag-border-radius: 4px;

.elvis-tags {
  position: relative;
  margin-top: 0.5rem;
  box-sizing: border-box;

  &_icon,
  svg,
  i {
    font-size: 1rem;
    display: inline-block;
    margin: 0;
    margin-left: 0.5rem;
    padding: 0;
    border: none;
    background: none;
    color: black;
    cursor: pointer;
  }

  &_item {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    min-width: 45px;
    margin-left: 16px;
    padding: $tag-padding;
    border-radius: $tag-border-radius;
    background: blue;
    color: black;
    letter-spacing: 0.15px;
    &:first-child {
      margin-left: 0;
    }
  }
}
