@import '../../../../../style/elvis/src/utilities/breakpoints.scss';

.flex-img-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include breakpoint-up(Mobile) {
    display: block;
  }
}

.flex-container-figma {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include breakpoint-up(Mobile) {
    align-items: flex-start;
  }
}

.figma-img {
  width: 105px;
  margin-right: 48px;
  @include breakpoint-up(Tablet) {
    width: 98px;
    margin-right: 24px;
  }
  @include breakpoint-up(Mobile) {
    width: 64px;
    margin-right: 20px;
  }
}

.color-text {
  @include breakpoint-up(Tablet) {
    width: 50%;
  }
  @include breakpoint-up(Mobile) {
    width: 100%;
  }
}
.color-img {
  min-width: 321px;
  margin-left: 40px;
  @media (max-width: 1250px) {
    min-width: 221px;
    margin-left: 16px;
  }
  @include breakpoint-up(Tablet) {
    max-width: unset;
    width: 50%;
  }
  @include breakpoint-up(Mobile) {
    width: 100%;
    margin-left: 0px;
    margin-top: 48px;
  }
}

.brand-text-container {
  display: flex;
  justify-content: space-around;
  @include breakpoint-up(Mobile) {
    flex-direction: column;
    margin: -16px 24px;
  }
}
.top-text {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 120%;
  text-transform: uppercase;
  @include breakpoint-up(Mobile) {
    margin: 16px 0;
  }
}
.principles-text {
  white-space: nowrap;
  margin-right: 24px;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.principle {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    margin-left: 3px;
    bottom: 9px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--e-green);
  }
}
