@import '../../../../../style/elvis/src/utilities/breakpoints.scss';

.shadowCardContainer {
  display: flex;
  flex-direction: row;

  @include breakpoint-up(Mobile) {
    flex-direction: column;
  }

  .shadowCardExample {
    display: flex;
    flex-direction: column;

    @include breakpoint-up(Mobile) {
      flex-direction: row;
    }

    .shadowCardCircle {
      display: flex;
      height: 172px;
      width: 172px;
      border-radius: 50%;
      margin-bottom: 16px;

      @include breakpoint-up(Mobile) {
        margin-bottom: 0px;
      }

      &--overlap {
        margin-left: -20px;
        @include breakpoint-up(Mobile) {
          margin-left: 0;
          margin-top: -20px;
        }
      }
    }

    .shadowCardInfo {
      display: flex;
      flex-direction: column;
      align-items: center;

      &--overlap {
        margin-left: -20px;
        @include breakpoint-up(Mobile) {
          margin-left: 0;
        }
      }

      @include breakpoint-up(Mobile) {
        justify-content: center;
        margin-left: 16px;
      }

      &__title {
        margin-bottom: 9px;
      }

      &__info {
        margin-bottom: 4px;
      }
    }
  }
}
