@use '../../../../../style/elvis/src/variables/typography.scss';
@import '../../../../../style/elvis/src/utilities/breakpoints.scss';

@include breakpoint-up(Mobile) {
  img {
    display: none;
  }
}
.grid-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include breakpoint-up(MinDesktop) {
    flex-direction: column;
  }
}
.circles-container {
  display: flex;
  flex-direction: column;
  @include breakpoint-up(Mobile) {
    flex-direction: column;
    .information-container {
      margin-top: 16px;
    }
  }
  @include breakpoint-up(MinDesktop) {
    flex-direction: row;
  }

  .information-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 106px;
    &:not(:first-of-type) {
      margin-top: 16px;
    }
    @include breakpoint-up(MinDesktop) {
      margin-left: 0px;
      &:not(:first-of-type) {
        margin-top: 0px;
      }
      &:not(:last-of-type) {
        margin-right: 16px;
      }
    }
    .information-circle {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 16px;
      @include typography.typography('text-caps');
    }
  }
}
