$mobile-max: 767px;
$tablet-max: 1023px;
$mindesktop-max: 1439px;
$maxdesktop-min: 1440px;

@mixin breakpoint-up($size) {
  @if $size == Mobile {
    @media (max-width: #{$mobile-max}) {
      @content;
    }
  } @else if $size == Tablet {
    @media (max-width: #{$tablet-max}) {
      @content;
    }
  } @else if $size == MinDesktop {
    @media (max-width: #{$mindesktop-max}) {
      @content;
    }
  } @else if $size == MaxDesktop {
    @media (min-width: #{$maxdesktop-min}) {
      @content;
    }
  }
}
