@use "sass:list";
@use "sass:map";
@use "../variables/colors";

// Making background and color classes for all colors

.e {
  &-text {
    color: colors.color('black');
  }
  &-bg {
    background: colors.color('white');
  }
}

@each $label, $map in colors.$colors {
  $color: colors.color($label);
  $contrast-text: map.get($map, contrast-text);

  $alt-labels: map.get($map, alt-labels);
  $labels: ($label);

  @if $alt-labels {
    @each $label in $alt-labels {
      $labels: list.append($labels, $label);
    }
  }

  @each $label in $labels {
    :root {
      --e-#{$label}: #{$color};
    }
    .e {
      &-text-#{$label} {
        color: $color;
      }
      &-bg-#{$label} {
        background: $color;
        color: $contrast-text;
      }
    }
  }
}
