.e-grid {
    position: relative;
    width: calc(100% + var(--e-spacing-1));
    @for $i from 1 through 12 {
        $width-col: percentage($i / 12); 
        .e-col-#{$i} {
        float: left;
        margin-right: var(--e-spacing-1);
        margin-bottom: var(--e-spacing-1);
        width: calc(#{$width-col} - var(--e-spacing-1));
        }
    }
}

.e-grid-md {
    position: relative;
    width: calc(100% + var(--e-spacing-3));
    @for $i from 3 through 8 {
        $width-col: percentage($i / 8); 
        .e-col-#{$i} {
        float: left;
        margin-right: var(--e-spacing-3);
        margin-bottom: var(--e-spacing-3);
        width: calc(#{$width-col} - var(--e-spacing-3));
        }
    }
}
