$defaultSize: 32px;
$sizes: (
    'xs': 16px,
    'sm': 24px,
    'md': 32px,
    'lg': 48px,
    'xl': 64px,
);

// Class used for custom SVGs 
.e-icon-custom {
    width:$defaultSize;
    height:$defaultSize;
    display:inline-block;
    img {
        width: $defaultSize;
        height:$defaultSize;
    }
}