$defaultSize: 32px;

// Multiples of 8
$sizes: (
    'xxs': 8px,
    'xs': 16px,
    'sm': 24px,
    'md': 32px,
    'lg': 40px,
    'xl': 48px,
    'xxl': 56px,
);

// Class used for custom SVGs 
.e-icon-custom {
    width:$defaultSize;
    height:$defaultSize;
    display:inline-block;
    img, svg {
        width: $defaultSize;
        height:$defaultSize;
    }
}

@each $label, $size in $sizes {
    .e-icon-#{$label} {
        width: $size;
        height: $size;
        img {
            width:$size;
            height:$size;
        }
    }
}

@each $label, $size in $sizes {
    .e-svg-#{$label} {
        display:inline-block;
        width: $size;
        height:$size;
        font-size:$size;
        line-height: $size;
        svg {
            width:1em !important;
            height:1em !important;
        }
    }
}