.e-outline {
    outline: none;
    outline-color: internal-color('focus-outline');
    outline-style: solid;
    outline-offset: 2px;
    outline-width: 2px;
}

// Using this requires javascript to not fail WCAG criterion 2.4.7
.e-no-outline {
    a:focus,
    textarea:focus,
    input:focus
    button:focus {
        outline: none !important;
    }
}