@import "../variables/shadows";

.e-shadow {
  &-none {
    box-shadow: none;
  }
  &-soft {
    box-shadow: $shadow-soft;
  }
  &-medium {
    box-shadow: $shadow-medium;
  }
  &-hard {
    box-shadow: $shadow-hard;
  }
}

// Making CSS-variables for shadow-variables
:root {
  --e-shadow-1: #{$shadow-soft};
  --e-shadow-2: #{$shadow-medium};
  --e-shadow-3: #{$shadow-hard};
}