@import "../variables/typography";
@import "./breakpoints.scss";

@each $label, $map in $typography {
  $family: map-get($map, family);
  $size: map-get($map, size);
  $size-m: map-get($map, size-m);
  $height: map-get($map, height);
  $height-m: map-get($map, height-m);
  $weight: map-get($map, weight);
  $color: map-get($map, color);
  $style: map-get($map, style);
  $letter-spacing: map-get($map, letter-spacing);
  $transform: map-get($map, transform);

  $labels: ($label);

  @each $label in $labels {
    .e-#{$label} {
      font-family: $family;
      font-size: $size;
      line-height: $height;
      font-weight: $weight;
      color: $color;
      font-style: $style;
      letter-spacing: $letter-spacing;
      text-transform: $transform;
      @include breakpoint-up(Mobile) {
        font-size: $size-m;
        line-height: $height-m;
      }
    }
  }
}
