.e-tooltip {
  display: inline-flex;
  &:first-child {
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.03);
    }
  }
  &.no-animation {
    &:first-child {
      transition: none;
      &:hover {
        transform: scale(1);
      }
    }
  }

  &__content {
    line-height: 120%;
    font-size: 16px;
  }

  .copy-content {
    cursor: pointer;
    width: 100%;
  }
}
