.e-tooltip {
    display: block;
    
    &_content {
        line-height: 120% !important;
        font-size: 16px !important;
    }
    
    .copy-content {
        cursor: pointer;
        width: 100%;
    }
}
