:host {
  display: grid;
  grid-template-columns: repeat(6, auto);
  align-items: center;
  gap: 24px;
  width: fit-content;
}

.span-two-columns {
  grid-column: span 2;
}

.span-two-rows {
  grid-row: span 2;
}

.align-top {
  align-self: flex-start;
}

.align-bottom {
  align-self: flex-end;
}

.hex {
  display: flex;
  align-items: center;
  gap: 8px;

  &::before {
    width: 24px;
    aspect-ratio: 1 / 1;
    background-color: var(--e-color-signal-success);
    border-radius: 50%;
    content: '';
    display: inline-block;
  }
}

code {
  padding: 0 8px;
  width: fit-content;
}

.arrow {
  display: block;
  position: relative;
  width: 24px;
  background-color: var(--e-color-signal-success);
  height: 2px;
  border-radius: 99px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    right: 0;
    height: 2px;
    width: 8px;
    transform-origin: right center;
    background-color: var(--e-color-signal-success);
    border-radius: 99px;
  }

  &::before {
    rotate: -40deg;
  }

  &::after {
    rotate: 40deg;
  }
}

.horizontal-line {
  width: 24px;
  height: 2px;
  border-radius: 99px;
  background-color: var(--e-color-signal-success);
}

.vertical-line-container {
  width: 2px;
  padding: 8px 0;
  position: relative;

  .vertical-line {
    background-color: var(--e-color-signal-success);
    height: 68px;
    border-radius: 99px;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    translate: -50% 0;
    height: 4px;
    width: 4px;
    background-color: var(--e-color-signal-success);
    border-radius: 99px;
  }

  /** -1px to center dots on arrows vertically */
  &::before {
    top: -1px;
  }

  &::after {
    bottom: -1px;
  }
}
