<!--HEADER-->
<app-component-header [figmaUrl]="figmaUrl">
  <ng-container ngProjectAs="headerTitle">
    Alert messages
  </ng-container>
  <ng-container ngProjectAs="headerDescription">
    {{ description }}
  </ng-container>
</app-component-header>

<!--BODY-->
<div class="page-body">
  <!--TEMPORARY WAY TO SHOW LIVE EXAMPLES BEFORE CODE-GENERATOR-->
  <div
    class="e-my-48"
    style="display: flex; flex-direction: column; align-items: center; justify-content: center;"
  >
    <div class="e-alert e-alert--local">
      <div class="e-alert__icon">
        <i class="e-icon e-icon--remove_circle e-icon--color-red"></i>
      </div>
      <div class="e-alert__content">
        <div class="e-alert__title">Local Alert</div>
        <div class="e-alert__text">
          <div>
            Describe what went wrong
          </div>
        </div>
      </div>
    </div>
    <div class="e-w-100">
      <app-code-block [showPreview]="false" [codeHTML]="alertOverviewHTML"></app-code-block>
    </div>
  </div>

  <!--TYPE-->
  <app-component-section [sectionTitle]="'Type'">
    <ng-container ngProjectAs="sectionContent">
      <app-component-subsection [sectionTitle]="'Local Alert'">
        <ng-container ngProjectAs="sectionContent">
          Local alerts are messages related to the site and the content. It can be placed anywhere between the
          header and footer, but close to the content it is related to. Local messages can also be used for
          feedback after a user actions. The maximum width is 850px.
          <app-code-block [codeHTML]="exampleAlertDefault"></app-code-block>
          <app-when-to-use [whens]="doesAlertDefault"></app-when-to-use>
        </ng-container>
      </app-component-subsection>
    </ng-container>
  </app-component-section>

  <!--STATUSES-->
  <app-component-section [sectionTitle]="'Status'">
    <ng-container ngProjectAs="sectionContent">
      The status of an alert helps to communicate the information and the severity of the alert. Each status
      consists of a defined color and an icon. It is important to use the correct status of the alert to
      provide a consistent and universal user experience.
      <app-component-subsection [sectionTitle]="'Error'">
        <ng-container ngProjectAs="sectionContent">
          Notify when something goes wrong or the user is denied completing their task. Explain why and what
          to do. Example: Error, missing fields and invalid entry.
          <app-code-block [codeHTML]="errorStatus"></app-code-block>
        </ng-container>
      </app-component-subsection>
      <app-component-subsection [sectionTitle]="'Warning'">
        <ng-container ngProjectAs="sectionContent">
          Help users to avoid error situations and to give attention to something undesirable that may occur.
          Explain why and what to do.
          <app-code-block [codeHTML]="warnStatus"></app-code-block>
        </ng-container>
      </app-component-subsection>
      <app-component-subsection [sectionTitle]="'Positive'">
        <ng-container ngProjectAs="sectionContent">
          Provide a positive response to user actions, like a confirmation that an action is fully completed.
          Example: save, edit and submit.
          <app-code-block [codeHTML]="positiveStatus"></app-code-block>
        </ng-container>
      </app-component-subsection>
      <app-component-subsection [sectionTitle]="'Informative'">
        <ng-container ngProjectAs="sectionContent">
          Inform users to understand minor contextual changes, and are not typically in response to a user
          action. Like a helpful tip or a suggestion.
          <app-code-block [codeHTML]="infoStatus"></app-code-block>
        </ng-container>
      </app-component-subsection>
    </ng-container>
  </app-component-section>

  <!--PROPERTIES-->
  <app-component-section [sectionTitle]="'Properties'" [propertiesClass]="'e-alert'">
    <ng-container ngProjectAs="sectionContent">
      <app-component-properties [componentName]="'e-alert'"></app-component-properties>
    </ng-container>
  </app-component-section>
</div>
