<!--HEADER-->
<app-component-header [figmaUrl]="figmaUrl">
  <ng-container ngProjectAs="headerTitle">
    Alert messages
  </ng-container>
  <ng-container ngProjectAs="headerDescription">
    {{ description }}
  </ng-container>
</app-component-header>

<!--BODY-->
<div class="page-body">
  <app-code-block
    [codeHTML]="exampleAlertDefault"
    [title]="'Local Alert'"
    [description]="
      'Local alert is messages related to the site and the content. 
    It can be placed anywhere between the header and footer, but close to the content it is related to. 
    Local messages can also be used for feedback after a user actions. 
    The maximum width is 850px.'
    "
    [does]="doesAlertDefault"
  ></app-code-block>
  <app-code-block [codeHTML]="exampleAlertStatuses" [title]="'Local Alert Statuses'"></app-code-block>

  <app-component-properties [componentName]="'e-alert'"></app-component-properties>
</div>
