{
  "printWidth": 110,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "proseWrap": "always",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators"],
  "importOrder": ["^@angular/(.*)$", "^rxjs/?(.*)$", "<THIRD_PARTY_MODULES>", "^@elvia/(.*)$", "^[./]"],
  "importOrderSortSpecifiers": true,
  "importOrderSeparation": true
}
