.e-list {
  .prop-element-title {
    font-size: 14px;
    line-height: 22px;
  }
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100%;
    max-width: 112px;
  }
}
