@use '../../variables/colors';
@use '../../utilities/helpers';

.e-dragdrop {
  border: 2px dashed colors.color('grey-20');
  @include helpers.border-radius(8px);
  display: flex;
  justify-content: center;
  align-items: center;

  &--dragover {
    border-color: colors.color('elvia-charge');
  }
}
