@use '../../variables/typography';
@use '../../utilities/icons.scss';

.e-form-field {
  // Variable containing '&' to jump to current parent inside a child class.
  $this: &;
  position: relative;
  display: block;
  box-sizing: border-box;
  text-align: left;

  &__label {
    @include typography.typography('text-label');
    display: block;
    margin-bottom: 5px;
    color: var(--e-color-text-1);
    text-align: left;

    &.e-form-field__label--optional::after {
      content: ' (valgfri)';
      font-weight: 400;
    }
  }

  &__error {
    @include typography.typography('text-sm');
    display: flex;
    align-items: center;
    margin-top: 8px;
    color: var(--e-color-text-1);
    visibility: hidden;

    &.e-form-field__error--visible {
      visibility: visible;
    }

    span:first-of-type {
      display: flex;
      align-items: center;
      margin-right: 8px;
    }
  }

  &__nested {
    margin-left: 24px;

    &.e-form-field__nested--sm {
      margin-left: 16px;
    }
  }

  &.e-form-field--compact,
  &.e-form-field--small {
    position: relative;
    padding-top: 8px;

    .e-form-field__label {
      @include typography.typography('text-sm-strong');
      margin-bottom: 4px;
    }

    .e-form-field__error {
      margin-top: 4px;
      font-family: 'Red Hat Text', Verdana, sans-serif;
      font-size: 12px;
      line-height: 16px;
    }

    input:disabled {
      color: var(--e-color-text-disabled-1);
    }
  }

  /* Full width - Removes max width for all inputs */
  &.e-form-field--full-width,
  &.e-form-field--full-width .e-input,
  &.e-form-field--full-width .e-input > input,
  &.e-form-field--full-width .e-input > textarea,
  &.e-form-field--full-width .e-input > div,
  &.e-form-field--full-width > .e-form-field__input {
    width: 100%;
    max-width: unset;
  }
}

.e-inlined-field {
  display: flex;
  width: 100%;
  max-width: 448px;
  flex-direction: row;

  .e-form-field {
    width: 100%;
    margin-bottom: 0;

    &.e-form-field--width-auto {
      width: auto;
    }

    &:not(:last-of-type) {
      margin-right: 8px;
    }

    &.e-form-field--full-width {
      width: 100%;
      max-width: unset;
    }
  }

  &.e-inlined-field--full-width,
  &.e-inlined-field--full-width .e-input,
  &.e-inlined-field--full-width input {
    max-width: unset;
  }
}
