@use '../../utilities/icons';
@use '../../variables/colors';
@use '../../variables/typography';
@use '../../utilities/helpers';

.e-fileupload {
  border: 2px dashed colors.color('grey-20');
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  padding: 32px 0;

  &__icon {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
  }

  &__description {
    @include typography.typography('text-option');
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
  }

  &__input {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    input[type='file'] {
      display: none;
    }

    label {
      z-index: 1;
      font-weight: 500;
      display: inline-flex;
      align-items: center;
      border-bottom: 2.5px solid transparent;
      border-radius: 0px;
      padding: 0px;
      padding-bottom: 3.5px;
      color: colors.color('font-color');
      cursor: pointer;

      font-family: 'Red Hat Display', Verdana, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;

      &:disabled {
        color: colors.color('disabled');
        cursor: not-allowed;
      }
      @include helpers.hover() {
        &:hover {
          border-color: colors.color('elvia-charge');
        }
      }

      &:active {
        border-bottom: 1.5px solid colors.color('elvia-charge');
        padding-bottom: 4.5px;
      }

      i {
        @include icons.icon-size('sm');
        margin-right: 8px;
        display: flex;
      }
    }
  }

  &--dragover {
    border-color: colors.color('elvia-charge');
  }

  // DEPRECATED
  &---hover {
    border-color: colors.color('elvia-charge');
  }
}
