@use '../../utilities/icons';
@use '../../utilities/typography';
@use '../../utilities/helpers';

.e-fileupload {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 0;
  border: 2px dashed var(--e-color-border-3);
  border-radius: 4px;
  gap: 8px;

  &__icon,
  &__description,
  &__input {
    display: grid;
    width: 100%;
    place-items: center;
  }

  &__description {
    @include typography.typography('text-medium');
    color: var(--e-color-text-1);
  }

  &__input {
    input[type='file'] {
      display: none;
    }

    label {
      z-index: 1;
      display: inline-flex;
      align-items: center;
      padding: 0;
      padding-bottom: 3.5px;
      border-radius: 0;
      border-bottom: 2.5px solid transparent;
      @include typography.typography('text-interactive-md');
      color: var(--e-color-text-1);
      cursor: pointer;

      @include helpers.hover() {
        &:hover {
          border-color: var(--e-color-border-hover-1);
        }
      }

      &:active {
        padding-bottom: 4.5px;
        border-bottom: 1.5px solid var(--e-color-border-hover-1);
      }

      i {
        @include icons.icon-size('sm');
        display: flex;
        margin-right: 8px;
      }
    }
  }

  &--dragover {
    border-color: var(--e-color-border-hover-1);
  }
}
