@use '../../utilities/mixins';
@use '../../utilities/outline';
@use '../../utilities/icons';

@mixin placeholder() {
  &::placeholder {
    @content;
    opacity: 1;
  }
}

@property --e-input---loading-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}

.e-input {
  --border-width: 1px;
  --border-color: var(--e-color-border-1);
  position: relative;
  display: flex;
  width: 100%;
  max-width: 448px;
  align-items: center;
  border-radius: 4px;
  background: var(--e-color-background-element-1);
  box-shadow: inset 0 0 0 var(--border-width) var(--border-color);
  text-align: left;

  > input,
  > textarea {
    @include mixins.typography('text-option');
    min-width: 0;
    max-width: 448px;
    box-sizing: border-box;
    flex: 1;
    padding: 13px 16px;
    border: none;
    border-radius: 2px;
    margin: 0;
    background: transparent;
    color: var(--e-color-text-1);
  }

  > textarea {
    height: 65px;
    min-height: 16px;
    overflow-y: auto;
    resize: vertical;
  }

  > input {
    @include placeholder() {
      color: var(--e-color-text-placeholder-1);
    }
  }

  // Deprecate February 2025
  .e-input--placeholder {
    color: var(--e-color-text-placeholder-1) !important;
  }

  > .e-icon {
    width: 24px;
    height: 24px;
    flex: none;
    margin-left: 16px;
  }

  > .e-btn.e-btn--icon {
    width: 40px;
    height: 40px;
    flex: none;
    order: 3;
    margin-right: 8px;

    .e-btn__icon,
    .e-btn__icon i {
      width: 24px;
      height: 24px;
    }
  }

  > .e-btn.e-btn--icon.e-btn--circled {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }

  > .e-input__suffix {
    @include mixins.typography('text-medium');
    margin-right: 16px;
    color: var(--e-color-text-2);
  }

  &.e-input---invalid {
    --border-width: 2px;
    --border-color: var(--e-color-signal-danger);
  }

  //duplication needed as unsupported browsers fail to read the :user-invalid selector
  &:has(input:user-invalid),
  &:has(textarea:user-invalid) {
    --border-width: 2px;
    --border-color: var(--e-color-signal-danger);
  }

  &.e-input---focus {
    @include outline.e-outline();
  }

  &.e-input---focus,
  &:not(.e-input---readonly):has(input:not(:read-only):focus),
  &:not(.e-input---readonly):has(textarea:not(:read-only):focus) {
    --border-width: 2px;
    --border-color: var(--e-color-border-selected-1);
  }

  &.e-input---disabled,
  &:has(input:disabled),
  &:has(textarea:disabled) {
    --border-width: 1px;
    --border-color: var(--e-color-border-disabled-1);

    > input,
    > textarea {
      color: var(--e-color-text-disabled-1);
      cursor: not-allowed;
      opacity: 1;

      @include placeholder() {
        color: var(--e-color-text-disabled-1);
      }

      &[type='number'] {
        appearance: textfield;

        ::-webkit-outer-spin-button,
        ::-webkit-inner-spin-button {
          margin: 0;
          appearance: none;
        }
      }
    }
  }

  &.e-input---readonly {
    --border-color: transparent;
    background: var(--e-color-background-readonly-1);

    > :is(input, textarea),
    > :is(input, textarea):focus,
    > :is(input, textarea):read-only,
    > :is(input, textarea):read-only:focus {
      color: var(--e-color-text-2);

      &[type='number'] {
        appearance: textfield;

        ::-webkit-outer-spin-button,
        ::-webkit-inner-spin-button {
          margin: 0;
          appearance: none;
        }
      }
    }
  }

  @keyframes eInputLoadingAnimation {
    from {
      --e-input---loading-angle: 0deg;
    }

    to {
      --e-input---loading-angle: 180deg;
    }
  }

  &.e-input---loading:not(:focus-within) {
    --border-color: transparent;
    border: 2px solid transparent;
    animation: 1.7s eInputLoadingAnimation cubic-bezier(0.95, 0.05, 0.05, 0.95) infinite;
    background-clip: padding-box, border-box;
    background-image: linear-gradient(var(--e-color-background-1), var(--e-color-background-1)),
      linear-gradient(
        var(--e-input---loading-angle),
        var(--e-color-brand-accent),
        transparent 35% 65%,
        var(--e-color-brand-accent)
      );
    background-origin: border-box;

    > input:not(:focus),
    > textarea:not(:focus) {
      padding: 11px 14px;
      cursor: wait;
    }
  }

  // removes default time&date icons in input fields
  input[type='date']::-webkit-calendar-picker-indicator,
  input[type='time']::-webkit-calendar-picker-indicator {
    display: none;
  }

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

.e-form-field.e-combined-field .e-input:not(:last-of-type) {
  margin-right: 8px;
}

.e-form-field.e-form-field--small .e-input,
.e-input.e-input--small {
  input,
  textarea {
    @include mixins.typography('text-sm');
    padding: 5px 10px;
  }

  > .e-icon {
    width: 16px;
    height: 16px;
    margin-left: 10px;
  }

  > .e-btn.e-btn--icon {
    width: 32px;
    height: 32px;
    margin-right: 4px;

    .e-btn__icon,
    .e-btn__icon i {
      width: 16px;
      height: 16px;
    }
  }

  > .e-btn.e-btn--icon.e-btn--circled {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }

  > .e-input__suffix {
    @include mixins.typography('text-small');
    margin-right: 10px;
    color: var(--e-color-text-2);
  }

  &.e-input---loading:not(:focus-within) {
    input,
    textarea {
      padding: 3px 8px;
    }
  }

  &.e-input---disabled,
  &:has(input:disabled),
  &:has(textarea:disabled) {
    color: var(--e-color-text-disabled-1);
  }

  &.e-input---readonly {
    > :is(input, textarea),
    > :is(input, textarea):focus,
    > :is(input, textarea):read-only,
    > :is(input, textarea):read-only:focus {
      color: var(--e-color-text-2);
    }
  }
}
