@use '../../variables/animation';
@use '../../variables/shared-sizes';
@use '../../variables/typography';
@use '../../utilities/outline';
@use '../../utilities/helpers';
@use '../../utilities/icons';

$form-input-padding: 12px 16px;
$form-input-padding-active: 11px 15px;
$form-input-padding-with-icon: 12px 44px 12px 16px;
$form-input-padding-with-icon-active: 11px 43px 11px 15px;
$form-input-border-radius: shared-sizes.$border-radius;
$form-input-border: 1px solid var(--e-color-border-1);

$form-input-padding-compact: 4px 10px;
$form-input-padding-compact-active: 3px 9px;

@property --e-input---loading-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}

.e-input {
  position: relative;
  width: 100%;
  max-width: 448px;
  text-align: left;

  > input,
  > textarea {
    @include typography.typography('text-option');
    display: flex;
    width: 100%;
    max-width: 448px;
    box-sizing: border-box;
    align-items: center;
    padding: $form-input-padding;
    border: $form-input-border;
    border-radius: $form-input-border-radius;
    margin: 0;
    background: var(--e-color-background-element-1);
    color: var(--e-color-text-1);
  }

  > textarea {
    height: 91px;
    min-height: 16px;
    overflow-y: auto;
    resize: vertical;
  }

  > input {
    @include helpers.placeholder() {
      color: var(--e-color-text-3);
    }
  }

  .e-input--placeholder {
    color: var(--e-color-text-3) !important;
  }

  &.e-input--centered > input {
    justify-content: center;
  }

  .e-btn.e-btn--icon {
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
  }

  &.e-input---invalid > input,
  &.e-input---invalid > textarea {
    padding: $form-input-padding-active;
    border: 2px solid var(--e-color-signal-error);
  }

  //duplication needed as unsupported browsers fail to read the :user-invalid selector
  input:user-invalid,
  textarea:user-invalid {
    padding: $form-input-padding-active;
    border: 2px solid var(--e-color-signal-error);
  }

  &.e-input---focus > input,
  &.e-input---focus > textarea {
    @include outline.e-outline-pseudoclass();
    padding: $form-input-padding-active;
    border: 2px solid var(--e-color-border-selected-1);
  }

  > input:focus,
  > textarea:focus {
    @include outline.e-outline();
    padding: $form-input-padding-active;
    border: 2px solid var(--e-color-border-selected-1);
  }

  &.e-input---disabled > input,
  &.e-input---disabled > textarea,
  > input:disabled,
  > textarea:disabled {
    border-color: var(--e-color-border-disabled-1);
    color: var(--e-color-text-disabled-1);
    cursor: not-allowed;
    opacity: 1;

    @include helpers.placeholder() {
      color: var(--e-color-text-disabled-1);
    }

    &[type='number'] {
      appearance: textfield;

      ::-webkit-outer-spin-button,
      ::-webkit-inner-spin-button {
        margin: 0;
        appearance: none;
      }
    }
  }

  &.e-input---readonly {
    > input,
    > input:focus,
    > input:read-only,
    > input:read-only:focus {
      padding: $form-input-padding;
      border: 1px solid transparent;
      background: var(--e-color-background-element-2);
      color: var(--e-color-text-2);

      &[type='number'] {
        appearance: textfield;

        ::-webkit-outer-spin-button,
        ::-webkit-inner-spin-button {
          margin: 0;
          appearance: none;
        }
      }
    }
  }

  // Check if browser supports @property
  @supports (background: paint(something)) {
    @keyframes eInputLoadingAnimation {
      from {
        --e-input---loading-angle: 0deg;
      }

      to {
        --e-input---loading-angle: 180deg;
      }
    }

    &.e-input---loading {
      > input:not(:focus),
      > textarea:not(:focus) {
        padding: $form-input-padding-active;
        border: solid 2px transparent;
        border-radius: $form-input-border-radius;
        animation: 1.7s eInputLoadingAnimation cubic-bezier(0.95, 0.05, 0.05, 0.95) infinite;
        background-clip: padding-box, border-box;
        background-image: linear-gradient(var(--e-color-background-1), var(--e-color-background-1)),
          linear-gradient(
            var(--e-input---loading-angle),
            var(--e-color-border-selected-1),
            transparent 35% 65%,
            var(--e-color-border-selected-1)
          );
        background-origin: border-box;
      }
    }
  }
  @supports not (background: paint(something)) {
    @keyframes eInputLoadingAnimation {
      from {
        border-color: rgba(var(--e-color-border-selected-1), 1);
      }

      to {
        border-color: rgba(var(--e-color-border-selected-1), 0.1);
      }
    }

    &.e-input---loading {
      > input:not(:focus),
      > textarea:not(:focus) {
        padding: $form-input-padding-active;
        border: solid 2px var(--e-color-background-1);
        animation: 1s eInputLoadingAnimation ease alternate infinite;
      }
    }
  }

  // removes default time&date icons in input fields
  input[type='date']::-webkit-calendar-picker-indicator,
  input[type='time']::-webkit-calendar-picker-indicator {
    display: none;
  }

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none; /* stylelint-disable-line */
  }
}

.e-form-field.e-combined-field .e-input:not(:last-of-type) {
  margin-right: 8px;
}

.e-form-field.e-form-field--compact .e-input,
.e-form-field.e-form-field--small .e-input,
.e-input.e-input--compact,
.e-input.e-input--small {
  input,
  textarea {
    @include typography.typography('text-sm');
    padding: $form-input-padding-compact;
    color: var(--e-color-text-1);
  }

  &.e-input---invalid input,
  &.e-input---invalid textarea {
    padding: $form-input-padding-compact-active;
    border: 2px solid var(--e-color-signal-error);
  }

  //duplication needed as unsupported browsers fail to read the :user-invalid selector
  input:user-invalid,
  textarea:user-invalid {
    padding: $form-input-padding-compact-active;
    border: 2px solid var(--e-color-signal-error);
  }

  &.e-input---focus input,
  &.e-input---focus textarea,
  > input:focus,
  > textarea:focus {
    padding: $form-input-padding-compact-active;
    border: 2px solid var(--e-color-border-selected-1);
  }

  &.e-input---readonly {
    > input,
    > input:focus,
    > input:read-only,
    > input:read-only:focus {
      padding: $form-input-padding-compact-active;
      border: 1px solid transparent;
      background: var(--e-color-background-element-2);
      color: var(--e-color-text-2);
    }
  }

  &.e-input---loading {
    > input,
    > textarea {
      padding: $form-input-padding-compact-active;
    }
  }

  .e-btn.e-btn--icon {
    top: 1px;
    right: 1px;
    width: 32px;
    height: 32px;

    .e-btn__icon {
      width: 16px;
      height: 16px;

      i {
        @include icons.icon-size('xs');
      }
    }
  }
}
