@use "../../variables/colors";
@use "../../variables/animation";
@use "../../variables/shared-sizes";
@use "../../variables/typography";
@use "../../utilities/outline";
@use "../../utilities/helpers";

$form-input-padding: 12px 16px;
$form-input-padding-active: 11px 15px;
$form-input-padding-with-icon: 12px 44px 12px 16px;
$form-input-padding-with-icon-active: 11px 43px 11px 15px;
$form-input-border-radius: shared-sizes.$border-radius;
$form-input-border: 1px solid colors.color('grey');

.e-input {
  max-width: 448px;
  width: 100%;
  position: relative;

  > input,
  > textarea {
    display: flex;
    align-items: center;
    border: $form-input-border;
    @include helpers.border-radius($form-input-border-radius);
    box-sizing: border-box;
    background: colors.color('white');
    max-width: 448px;
    width: 100%;
    padding: $form-input-padding;
    @include typography.typography('text-option');
  }
  > i ~ input {
    padding: $form-input-padding-with-icon;
  }
  > textarea {
    min-height: 16px;
    height: 91px;
    resize: vertical;
    overflow-y: auto;
  }

  > input::placeholder,
  .e-input--placeholder {
    color: colors.color('grey-70') !important;
  }

  &.e-input--centered > input {
    justify-content: center;
  }

  i {
    position: absolute;
    right: 16px;
    top: calc(50% - (16px / 2));
    cursor: pointer;
  }

  &.e-input---invalid > input,
  &.e-input---invalid > textarea,
  > input:invalid,
  > textarea:invalid {
    border: 2px solid colors.color('red');
    padding: $form-input-padding-active;
  }
  i ~ input:invalid {
    padding: $form-input-padding-with-icon-active;
  }

  &.e-input---focus > input,
  &.e-input---focus > textarea,
  > input:focus,
  > textarea:focus {
    @include outline.e-outline();
    border: 2px solid colors.color('green');
    padding: $form-input-padding-active;
  }
  > i ~ input:focus {
    padding: $form-input-padding-with-icon-active;
  }

  &.e-input---disabled > input,
  &.e-input---disabled > textarea,
  > input:disabled,
  > textarea:disabled {
    opacity: 1;
    color: colors.color('grey-20');
    border-color: colors.color('grey-20');
    cursor: not-allowed;
  }
  i ~ input:disabled {
    padding: $form-input-padding-with-icon-active;
  }

  // removes default time&date icons in input fields
  input[type='date']::-webkit-calendar-picker-indicator,
  input[type='time']::-webkit-calendar-picker-indicator {
    display: none;
  }
}

.e-combined-field {
  .e-input:not(:last-of-type) {
    margin-right: 8px;
  }
}
