@use '../../utilities/mixins';
@use '../../utilities/outline';
@use '../../utilities/helpers';
@use '../../utilities/icons';

$form-input-padding: 12px 16px;
$form-input-padding-active: 11px 15px;
$form-input-padding-with-icon: 12px 44px 12px 16px;
$form-input-padding-with-icon-active: 11px 43px 11px 15px;
$form-input-border-radius: 4px;
$form-input-border: 1px solid var(--e-color-border-1);

$form-input-padding-compact: 4px 10px;
$form-input-padding-compact-active: 3px 9px;

@property --e-input---loading-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}

.e-input {
  position: relative;
  width: 100%;
  max-width: 448px;
  text-align: left;
  border: $form-input-border;
  border-radius: $form-input-border-radius;
  background: var(--e-color-background-element-1);
  display: flex;
  gap: 8px;
  align-items: center;

  > input,
  > textarea {
    @include mixins.typography('text-option');
    width: 100%;
    max-width: 448px;
    box-sizing: border-box;
    align-items: center;
    margin: 0;
    color: var(--e-color-text-1);
    background: transparent;
    border: none;
    padding: $form-input-padding;
  }

  > textarea {
    height: 89px;
    min-height: 16px;
    overflow-y: auto;
    resize: vertical;
  }

  > input {
    @include helpers.placeholder() {
      color: var(--e-color-text-placeholder-1);
    }
  }

  .e-input--placeholder {
    color: var(--e-color-text-placeholder-1) !important;
  }

  &.e-input--centered > input {
    justify-content: center;
  }

  .e-btn.e-btn--icon {
    margin-right: 2px;
    top: 4px;
    right: 4px;
    order: 2;
  }

  &.e-input---invalid {
    border: 2px solid var(--e-color-signal-danger);

    > input,
    > textarea {
      padding: $form-input-padding-active;
    }
  }

  //duplication needed as unsupported browsers fail to read the :user-invalid selector
  &:has(input:user-invalid),
  &:has(textarea:user-invalid) {
    border: 2px solid var(--e-color-signal-danger);

    > input,
    > textarea {
      padding: $form-input-padding-active;
    }
  }

  &.e-input---focus {
    border: 2px solid var(--e-color-border-selected-1);

    > input,
    > textarea {
      padding: $form-input-padding-active;
      @include outline.e-outline-pseudoclass();
    }
  }

  &:focus-within {
    border: 2px solid var(--e-color-border-selected-1);

    > input,
    > textarea {
      @include outline.e-outline();
      padding: $form-input-padding-active;
    }

    .e-btn.e-btn--icon {
      margin-right: 1px;
      margin-left: 1px;
    }
  }

  &.e-input---disabled,
  &:has(input:disabled),
  &:has(textarea:disabled) {
    border-color: var(--e-color-border-disabled-1);

    > input,
    > textarea {
      color: var(--e-color-text-disabled-1);
      cursor: not-allowed;
      opacity: 1;

      @include helpers.placeholder() {
        color: var(--e-color-text-disabled-1);
      }

      &[type='number'] {
        appearance: textfield;

        ::-webkit-outer-spin-button,
        ::-webkit-inner-spin-button {
          margin: 0;
          appearance: none;
        }
      }
    }
  }

  &.e-input---readonly {
    border: 1px solid transparent;
    background: var(--e-color-background-element-2);

    > input,
    > input:focus,
    > input:read-only,
    > input:read-only:focus,
    > textarea,
    > textarea:read-only,
    > textarea:focus,
    > textarea:read-only:focus {
      padding: $form-input-padding;
      color: var(--e-color-text-2);

      &[type='number'] {
        appearance: textfield;

        ::-webkit-outer-spin-button,
        ::-webkit-inner-spin-button {
          margin: 0;
          appearance: none;
        }
      }
    }
  }

  // Check if browser supports @property
  @supports (background: paint(something)) {
    @keyframes eInputLoadingAnimation {
      from {
        --e-input---loading-angle: 0deg;
      }

      to {
        --e-input---loading-angle: 180deg;
      }
    }

    &.e-input---loading:not(:has(*:focus)) {
      border: solid 2px transparent;
      border-radius: $form-input-border-radius;
      animation: 1.7s eInputLoadingAnimation cubic-bezier(0.95, 0.05, 0.05, 0.95) infinite;
      background-clip: padding-box, border-box;
      background-image: linear-gradient(var(--e-color-background-1), var(--e-color-background-1)),
        linear-gradient(
          var(--e-input---loading-angle),
          var(--e-color-brand-accent),
          transparent 35% 65%,
          var(--e-color-brand-accent)
        );
      background-origin: border-box;

      > input:not(:focus),
      > textarea:not(:focus) {
        padding: $form-input-padding-active;
        cursor: wait;
      }
    }
  }
  @supports not (background: paint(something)) {
    @keyframes eInputLoadingAnimation {
      0% {
        border-color: var(--e-color-brand-accent);
      }

      40% {
        border-color: var(--e-color-brand-accent);
      }

      100% {
        border-color: color-mix(in srgb, var(--e-color-brand-accent) 20%, transparent);
      }
    }

    &.e-input---loading:not(:has(*:focus)) {
      border: solid 2px var(--e-color-brand-accent);
      animation: 1s eInputLoadingAnimation ease alternate infinite;

      > input:not(:focus),
      > textarea:not(:focus) {
        padding: $form-input-padding-active;
        cursor: wait;
      }
    }
  }

  // removes default time&date icons in input fields
  input[type='date']::-webkit-calendar-picker-indicator,
  input[type='time']::-webkit-calendar-picker-indicator {
    display: none;
  }

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none; /* stylelint-disable-line */
  }
}

.e-form-field.e-combined-field .e-input:not(:last-of-type) {
  margin-right: 8px;
}

.e-form-field.e-form-field--compact .e-input,
.e-form-field.e-form-field--small .e-input,
.e-input.e-input--compact,
.e-input.e-input--small {
  input,
  textarea {
    @include mixins.typography('text-sm');
    padding: $form-input-padding-compact;
  }

  &.e-input---invalid input,
  &.e-input---invalid textarea {
    padding: $form-input-padding-compact-active;
  }

  //duplication needed as unsupported browsers fail to read the :user-invalid selector
  input:user-invalid,
  textarea:user-invalid {
    padding: $form-input-padding-compact-active;
  }

  &.e-input---focus input,
  &.e-input---focus textarea,
  > input:focus,
  > textarea:focus {
    padding: $form-input-padding-compact-active;
  }

  &.e-input---readonly {
    > input,
    > input:focus,
    > input:read-only,
    > input:read-only:focus,
    > textarea,
    > textarea:read-only,
    > textarea:focus,
    > textarea:read-only:focus {
      padding: $form-input-padding-compact-active;
    }
  }

  &.e-input---loading {
    > input,
    > textarea {
      padding: $form-input-padding-compact-active;
    }
  }

  .e-btn.e-btn--icon {
    top: 1px;
    right: 1px;
    width: 32px;
    height: 32px;

    .e-btn__icon {
      width: 16px;
      height: 16px;

      i {
        @include icons.icon-size('xs');
      }
    }
  }
}
