@use '../../variables/typography.scss';
@use "../../variables/colors";
@use "../../utilities/helpers";

.e-position-picker {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid colors.color('elvia-off');
  border-radius: 4px;
  padding: 32px 0;
  max-width: 375px;

  &__icon {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 22px;
  }

  &__description {
    @include typography.typography('text-label');
    color: #333333;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 22px;
    margin-top: 8px;
  }

  &__action {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
