@use '../../variables/typography.scss';
@use '../../variables/colors';

.e-position-picker {
  display: flex;
  max-width: 375px;
  flex-wrap: wrap;
  padding: 32px 0;
  border: 1px solid colors.color('elvia-off');
  border-radius: 4px;
  gap: 16px;

  &__icon,
  &__action,
  &__description {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &__description {
    @include typography.typography('text-label'); //deprecated!
    margin-top: 8px;
    color: colors.color('font-color');
  }
}
