@use '../../utilities/breakpoints';
@use '../../utilities/mixins';
@use '../../utilities/outline';

.e-radio-panel {
  --border-color: var(--e-color-border-3);
  --border-width: 1px;
  align-items: center;
  border-radius: 100px;
  box-shadow: inset 0 0 0 var(--border-width) var(--border-color);
  cursor: pointer;
  display: grid;
  gap: 8px;
  grid-template: auto auto / auto;
  max-width: 350px;
  min-width: 150px;
  padding: 16px 24px;

  @include breakpoints.gt-mobile() {
    gap: 16px;
    min-width: 200px;
    padding: 24px 32px;
  }

  &:hover,
  &:has(input:checked) {
    --border-width: 2px;
  }

  &:hover {
    --border-color: var(--e-color-border-hover-1);
  }

  &:has(input:checked) {
    --border-color: var(--e-color-border-selected-2);
  }

  &:has(input:focus-visible) {
    @include outline.e-outline();
  }

  // Hide default radiostyle
  input {
    margin: 0;
    opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;
  }

  .e-radio-panel__icon,
  .e-radio-panel__icon i {
    height: 24px;
    justify-self: center;
    width: 24px;

    @include breakpoints.gt-mobile() {
      height: 40px;
      width: 40px;
    }
  }

  .e-radio-panel__description,
  .e-radio-panel__label {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .e-radio-panel__description {
    @include mixins.typography('text-micro-strong');
    text-align: center;

    @include breakpoints.gt-mobile() {
      @include mixins.typography('text-small-strong');
    }
  }

  &.e-radio-panel--detailed {
    grid-column-gap: 8px;
    grid-row-gap: 4px;
    grid-template-columns: auto min-content;
    grid-template-rows: auto auto;
    max-width: 400px;
    padding: 24px;

    @include breakpoints.gt-mobile() {
      grid-column-gap: 16px;
      min-width: 250px;
      padding: 32px 40px;
    }

    .e-radio-panel__icon,
    .e-radio-panel__icon i {
      grid-column: 2 / 3;
      grid-row: 1 / 3;

      @include breakpoints.gt-mobile() {
        height: 48px;
        width: 48px;
      }
    }

    .e-radio-panel__description {
      @include mixins.typography('text-micro');
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      text-align: start;

      @include breakpoints.gt-mobile() {
        @include mixins.typography('text-small');
      }
    }

    .e-radio-panel__label {
      @include mixins.typography('title-xxsmall');
      grid-column: 1 / 2;
      grid-row: 2 / 3;

      @include breakpoints.gt-mobile() {
        @include mixins.typography('title-small');
      }
    }
  }
}
