@use '../../variables/colors.scss';
@use '../../utilities/outline.scss';
@use "../../variables/typography";

$form-radiobutton-mark-size: 24px;
$form-radiobutton-small-mark-size: 16px;
$form-radiobutton-mark-border-radius: 14px;
$form-radiobutton-mark-border: 1px solid colors.color('black');

.e-radio {
  // Variable containing '&' to jump to current parent inside a child class.
  $this: &;
  @include typography.typography('text-option');

  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: fit-content;
  position: relative;
  line-height: 24px;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &.e-radio--sm {
    line-height: 22px;
    @include typography.typography('text-info');

    &:not(:last-child) {
      margin-bottom: 0px;
    }
    input {
      opacity: 0;
      outline: none;
      position: absolute;
      z-index: -1;

      // states styles for input
      &:checked ~ #{$this}__mark {
        @extend %radiobutton-mark--small;
        border-color: colors.color('black');
      }

      &:focus ~ #{$this}__mark {
        @include outline.e-outline();
      }

      &:invalid ~ #{$this}__mark {
        border-color: colors.color('red');
      }

      &:disabled ~ #{$this}__mark {
        border-color: colors.color('grey-30');
        background: colors.color('grey-05');
        cursor: not-allowed;
      }
      &:disabled ~ #{$this}__label {
        color: colors.color('grey-70');
        cursor: not-allowed;
      }

      &:disabled:checked ~ #{$this}__mark {
        border-color: colors.color('grey-30');
        background: colors.color('grey-05');
        cursor: not-allowed;

        &:before,
        &:after {
          background-color: colors.color('grey-40');
        }
      }
      &:disabled:checked ~ #{$this}__label {
        color: colors.color('grey-70');
        cursor: not-allowed;
      }
    }

    .e-radio__mark {
      width: $form-radiobutton-small-mark-size;
      height: $form-radiobutton-small-mark-size;
    }
  }

  &:hover &__mark {
    background: colors.color('green');
  }

  // Hide defualt radiostyle and put in placeholder style
  input {
    opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;

    // states styles for input
    &:checked ~ #{$this}__mark {
      @extend %radiobutton-mark;
      border-color: colors.color('black');
    }

    &:focus ~ #{$this}__mark {
      @include outline.e-outline();
    }

    &:invalid ~ #{$this}__mark {
      border-color: colors.color('red');
    }

    &:disabled ~ #{$this}__mark {
      border-color: colors.color('grey-30');
      background: colors.color('grey-05');
      cursor: not-allowed;
    }
    &:disabled ~ #{$this}__label {
      color: colors.color('grey-70');
      cursor: not-allowed;
    }

    &:disabled:checked ~ #{$this}__mark {
      border-color: colors.color('grey-30');
      background: colors.color('grey-05');
      cursor: not-allowed;

      &:before,
      &:after {
        background-color: colors.color('grey-40');
      }
    }
    &:disabled:checked ~ #{$this}__label {
      color: colors.color('grey-70');
      cursor: not-allowed;
    }
  }
  // Creating placeholder to inject style into radiobutton mutations.
  %radiobutton-mark {
    background-color: colors.color('green');
    display: flex;
    align-items: center;
    justify-content: center;
    &:before {
      content: '';
      height: 14px;
      width: 14px;
      background-color: colors.color('black');
      border-radius: 50%;
      opacity: 1;
      animation: fadeIn 250ms;
    }
  }

  %radiobutton-mark--small {
    background-color: colors.color('green');
    display: flex;
    align-items: center;
    justify-content: center;
    &:before {
      content: '';
      height: 8px;
      width: 8px;
      background-color: colors.color('black');
      border-radius: 50%;
      opacity: 1;
      animation: fadeIn 250ms;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &__mark {
    display: inline-block;
    width: $form-radiobutton-mark-size;
    height: $form-radiobutton-mark-size;
    border: $form-radiobutton-mark-border;
    border-radius: $form-radiobutton-mark-border-radius;
    background: colors.color('white');
  }

  // pseudoclasses

  &.e-radio---checked {
    .e-radio__mark {
      @extend %radiobutton-mark;
    }
  }
  // extends correct radiomark for sm radiobuttons
  &.e-radio--sm[class$='e-radio---checked'] &__mark {
    @extend %radiobutton-mark--small;
  }

  &.e-radio---disabled {
    .e-radio__mark {
      border-color: colors.color('grey-30');
      background: colors.color('grey-05');
      cursor: not-allowed;
    }
    .e-radio__label {
      color: colors.color('grey-70');
      cursor: not-allowed;
    }
  }

  &.e-radio---disabled-checked {
    .e-radio__mark {
      @extend %radiobutton-mark;
      border-color: colors.color('grey-30') !important;
      background: colors.color('grey-05') !important;
      cursor: not-allowed;

      &:before,
      &:after {
        background-color: colors.color('grey-40') !important;
      }
    }
    .e-radio__label {
      color: colors.color('grey-70');
      cursor: not-allowed;
    }
  }
  // extends correct radiomark for sm radiobuttons
  &.e-radio--sm[class$='e-radio---disabled-checked'] &__mark {
    @extend %radiobutton-mark--small;
  }

  &.e-radio---focus {
    .e-radio__mark {
      @include outline.e-outline-pseudoclass();
    }
  }

  &.e-radio---hover {
    .e-radio__mark {
      background: colors.color('green');
    }
  }

  &.e-radio---invalid {
    .e-radio__mark {
      border-color: colors.color('red');
    }
  }

  &__mark {
    position: absolute;
    top: 0px;
  }
  &.e-radio--sm {
    .e-radio__mark {
      top: 3px;
    }
  }
  &__label {
    flex-grow: 1;
    margin-left: 32px;
  }
  &.e-radio--sm {
    .e-radio__label {
      margin-left: 24px;
    }
  }
}
