@use '../../utilities/typography';
@use '../../utilities/outline';
@use '../../utilities/helpers';

$radio-mark-size: 24px;
$radio-mark-small-size: 16px;
$radio-mark-border-radius: 14px;
$radio-mark-color: var(--e-color-static-black);
$radio-mark-checked-color: var(--e-radio-checked-color);
$radio-mark-checked-background: var(--e-radio-checked-background-color);
$radio-mark-border: 1px solid var(--e-color-border-1);

.e-radio {
  @include helpers.custom-light-theme-tokens {
    --e-radio-checked-color: var(--e-light-theme-black);
    --e-radio-checked-background-color: var(--e-light-theme-green);
  }

  @include helpers.custom-dark-theme-tokens('radio') {
    --e-radio-checked-color: var(--e-dark-theme-green);
    --e-radio-checked-background-color: var(--e-dark-theme-black);
  }

  position: relative;
  display: flex;
  width: fit-content;
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
  text-align: left;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &__mark {
    position: absolute;
    top: 0;
    display: inline-block;
    width: $radio-mark-size;
    height: $radio-mark-size;
    border: $radio-mark-border;
    border-radius: $radio-mark-border-radius;
    background-color: var(--e-color-background-element-1);
    transition: background-color 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  }

  &__label {
    flex-grow: 1;
    margin-left: 32px;
    @include typography.typography('text-md');
    line-height: 24px;
    color: var(--e-color-text-1);
  }

  // Hide default radiostyle
  input {
    position: absolute;
    z-index: -1;
    width: $radio-mark-size;
    height: $radio-mark-size;
    border-radius: 50%;
    margin: 0;
    opacity: 0;
    outline: none;
  }

  // States
  input:checked ~ .e-radio__mark,
  &.e-radio---checked .e-radio__mark {
    @extend %radio-mark-checked;
  }

  input:focus ~ .e-radio__mark {
    @include outline.e-outline();
  }

  &.e-radio---focus .e-radio__mark {
    @include outline.e-outline-pseudoclass();
  }

  input {
    @include helpers.hover() {
      &:hover:not(:disabled):not(:invalid):not(:checked) ~ .e-radio__mark {
        background-color: var(--e-color-background-hover-1);
      }
    }
  }

  &.e-radio---hover:not(:disabled):not(:invalid):not(:checked) .e-radio__mark {
    background-color: var(--e-color-background-hover-1);
  }

  input:disabled,
  &.e-radio---disabled {
    @extend %radio-mark-disabled;
  }

  &.e-radio---disabled-checked,
  input:checked:disabled {
    ~ .e-radio__mark,
    .e-radio__mark {
      @extend %radio-mark-checked;
    }
    @extend %radio-mark-disabled;
  }

  input:invalid ~ .e-radio__mark,
  &.e-radio---invalid .e-radio__mark {
    @extend %radio-mark-invalid;
  }

  // Small
  // DEPRECATED (compact, sm) -> small
  &.e-radio--compact,
  &.e-radio--sm,
  &.e-radio--small {
    input,
    .e-radio__mark {
      width: $radio-mark-small-size;
      height: $radio-mark-small-size;
    }

    .e-radio__label {
      margin-left: 24px;
      @include typography.typography('text-sm');
      line-height: 16px;
    }

    // States - small specific
    &.e-radio---checked .e-radio__mark,
    input:checked ~ .e-radio__mark {
      @extend %radio-mark-checked-small;
    }

    &.e-radio---disabled-checked,
    input:checked:disabled {
      ~ .e-radio__mark,
      .e-radio__mark {
        @extend %radio-mark-checked-small;
      }
      @extend %radio-mark-disabled;
    }
  }
}

// Radio mark styling
// :before create a dot that symbolizes the checked state
%radio-mark-checked,
%radio-mark-checked-small {
  display: grid;
  background-color: $radio-mark-checked-background;
  place-items: center;

  &::before {
    @include helpers.animation(fadeIn, 250ms, linear, both);
    border-radius: 50%;
    background-color: $radio-mark-checked-color;
    content: '';
    opacity: 1;
  }
}
%radio-mark-checked {
  &::before {
    width: 12px;
    height: 12px;
  }
}
%radio-mark-checked-small {
  &::before {
    width: 8px;
    height: 8px;
  }
}
%radio-mark-disabled {
  cursor: not-allowed;

  ~ .e-radio__mark,
  .e-radio__mark {
    border-color: var(--e-color-border-disabled-1);
    background-color: var(--e-color-background-disabled-1);
    cursor: not-allowed;

    &::before {
      background-color: var(--e-color-text-disabled-1);
    }
  }

  ~ .e-radio__label,
  .e-radio__label {
    color: var(--e-color-text-disabled-1);
    cursor: not-allowed;
  }
}
%radio-mark-disabled-checked {
  @extend %radio-mark-checked;
  @extend %radio-mark-disabled;
}
%radio-mark-invalid {
  border-color: var(--e-color-signal-danger);
}

// Animations
@include helpers.keyframes(fadeIn) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
