@use '../../utilities/breakpoints';
@use '../../utilities/mixins';
@use '../../utilities/outline';

@mixin limit-lines($line-clamp) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $line-clamp;
  -webkit-box-orient: vertical;
}

@mixin square($size) {
  height: $size;
  width: $size;
}

.e-radio-panel-container {
  --min-width: 150px;

  display: grid;
  gap: 8px;
  grid-auto-rows: 1fr; //same height rows
  grid-template-columns: repeat(auto-fit, minmax(var(--min-width), 1fr));
  place-items: stretch;

  @include breakpoints.gt-mobile() {
    gap: 16px;
    --min-width: 200px;

    &:has(.e-radio-panel--detailed) {
      --min-width: 250px;
    }
  }
}

.e-radio-panel {
  --border-color: var(--e-color-border-3);
  --border-width: 1px;

  align-items: center;
  border-radius: 100px;
  box-shadow: inset 0 0 0 var(--border-width) var(--border-color);
  cursor: pointer;
  display: grid;
  gap: 8px;
  grid-template: auto auto / auto;
  max-width: 350px;
  min-width: 150px;
  padding: 16px 24px;

  @include breakpoints.gt-mobile() {
    gap: 16px;
    min-width: 200px;
    padding: 24px 32px;
  }

  &:hover,
  &:has(input:checked) {
    --border-width: 2px;
  }

  &:has(input:checked) {
    --border-color: var(--e-color-border-selected-2);
  }

  &:has(input:focus-visible) {
    @include outline.e-outline();
  }

  .e-radio-panel__icon,
  .e-radio-panel__icon i {
    grid-area: 1 / 1 / 2 / 2;
  }

  .e-radio-panel__icon {
    @include square(26px);
    display: grid;
    justify-self: center;
    place-items: center;

    @include breakpoints.gt-mobile() {
      @include square(42px);
    }

    i {
      @include square(24px);
      transition:
        width 0.2s,
        height 0.2s;

      @include breakpoints.gt-mobile() {
        @include square(40px);
      }

      //hide "non" color icon by default,
      &:not([class*='color']) {
        visibility: hidden;
      }

      //but always show if only one icon
      &:only-child {
        visibility: visible;
      }
    }
  }

  &:hover {
    --border-color: var(--e-color-border-hover-1);

    .e-radio-panel__icon {
      i {
        @include square(26px);

        @include breakpoints.gt-mobile() {
          @include square(42px);
        }

        //show "non" color icon on hover,
        &:not([class*='color']) {
          visibility: visible;
        }
        //hide "color" icon on hover, unless it's the only icon available
        &:not(:only-child)[class*='color'] {
          visibility: hidden;
        }
      }
    }
  }

  // Hide default radiostyle
  input {
    margin: 0;
    opacity: 0;
    outline: none;
    position: absolute;
  }

  .e-radio-panel__description,
  .e-radio-panel__label {
    margin: 0;
    padding: 0;
  }

  .e-radio-panel__description {
    @include mixins.typography('text-micro-strong');
    @include limit-lines(2);
    text-align: center;

    @include breakpoints.gt-mobile() {
      @include mixins.typography('text-small-strong');
    }
  }

  &.e-radio-panel--detailed {
    gap: 4px 8px;
    grid-template: auto auto / auto min-content;
    max-width: 400px;
    padding: 24px;

    @include breakpoints.gt-mobile() {
      grid-column-gap: 16px;
      min-width: 250px;
      padding: 32px 40px;
    }

    .e-radio-panel__icon,
    .e-radio-panel__icon i {
      grid-area: 1 / 2 / 3 / 3;
    }

    .e-radio-panel__icon {
      @include square(26px);

      @include breakpoints.gt-mobile() {
        @include square(50px);
      }

      i {
        @include square(24px);

        @include breakpoints.gt-mobile() {
          @include square(48px);
        }
      }
    }

    &:hover {
      .e-radio-panel__icon {
        i {
          @include square(26px);

          @include breakpoints.gt-mobile() {
            @include square(50px);
          }
        }
      }
    }

    .e-radio-panel__description {
      @include limit-lines(1);
      @include mixins.typography('text-micro');
      align-self: end;
      grid-area: 1 / 1 / 2 / 2;
      text-align: start;

      @include breakpoints.gt-mobile() {
        @include mixins.typography('text-small');
      }
    }

    .e-radio-panel__label {
      @include limit-lines(2);
      @include mixins.typography('title-xxsmall');
      align-self: start;
      grid-area: 2 / 1 / 3 / 2;

      @include breakpoints.gt-mobile() {
        @include mixins.typography('title-small');
      }
    }
  }
}
