@use '../../utilities/icons';
@use '../../variables/typography.scss';

.e-search {
  @include typography.typography('text-md');
  position: relative;

  &::-ms-clear {
    display: none;
  }

  &--instant {
    .e-input {
      input,
      input:invalid,
      input:disabled,
      &.e-input---disabled input,
      &.e-input---loading input {
        padding: 12px 48px 12px 56px;
      }

      &.e-input---invalid input,
      &.e-input---focus input,
      &.e-input---loading input,
      input:focus {
        padding: 11px 47px 11px 55px;
      }
    }

    i[class*='e-icon--search-color'] {
      position: absolute;
      top: 12px;
      left: 16px;
      display: flex;
      width: 24px;
      height: 24px;
      visibility: visible;
    }

    &.e-search--searched {
      .e-btn.e-btn--icon {
        visibility: visible;

        .e-btn__icon {
          i[class*='e-icon--close-bold'] {
            visibility: visible;
          }
        }
      }
    }

    .e-btn.e-btn--icon {
      position: absolute;
      top: 8px;
      right: 12px;
      width: 32px;
      height: 32px;
      visibility: hidden;

      .e-btn__icon {
        @include icons.icon-size('xs');

        i[class*='e-icon--close-bold'] {
          position: absolute;
          display: flex;
          visibility: hidden;
        }
      }
    }
  }

  &--on-submit {
    .e-input {
      input,
      input:invalid,
      input:disabled,
      &.e-input---loading input,
      &.e-input---disabled input {
        padding: 12px 48px 12px 12px;
      }

      &.e-input---invalid input,
      &.e-input---focus input,
      &.e-input---loading input,
      input:focus {
        padding: 11px 47px 11px 11px;
      }
    }

    &.e-search--searched {
      .e-btn.e-btn--icon {
        visibility: visible;

        .e-btn__icon {
          i[class*='e-icon--close-bold'] {
            visibility: visible;
          }
        }
      }
    }

    .e-btn.e-btn--icon {
      position: absolute;
      top: 8px;
      right: 12px;
      width: 32px;
      height: 32px;
      visibility: hidden;

      .e-btn__icon {
        @include icons.icon-size('xs');

        i[class*='e-icon--close-bold'] {
          position: absolute;
          display: flex;
          visibility: hidden;
        }
      }
    }
  }
}

.e-form-field {
  &.e-form-field--compact,
  &.e-form-field--small {
    .e-search--instant {
      @include typography.typography('text-sm');

      .e-input {
        input,
        input:invalid,
        input:disabled,
        &.e-input---disabled input,
        &.e-input---loading input {
          padding: 4px 32px;
        }

        &.e-input---invalid input,
        &.e-input---focus input,
        &.e-input---loading input,
        input:focus {
          padding: 3px 31px;
        }
      }

      i[class*='e-icon--search-color'] {
        position: absolute;
        top: 50%;
        left: 8px;
        display: flex;
        width: 16px;
        height: 16px;
        transform: translateY(-50%);
        visibility: visible;
      }

      .e-btn {
        top: 0;
        right: 4px;
      }
    }

    .e-search--on-submit {
      font-size: 14px;

      .e-input {
        input,
        input:invalid,
        input:disabled,
        &.e-input---disabled input,
        &.e-input---loading input {
          max-height: 32px;
          padding: 4px 32px 4px 10px;
        }

        &.e-input---invalid input,
        &.e-input---focus input,
        &.e-input---loading input,
        input:focus {
          padding: 3px 31px 3px 9px;
        }
      }

      .e-btn {
        top: 1px;
        right: 4px;
      }
    }
  }

  .e-search {
    &--instant,
    &--on-submit {
      .e-input---disabled {
        ~ i[class*='e-icon--search-color'] {
          cursor: not-allowed;
          opacity: 30%;
        }

        ~ .e-btn.e-btn--icon {
          visibility: hidden;

          .e-btn__icon {
            i[class*='e-icon--close-bold'] {
              visibility: hidden;
            }
          }
        }

        input:disabled::placeholder {
          color: var(--e-color-text-disabled-1) !important; //override ".e-input > input::placeholder"
        }
      }
    }
  }
}
