@use "../../utilities/icons";
@use "../../utilities/helpers";

.e-search {
  position: relative;

  &::-ms-clear {
    display: none;
  }

  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  &--instant {
    .e-input {
      input,
      input:invalid,
      input:disabled {
        padding: 12px 12px 12px 56px;
      }
      input:focus {
        padding: 11px 11px 11px 55px;
      }
    }

    i[class*='e-icon--search-color'] {
      visibility: visible;
      position: absolute;
      display: flex;
      top: 12px;
      left: 16px;
      height: 24px;
      width: 24px;
    }

    &.e-search--searched {
      .e-btn {
        visibility: visible;
        &.e-btn--icon {
          .e-btn__icon {
            i[class*='e-icon--close-bold'] {
              visibility: visible;
            }
          }
        }
      }
    }

    .e-btn {
      visibility: hidden;
      position: absolute;
      top: 8px;
      right: 8px;
      width: 32px;
      height: 32px;
      &.e-btn--icon {
        @media screen and (-ms-high-contrast: none) {
          // CHECK IE11
          top: 8px;
        }
        .e-btn__icon {
          @include icons.icon-size('xs');
          i[class*='e-icon--close-bold'] {
            visibility: hidden;
            position: absolute;
            display: flex;
          }
        }
      }
    }
  }
  &--on-submit {
    &.e-search--searched {
      .e-btn {
        visibility: visible;
        &.e-btn--icon {
          .e-btn__icon {
            i[class*='e-icon--close-bold'] {
              visibility: visible;
            }
          }
        }
      }
    }

    .e-btn {
      visibility: hidden;
      position: absolute;
      top: 8px;
      right: 8px;
      width: 32px;
      height: 32px;
      &.e-btn--icon {
        @media screen and (-ms-high-contrast: none) {
          // CHECK IE11
          top: 8px;
        }
        .e-btn__icon {
          @include icons.icon-size('xs');
          i[class*='e-icon--close-bold'] {
            visibility: hidden;
            position: absolute;
            display: flex;
          }
        }
      }
    }
  }

  &.e-search--global {
    display: flex;
    flex-direction: row;

    .e-input {
      input,
      input:invalid,
      input:focus,
      input:disabled {
        font-family: 'Red Hat Text';
        font-size: 24px;
        line-height: 38px;
        padding: 0;
        border-radius: 0;
        border: 1px solid transparent;
        border-bottom: 1px solid var(--e-black);
      }
    }

    .e-btn.e-btn--icon {
      display: none;
      width: 32px;
      height: 32px;
    }

    &.e-search--searched {
      .e-btn.e-btn--icon {
        display: flex;
        position: absolute;
        right: 0;
        bottom: 1px;
        @media screen and (-ms-high-contrast: none) {
          top: 0px;
        }
        .e-btn__icon {
          @include icons.icon-size('xs');
          i[class*='e-icon--close-bold'] {
            position: absolute;
            display: flex;
            top: 0px;
          }
        }
      }
    }
  }
}

.e-form-field {
  &.e-form-field--compact {
    .e-search--instant {
      font-size: 14px;
      .e-input {
        input,
        input:invalid,
        input:disabled {
          padding: 6px 32px 6px 32px;
        }
        input:focus {
          padding: 5px 31px 5px 31px;
        }
      }
      i[class*='e-icon--search-color'] {
        visibility: visible;
        position: absolute;
        display: flex;
        top: 10px;
        left: 8px;
        height: 16px;
        width: 16px;
      }
      .e-btn {
        top: 2px;
        right: 2px;
        &.e-btn--icon {
          @media screen and (-ms-high-contrast: none) {
            // CHECK IE11
            top: 2px;
          }
        }
      }
    }
    .e-search--on-submit {
      font-size: 14px;
      .e-input {
        input,
        input:invalid,
        input:disabled {
          padding: 6px 32px 6px 10px;
        }
        input:focus {
          padding: 5px 31px 5px 9px;
        }
      }
      .e-btn {
        top: 2px;
        right: 2px;
        &.e-btn--icon {
          @media screen and (-ms-high-contrast: none) {
            // CHECK IE11
            top: 2px;
          }
        }
      }
    }
  }
}
