@use "../../utilities/outline";
@use "../../variables/colors";
@use "../../utilities/helpers";

$control-count: 3;
$transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$transition-duration: 0.35s;
$segmented-controls-height: 46px;
$segmented-controls-border: 1px solid colors.color('elvia-off');

.e-segmented-controls {
  display: inline-flex;
  border: $segmented-controls-border;
  border-radius: 38px;
  width: 100%;
  max-width: 442px;
  text-align: center;
  flex-wrap: nowrap;
  box-sizing: border-box;
  position: relative;
  @include helpers.user-select(none);

  transition: $transition-duration $transition-timing-function;

  > input {
    position: absolute;
    opacity: 0;
    &:focus ~ label:first-of-type {
      @include outline.e-outline();
    }

    &[type='checkbox'] ~ label {
      transition: 0s;

      &:before {
        opacity: 0;
      }
    }

    @for $i from 1 through $control-count {
      &:nth-child(#{$i}) {
        ~ label:nth-of-type(#{$i}) {
          .e-segmented-controls__title {
            font-weight: 400;
            transition: font-weight 0s 0;
          }
          .e-segmented-controls__title {
            color: black;
            transition: color 0s calc(#{$transition-duration} / 2);
            z-index: 11;
          }
          &:hover .e-segmented-controls__title {
            font-weight: 500;
            transition: $transition-timing-function 0s;
          }
        }
      }
      &:nth-child(#{$i}):checked {
        ~ label:nth-of-type(#{$i}) {
          .e-segmented-controls__title {
            transition-delay: ($transition-timing-function calc(#{$transition-duration} / 2));
            color: colors.color('font-color-light');
            font-weight: 500;
            z-index: 11;
          }
        }

        @for $j from $i through $control-count {
          ~ label:first-of-type:nth-last-of-type(#{$j}) {
            &:after,
            &:before,
            & ~ label:after,
            & ~ label:before {
              left: percentage((($i - 1) / 10) / ($j / 10));
            }
          }
        }
      }
    }
  }

  > label {
    cursor: pointer;
    float: left;
    height: $segmented-controls-height;

    transition-property: none;
    transition-duration: inherit;
    transition-timing-function: inherit;

    .e-segmented-controls__title {
      position: absolute;
      display: flex;
      align-items: center;
      height: 100%;

      font-family: 'Red Hat Text';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 145%;
    }

    &:before,
    &:after {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    &:after {
      background: black;
      text-align: center;
      padding: inherit;
      z-index: 10;
      opacity: 0;
      font-weight: 500;

      transition-property: left;
      transition-duration: inherit;
      transition-timing-function: inherit;
    }

    &:before {
      content: '';
      background: black;

      transition-property: left;
      transition-duration: inherit;
      transition-timing-function: inherit;
    }

    @for $i from 1 through $control-count {
      &:first-of-type:nth-last-of-type(#{$i}) {
        &,
        & ~ label {
          &,
          &:after,
          &:before {
            display: flex;
            justify-content: center;
            width: percentage(1 / $i);
            border-radius: 36px;
          }
        }
      }
    }
  }
}
