@use '../../utilities/helpers';
@use '../../utilities/outline';
@use '../../variables/colors';
@use '../../variables/typography.scss';

$toggle-border-radius: 50px;

$toggle-height: 16px;
$toggle-width: 32px;
$toggle-slider-size: 10px;
$toggle-slider-margin: calc((#{$toggle-height} - #{$toggle-slider-size}) / 2);

$toggle-inverted-height: 14px;
$toggle-inverted-width: 30px;
$toggle-inverted-slider-padding: calc((#{$toggle-inverted-height} - #{$toggle-slider-size} + 2px) / 2);

.e-toggle {
  @include helpers.custom-light-theme-tokens {
    --e-toggle-border-color: transparent;
    --e-toggle-checked-disabled-switch: #c2ebba;
  }

  @include helpers.custom-dark-theme-tokens('toggle') {
    --e-toggle-border-color: var(--e-dark-theme-white);
    --e-toggle-checked-disabled-switch: #619655;
  }

  // Label
  @include typography.typography('text-medium');
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--e-color-text-1);
  cursor: pointer;
  gap: 8px;

  // Larger touch-target
  &::after {
    position: absolute;
    top: -4px;
    left: -4px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    content: '';
  }

  input[type='checkbox'] {
    appearance: none;
  }

  &__input {
    position: relative;
    width: $toggle-width;
    height: $toggle-height;
    flex: none;
    border-radius: 50px;
    margin: 0;
    cursor: pointer;
    outline: none;

    // Background
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: $toggle-width;
      height: $toggle-height;
      border: 1px solid var(--e-toggle-border-color);
      border-radius: $toggle-border-radius;
      background: var(--e-color-static-black);
      content: '';
      cursor: pointer;
    }

    // Switch
    &::after {
      position: absolute;
      top: $toggle-slider-margin;
      left: $toggle-slider-margin;
      width: $toggle-slider-size;
      height: $toggle-slider-size;
      border-radius: 50%;
      background: var(--e-color-static-white);
      content: '';
      cursor: pointer;
      transition: 0.1s;
    }
  }

  &.e-toggle--compact,
  &.e-toggle--small {
    // Compact Label
    @include typography.typography('text-small');
  }

  // Checked
  &.e-toggle---checked .e-toggle__input::after,
  input:checked.e-toggle__input::after {
    @include helpers.transform(translateX(16px));
    background: var(--e-color-background-selected-1);
  }

  // Focus
  &.e-toggle---focus input.e-toggle__input {
    outline: none;

    &::before {
      @include outline.e-outline-pseudoclass();
    }
  }

  input:focus-visible.e-toggle__input {
    outline: none;

    &::before {
      @include outline.e-outline();
    }
  }

  // Disabled
  &.e-toggle---disabled,
  input:disabled {
    cursor: not-allowed;

    &.e-toggle__input::before {
      border-color: transparent;
      background-color: var(--e-color-background-disabled-2);
      cursor: not-allowed;
    }

    &.e-toggle__input::after {
      background-color: var(--e-color-background-disabled-1);
      cursor: not-allowed;
    }
  }

  // Disabled checked
  &.e-toggle---checked.e-toggle---disabled .e-toggle__input,
  input:checked:disabled.e-toggle__input {
    &::after {
      @include helpers.transform(translateX(16px));
      background: var(--e-toggle-checked-disabled-switch);
    }
  }
}
