@use '../../variables/colors';
@use '../../utilities/outline';
@use "../../utilities/breakpoints";
@use "../../utilities/helpers";

$toggle-border-radius: 50px;

$toggle-desktop-height: 14px;
$toggle-desktop-width: 30px;
$toggle-desktop-slider-size: 8px;
$toggle-desktop-slider-padding: calc((#{$toggle-desktop-height} - #{$toggle-desktop-slider-size}) / 2);

$toggle-desktop-negative-height: 12px;
$toggle-desktop-negative-width: 28px;
$toggle-desktop-negative-slider-padding: calc(
  (#{$toggle-desktop-negative-height} - #{$toggle-desktop-slider-size}) / 2
);

$toggle-mobile-height: 20px;
$toggle-mobile-width: 42px;
$toggle-mobile-slider-size: 12px;
$toggle-mobile-slider-padding: calc((#{$toggle-mobile-height} - #{$toggle-mobile-slider-size}) / 2);

$toggle-mobile-negative-height: 18px;
$toggle-mobile-negative-width: 40px;
$toggle-mobile-negative-slider-padding: calc(
  (#{$toggle-mobile-negative-height} - #{$toggle-mobile-slider-size}) / 2
);

.e-toggle {
  position: relative;
  display: inline-block;
  height: $toggle-desktop-height;
  width: $toggle-desktop-width;
  background-color: colors.color('grey');
  @include helpers.border-radius($toggle-border-radius);
  cursor: pointer;
  box-sizing: border-box;

  @include breakpoints.breakpoint-up(Mobile) {
    height: $toggle-mobile-height;
    width: $toggle-mobile-width;
  }

  // hide initial input
  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include helpers.transition(0.15s);
    @include helpers.border-radius($toggle-border-radius);
  }
  &__slider::before {
    position: absolute;
    content: '';
    height: $toggle-desktop-slider-size;
    width: $toggle-desktop-slider-size;
    left: $toggle-desktop-slider-padding;
    bottom: $toggle-desktop-slider-padding;
    background-color: colors.color('elvia-on');
    @include helpers.transition(0.1s);
    @include helpers.border-radius(50%);

    @include breakpoints.breakpoint-up(Mobile) {
      height: $toggle-mobile-slider-size;
      width: $toggle-mobile-slider-size;
      left: $toggle-mobile-slider-padding;
      bottom: $toggle-mobile-slider-padding;
    }
  }

  input:checked + .e-toggle__slider {
    background-color: colors.color('grey');
  }

  input:checked + .e-toggle__slider::before {
    background-color: colors.color('elvia-charge');
    $transX: calc(
      #{$toggle-desktop-width} - (#{$toggle-desktop-slider-padding} * 2) - #{$toggle-desktop-slider-size}
    );
    @include helpers.transform(translateX(#{$transX}));

    @include breakpoints.breakpoint-up(Mobile) {
      $transX: calc(
        #{$toggle-mobile-width} - (#{$toggle-mobile-slider-padding} * 2) - #{$toggle-mobile-slider-size}
      );
      @include helpers.transform(translateX(#{$transX}));
    }
  }

  input:focus + .e-slider {
    @include outline.e-outline();
  }

  &.e-toggle--inverted {
    border: 1px solid colors.color('elvia-on');
    box-sizing: content-box;

    height: $toggle-desktop-negative-height;
    width: $toggle-desktop-negative-width;
    @include breakpoints.breakpoint-up(Mobile) {
      height: $toggle-mobile-negative-height;
      width: $toggle-mobile-negative-width;
    }
    .e-toggle__slider::before {
      left: $toggle-desktop-negative-slider-padding;
      bottom: $toggle-desktop-negative-slider-padding;

      @include breakpoints.breakpoint-up(Mobile) {
        left: $toggle-mobile-negative-slider-padding;
        bottom: $toggle-mobile-negative-slider-padding;
      }
    }

    &.e-toggle---disabled,
    &:disabled {
      background-color: colors.color('grey');
      border: 1px solid colors.color('grey-70');
      .e-toggle__slider::before {
        background-color: colors.color('grey-70');
      }
      input:checked + .e-toggle__slider {
        background-color: colors.color('grey');
      }
      input:checked + .e-toggle__slider::before {
        background-color: colors.color('disabled');
      }
    }
  }

  &.e-toggle---disabled,
  &:disabled {
    cursor: not-allowed;
    background-color: colors.color('disabled');
    .e-toggle__slider::before {
      background-color: colors.color('grey-10');
    }
    input:checked + .e-toggle__slider {
      background-color: colors.color('disabled');
    }
    input:checked + .e-toggle__slider::before {
      background-color: colors.color('grey-70');
    }
  }
}
