@use '../../variables/colors';
@use '../../variables/animation';
@use '../../utilities/outline';
@use "../../utilities/breakpoints";
@use "../../utilities/helpers";

$toggle-border-radius: 50px;

$toggle-height: 16px;
$toggle-width: 32px;
$toggle-slider-size: 10px;
$toggle-slider-padding: calc((#{$toggle-height} - #{$toggle-slider-size}) / 2);

$toggle-negative-height: 14px;
$toggle-negative-width: 30px;
$toggle-negative-slider-padding: calc((#{$toggle-negative-height} - #{$toggle-slider-size}) / 2);

.e-toggle {
  position: relative;
  display: inline-block;
  height: $toggle-height;
  width: $toggle-width;
  background-color: colors.color('grey');
  border-radius: $toggle-border-radius;
  cursor: pointer;
  box-sizing: border-box;

  // Larger click surface
  &:after {
    content: '';
    padding: 20px;
    position: absolute;
    left: -4px;
    top: -12px;
    border-radius: 50%;
  }

  // hide initial input
  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.15s;
    border-radius: $toggle-border-radius;
  }
  &__slider::before {
    position: absolute;
    content: '';
    height: $toggle-slider-size;
    width: $toggle-slider-size;
    left: $toggle-slider-padding;
    bottom: $toggle-slider-padding;
    background-color: colors.color('elvia-on');
    transition: 0.1s;
    border-radius: 50%;
  }

  &__checkmark {
    display: none;
    position: absolute;
    @include helpers.transform(rotate(45deg));
    height: 7px;
    width: 4px;
    top: 4px;
    left: 22px;
    border-bottom: 1px solid colors.color('elvia-off');
    border-right: 1px solid colors.color('elvia-off');
  }
  input:checked ~ .e-toggle__checkmark {
    display: inline-block;
  }

  input:checked + .e-toggle__slider {
    background-color: colors.color('grey');
  }

  input:checked + .e-toggle__slider::before {
    background-color: colors.color('elvia-charge');
    $transX: calc(#{$toggle-width} - (#{$toggle-slider-padding} * 2) - #{$toggle-slider-size});
    @include helpers.transform(translateX(#{$transX}));
  }

  input:focus + .e-slider {
    @include outline.e-outline();
  }

  &.e-toggle--inverted {
    border: 1px solid colors.color('elvia-on');
    box-sizing: content-box;

    height: $toggle-negative-height;
    width: $toggle-negative-width;
    .e-toggle__slider::before {
      left: $toggle-negative-slider-padding;
      bottom: $toggle-negative-slider-padding;
    }

    .e-toggle__checkmark {
      height: 6px;
      width: 3px;
      top: 3px;
      left: 21px;
    }

    &.e-toggle---disabled,
    &:disabled {
      background-color: colors.color('grey');
      border: 1px solid colors.color('grey-70');
      .e-toggle__slider::before,
      input:checked + .e-toggle__slider::before {
        background-color: colors.color('grey-70');
      }
      input:checked + .e-toggle__slider {
        background-color: colors.color('grey');
      }
      input:checked ~ .e-toggle__checkmark {
        border-color: colors.color('grey');
      }
    }
  }

  &.e-toggle---disabled,
  &:disabled {
    cursor: not-allowed;
    background-color: colors.color('disabled');
    .e-toggle__slider::before,
    input:checked + .e-toggle__slider::before {
      background-color: colors.color('grey-10');
    }
    input:checked + .e-toggle__slider {
      background-color: colors.color('disabled');
    }
    input:checked ~ .e-toggle__checkmark {
      border-color: colors.color('disabled');
    }
  }
}
