$green: #29d305;
$grey-10: #e9e9e9;
$grey-40: #a8a8a8;
$hover-blue: #0064fa;
$icon-btn-width: 24px;
// Icon sizes
$sizes: (
  'xxs': 8px,
  'custom12': 12px,
  'xs': 16px,
  'sm': 24px,
  'md': 32px,
  'lg': 40px,
  'xl': 48px,
  'xxl': 56px,
);

%fade {
  content: '';
  position: absolute;
  pointer-events: none;
  z-index: 1;
  top: 0;
  width: 10%;
  height: 100%;
}

.ewc-tabs {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  @media screen and (max-width: 767px) {
    padding-bottom: 2px;
    padding-top: 6px;
  }

  &__icon {
    display: flex;
    padding: 18px 8px;
    margin: 4px 0px;
    width: 8px;
    transition: visibility 0.5s ease-in;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    &.hide {
      visibility: hidden;
      i {
        visibility: hidden;
      }
    }
    &.remove {
      display: none;
    }
    i {
      display: flex;
      justify-content: center;
      align-items: center;
      visibility: visible;
    }

    &:hover {
      cursor: pointer;
    }

    &:active {
      background: #e9e9e9;
      border-radius: 100px;
    }
  }

  &__items {
    position: relative;
    display: flex;
    @media screen and (max-width: 767px) {
      width: calc(100% - (2 * #{$icon-btn-width}));
    }

    // Fade
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 36px;
      width: 51px;
      z-index: 1;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
      transition: all linear 0.3s;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 36px;
      width: 51px;
      z-index: 1;
      background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
      transition: all linear 0.3s;
    }

    &.hide-left {
      &::before {
        background-image: none;
        z-index: -1;
      }
    }
    &.hide-right {
      &::after {
        background-image: none;
        z-index: -1;
      }
    }

    &.scrolled-right {
      &::after {
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
      }
    }
    &.scrolled-left {
      &::before {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
      }
    }
  }

  &__scroll {
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    padding: 4px;

    &::-webkit-scrollbar {
      width: 0px; /* Remove scrollbar space */
      background: transparent; /* Optional: just make scrollbar invisible */
    }
  }

  &__label {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.8px;
    text-transform: uppercase;

    display: inline-block;
    position: relative;
    border: none;
    padding: 0 8px;
    padding-bottom: 11px;
    background: transparent;

    &:not(:last-of-type) {
      margin-right: 24px;
      @media screen and (max-width: 767px) {
        margin-right: 16px;
      }
    }

    // Underline
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0px;
      top: 28px;
      left: 0px;
      background-color: $grey-10;
      border-radius: 233px;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 3px;
      bottom: 0px;
      top: 28px;
      left: 0px;
      border-radius: 50px;
      transition: all 0.3s ease-in-out;
    }

    // States
    &:focus:not(:disabled) {
      outline: 2px solid $hover-blue;
      outline-offset: 2px;
    }

    &:hover {
      cursor: pointer;
      &:not(.ewc-tabs__label--selected)::after {
        background-color: $green;
        width: 100%;
      }
    }

    &.ewc-tabs__label--selected {
      font-weight: 500;
      &::after {
        background-color: $green;
        width: 100%;
      }
    }

    &:disabled {
      color: $grey-40;
      cursor: not-allowed;
      &:hover::after {
        width: 0;
      }
    }
  }
}

// class for no outline on click
.ewc-no-outline,
.ewc-no-outline * {
  outline: none !important;
}

// --- ICONS ---
@function get-icon-size($size) {
  @return map-get($map: $sizes, $key: $size);
}

@mixin icon-size($icon-size) {
  $size: get-icon-size($icon-size);
  width: $size;
  height: $size;
  img,
  i {
    width: $size;
    height: $size;
  }
}

$defaultSize: 'md';

.ewc-icon {
  @include icon-size($defaultSize);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}

// Making icon size classes
@each $label, $size in $sizes {
  .ewc-icon--#{$label} {
    @include icon-size($label);
  }
}
