.template-choice-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 12px;
}

.template-img-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;

  img {
    height: inherit;
    width: inherit;
  }
}

.template-radio-switch {
  display: flex;
  width: fit-content, available;
  background: var(--e-white);
  border-radius: 2rem;
  border: 2px solid var(--e-grey-30);

  input {
    opacity: 0;
    height: 0;
    width: 0;
    position: absolute !important;
  }

  label {
    background-color: var(--e-white);
    text-align: center;
    padding: 0.5rem 1rem;
    margin: 0.25rem;
    border-radius: 2rem;
  }

  label:hover {
    cursor: pointer;
  }

  input:checked + label {
    background-color: var(--e-green);
    color: var(--e-white);
    transition: all 0.2s ease-in-out;
  }
}
