@use '@elvia/elvis/src/utilities/breakpoints.scss' as breakpoints;

:host {
  display: block;
  margin-left: -72px;
  width: calc(100% + 72px);

  @include breakpoints.breakpoint-up(Tablet) {
    margin-left: 0px;
    width: 100%;
  }
}

.e-table-container {
  max-height: 80vh;

  @include breakpoints.breakpoint-up(Mobile) {
    max-height: 500px;
  }
}

.no-properties-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 32px;

  img {
    width: 75px;
  }
}
