@import '@elvia/elvis/src/utilities/breakpoints.scss';

.e-table.e-table--compact td.table-code-text,
.e-table.e-table--compact th.table-code-text {
  font-family: 'Red Hat Mono', Verdana, sans-serif;
}

.e-table-container.desktop {
  display: block;
  margin-left: -72px;
  width: calc(100% + 72px);
  max-height: 80vh;
  @include breakpoint-up(Tablet) {
    margin-left: 0px;
    width: 100%;
  }
  @include breakpoint-up(Mobile) {
    display: none;
  }
}

.e-table-container.mobile {
  display: none;
  @include breakpoint-up(Mobile) {
    display: block;
  }
}

.properties-mobile {
  max-height: 500px;
  overflow-y: scroll;
}
