@import '@elvia/elvis/src/utilities/breakpoints.scss';

.feedback-container {
  display: flex;
  justify-content: center;
  border-top: 1px solid #e9e9e9;
  padding-top: 64px;
  margin-top: 128px;
  .feedback-inner-container {
    width: 100%;
    padding: 0 64px;
    @include breakpoint-up(MinDesktop) {
      padding: 0;
    }
  }
}

.emoji-section {
  display: flex;
  flex-direction: row;
  @include breakpoint-up(Mobile) {
    flex-direction: column;
    align-items: center;
  }
  .text-section {
    margin-right: 56px;
    @include breakpoint-up(Mobile) {
      text-align: center;
      margin-right: 0;
    }
    .text-title {
      font-weight: 500;
      margin-bottom: 8px;
    }
  }
  .emojis {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include breakpoint-up(Mobile) {
      margin-top: 40px;
    }
    .section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0px 16px;
      .emoji {
        border: none;
        background: transparent;
      }
      &:hover {
        .emoji {
          transform: scale(1.08);
          cursor: pointer;
        }
        cursor: pointer;
      }
      &:last-of-type {
        margin-right: 0;
        @include breakpoint-up(Mobile) {
          margin: 0px 16px;
        }
      }
    }
  }
}

.comment-section,
.thanks-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment-section {
  .top {
    margin-bottom: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    .left,
    .right {
      display: flex;
      flex: 1;
    }
    .e-link {
      border-top: none;
      border-left: none;
      border-right: none;
      background: transparent;
      padding: 0px;
    }
    .emoji-chosen {
      display: flex;
      align-items: center;
      .emoji {
        display: flex;
        width: 24px;
        height: 24px;
      }
    }
  }

  .e-form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 366px;
  }
}
