@mixin scroll-gradient {
  --gradient-width: 32px;
  mask-image: linear-gradient(to left, transparent 0, black var(--gradient-width));
  mask-position: center;
  mask-size: calc(100% + var(--gradient-width) * 2) 100%;
  overflow-x: scroll;
  position: relative;
  transition:
    mask-size 400ms,
    mask-position 400ms;

  &.overflow-right {
    mask-position: right;
  }
}
