th.table-code-text,
td.table-code-text {
  font-family: 'Red Hat Mono', Verdana, monospace;
}

.e-table {
  height: fit-content;
}

.e-table .group-title-row {
  background-color: var(--e-color-background-element-2);
  position: sticky;
  top: 40px;
  z-index: 2;

  th,
  td {
    border-bottom: 1px solid var(--e-color-border-2);
    background-color: transparent;
    padding-block: 12px;
  }

  .sticky {
    background-color: transparent;
    max-width: 0;
    position: sticky;

    &.sticky-right {
      right: 0;
    }

    &.sticky-left {
      left: 0;
    }
  }
}

.e-table tbody th,
.e-table thead th,
.e-table td {
  border-right: 0;
}

tr.prop-row {
  height: 100%;

  th,
  td {
    padding: 0;
  }

  &.expanded .height-changer {
    border-bottom: 1px solid var(--e-color-border-2);
    height: 100%;
    opacity: 1;
    padding-block: 9px;
  }
}

.height-changer {
  height: 0;
  overflow: hidden;
  padding-inline: 16px;
  opacity: 0;
  transition: opacity 600ms ease;
}
