th.table-code-text,
td.table-code-text {
  font-family: 'Red Hat Mono', Verdana, sans-serif;
}

.e-table {
  height: fit-content;
}

.e-table .group-title-row {
  position: sticky;
  top: 40px;
  z-index: 2;

  th,
  td {
    background-color: var(--e-color-background-element-2);
    padding-block: 12px;
  }

  .title-cell {
    max-width: 0;
    position: sticky;
  }

  // Border
  &:not(:first-of-type) {
    .title-cell {
      border-top: 1px solid var(--e-color-border-2);
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      border-top: 1px solid var(--e-color-border-2);
    }
  }
}

.sticky-right {
  position: sticky;
  right: 0;
}

.e-table thead th {
  border-right: 0;
  vertical-align: middle;
}

.e-table tbody th,
.e-table td {
  border-right: 0;
  vertical-align: top;
}

tr.prop-row {
  visibility: collapse;

  th,
  td {
    padding: 0;
  }

  &.expanded {
    visibility: visible;
  }

  &.expanded .height-changer {
    height: 100%;
    padding-block: 9px;
    opacity: 1;
  }

  &:not(.last) .height-changer {
    border-bottom: 1px solid var(--e-color-border-2);
  }
}

.height-changer {
  height: 0;
  overflow: hidden;
  padding-inline: 16px;
  opacity: 0;
  transition: opacity 600ms ease;
}

.example-width {
  width: 16px;
}
