th.table-code-text,
td.table-code-text {
  font-family: 'Red Hat Mono', Verdana, sans-serif;
}

.e-table .group-title-row {
  position: sticky;
  top: 56px;
  z-index: 2;

  th,
  td {
    background-color: var(--e-color-background-element-2);
    padding-block: 12px;
  }
}

.sticky-right {
  position: sticky;
  right: 0;
}

.e-table thead th {
  border-right: 0 !important;
  vertical-align: middle;
}

.e-table tbody th,
.e-table td {
  border-right: 0 !important;
  vertical-align: top;
}

tr.prop-row {
  height: 0;

  th,
  td {
    height: 0;
    padding: 0;

    .remove-padding {
      padding-left: 0;
    }
  }

  &.expanded .height-changer {
    border-bottom: 1px solid var(--e-color-border-2);
    height: 100%;
    padding-block: 9px;
    opacity: 1;
  }
}

.height-changer {
  height: 0;
  overflow: hidden;
  padding-inline: 16px;
  opacity: 0;
  transition: opacity 600ms ease;
}
