<div class="tabs e-border-b">
    <a 
      class="tab"
      [routerLink]="['/home']" 
      routerLinkActive="active" >
      Get Started
    </a>

    <!-- Check routerLinkOption, = "{exact: true}" for eksempel  -->
    <!-- Programmatisk navigasjon: Load router. så kall this.router.navigate(['PATH']) -->

    <!-- Vurder å pass data via /:section for eksempel. Og deretter dynamisk endre innhold i navbar? -->
    <!-- Få tak i data i urlen, route: ActivatedRoute. this.route.snapshot.params['data'] -->
    <!--  Evt gjør om navbar til å bli injectable, så passer vi inn alle rutene baser på dataene vi få inn via routen? -->
    <a 
      class="tab"
      [routerLink]="['/components']" 
      routerLinkActive="active" >
      Components
    </a>
    <a 
      class="tab"
      [routerLink]="['/utilities']" 
      routerLinkActive="active" >
      Utilites
    </a>
    <a 
      class="tab"
      [routerLink]="['/accessibility']" 
      routerLinkActive="active" >
      Accessibities
    </a>
</div>