<div class="tabs e-border-b">
    <a 
      class="tab"
      [routerLink]="['/home']" 
      routerLinkActive="active" >
      Get Started
    </a>
    <a 
      class="tab"
      [routerLink]="['/components']" 
      routerLinkActive="active" >
      Components
    </a>
    <a 
      class="tab"
      [routerLink]="['/utilities']" 
      routerLinkActive="active" >
      Utilites
    </a>
    <a 
      class="tab"
      [routerLink]="['/accessibility']" 
      routerLinkActive="active" >
      Accessibities
    </a>
</div>