<div class="tabs e-border-b">
    <a 
      class="tab"
      [routerLink]="['', 'home']" 
      routerLinkActive="active" >
      Get Started
    </a>
    <a 
      class="tab"
      [routerLink]="['', 'overview-comp-doc']" 
      routerLinkActive="active" >
      Components
    </a>
    <a 
      class="tab"
      [routerLink]="['', 'overview-util-doc']" 
      routerLinkActive="active" >
      Utilites
    </a>
    <a 
      class="tab"
      [routerLink]="['', 'overview-accessibility-doc']" 
      routerLinkActive="active" >
      Accessibities
    </a>
</div>