@import '../../../../style/elvis/src/utilities/breakpoints.scss';

.overview-margin-top {
  margin-top: 64px;
}

@include breakpoint-up(Tablet) {
  .overview-margin-top {
    margin-top: 56px;
  }
}

@include breakpoint-up(Mobile) {
  .overview-margin-title-bottom {
    margin-bottom: 24px;
  }
  .overview-margin-top {
    margin-top: 40px;
  }
}
