@use '@elvia/elvis/src/utilities/breakpoints.scss' as breakpoints;

:host {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 24px;

  @include breakpoints.breakpoint-up(Tablet) {
    display: none;
  }
}

.mono-text {
  font-family: 'Red Hat Mono', monospace;
}
