<div class="component-body__example">
  <h2 class="component-body__example-title">{{ title }}</h2>
  <div *ngIf="class" class="e-mb-16 e-text-info example-classes">
    <span 
      *ngFor="let classDescr of class; let i = index" 
    >
      <code>{{ classDescr }}<span *ngIf="i != class.length-1">, </span></code>
    </span>
  </div>
  <div class="component-body__example-description e-text-description">
    {{ description }}
  </div>
  <div
    class="component-body__example-does"
    *ngIf="does || donts"
  >
    <div
      class="component-body__example-does-does"
      *ngIf="does"
    >
      <span class="marker e-bg-green"></span>
      <span class="e-title-sm">Do's:</span>
      <span class="e-text-description">
        {{ does }}
      </span>
    </div>
    <div
      class="component-body__example-does-donts"
      *ngIf="donts"
    >
      <span class="marker e-bg-red"></span>
      <span class="e-title-sm">Don'ts:</span>
      <span class="e-text-description">
        {{ donts }}
      </span>
    </div>
  </div>
  <div class="component-body__example-codepen">
    <form
      class="codepen e-mb-16"
      #codepenForm
      *ngIf="isHTML"
      action="https://codepen.io/pen/define"
      method="POST"
      target="_blank"
    >
      <input
        type="hidden"
        name="data"
        [value]="codepen"
      >
      <a
        href="javascript:void(0)"
        (click)="codepenForm.submit()"
        class="e-link is-more"
      >Try in codepen</a>
    </form>
  </div>
  <div class="component-body__example-body e-border">
    <div class="tabs" *ngIf="!onlyDesktop && !onlyPhone">
      <div
        class="tab e-border"
        role="button"
        [ngClass]="{ active: showSmartphone === false }"
        (click)="showSmartphone = false"
      >
        Desktop & Tablet
      </div>
      <div
        class="tab e-border"
        role="button"
        [ngClass]="{ active: showSmartphone === true }"
        (click)="showSmartphone = true"
      >
        Smartphone
      </div>
    </div>
    <div class="element">
      <div
        class="smartphone-preview"
        [ngClass]="{ hide: showSmartphone === false }"
      >
        <app-smartphone [code]="code"></app-smartphone>
      </div>
      <div
        [ngClass]="{ hide: showSmartphone === true }"
        #preview
      ></div>
    </div>
    <div
      class="show-code e-border"
      role="button"
      *ngIf="!showCode"
      (click)="showCode = !showCode"
    >
      View code
    </div>
    <div
      class="hide-code e-border"
      role="button"
      *ngIf="showCode"
      (click)="showCode = !showCode"
    >
      Hide code
    </div>
    <div
      @heightDown
      class="code"
      *ngIf="showCode"
    >
      <app-code-highlighter
        [isHTML]="isHTML"
        [isTS]="isTS"
        [isSCSS]="isSCSS"
        [code]="code"
      ></app-code-highlighter>
    </div>
  </div>
</div>