.code-block {
    border:1px solid rgb(202, 202, 202);
    border-radius: 4px;
    padding:1rem;
    max-width:1000px;
    width:100%;
    
    .actions {
        margin-bottom:1rem;
        margin-right:auto;
    }
}