.component-body__example {
  &-title {
    margin-bottom: 8px;
  }

  &-description {
    margin-bottom: 12px;
  }

  &-does {
    &-does,
    &-donts {
      margin: 8px 0;

      .marker {
        display: inline-flex;
        margin-right: 11px;
        height: 11px;
        width: 11px;
        border-radius: 50%;
      }
    }
  }

  &-body {
    margin-bottom: 64px;

    .show-code, .hide-code {
      background: #ddd;
      display: flex;
      justify-content: center;
      cursor: pointer;
      padding: 12px;
    }

    .element {
      padding: 32px;
    }
  }
}
