<div class="component-body__example">
    <h2 class="component-body__example-title">{{ title }}</h2>
    <div class="component-body__example-body">
        <div class="element">
            <div #preview></div>
        </div>
        <div class="actions">
            <div class="elvis-tooltip">
                <button class="elvis-button is-secondary"
                    (click)="showCode = !showCode">{{showCode ? 'Skjul kode' : 'Vis kode'}}</button>
                <span class="elvis-tooltip_content is-right">Vis kildekode</span>
            </div>
        </div>
        <div class="code" *ngIf="showCode">
            Kode
            <elvis-code-highlighter 
                [isHTML]="isHTML" 
                [isTS]="isTS" 
                [isSCSS]="isSCSS" 
                [code]="code">
            </elvis-code-highlighter>
        </div>
    </div>
</div>