.circle {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  box-sizing: border-box;
}

.border {
  border: 1px solid var(--e-color-border-2);
}

.transparent {
  border: none;
  background: conic-gradient(
    var(--e-color-background-element-3) 90deg,
    var(--e-color-static-white) 90deg 180deg,
    var(--e-color-background-element-3) 180deg 270deg,
    var(--e-color-static-white) 270deg
  );
  background-repeat: repeat;
  background-size: 16px 16px;
  background-position: top left;
}

.black-white {
  position: relative;
  border: 1px solid var(--e-color-border-2);
  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: var(--e-light-theme-black);
    border-radius: 9999px 0 0 9999px;
  }
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    height: 100%;
    width: 50%;
    background-color: var(--e-light-theme-white);
    border-radius: 0 9999px 9999px 0;
  }
  &.dark {
    border: 0;
    &::before {
      background-color: var(--e-dark-theme-black);
    }
    &::after {
      background-color: var(--e-dark-theme-white);
    }
  }
}

.signal {
  background-size: cover;
  background-image: url('/assets/icons/signallight.png');
  &.dark {
    background-image: url('/assets/icons/signaldark.png');
  }
}
