:host {
  display: block;
  width: 2px;
  padding: 8px 0;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    translate: -50% 0;
    height: 4px;
    width: 4px;
    background-color: var(--e-color-signal-success);
    border-radius: 99px;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.vertical-line {
  background-color: var(--e-color-signal-success);
  height: 68px;
  border-radius: 99px;
}
