@import '../../../shared/shared-animations';
@import '../../../../../style/elvis/src/utilities/breakpoints.scss';

.example-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  .container {
    display: flex;
    flex-direction: column;

    &.selectionContainer {
      display: none;

      @include breakpoint-up(Mobile) {
        display: flex;
      }
    }

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;

      .e-divider {
        width: 100%;
      }
      .example-title {
        width: 48%;
        margin-bottom: 0;
      }
      .example {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 48%;
        margin: var(--e-spacing-24) 0;
        margin-bottom: 0;

        @include breakpoint-up(Mobile) {
          width: 100%;
        }

        &.example-first {
          margin-top: var(--e-spacing-16);
        }

        @extend %scale-up-09;

        &-text {
          width: fit-content;
          margin-bottom: 8px;
          &:hover {
            @extend %scale-down-09;
          }
        }

        .to-copy {
          display: none;
        }
      }
    }
  }
}

.hideOnMobile {
  @include breakpoint-up(Mobile) {
    display: none !important;
  }
}

.mobileCopy {
  display: flex;
  position: relative;
}
.copyMessage {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0;
}

.headerImg {
  display: flex;
  width: 70%;
  margin: auto;

  @include breakpoint-up(Tablet) {
    width: 80%;
    transition: width 250ms ease-in;
  }

  @include breakpoint-up(Mobile) {
    width: 90%;
    transition: width 250ms ease-in;
  }
}

// classes to maintain desktop font variables on mobile examples
.statusQuoFont-title-lg {
  @include breakpoint-up(Mobile) {
    font-size: 44px;
    line-height: 53px;
  }
}
.statusQuoFont-title-md {
  @include breakpoint-up(Mobile) {
    font-size: 30px;
    line-height: 36px;
  }
}
.statusQuoFont-title-sm {
  @include breakpoint-up(Mobile) {
    font-size: 24px;
    line-height: 29px;
  }
}
.statusQuoFont-text-lead {
  @include breakpoint-up(Mobile) {
    font-size: 24px;
    line-height: 39px;
  }
}
.statusQuoFont-text-quote {
  @include breakpoint-up(Mobile) {
    font-size: 26px;
    line-height: 42px;
  }
}
.statusQuoFont-text-body {
  @include breakpoint-up(Mobile) {
    font-size: 20px;
    line-height: 32px;
  }
}
.statusQuoFont-text-img {
  @include breakpoint-up(Mobile) {
    font-size: 18px;
    line-height: 29px;
  }
}
