@import '../../../shared/shared-animations';
@import '../../../../../style/elvis/src/utilities/breakpoints.scss';

.example-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  .typoContainer {
    display: flex;
    margin-bottom: 24px;

    @include breakpoint-up(MinDesktop) {
      width: 140%;
    }
    @include breakpoint-up(Tablet) {
      width: 100%;
    }
  }
  .typoRow {
    display: flex;
    align-items: baseline;
    width: 100%;
  }

  .typoExample {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 48%;

    @include breakpoint-up(Mobile) {
      width: 100%;
    }
  }

  .selectionContainer {
    display: none;

    @include breakpoint-up(Mobile) {
      display: block;
      width: 100%;
    }
  }
}

.hideOnMobile {
  @include breakpoint-up(Mobile) {
    display: none !important;
  }
}

.mobileCopy {
  display: flex;
  position: relative;
}
.copyMessage {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0;
}

.headerImg {
  display: block;
  width: 80%;
  margin: auto;

  @include breakpoint-up(Tablet) {
    width: 90%;
    transition: width 250ms ease-in;
  }

  @include breakpoint-up(Mobile) {
    width: 100%;
    transition: width 250ms ease-in;
  }
}
