@import '../../../shared/shared-animations';

.example-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  .container {
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;

      .e-divider {
        width: 100%;
      }
      .example-title {
        width: 48%;
        margin-bottom: 0;
      }
      .example {
        width: 48%;
        margin: var(--e-spacing-40) 0;

        @extend %scale-up-09;

        &-text {
          width: fit-content;
          &:hover {
            @extend %scale-down-09;
          }
        }

        &-title {
          color: var(--e-grey-50);
        }

        .to-copy {
          display: none;
        }
      }
    }
  }
}
.mobileCopy {
  display: flex;
  position: relative;
}
.copyMessage {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0;
}
