@import '../../shared/shared-sizes.scss';
@import '@elvia/elvis/src/utilities/breakpoints.scss';
@import '@elvia/elvis/src/utilities/breakpoints.scss';
@import '@elvia/elvis/src/utilities/colors.scss';
@import '../../shared/shared-sizes.scss';

.feedback-link {
  display: flex;
  justify-content: flex-end;

  display: none;
  &.desktop {
    display: flex;
    position: fixed;
    right: 16px;
    margin-top: -24px;
  }
  @include breakpoint-up(Tablet) {
    display: flex;
    position: relative;
    &.desktop {
      display: none;
    }
  }
  @include breakpoint-up(Tablet) {
    z-index: 1;
  }
  .link {
    display: flex;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
    @include breakpoint-up(Tablet) {
      position: absolute;
      margin-top: 4px;
      margin-right: 0px;
    }
    &:hover {
      border-color: #29d305;
      cursor: pointer;
    }
    .feedback-text {
      font-family: 'Red Hat Display', Verdana, sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
    }
  }
}

.main-content {
  min-height: calc(100vh - 40px + 104px - #{$footer-height});
  border: 8px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: -64px;
  padding-top: 64px;
  padding-bottom: 104px;
  @include breakpoint-up(Tablet) {
    min-height: calc(100vh - 40px + 104px - #{$footer-height});
  }
  @include breakpoint-up(Mobile) {
    min-height: calc(100vh - 32px + 71px - #{$footer-height});
    padding-bottom: 72px;
  }

  .e-grid {
    margin: 128px 128px 0 128px;
    @include breakpoint-up(Tablet) {
      margin: 96px 32px 32px 32px;
    }
    @include breakpoint-up(Mobile) {
      margin: 96px 16px 16px 16px;
    }
  }

  .row {
    &.row-reverse {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .main-navbar {
    width: 240px;
    @include breakpoint-up(Tablet) {
      width: 100%;
    }
    &.hide {
      display: none;
    }
    &.homePage {
      display: block;
    }
  }
  .page-content {
    display: block;
    max-width: 67rem;
    @include breakpoint-up(MinDesktop) {
      width: calc(100% - 240px);
      margin-left: 240px;
    }
    @include breakpoint-up(Tablet) {
      margin: 0 auto;
      width: calc(100% - 48px - 48px);
    }
  }
}
