@use '@elvia/elvis/src/utilities/breakpoints.scss' as breakpoints;
@use '../../shared/shared-sizes.scss' as sizes;

.overview-content {
  margin-left: calc(13% + 72px);
  @media (max-width: 1832px) {
    margin-left: calc(13% + 72px + 56px);
  }
  @include breakpoints.breakpoint-up(MinDesktop) {
    width: calc(100% - 18% - 108px);
    margin-left: calc(13% + 72px + 72px);
  }
  @include breakpoints.breakpoint-up(Tablet) {
    margin: 0 auto;
    width: calc(100% - 108px);
  }
}
.not-landing-page {
  margin-left: 100px;
  @media (max-width: 1632px) {
    margin-left: calc(13% + 72px + 48px);
  }
  @include breakpoints.breakpoint-up(MinDesktop) {
    margin-left: calc(13% + 72px + 48px);
  }
  @include breakpoints.breakpoint-up(Tablet) {
    margin: 0 auto;
    width: calc(100% - 108px);
  }
}
.feedback-link {
  display: none;
  justify-content: flex-end;
  &.desktop {
    display: flex;
    position: fixed;
    right: 16px;
    margin-top: -24px;
  }
  @include breakpoints.breakpoint-up(Tablet) {
    display: flex;
    position: relative;
    &.desktop {
      display: none;
    }
  }
  @include breakpoints.breakpoint-up(Tablet) {
    z-index: 1;
  }
  .link {
    display: flex;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
    @include breakpoints.breakpoint-up(Tablet) {
      position: absolute;
      margin-top: 4px;
      margin-right: 0px;
    }
    &:hover {
      border-color: var(--e-color-border-hover-1);
      cursor: pointer;
    }
    .feedback-text {
      font-family: 'Red Hat Display', Verdana, sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
    }
  }
}

.main-content {
  min-height: calc(100vh - 40px + 104px - #{sizes.$footer-height});
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: -64px;
  padding-top: 64px;
  padding-bottom: 104px;
  @include breakpoints.breakpoint-up(Tablet) {
    min-height: calc(100vh - 40px + 104px - #{sizes.$footer-height});
  }
  @include breakpoints.breakpoint-up(Mobile) {
    min-height: calc(100vh - 32px + 71px - #{sizes.$footer-height});
    padding-bottom: 72px;
  }

  .e-grid {
    margin: 128px 128px 0 128px;
    @include breakpoints.breakpoint-up(Tablet) {
      margin: 96px 32px 32px 32px;
    }
    @include breakpoints.breakpoint-up(Mobile) {
      margin: 96px 16px 16px 16px;
    }
  }

  .row {
    &.row-reverse {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .main-navbar {
    width: 240px;
    @include breakpoints.breakpoint-up(Tablet) {
      width: 100%;
    }
    &.hide {
      display: none;
    }
    &.homePage {
      display: block;
    }
  }
  .landing-page {
    max-width: 70rem;
  }

  &.not-found {
    display: flex;
    justify-content: center;
  }
}
