@import '../../shared/shared-sizes.scss';
@import '@elvia/elvis/src/utilities/breakpoints.scss';

.main-content {
  min-height: calc(100vh - 40px + 104px - #{$footer-height});
  border: 8px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: -64px;
  padding-top: 64px;
  padding-bottom: 104px;
  @include breakpoint-up(Tablet) {
    min-height: calc(100vh - 40px + 104px - #{$footer-height});
  }
  @include breakpoint-up(Mobile) {
    min-height: calc(100vh - 32px + 71px - #{$footer-height});
    padding-bottom: 72px;
  }

  &.not-found {
    background-color: var(--e-grey-90);
    border-color: var(--e-grey-90);
    padding-bottom: 0px;
  }
}


