@import '../shared-sizes.scss';
@import '../../../../packages/elvis/src/utilities/breakpoints.scss';

.overview-margin-title-bottom {
  margin-top: 0px;
  margin-bottom: 20px;
}
@include breakpoint-up(Mobile) {
  .overview-margin-title-bottom {
    margin-bottom: 24px;
  }
}

@media (min-width: 1600px) {
  .col-xl-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66%;
    flex: 0 0 16.66%;
    max-width: 16.66%;
  }
}
@media (max-width: 1650px) {
  .col-xl-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (max-width: 1450px) {
  .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media (max-width: 1200px) {
  .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
@include breakpoint-up(Tablet) {
  .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media (max-width: 750px) {
  .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
@media (max-width: 500px) {
  .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@include breakpoint-up(Tablet) {
  .col-0 {
    display: none;
  }
}
