
.overview {
  &-search-container {
    margin: 24px 0;
  }
  
  &-icons-container {
    display: inline;
    margin: 15px;
  
    .icon-card {
      display: inline-block;
      max-width: 10%;
      min-width: 10%;
      margin: 15px;
      text-align: center;
    }  
  }
}
