@import '../../../shared/shared-animations';

.overview {
  &-search-container {
    margin: 24px 0;
  }
  
  &-icons-container {
    margin: 36px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  
    .icon-card {
      display: inline-block;
      max-width: 10%;
      min-width: 10%;
      margin: 0 30px;
      text-align: center;
      perspective: 3000;
      cursor: pointer;
      
      @extend %scale-up-08;
      &:hover {
        @extend %scale-down-08;
      }
    }  
  }
}
