@import '../../shared/shared-sizes.scss';

.navbar {
  position: fixed;
  height: calc(100% - #{$header-height});
  width: $navbar-width;
  top: $header-height;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  list-style-type: none;

  &-list {
    padding: 0;

    a h2 {
      padding: 10px 16px;
      display: block;
    }

    a.active h2 {
      color: #fff !important;
      background-color: #262626;

      &::after {
        content: '';
        display: inline-flex;
        margin-left: 15px;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: var(--e-green-lime);
      }
    }

    a:hover:not(.active) {
      background-color: var(--e-grey-silver);
    }
  }

  &-list-header {
    width: 100%;
    padding: 20px 16px;
    margin: 0;
    outline: none;

    &:hover {
      background-color: var(--e-grey-silver);
    }
  }

  &-item {
    list-style-type: none;
    cursor: pointer;

    a {
      padding: 10px 16px;
      display: block;

      .e-badge {
        float: right;
      }
    }

    a.active {
      color: #fff;
      background-color: var(--e-grey-mine-shaft);

      &::after {
        content: '';
        display: inline-flex;
        margin-left: 9px;
        height: 11px;
        width: 11px;
        border-radius: 50%;
        background-color: var(--e-green-lime);
      }
    }

    a:hover:not(.active) {
      background-color: var(--e-grey-silver);
    }
  }
}