<ul class="navbar">
  <section>
    <h3>Components</h3>
    <ul>
      <li class="navbar-item"><a [routerLink]="['', 'badge-doc']" routerLinkActive="active">Badge</a></li>
      <li class="navbar-item"><a [routerLink]="['', 'button-doc']" routerLinkActive="active">Button</a></li>

      <li class="navbar-item"><a [routerLink]="['', 'card-doc']" routerLinkActive="active">Card</a></li>        
      <li class="navbar-item"><a [routerLink]="['', 'divider-doc']" routerLinkActive="active">Divider</a></li>

      <li class="navbar-item"><a [routerLink]="['', 'dropdown-doc']" routerLinkActive="active">Dropdown</a></li>
      <li class="navbar-item"><a [routerLink]="['', 'feedback-doc']" routerLinkActive="active">Feedback-message</a></li>
      <li class="navbar-item"><a [routerLink]="['', 'header-doc']" routerLinkActive="active">Header</a></li>
      
      <li class="navbar-item"><a [routerLink]="['', 'link-doc']" routerLinkActive="active">Link</a></li>
      <li class="navbar-item"><a [routerLink]="['', 'table-doc']" routerLinkActive="active">Table</a></li>
    
      <li class="navbar-item"><a [routerLink]="['', 'tags-doc']" routerLinkActive="active">Tags</a></li>
      <li class="navbar-item"><a [routerLink]="['', 'tooltip-doc']" routerLinkActive="active">Tooltip</a></li>
    </ul>
  </section>
  <section>
    <h3>Colors</h3>
    <ul>
      <li class="navbar-item"><a [routerLink]="['', 'color-doc']" routerLinkActive="active" >Colors</a></li>

    </ul>
  </section>
  <section>
    <h3>Utilities</h3>
    <ul>
      
    </ul>
  </section>
</ul>