<ul class="navbar">
  <li class="navbar-item"><a href="#form">Components</a>
    <ul>
      <li class="navbar-item"><a href="#badge">Badge</a></li>
      <li class="navbar-item"><a href="#button">Button</a></li>
      <li class="navbar-item"><a href="#card">Card</a></li>
      <li class="navbar-item"><a href="#divider">Divider</a></li>
      <li class="navbar-item"><a href="#link">Link</a></li>
      <li class="navbar-item"><a href="#tag">Tag</a></li>
    </ul>
  </li>
  <li class="navbar-item"><a href="#form">Form components</a>
    <ul>
      <li class="navbar-item"><a href="#checkbox">Checkbox</a></li>
      <li class="navbar-item"><a href="#radiobutton">Radiobutton</a></li>
      <li class="navbar-item"><a href="#radiobutton">Dropdown</a></li>
      <li class="navbar-item"><a href="#radiobutton">Input</a></li>
      <li class="navbar-item"><a href="#radiobutton">Search</a></li>
      <li class="navbar-item"><a href="#radiobutton">Select</a></li>
    </ul>
  </li>
  <li class="navbar-item"><a href="#form">Utilities</a>
    <ul>
      <li class="navbar-item"><a href="#checkbox">Colors</a></li>
      <li class="navbar-item"><a href="#radiobutton">Shadows</a></li>
      <li class="navbar-item"><a href="#radiobutton">Typeface</a></li>
      <li class="navbar-item"><a href="#radiobutton">Icons</a></li>
      <li class="navbar-item"><a href="#radiobutton">Spacing</a></li>
    </ul>
  </li>
</ul>