@import '../../../../style/src/variables/colors.scss';

.navbar {
  position: fixed;
  height: 100%;
  width: 250px;
  top: 80px;
  margin: 0;
  padding: 0;
  z-index: 10;

  border-right: 1px solid color('border');
  overflow: auto;
  list-style-type: none;
  background-color: color('white');

  &-list {
    padding: 0;
  }

  &-list-header {
    font-size: 24px;
    font-weight: 800;
    width: 100%;
    text-align: center;
    text-decoration: underline color('green-lime');
    outline: none;
  }

  &-item {
    list-style-type: none;
    cursor: pointer;
    font-size: 22px;

    a {
      display: block;
      padding: 8px 16px;
    }
    a.active {
      color: color('white');
      background-color: color('grey-mine-shaft');
      
    &::after {
      content: '';
      display: inline-flex;
      margin-left: 4px;
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background-color: color('green-lime');
    }
    }
    a:hover:not(.active) {
      background-color: #eee;
    }
  }
}
