@import '../../../../style/src/variables/colors.scss';

.navbar {
  position: fixed;
  height: 100%;
  width: 250px;
  top: 80px;
  margin: 0;
  padding: 0;
  z-index: 10;

  border-right: 1px solid color('border');
  overflow: auto;
  list-style-type: none;
  background-color: color('white');

  &-list {
    padding: 0;
  }

  &-item {
    list-style-type: none;
    cursor: pointer;
    font-size: 22px;

    a {
      display: block;
      padding: 8px 16px;
    }
    a.active {
      background-color: color('orange-peel-05');
    }
    a:hover:not(.active) {
      background-color: #eee;
    }
  }
}
