<ul class="navbar e-border-r e-pb-4">
  <section>
    <ul class="navbar-list">
      <h2
        class="navbar-list-header e-pl-2"
        [routerLink]="['', 'overview-comp-doc']"
      >Components</h2>
    
      <li
        class="navbar-item"
        *ngFor="let navbarItem of eComponents"
      >
        <a
          [routerLink]="['', navbarItem.docUrl]"
          routerLinkActive="active"
        > 
          {{navbarItem.title}}
          <span class="e-badge is-orange" *ngIf="navbarItem.status && navbarItem.status==='New'">{{ navbarItem.status }}</span>
        </a>
      </li>
    </ul>
  </section>
  <section>
    <ul class="navbar-list">
      <h2 
        class="navbar-list-header e-pl-2"
        [routerLink]="['', 'overview-util-doc']"
      >Utilities</h2>
      <li
        class="navbar-item"
        *ngFor="let navbarItem of eUtilities"
      >
        <a
          [routerLink]="['', navbarItem.docUrl]"
          routerLinkActive="active"
        > {{navbarItem.title}}</a>
      </li>
    </ul>
  </section>
  <section>
    <ul class="navbar-list">
      <h2 
      class="navbar-list-header"
      [routerLink]="['', 'accessibility-doc']"
      >Accessibility</h2>
      <li
        class="navbar-item"
        *ngFor="let navbarItem of eAccessibility"
      >
        <a
          [routerLink]="['', navbarItem.docUrl]"
          routerLinkActive="active"
        > {{navbarItem.title}}</a>
      </li>
    </ul>
  </section>
</ul>