@use '@elvia/elvis/src/utilities/breakpoints.scss' as breakpoints;

form {
  .form-field-wrapper:not([hidden]) {
    display: grid;

    .e-btn {
      margin-left: auto;
    }

    .radios {
      display: flex;
      gap: 16px;

      @include breakpoints.breakpoint-up(Tablet) {
        flex-direction: column;
        gap: 8px;
      }
    }
  }

  .e-radio:not(:last-child) {
    margin-bottom: 0;
  }
}
