@import "../../../../../style/src/variables/colors.scss";

.e-button {
  margin: 4px;

  .some-icon {
    height: 16px;
    width: 16px;
    border-radius: 25px;
    border: 1px solid color('black');
  }
}