
  
  iframe {
    padding-top: 60px;
    width:100%;
    height:100%;
    border:0;
  }

  body {    
    &:after {
      content: 'Made with ❤️ by Adiel Hercules';
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
      color: #fff;
      opacity: 0.6;
    }
  }
  
  .iphone-x {
    position: relative;
    margin: 40px auto;
    width: 360px;
    height: 780px;
    border-radius: 40px;
    box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 0px 0px 13px #191919, 0px 0px 0px 20px #111;
    
    &:before,
    &:after{
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    
    // home button indicator
    &:after {
      bottom: 7px;
      width: 140px;
      height: 4px;
      background-color: #000;
      border-radius: 10px;
    }
    
    // frontal camera/speaker frame
    .iphonex__notch {
      position: absolute;
      top: 0;
      padding-top: 5px;
      left: 22%;
      width: 56%;
      height: 30px;
      background-color: #1f1f1f;
      border-radius: 0px 0px 40px 40px;
      display: flex;
      justify-content: center;
      .speaker {
        border-radius: 15%;
        width: 25%;
        height: 7px;
        margin-right: 5px;
        background-color: #3b3b3b;
      }
    }
    .camera {
      position: absolute;
      top: 5px;
      right: 38%;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background-color: #535353;
    }
    
    .iphonex__elvia {
      position: absolute;
      top: 15px;
      left: 25px;
      font-size: 14px;
      font-weight: bold;
      font-family: 'Roboto';
    }
    
    .iphonex__time {
      position: absolute;
      top: 15px;
      right: 25px;
      font-size: 14px;
      font-weight: bold;
      font-family: 'Roboto';
    }
  }