@import '../../variables/colors.scss';

.e-form_toggle {
  cursor: pointer;
  display: flex;
  height: 1.125rem;
  width: 2.125rem;

  // Hides inital html checkbox
  & input {
    opacity: 0;
    height: 0;
    width: 0;
  }

  &.slider {
    background-color: color('black');
    border: 1px solid color('black');
    border-radius: 2rem;
    position: absolute;
    transition: 0.1s;
  }
  &.slider:before {
    position: absolute;
    content: "";
    height: 0.75rem;
    width: 0.75rem;
    top: 0.1rem;
    left: 0.1rem;
    background-color: color('white');
    transition: 0.1s;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: color('black');
  }

  input:checked + .slider:before {
    background-color: color('green-lime');
    @include transform(translateX(0.95rem));
  }
}
