@use '../../variables/colors.scss';
@use "../../variables/typography";
@use "../../utilities/icons.scss";

$form-input-padding-compact: 5px 10px;
$form-input-padding-compact-with-icon: 5px 36px 5px 10px;
$autocomplete-padding-item-compact: 6px 16px;

.e-form-field {
  // Variable containing '&' to jump to current parent inside a child class.
  $this: &;

  display: block;
  position: relative;
  text-align: left;
  box-sizing: border-box;

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &.e-form-field--compact {
    position: relative;
    .e-form-field__label {
      position: absolute;
      z-index: 1;
      top: -5px;
      left: 8px;
      background: colors.color('white');
      padding: 0 3px;

      font-family: 'Red Hat Text';
      font-weight: 500;
      font-size: 10px;
      line-height: 100%;
    }
    .e-form-field__error {
      margin-top: 4px;

      font-family: 'Red Hat Text';
      font-size: 12px;
      line-height: 16px;
    }
    .e-autocomplete {
      &__item {
        padding: $autocomplete-padding-item-compact;
        @include typography.typography('text-info');
      }
    }
    .e-search--local {
      font-size: 14px;
      .e-input {
        input,
        input:invalid,
        input:focus,
        input:disabled {
          padding: 5px 36px 5px 10px;
        }
      }
      .e-btn.e-btn--icon {
        top: 5px;
        width: 24px;
        height: 24px;
        @media screen and (-ms-high-contrast: none) {
          top: 3px;
        }
        .e-btn__icon {
          @include icons.icon-size('custom12');
          i[class*='e-icon--search-bold'] {
            left: -2px;
          }
          i[class*='e-icon--close-bold'] {
            left: -6px;
          }
        }
      }
    }
    .e-dropdown {
      .e-input i {
        right: 10px;
      }
      .e-dropdown__content .e-dropdown__item {
        display: flex;
        align-items: center;
        line-height: 22px;
        padding: 6px 16px;
      }
    }
    .e-input {
      input,
      textarea {
        padding: $form-input-padding-compact;
        @include typography.typography('text-info');
      }

      &.e-input---invalid input,
      &.e-input---invalid textarea,
      input:invalid,
      textarea:invalid {
        border: 1px solid colors.color('red');
      }
      &.e-input---focus input,
      &.e-input---focus textarea,
      > input:focus,
      > textarea:focus {
        border: 1px solid colors.color('green');
      }
      > i ~ input,
      i ~ input:invalid,
      > i ~ input:focus,
      i ~ input:disabled {
        padding: $form-input-padding-compact-with-icon;
      }
    }
  }

  &__label {
    display: block;
    margin-bottom: 5px;
    @include typography.typography('text-label');

    &.e-form-field__label--optional::after {
      content: ' (valgfri)';
      color: colors.color('grey-50');
    }
  }

  &__error {
    visibility: hidden;
    display: flex;
    align-items: center;
    margin-top: 8px;
    @include typography.typography('text-info');
    color: colors.color('grey');

    &.e-form-field__error--visible {
      visibility: visible;
    }

    span:first-of-type {
      display: flex;
      align-items: center;
      margin-right: 8px;
    }
  }

  &--combined {
    width: 100%;
    margin-bottom: 0;
    .e-form-field__input {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      max-width: 448px;
      width: 100%;
      .e-input:not(:last-of-type) {
        margin-right: 8px;
      }
      .e-input--small {
        width: 80px;
      }
      .e-input--medium {
        width: 150px;
      }
    }
  }
}

.e-inlined-field {
  display: flex;
  flex-direction: row;
  max-width: 448px;
  width: 100%;

  .e-form-field {
    width: 100%;
    margin-bottom: 0;

    &:not(:last-of-type) {
      margin-right: 8px;
    }
    &.e-form-field--small {
      width: 60px;
    }
    &.e-form-field--medium {
      width: 140px;
    }
  }
}
