@import '../../variables/colors.scss';
@import '../../utilities/typography.scss';

.e-form_field {
  // Variable containing '&' to jump to current parent inside a child class.
  $this: &;

  display: block;
  position: relative;
  text-align: left;
  box-sizing: border-box;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &_label {
    display: block;
    margin-bottom: 5px;
    @extend .e-label-input;

    &.is-optional::after {
      content: " (valgfri)";
      color: var(--e-grey-mine-shaft-05);
    }
  }

  &_error {
    visibility: hidden;
    display: flex;
    align-items: center;
    margin-top: 5px;
    @extend .e-text-info;
    color: var(--e-grey-mine-shaft) !important;

    &.is-active {
      visibility: visible;
    }

    > i {
      margin-right: 5px;
      padding: 8px;
    }
  }

  &.is-line {
    > * {
      &:not(#{$this}_title):not(#{$this}_error) {
        margin-right: 1rem;
        float: left;
      }
    }
  }

  &.is-inline {
    display: inline-block;
  }
}

.is-combined-field {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  max-width: 448px;
  width: 100%;

  .e-form_field {
    width: 100%;
    margin-bottom: 0;
  }
}

.is-inlined-field {
  display: flex;
  flex-direction: row;
  max-width: 448px;
  width: 100%;

  .e-form_field {
    width: 100%;
    margin-bottom: 0;

    &:not(:last-of-type) {
      margin-right: var(--e-spacing-1);
    }

    &.is-small {
      width: 60px;
      input {
        width: 60px;
      }
    }
  
    &.is-medium {
      width: 140px;
      input {
        width: 140px;
      }
    }
  }
}
