@import '../../variables/colors.scss';
@import '../../utilities/typography.scss';

.e-form-field {
  // Variable containing '&' to jump to current parent inside a child class.
  $this: &;

  display: block;
  position: relative;
  text-align: left;
  box-sizing: border-box;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__label {
    display: block;
    margin-bottom: 5px;
    @extend .e-label-input;

    &.e-form-field__label--optional::after {
      content: " (valgfri)";
      color: color('grey-50');
    }
  }

  &__error {
    visibility: hidden;
    display: flex;
    align-items: center;
    margin-top: 5px;
    @extend .e-text-info;
    color: color('grey') !important;

    &.e-form-field__error--visible {
      visibility: visible;
    }

    > i {
      margin-right: 5px;
      padding: 8px;
    }
  }
  
  &--combined {
    width: 100%;
    margin-bottom: 0;
    .e-form-field__input {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      max-width: 448px;
      width: 100%;
      .e-input:not(:last-of-type) {
        margin-right: 8px;
      }
    }
  }
}

.e-inlined-field {
  display: flex;
  flex-direction: row;
  max-width: 448px;
  width: 100%;

  .e-form-field {
    width: 100%;
    margin-bottom: 0;

    &:not(:last-of-type) {
      margin-right: 8px;
    }

    &.e-form-field--small {
      width: 60px;
      input {
        width: 60px;
      }
    }
  
    &.e-form-field--medium {
      width: 140px;
      input {
        width: 140px;
      }
    }
  }
}
