@import '../../variables/colors.scss';
@import '../../variables/animation.scss';

$form-input-padding: 13px 16px;
$form-input-border-radius: $border-radius;
$form-input-border: 1px solid color('grey-mine-shaft');

.e-form_input {
  // Variable containing '&' to jump to current parent inside a child class.
  $this: &;

  display: flex;
  align-items: center;
  padding: $form-input-padding;
  transition: border-color $medium-transition $transition-cubic;
  border: $form-input-border;
  border-radius: $form-input-border-radius;
  box-sizing: border-box;
  background: var(--e-white);

  &_field,
  > input,
  > textarea {
    width: 100%;
    padding: 0;
    border: none;
    background: transparent;
    outline: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;

    input[type='text'] {
      color: var(--e-grey-mine-shaft);
    }
  }

  > i {
    float: right;
    padding: 5px;
    margin-left: 16px;
  }

  > textarea {
    min-height: 16px;
    height: 91px;
    resize: vertical;
    overflow-y: auto;
  }

  &:not(.is-invalid):focus-within {
    @extend .e-form_input, .is-focus;
  }

  &.is-focus {
    border-color: var(--e-green-lime);
    box-shadow: 0 0 2px var(--e-green-lime);
  }

  &.is-invalid {
    border-color: var(--e-red);
  }

  &.is-disabled, input[type="text"]:disabled {
    border-color: var(--e-grey-mine-shaft-02);
    color: green !important; 
    cursor: default;
  }
}