.e-position-picker {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid color("black");
  border-radius: 4px;
  padding: 32px 0;
  max-width: 375px;

  &__icon {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 22px;
  }

  &__description {
    @extend .e-text-label;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 22px;
    margin-top: 8px;
  }

  &__action {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
