.e-segmented-controls {
    $this: &;
    display: inline-flex;
    border: 1px solid color("black");
    border-radius: 38px;

    &.e-strong {
        label {
            font-weight: bold;
        }
    }

    input {
        position: absolute;
        opacity: 0;

        &:checked,
        &#{this} label {
            background-color: color("black");
            color: color("white");
        }
    }

    label {
        color: color("black");
        font-size: 16px;
        line-height: 140%;
        padding: 14px 32px;
        transition: 0.2s ease-in;
        border-radius: 38px;
 
        &:hover {
            cursor: pointer;
        }
    }
    input:checked + label {
        background-color: color("black");
        color: color("white");
        box-shadow: none;
        border-radius: 38px;
    }


}
