%scale-down-ver-top {
  @keyframes scale-down-ver-top {
    0% {
      height: 0;
      transform-origin: 100% 0%;
      opacity: 0;
    }
    50% {
      height: 90%;
      transform-origin: 100% 0%;
      opacity: 0.2;
    }
    60% {
      height: 100%;
    }
    80% {
      transform-origin: 100% 0%;
      opacity: 0.4;
    }
    100% {
      transform-origin: 100% 0%;
      opacity: 1;
    }
  }
  animation: scale-down-ver-top 0.2s linear;
}

@mixin ease-in-out-opacity($duration, $delay) {
  @keyframes opacity-0-1 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  animation: opacity-0-1 $duration cubic-bezier(0.42, 0, 0.58, 1) backwards;
  animation-delay: $delay;
}

@mixin ease-in-opacity($duration, $delay) {
  @keyframes opacity-0-1 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  animation: opacity-0-1 $duration cubic-bezier(1, 0.13, 1, 0.67) backwards;
  animation-delay: $delay;
}
