@use '@elvia/elvis/src/utilities/breakpoints.scss' as breakpoints;

:host {
  position: sticky;
  inset: 0 0 auto;
  z-index: 109;
}

.header {
  --header-height: 64px;
  display: flex;
  height: var(--header-height);
  padding-inline: 32px;
  box-sizing: border-box;

  @include breakpoints.breakpoint-up(Tablet) {
    padding-inline: 24px;
  }

  @include breakpoints.breakpoint-up(Mobile) {
    padding-inline: 16px;
  }
}

.elvia-logo {
  height: 26px;
}

.hover-underline {
  --scale: 0;
  position: relative;
  height: var(--header-height);

  &::after {
    content: '';
    position: absolute;
    inset: auto 0 0;
    height: 2px;
    background-color: var(--e-color-border-selected-1);
    scale: var(--scale) 1;
    transition: scale 300ms ease;
    transform-origin: center left;
  }

  &:hover,
  &.active {
    --scale: 1;
  }
}

.tabs-content-loader {
  align-self: center;
  width: 500px;
  height: 32px;
}

.tabs {
  display: flex;
  align-items: center;
  flex: none;

  &-links {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-left: 24px;
    margin-right: 24px;
  }

  &-links-dev {
    color: var(--e-color-signal-danger);
  }
}

.header-aside-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.header-button {
  display: flex;
  place-items: center;
  background: transparent;
  gap: 8px;
  color: var(--e-text-2);
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.mobile-menu {
  display: flex;
  gap: 24px;
  flex: 1;
  justify-content: flex-end;

  .elvis-search {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .menu-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
}
