@import '../../shared/shared-sizes';
@import '@elvia/elvis/src/utilities/breakpoints.scss';

.header {
  position: fixed;
  height: 64px;
  width: 100%;
  top: 0px;
  margin: 0;
  padding: 0;
  z-index: 10;
  box-sizing: border-box;

  overflow: hidden;
  background-color: var(--e-grey);
  display: flex;
  flex-direction: row;

  .logo {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    margin-left: 32px;

    @include breakpoint-up(Mobile) {
      margin-left: 16px;
    }

    img {
      height: 26px;
    }
  }

  .tabs {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 32px;

    @include breakpoint-up(Tablet) {
      display: none;
    }

    &-links {
      font-family: 'Red Hat Text';
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      display: flex;
      align-items: center;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      color: var(--e-grey-20);

      box-sizing: border-box;
      margin-left: 24px;
      margin-right: 24px;
      height: 100%;
      position: relative;

      border-bottom: 2px solid transparent;

      &.active {
        color: var(--e-white);
        &:before {
          content: '';
          visibility: visible;
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: var(--e-green);
          border-radius: 16px;
        }
      }

      &:not(.active):hover:before {
        visibility: visible;
        width: 100%;
      }

      &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -2px;
        left: 0;
        background-color: var(--e-green);
        border-radius: 16px;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  .external-links {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
    @include breakpoint-up(Tablet) {
      display: none;
    }

    .elvis-search {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .elvis-search__title {
        color: var(--e-white);
        font-family: 'Red Hat Display';
        font-style: normal;
        text-transform: none;
        font-weight: 500;
        font-size: 15px;
        line-height: 17px;
      }
    }

    .vertical-line {
      border: 1px solid var(--e-grey-80);
      height: 20px;
    }

    .version {
      font-family: 'Red Hat Text';
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      text-align: right;
      letter-spacing: 0.2px;
      color: var(--e-white);
      cursor: pointer;
      text-transform: lowercase;
    }
  }

  .mobile-menu {
    display: none;

    @include breakpoint-up(Tablet) {
      display: inline-flex;
      width: 100%;
      justify-content: flex-end;
      margin-right: 32px;
    }
    @include breakpoint-up(Mobile) {
      margin-right: 16px;
    }

    .elvis-search {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .elvis-search__title {
        color: var(--e-white);
        font-family: 'Red Hat Display';
        font-style: normal;
        text-transform: none;
        font-weight: 500;
        font-size: 15px;
        line-height: 17px;
        @include breakpoint-up(Mobile) {
          display: none;
        }
      }
      .elvis-search__icon {
        @include breakpoint-up(Mobile) {
          margin-right: 0px;
        }
      }
    }

    .menu-button {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;

      img {
        height: 24px;
        width: 24px;
      }
    }
  }
}
