<!--HEADER-->
<app-component-header
  [tabs]="tabs"
  [(selected)]="selected"
  [does]="does"
  [donts]="donts"
>
  <ng-container ngProjectAs="headerTitle">
    Templates
  </ng-container>
  <ng-container ngProjectAs="headerDescription">
    At the start of a new project we advice that you take a look at the existing
    templates to get a good insight into how components are used, styled and toned.
  </ng-container>
</app-component-header>

<!--BODY-->
<div class="page-body">
  <!--OVERVIEW-->
  <div *ngIf="selected == tabNames.Overview">
    <h2 class="e-title-md">Why templates</h2>
    <div class="e-text-body">
      At the start of a new project we advice that you take a look at the existing
      templates. This will give you a good insight into how components are used,
      styled and toned. Feel free to use an existing template as an origin to
      quickly get started on development. This will contribute a consistent
      experience for our users. Remember that components can be adapted to your
      need, but this needs to be clarified with the designer in charge of the
      Elvis design system.
    </div>
  </div>
  <!-- Toggle Desktop or Mobile display -->
  <div *ngIf="selected != tabNames.Overview" class="template-choice-container">
  <div class="template-radio-switch">
      <input
        type="radio"
        id="desktop-display"
        name="template-choice"
        value="Desktop"
        (click)="displayDesktop()"
        [checked]="isDesktop"
      />
      <label for="desktop-display">Desktop</label>
      <input
        type="radio"
        id="mobile-display"
        name="template-choice"
        value="Mobile"
        (click)="displayMobile()"
        [checked]="!isDesktop"
      />
      <label for="mobile-display">Mobile</label>
    </div>
  </div>
  <!--GUIDELINES-->
  <div *ngIf="selected == tabNames.Article">
    <div *ngIf="isDesktop">
      <div class="template-img-container">
        <img
          src="../../../../assets/img/desktop-placeholder.png"
          alt="Desktop Example"
        />
      </div>
    </div>
    <div *ngIf="!isDesktop">
      <div class="template-img-container">
        <img
          src="../../../../assets/img/mobile-placeholder.png"
          alt="Mobile Example"
        />
      </div>
    </div>
  </div>
  <!--GUIDELINES-->
  <div *ngIf="selected == tabNames.Header">
    <div *ngIf="isDesktop">
      <div class="template-img-container">
        <img
          src="../../../../assets/img/desktop-placeholder.png"
          alt="Desktop Example"
        />
      </div>
    </div>
    <div *ngIf="!isDesktop">
      <div class="template-img-container">
        <img
          src="../../../../assets/img/mobile-placeholder.png"
          alt="Mobile Example"
        />
      </div>
    </div>
  </div>
  <!--GUIDELINES-->
  <div *ngIf="selected == tabNames.Footer">
    <div *ngIf="isDesktop">
      <div class="template-img-container">
        <img
          src="../../../../assets/img/desktop-placeholder.png"
          alt="Desktop Example"
        />
      </div>
    </div>
    <div *ngIf="!isDesktop">
      <div class="template-img-container">
        <img
          src="../../../../assets/img/mobile-placeholder.png"
          alt="Mobile Example"
        />
      </div>
    </div>
  </div>
</div>
