@keyframes flip-diagonal-2-br {
  0% {
    transform: rotate3d(-1, 1, 0, 0deg);
  }
  100% {
    transform: rotate3d(-1, 1, 0, 180deg);
  }
}
%flip-diagonal-2-br {
  animation: flip-diagonal-2-br 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes slide-fwd-center {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translateZ(160px);
  }
}
@keyframes slide-fwd-center {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translateZ(160px);
  }
}

%slide-fwd-center {
  animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
