@import "~@hafslundnett/elvis/src/variables/colors.scss";
$container-margin: 10px;

.doDont-container {
    display: inline-block;
    width: calc(50% - (#{$container-margin} * 2));
    margin: $container-margin;
}

.instructions {
    display: flex;
    flex-direction: row;
    align-items: center;
   
    i {
        margin: 0 5px;
    }

    &.do {
        border-top: 5px solid color('green-lime');
    }
    &.dont {
        border-top: 5px solid color('red');
    }
}
