<div class="doDont-container">
  <div class="doDo" *ngIf="do">
    <app-code-highlighter
      [isHTML]="isHTML"
      [isTS]="isTS"
      [isSCSS]="isSCSS"
      [code]="example"
    ></app-code-highlighter>
    <div class="instructions do">
      <i class="e-icon e-icon-check-circle"></i>
      <p class="e-text-body">Do this!</p>
    </div>
  </div>
  <div class="doDont" *ngIf="!do">
    <app-code-highlighter
      [isHTML]="isHTML"
      [isTS]="isTS"
      [isSCSS]="isSCSS"
      [code]="example"
    ></app-code-highlighter>
    <div class="instructions dont">
      <i class="e-icon e-icon-remove-circle"></i>
      <p class="e-text-body">Don´t do this!</p>
    </div>
  </div>
</div>
