$green: #29d305;

.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Red Hat Text";
}

.exampleContainer {
  display: flex;
  .slider {
    width: 80%;
    margin: 0px 16px;
  }
  .exampleInput {
    display: inline-block;
  }
}
