.theme-container {
  border-radius: 16px;
  padding: 40px;
  margin: -40px;
  transition: background-color 500ms ease-in-out;

  .color-list-container {
    display: flex;
    overflow-x: auto;
  }
}
