@use '@elvia/elvis/src/utilities/breakpoints.scss' as breakpoints;

.theme-container {
  border-radius: 16px;
  padding: 40px;
  margin: -40px;
  transition: background-color 500ms ease-in-out;
  overflow-x: hidden;

  .color-list-container {
    display: flex;
    overflow-x: auto;
  }
}
