@import "../../../../shared/shared-animations";

.typography-mobile {
  width: 67%;
  padding: 5px 0;

  .example {
    margin: var(--e-spacing-5) 0;
    cursor: pointer;
    justify-content: center;
  
    @extend %scale-up-09;
    &:hover {
      @extend %scale-down-09;
    }
  
    &-title {
      color: var(--e-grey-mine-shaft-05);
    }
  }

  .hide-true-size {
    visibility: hidden;
  }

  .actual-content {
    position: absolute;
    top: -14px;
  }
}


