@function color-map($name, $color-set: $colors) {
  $color-map: null;

  @if map-has-key($color-set, $name) {
    $color-map: map-get($color-set, $name);
  } @else {
    @each $label, $map in $color-set {
      @if index(map-get($map, alt-labels), $name) {
        $color-map: $map;
      }
    }
  }

  @if global-variable-exists(override-colors) {
    @if map-has-key($override-colors, $name) {
      $color-map: map-get($override-colors, $name);
    } @else {
      @each $label, $map in $override-colors {
        @if index(map-get($map, alt-labels), $name) {
          $color-map: $map;
        }
      }
    }
  }

  @if not $color-map {
    @warn 'the color "#{$name}" was not found';
    @return null;
  }

  @return $color-map;
}

@function color($name, $color-set: $colors) {
  $map: color-map($name, $color-set);
  @return map-get($map, color);
}

@function internal-color($name, $color-set: $internal-colors) {
  $map: color-map($name, $color-set);
  @return map-get($map, color);
}


// All colors as a list
// REMEMBER TO UPDATE THE DOCUMENTATION ALSO: color-doc -> color.ts
$colors: (
  'white': (
    color: #FFF,
    alt-labels: (elvia-on),
    contrast-text: #000,
  ),  
  'black': (
    color: #000,
    alt-labels: (font-color, elvia-off),
    contrast-text: #fff,
  ),  
  'grey': (
    color: #262626,
    contrast-text: #fff,
  ),  
  'grey-90': (
    color: #3B3B3B,
    contrast-text: #fff,
  ),  
  'grey-80': (
    color: #515151,
    contrast-text: #fff,
  ),  
  'grey-70': (
    color: #676767,
    contrast-text: #fff,
  ),  
  'grey-60': (
    color: #7C7C7C,
    contrast-text: #000,
  ),  
  'grey-50': (
    color: #929292,
    contrast-text: #000,
  ),  
  'grey-40': (
    color: #A8A8A8,
    contrast-text: #000,
  ),  
  'grey-30': (
    color: #BDBDBD,
    contrast-text: #000,
  ),  
  'grey-20': (
    color: #D3D3D3,
    contrast-text: #000,
  ),  
  'grey-10': (
    color: #E9E9E9,
    contrast-text: #000,
  ),  
  'grey-05': (
    color: #F4F4F4,
    contrast-text: #000,
  ),  
  'grey-02': (
    color: #FAFAFA,
    contrast-text: #000,
  ),  
  'green': (
    color: #29D305,
    alt-labels: (elvia-charge),
    contrast-text: #000,
  ), 
  'yellow': (
    color: #FFFF00,
    contrast-text: #000,
  ),  
  'orange': (
    color: #FFA000,
    contrast-text: #000,
  ),  
  'red': (
    color: #FF0000,
    contrast-text: #000,
  ),  
  'green-apple': (
    color: #21AC04,
    contrast-text: #000,
  ),  
  'violet-grape': (
    color: #490192,
    contrast-text: #fff,
  ),  
  'blue-blueberry': (
    color: #006DDB,
    contrast-text: #fff,
  ),  
  'purple-plum': (
    color: #B66DFF,
    contrast-text: #000,
  ),  
  'orange-mango': (
    color: #DB6D00,
    contrast-text: #000,
  ),  
  'red-tomato': (
    color: #B90202,
    contrast-text: #fff,
  ),   
);  

$internal-colors: (
  'focus-outline': (
    color: #0064FA,
  ), 
)