@function color-map($name, $color-set: $colors) {
  $color-map: null;

  @if map-has-key($color-set, $name) {
    $color-map: map-get($color-set, $name);
  } @else {
    @each $label, $map in $color-set {
      @if index(map-get($map, alt-labels), $name) {
        $color-map: $map;
      }
    }
  }

  @if global-variable-exists(override-colors) {
    @if map-has-key($override-colors, $name) {
      $color-map: map-get($override-colors, $name);
    } @else {
      @each $label, $map in $override-colors {
        @if index(map-get($map, alt-labels), $name) {
          $color-map: $map;
        }
      }
    }
  }

  @if not $color-map {
    @warn 'the color "#{$name}" was not found';
    @return null;
  }

  @return $color-map;
}

@function color($name, $color-set: $colors) {
  $map: color-map($name, $color-set);
  @return map-get($map, color);
}


// All colors as a list
$colors: (
  'white': (
    color: #FFF,
    alt-labels: (on-color),
    contrast-text: #000,
  ),  
  'black': (
    color: #000,
    alt-labels: (font-color, off-color),
    contrast-text: #fff,
  ),  
  'grey': (
    color: #262626,
    alt-labels: (dark-color),
    contrast-text: #fff,
  ),  
  'grey-05': (
    color: rgba(38,38,38, 0.5),
    contrast-text: #fff,
  ),  
  'grey-03': (
    color: rgba(38,38,38, 0.3),
    contrast-text: #fff,
  ),  
  'grey-02': (
    color: rgba(38,38,38, 0.2),
    contrast-text: #fff,
  ),  
  'grey-01': (
    color: rgba(38,38,38, 0.1),
    contrast-text: #fff,
  ),  
  'green-lime': (
    color: #29D305,
    alt-labels: (charge-color),
    contrast-text: #000,
  ), 
  'yellow': (
    color: #FFFF00,
    contrast-text: #000,
  ),  
  'orange-peel': (
    color: #FFA000,
    contrast-text: #000,
  ),  
  'red': (
    color: #FF0000,
    contrast-text: #fff,
  ),  
);  
