@function spacing($name) {
  $space: map-get($spacing, $name);
  @return map-get($space, value);
}

$spacing: (
  "8": (
    value: 8px,
    alt-labels: (
      primary
    )
  ),
  "16": (
    value: 16px
  ),
  "24": (
    value: 24px
  ),
  "32": (
    value: 32px
  ),
  "40": (
    value: 40px
  ),
  "48": (
    value: 48px
  ),
  "56": (
    value: 56px
  ),
  "64": (
    value: 64px
  ),
  "72": (
    value: 72px
  )
);
