$spacing: (
  "1": (
    value: 8px,
    alt-labels: (
      primary
    )
  ),
  "2": (
    value: 16px
  ),
  "3": (
    value: 24px
  ),
  "4": (
    value: 32px
  ),
  "5": (
    value: 40px
  ),
  "6": (
    value: 48px
  ),
  "7": (
    value: 56px
  ),
  "8": (
    value: 64px
  )
);
