@import './colors.scss';
@import '../utilities/breakpoints.scss';

$font-family: "Red Hat Display", sans-serif;
$font-family-secondary: "Red Hat Text", sans-serif;

@function get-value($name, $value) {
  $typography-map: null;

  @if map-has-key($typography, $name) {
    $typography-map: map-get($typography, $name);
  } @else {
    @each $label, $map in $typography {
      @if map-has-key($typography, alt-labels) {
        @if contains(map-get($map, alt-labels), $name) {
          $typography-map: $map;
        }
      }
    }
  }

  @if not $typography-map {
    @warn 'the typography variable "#{$name}" was not found';
    @return null;
  }

  @return map-get($typography-map, $value);
}

@mixin typography($name) {
  font-family: get-value($name, family);
  font-size: get-value($name, size);
  line-height: get-value($name, height);
  font-weight: get-value($name, weight);
  color: get-value($name, color);
  font-style: get-value($name, style);
  letter-spacing: get-value($name, letter-spacing);
  text-transform:  get-value($name, transform);
  @include breakpoint-up(Mobile) {
    font-size: get-value($name, size-m);
    line-height: get-value($name, height-m);
  }
}

body {
  font-family: $font-family;
  color: color('font-color');
}

// List of typography-variables
$typography: (
  title-lg: (
    family: $font-family,
    size: 2.75rem,
    size-m: 1.75rem,
    weight: 900,
    height: 53px,
    height-m: 34px,
    color: color('font-color')
  ),
  title-md: (
    family: $font-family,
    size: 1.625rem,
    size-m: 1.5rem,
    weight: 700,
    height: 31px,
    height-m: 29px,
    color: color('font-color')
  ),
  title-sm: (
    family: $font-family,
    size: 1.25rem,
    weight: 700,
    height: 24px,
    color: color('font-color')
  ),
  text-lead: (
    family: $font-family-secondary,
    size: 1.5rem,
    size-m: 1.3125rem,
    weight: 400,
    height: 41px,
    height-m: 34px,
    color: color('font-color')
  ),
  text-quote: (
    family: $font-family,
    size: 1.625rem,
    size-m: 1.25rem,
    weight: 400,
    height: 42px,
    height-m: 32px,
    style: italic,
    color: color('font-color')
  ),
  text-body: (
    family: $font-family-secondary,
    size: 1.25rem,
    size-m: 1.125rem,
    weight: 400,
    height: 38px,
    height-m: 29px,
    color: color('font-color')
  ),
  text-img: (
    family: $font-family-secondary,
    size: 1.125rem,
    size-m: 1rem,
    weight: 400,
    align: center,
    height: 29px,
    height-m: 26px,
    style: italic,
    color: color('font-color')
  ),
  text-description: (
    family: $font-family-secondary,
    size: 1rem,
    weight: 400,
    height: 28px,
    color: color('font-color')
  ),
  text-caps: (
    family: $font-family-secondary,
    size: 0.875rem,
    weight: 500,
    height: 17px,
    letter-spacing: 0.8px,
    transform: uppercase,
    color: color('font-color')
  ),
  text-info: (
    family: $font-family-secondary,
    size: 0.875rem,
    weight: 400,
    height: 22px,
    color: color('font-color')
  ),
  text-label: (
    family: $font-family-secondary,
    size: 1rem,
    weight: 500,
    height: 23px,
    color: color('font-color')
  ),
  text-option: (
    family: $font-family-secondary,
    size: 1rem,
    weight: 400,
    height: 22px,
    color: color('font-color')
  ),
);



