@use '@elvia/elvis/src/utilities/breakpoints.scss' as breakpoints;

.quoteContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  .quoteText {
    margin-left: 40px;

    @include breakpoints.breakpoint-up(Mobile) {
      margin-left: 31px;
    }
  }
}

.principleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  .principleInfo {
    display: flex;
    flex-direction: column;
    margin-left: 65px;

    @include breakpoints.breakpoint-up(MinDesktop) {
      margin-left: 30px;
    }
    @include breakpoints.breakpoint-up(Tablet) {
      margin-left: 52px;
    }
    @include breakpoints.breakpoint-up(Mbile) {
      margin-left: 29px;
    }
  }
}
