.changelog-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 405px;
  margin: auto;
  .changelog-name-and-icon {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    i {
      margin-right: 16px;
    }
  }
  .changelog-version-and-date {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .front-page-changelog-date {
    display: block;
    color: var(--e-color-text-2);
  }
}
.changelog-divider {
  margin: 16px 0;
}
