@use '@elvia/elvis/src/utilities/breakpoints.scss' as breakpoints;

:host {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  gap: 32px;
}

.no-properties-found {
  display: none;
  @supports (selector(:has(*))) {
    display: grid;
    :host:has(table) & {
      display: none;
    }
  }

  align-items: center;
  grid-template-columns: 175px 1fr;
  gap: 40px;

  @include breakpoints.breakpoint-up(Mobile) {
    grid-template-columns: 130px 1fr;
  }

  img {
    width: 100%;
  }
}
