<div class="e-accordion e-accordion--single e-accordion--center">
  <div class="e-accordion__item" #accordionItem>
    <div class="e-accordion__label" (click)="toggleOpen()">
      <div role="button" *ngIf="!showCode" (click)="showCode = !showCode">
        View code
      </div>
      <div role="button" *ngIf="showCode" (click)="showCode = !showCode">
        Hide code
      </div>
    </div>
    <div class="e-accordion__icon" (click)="toggleOpen()">
      <i class="e-icon e-icon--expand_circle-color"></i>
      <i class="e-icon e-icon--expand_circle-filled-color"></i>
    </div>
    <div class="e-accordion__content">
      <ng-content select="accordionContent"></ng-content>
    </div>
  </div>
</div>
