@use '@elvia/elvis/src/utilities/breakpoints.scss' as breakpoints;

:host {
  background: var(--e-color-background-element-4);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 32px;
  padding: 32px;
  position: relative;

  border: 1px solid var(--e-color-border-selected-1);
  border-radius: 8px;
  box-shadow: var(--e-shadow-soft);

  @include breakpoints.breakpoint-up(Mobile) {
    border-radius: 0;
    border-width: 0;
    border-top-width: 1px;
  }

  .illustration {
    max-width: 80px;
    min-width: 40px;
    max-height: 80px;
    min-height: 40px;
  }

  .info {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 32px;

    @include breakpoints.breakpoint-up(Mobile) {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }
  }

  .step-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  .copy-icon {
    flex-grow: 0;
    flex-shrink: 0;
  }

  .installation-guide {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    @include breakpoints.breakpoint-up(Tablet) {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }
  }

  .download {
    @include breakpoints.breakpoint-up(Tablet) {
      margin-bottom: auto;
    }

    .actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;
    }
  }

  .close-button {
    position: absolute;
    top: 8px;
    right: 8px;

    display: none;
    @include breakpoints.breakpoint-up(Mobile) {
      display: block;
    }
  }
}
