@use '@elvia/elvis/src/utilities/breakpoints.scss' as breakpoints;

.title-container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: baseline;
  gap: 24px 8px;
}

.full-width {
  grid-column: 1 / -1;
}

.last-updated {
  white-space: nowrap;
}

.title {
  @include breakpoints.breakpoint-up(Mobile) {
    grid-column: 1 / -1;
  }
}
