@use '../../../shared-animations.scss' as animation;
@use '@elvia/elvis/src/utilities/breakpoints.scss' as breakpoints;

.component {
  &-header {
    margin-bottom: var(--e-spacing-16);

    &__title {
      .title-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        h1 {
          margin-top: 0;
          margin-bottom: 32px;
          @include breakpoints.breakpoint-up(Tablet) {
            margin-bottom: 24px;
          }
        }
        h1,
        .e-tag {
          display: flex;
          align-self: center;
        }
        @include breakpoints.breakpoint-up(Mobile) {
          flex-direction: column;
          align-items: flex-start;
          row-gap: 8px;
        }
      }
    }
    &__description {
      &.class-margin {
        padding-top: 24px;
      }
    }
  }
}

.no-wrap {
  white-space: nowrap;
}

.component-header-description-animation {
  @include animation.ease-in-opacity(0.2s, 0.1s);
}
