@import '../header.component.scss';
@import '@elvia/elvis/src/utilities/breakpoints.scss';

.header {
  position: fixed;
  height: 64px;
  width: 100%;
  top: 0px;
  box-sizing: border-box;
  background-color: var(--e-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .elvis-search__title,
  .version {
    color: var(--e-black) !important;
  }

  .external-links .vertical-line {
    border: 1px solid var(--e-grey-10);
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: var(--e-white);
  box-sizing: border-box;
  margin-bottom: 144px;
  top: 64px;
  border-top: 1px solid var(--e-grey-10);

  @include breakpoint-up(Tablet) {
    padding-top: 32px;
  }
  @include breakpoint-up(Mobile) {
    padding-top: 0;
  }

  &::before {
    content: '';
    border-radius: 100%;
    position: absolute;
    background-color: var(--e-white);
    z-index: -1;
    width: 685vw;
    height: 685vw;
    bottom: -22%;
    @include breakpoint-up(Mobile) {
      bottom: -650px;
      overflow: hidden;
    }
  }

  &.content-no-result .inner-content {
    margin-bottom: 60px;
  }

  &.long-result.content-result::before {
    left: -50%;
    width: 200vw;
    height: calc(100% + 54px);
    @include breakpoint-up(Mobile) {
      height: 1100px;
      overflow: hidden;
    }
  }

  &.content-result .inner-content {
    margin-bottom: 60px;
    @include breakpoint-up(Tablet) {
      margin-bottom: -20px;
    }
  }

  .inner-content {
    margin-bottom: 152px;
    width: 100%;
    // overflow: auto;
  }

  .close-btn-desk {
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
    margin-right: 32px;
    @include breakpoint-up(Tablet) {
      display: none;
    }
  }

  .elvis-search-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include breakpoint-up(Tablet) {
      margin-top: 0px;
    }

    .search-title {
      margin: 0px;
      @include breakpoint-up(Mobile) {
        display: none;
      }
    }

    .e-search.e-search--global {
      margin-top: 40px;
      width: 365px;
      @include breakpoint-up(Tablet) {
        margin-top: 32px;
      }
      @include breakpoint-up(Mobile) {
        margin-top: 24px;
        width: auto;
      }
    }
  }

  .no-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 64px;

    font-family: 'Red Hat Text';
    font-size: 20px;
    line-height: 32px;
  }

  .results {
    margin: 0 auto;
    margin-top: 64px;
    width: 700px;
    max-height: 414px;
    overflow: auto;
    padding: 0 16px;
    @include breakpoint-up(Tablet) {
      width: auto;
      margin: 56px;
      overflow: auto;
      max-height: unset;
      height: calc(100vh - 210px);
    }
    @include breakpoint-up(Mobile) {
      width: auto;
      margin: 0px;
      margin-top: 32px;
    }

    .result-item {
      display: flex;
      flex-direction: column;
      cursor: pointer;

      &:not(:last-of-type) {
        padding-bottom: 32px;
        border-bottom: 1px solid var(--e-grey-10);
      }
      &:not(:first-of-type) {
        padding-top: 32px;
      }
      .result-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .title {
          font-family: 'Red Hat Display';
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
        }
        .e-label {
          cursor: pointer;
        }
      }

      .result-content {
        margin-top: 8px;

        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: var(--e-grey-80);
      }
    }
  }
}
