@use '@elvia/elvis/src/utilities/breakpoints.scss' as breakpoints;
@use '../../../shared/shared-animations.scss' as animation;

:host {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
}

.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 0.32);
  z-index: -1;
  @include animation.ease-in-out-opacity(0.4s, 0s);
}

.content {
  background-color: var(--e-color-background-overlay-1);
  box-sizing: border-box;
  border-top: 1px solid var(--e-color-border-2);
  padding: 32px;

  @include breakpoints.breakpoint-up(Tablet) {
    padding: 32px 0;
  }

  @include breakpoints.breakpoint-up(Mobile) {
    padding: 0;
  }

  .elvis-search-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include breakpoints.breakpoint-up(Tablet) {
      margin-top: 0px;
    }

    .search-wrapper {
      width: calc(100% - 32px);
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 365px;
    }
    .search-title {
      margin: 0px;
      @include breakpoints.breakpoint-up(Mobile) {
        display: none;
      }
    }

    .e-search {
      position: relative;

      &::-ms-clear {
        display: none;
      }

      line-height: 22px;

      &.e-search--global {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 40px;
        width: 100%;

        @include breakpoints.breakpoint-up(Tablet) {
          margin-top: 32px;
        }
        @include breakpoints.breakpoint-up(Mobile) {
          margin-top: 24px;
        }

        .e-input {
          input,
          input:invalid,
          input:focus,
          input:disabled {
            font-family: 'Red Hat Text', Verdana, sans-serif;
            font-size: 24px;
            line-height: 38px;
            padding: 0;
            border-radius: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid var(--e-color-border-1);
          }
        }

        .e-btn.e-btn--icon {
          display: none;
          width: 32px;
          height: 32px;
        }

        &.e-search--searched {
          .e-btn.e-btn--icon {
            display: flex;
            position: absolute;
            right: 0;
            @media screen and (-ms-high-contrast: none) {
              top: 0;
            }
            .e-btn__icon {
              width: 16px;
              height: 16px;
              img,
              i {
                width: 16px;
                height: 16px;
              }
            }
          }
        }
      }
    }

    .component-suggestions {
      margin: 8px 0 0 0;
      width: 100%;
    }
  }

  .no-results {
    display: grid;
    place-items: center;
    margin-top: 64px;
  }

  .results {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 64px;
    width: 700px;
    max-height: 414px;
    overflow: auto;
    padding: 0 16px;
    @include breakpoints.breakpoint-up(Tablet) {
      width: auto;
      margin: 56px;
      overflow: auto;
      max-height: unset;
      height: calc(100vh - 210px);
      padding-bottom: 128px;
    }
    @include breakpoints.breakpoint-up(Mobile) {
      width: auto;
      margin: 0px;
      margin-top: 32px;
    }

    .result-item {
      display: flex;
      gap: 8px;
      flex-direction: column;
      cursor: pointer;
      padding: 32px 16px;

      &:hover {
        background-color: var(--e-color-background-hover-2);
      }

      .result-heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .e-tag {
          cursor: pointer;
          max-height: 24px;
        }
      }

      &.loading {
        max-height: calc((414px - 3px) / 3); //parent height - number of borders / number of items
        pointer-events: none;

        //safari fix (16.6)
        .e-content-loader::after {
          height: unset;
        }
      }
    }
  }
}

.elvia-curve {
  --elvia-curve-background: transparent;
  --elvia-curve-foreground: var(--e-color-background-overlay-1);
}
