@use '../header.component.scss';
@use '@elvia/elvis/src/utilities/breakpoints.scss' as breakpoints;
@use '@elvia/elvis/src/variables/typography.scss';
@use '@elvia/elvis/src/variables/colors';

:host {
  width: 100%;
}

.header {
  position: fixed;
  height: 64px;
  width: 100%;
  top: 0px;
  box-sizing: border-box;
  background-color: var(--e-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .elvis-search__title,
  .version {
    color: var(--e-black) !important;
    text-transform: lowercase;
  }

  .external-links .vertical-line {
    border: 1px solid var(--e-grey-10);
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  background-color: var(--e-white);
  box-sizing: border-box;
  margin-bottom: 144px;
  top: 64px;
  border-top: 1px solid var(--e-grey-10);

  @include breakpoints.breakpoint-up(Tablet) {
    padding-top: 32px;
  }
  @include breakpoints.breakpoint-up(Mobile) {
    padding-top: 0;
  }

  &::before {
    content: '';
    border-radius: 100%;
    position: absolute;
    background-color: var(--e-white);
    z-index: -1;
    width: 685vw;
    height: 685vw;
    bottom: -22%;
    @include breakpoints.breakpoint-up(Mobile) {
      bottom: -650px;
      overflow: hidden;
    }
  }

  &.content-no-result .inner-content {
    margin-bottom: 60px;
  }

  &.long-result.content-result::before {
    @include breakpoints.breakpoint-up(Mobile) {
      height: 1100px;
      overflow: hidden;
    }
  }

  &.content-result .inner-content {
    margin-bottom: 60px;
    @include breakpoints.breakpoint-up(Tablet) {
      margin-bottom: -20px;
    }
  }

  .inner-content {
    margin-bottom: 152px;
    width: 100%;
  }

  .close-btn-desk {
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
    margin-right: 32px;
    @include breakpoints.breakpoint-up(Tablet) {
      display: none;
    }
  }

  .elvis-search-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include breakpoints.breakpoint-up(Tablet) {
      margin-top: 0px;
    }

    .search-wrapper {
      width: calc(100% - 32px);
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 365px;
    }
    .search-title {
      margin: 0px;
      @include breakpoints.breakpoint-up(Mobile) {
        display: none;
      }
    }

    .e-search {
      position: relative;

      &::-ms-clear {
        display: none;
      }

      @include typography.typography('text-md');
      line-height: 22px;

      &.e-search--global {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 40px;
        width: 100%;

        @include breakpoints.breakpoint-up(Tablet) {
          margin-top: 32px;
        }
        @include breakpoints.breakpoint-up(Mobile) {
          margin-top: 24px;
        }

        .e-input {
          input,
          input:invalid,
          input:focus,
          input:disabled {
            font-family: 'Red Hat Text', Verdana, sans-serif;
            font-size: 24px;
            line-height: 38px;
            padding: 0;
            border-radius: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid var(--e-black);
          }
        }

        .e-btn.e-btn--icon {
          display: none;
          width: 32px;
          height: 32px;
        }

        &.e-search--searched {
          .e-btn.e-btn--icon {
            display: flex;
            position: absolute;
            right: 0;
            @media screen and (-ms-high-contrast: none) {
              top: 0;
            }
            .e-btn__icon {
              width: 16px;
              height: 16px;
              img,
              i {
                width: 16px;
                height: 16px;
              }
              i[class*='e-icon--close-bold'] {
                position: absolute;
                display: flex;
                top: 0;
              }
            }
          }
        }
      }
    }

    .component-suggestions {
      @include typography.typography('text-md');
      margin: 8px 0 0 0;
      width: 100%;
    }
  }

  .no-results {
    display: grid;
    place-items: center;
    margin-top: 64px;
    @include typography.typography('text-lg');
  }

  .results {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 64px;
    width: 700px;
    max-height: 414px;
    overflow: auto;
    padding: 0 16px;
    @include breakpoints.breakpoint-up(Tablet) {
      width: auto;
      margin: 56px;
      overflow: auto;
      max-height: unset;
      height: calc(100vh - 210px);
      padding-bottom: 128px;
    }
    @include breakpoints.breakpoint-up(Mobile) {
      width: auto;
      margin: 0px;
      margin-top: 32px;
    }

    .result-item {
      display: flex;
      gap: 8px;
      flex-direction: column;
      cursor: pointer;
      padding: 32px 16px;

      &:hover {
        background-color: colors.color('grey-05');
      }

      .result-heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .title {
          @include typography.typography('title-xs');
        }
        .e-tag {
          cursor: pointer;
          max-height: 24px;
        }
      }

      .result-content {
        @include typography.typography('text-md');
      }

      &.loading {
        max-height: calc((414px - 3px) / 3); //parent height - number of borders / number of items
        pointer-events: none;

        //safari fix (16.6)
        .e-content-loader::after {
          height: unset;
        }
      }
    }
  }
}
