@use '@elvia/elvis/src/utilities/breakpoints.scss' as breakpoints;
@use '@elvia/elvis/src/utilities/icons.scss' as icons;

.component-section {
  margin-top: 72px;
  @include breakpoints.breakpoint-up(Mobile) {
    margin-top: 64px;
  }

  &__content {
    margin-top: 64px;
    margin-left: 72px;
    @include breakpoints.breakpoint-up(Tablet) {
      margin-top: 56px;
      margin-left: 0;
    }
    @include breakpoints.breakpoint-up(Mobile) {
      margin-top: 48px;
    }
  }

  &__title {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--e-color-border-1);

    .copy-container {
      position: absolute;
      left: -36px;

      .icon {
        display: none;
      }
    }

    &:hover,
    &:focus-within {
      .copy-container .icon {
        display: block;
      }
    }

    // Extend hover area for link copy
    &::before {
      $hover-area-width: 40px;
      content: '';
      position: absolute;
      left: -$hover-area-width;
      width: $hover-area-width;
      height: 100%;
    }
  }
}
