@use '@elvia/elvis/src/utilities/breakpoints.scss' as breakpoints;

.component-section {
  margin-top: 72px;
  @include breakpoints.breakpoint-up(Mobile) {
    margin-top: 64px;
  }

  &__content {
    margin-top: 64px;
    margin-left: 72px;
    @include breakpoints.breakpoint-up(Tablet) {
      margin-top: 56px;
      margin-left: 0;
    }
    @include breakpoints.breakpoint-up(Mobile) {
      margin-top: 48px;
    }
  }

  &__title {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--e-black);

    &:hover,
    &:focus-within {
      .icons .normal-img {
        display: block;
      }
    }

    .icons {
      display: inline-block;
      cursor: pointer;
      position: relative;
      height: 24px;
      width: 36px;
      .component-section__img {
        display: none;
        position: absolute;
        padding-right: 12px;
      }
    }
    &.anchor-copied .icons {
      .green-img {
        display: block;
      }
      .normal-img {
        display: none;
      }
    }
  }
}
