@import '@elvia/elvis/src/utilities/breakpoints.scss';

.component-body__example {
  margin-top: 40px;

  &-codepen {
    display: flex;
    justify-content: flex-end;
  }

  &-body {
    border: 1px solid var(--e-grey-10);
    border-radius: 8px;
    padding: 32px;
    height: 100%;

    @include breakpoint-up(Mobile) {
      padding: 24px;
    }

    .top-menu {
      display: flex;
      flex-direction: row;
      width: 100%;

      .tabs {
        display: flex;
        flex-direction: row;
        .tab {
          display: flex;
          align-items: center;
          margin: 0 12px;
          cursor: pointer;
          font-family: 'Red Hat Display', Verdana;
          font-size: 14px;
          line-height: 32px;

          display: flex;
          align-items: center;
          width: 100%;
          letter-spacing: 0.2px;

          position: relative;
          border-bottom: 2px solid transparent;

          &.active {
            font-weight: 700;
            &:before {
              content: '';
              visibility: visible;
              position: absolute;
              width: 100%;
              height: 2px;
              background-color: var(--e-green);
              border-radius: 16px;
            }
          }

          &:not(.active):hover:before {
            visibility: visible;
            width: 100%;
          }

          &:before {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            bottom: -2px;
            left: 0;
            background-color: var(--e-green);
            border-radius: 16px;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
          }
        }
        .tab:first-of-type {
          margin-left: 0;
        }
        .hide {
          display: none;
        }
      }

      .dark-mode-toggle {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;

        font-family: 'Red Hat Text', Verdana;
        font-size: 14px;
        line-height: 160%;
        .e-toggle {
          margin-left: 8px;
        }
        &.toggle-darkmode .e-toggle {
          border: 1px solid var(--e-white);
          box-sizing: content-box;
        }
      }
    }

    .element {
      display: block;
      height: 100%;
      overflow-y: auto;
      padding: 16px 4px;
      &.no-padding-desk {
        padding: 16px 0px;
        margin: 0px -32px;
      }

      .hide {
        display: none;
      }
    }
  }

  .component-code {
    display: flex;
    justify-content: center;
  }
}
