.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    margin: auto;
    width: 80%;
    height: 100%;
    margin-top: 75px;
}

.landingcard {
    display: flex;
    margin: auto;
    width: 45%;
    height: 100%;
    margin: 20px;
}