<div class="container">
  <div class="landingcard">
    <div class="e-card">
      <div class="e-card_header">
        <div class="e-card_header_text">
          <div class="e-card_title">Get started!</div>
        </div>
      </div>
      <div class="e-card_content">
        <p>Guidance how to use, and implementation of Elvia Designsystem.</p>
      </div>
      <div class="e-card_actions">
        <a class="e-card_actions_action">View more</a>
      </div>
    </div>
  </div>
  <div class="landingcard">
    <div class="e-card">
      <div class="e-card_header">
        <div class="e-card_header_text">
          <div class="e-card_title">Components</div>
        </div>
      </div>
      <div class="e-card_content">
        <p>Explore components that are available in Elvia Designsystem.</p>
      </div>
      <div class="e-card_actions">
          <a
            class="e-card_actions_action"
            [routerLink]="['', 'overview-comp-doc']"
          >
            View more</a>
      </div>
    </div>
  </div>
  <div class="landingcard">
    <div class="e-card">
      <div class="e-card_header">
        <div class="e-card_header_text">
          <div class="e-card_title">Contribute</div>
        </div>
      </div>
      <div class="e-card_content">
        <p>Guidance to how to contribute to Elvia Designsystem.</p>
      </div>
      <div class="e-card_actions">
        <a 
          class="e-card_actions_action">
          View more</a>
      </div>
    </div>
  </div>
  <div class="landingcard">
    <div class="e-card">
      <div class="e-card_header">
        <div class="e-card_header_text">
          <div class="e-card_title">Discussion</div>
        </div>
      </div>
      <div class="e-card_content">
        <p>Report a bug? Request a new feauture? </p>
      </div>
      <div class="e-card_actions">
        <a
          class="e-card_actions_action"
          href="https://github.com/hafslundnett/elvia-designsystem/issues/new/choose"
        >View more</a>
      </div>
    </div>
  </div>
</div>