<!--HEADER-->
<app-component-header>
  <ng-container ngProjectAs="headerTitle">
    Discussion
  </ng-container>
  <ng-container ngProjectAs="headerDescription"></ng-container>
</app-component-header>

<!--BODY-->
<div class="page-body">
  <div class="elvis-anchor">
    <h2 class="e-title-md elvis-anchor-title">Options</h2>
    Give feedback and discuss improvements or features for the design system in our slack
    <a class="e-link" href="https://hafslundnett.slack.com/archives/C01302LBTC2">#designsystemet</a>
    . If you are a developer at Elvia you can also give feedback in this
    <a class="e-link" href="{{ externalUrl }}">GitHub form</a>
    . If you cant access the GitHub form, send us a message on slack.
  </div>
</div>
