<!--HEADER-->
<app-component-header>
  <ng-container ngProjectAs="headerTitle">
    Discussion
  </ng-container>
  <ng-container ngProjectAs="headerDescription">
    {{ description }}
  </ng-container>
</app-component-header>

<!--BODY-->
<div class="page-body e-text-body">
  <div class="e-mt-72">
    <ul class="e-list">
      <li>
        <div>
          Give feedback and discuss improvements or features for the design system in our slack
          <span>
            <a
              class="e-link e-link--inline e-link--external"
              href="https://hafslundnett.slack.com/archives/C01302LBTC2"
              target="_blank"
            >
              <span class="e-link__title">#designsystemet</span>
              <span class="e-link__icon"><i class="e-icon e-icon--arrow_external-bold"></i></span>
            </a>
          </span>
        </div>
      </li>
      <li>
        <div>
          If you are a developer at Elvia you can also give feedback in this
          <span><a class="e-link e-link--inline" href="{{ externalUrl }}">GitHub form.</a></span>
        </div>
      </li>
      <li><div>If you cant access the GitHub form, send us a message on slack.</div></li>
    </ul>
  </div>
</div>
