@import '../../variables/colors.scss';
@import '../../variables/animation.scss';

$form-input-padding: $form-input-padding-left 0.9rem;
$form-input-border-radius: $border-radius;
$form-input-border: 1px solid color('grey-mine-shaft');

.e-form_input {
  // Variable containing '&' to jump to current parent inside a child class.
  $this: &;

  display: flex;
  align-items: center;
  padding: $form-input-padding;
  transition: border-color $medium-transition $transition-cubic;
  border: $form-input-border;
  border-radius: $form-input-border-radius;
  box-sizing: border-box;
  background: color('white');

  &:not(.is-invalid):focus-within {
    @extend .e-form_input, .is-focus;
  }

  &.is-focus {
    border-color: green;

    #{$this}_icon,
    svg,
    i {
      opacity: 1;
      color: green;
    }
  }

  &.is-invalid {
    border-color: color('red');

    i {
      color: color('red');
    }
  }

  &.is-disabled {
    background: color('grey-silver');
    cursor: default;
  }

  &_field,
  > input,
  > textarea {
    width: 100%;
    padding: 0;
    border: none;
    background: transparent;

    @include placeholder() {
      color: color('grey-mine-shaft');
    }
  }

  > textarea {
    min-height: 16px;
    height: 91px;
    resize: vertical;
    overflow-y: auto;
  }

  &_icon,
  > svg,
  > i {
    transition: color $medium-transition $transition-cubic, opacity $medium-transition $transition-cubic;
    opacity: 0.44;
    color: color('black');
    font-size: 1rem;

    &:first-child {
      margin-right: $form-input-icon-margin;
    }

    &:last-child {
      margin-left: $form-input-icon-margin;
    }
  }
}