@use './button-helpers.scss' as buttonHelper;
@use '../../utilities/helpers.scss';
@use '../../utilities/icons.scss';

.e-btn,
.e-btn.e-btn--primary {
  @include helpers.custom-light-theme-tokens {
    --e-button-icon-color-filled-foreground-light: var(--e-light-theme-black);
    --e-button-icon-color-filled-foreground-hover-light: var(--e-light-theme-white);
  }

  @include helpers.custom-dark-theme-tokens(button) {
    --e-button-icon-color-filled-foreground-light: var(--e-dark-theme-white);
    --e-button-icon-color-filled-foreground-hover-light: var(--e-dark-theme-white);
  }
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 9px 23px;
  border: 1px solid var(--e-color-border-1);
  border-radius: 24px;
  background: var(--e-color-background-element-5);
  color: var(--e-color-text-4);
  cursor: pointer;
  font-family: 'Red Hat Display', Verdana, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  white-space: nowrap;

  // Icons
  .e-btn__icon {
    display: grid;
    place-items: center;
    @include icons.icon-size('xs');

    .e-icon--inverted {
      display: none;
    }
  }

  .e-btn__title + .e-btn__icon,
  .e-btn__icon + .e-btn__title {
    margin-left: 8px;
  }

  @include buttonHelper.only-primary-button {
    .e-btn__icon i {
      @include icons.icon-currentcolor(var(--e-button-icon-color-filled-foreground-light));
    }
  }

  // Sizes
  &.e-btn--lg {
    padding: 11px 31px;
    font-size: 18px;
    line-height: 24px;

    .e-btn__icon {
      @include icons.icon-size('sm');
    }

    &.e-btn--loading span {
      width: 12px;
      height: 12px;
    }
  }

  &.e-btn--sm {
    padding: 7px 15px;
    font-size: 14px;
    line-height: 16px;

    &.e-btn--loading span {
      width: 8px;
      height: 8px;
    }
  }

  // States
  @include buttonHelper.hover() {
    border-color: var(--e-color-border-hover-1);
    background: var(--e-color-background-hover-1);
    color: var(--e-color-background-hover-1--contrast);

    @include buttonHelper.only-primary-button {
      .e-btn__icon i {
        @include icons.icon-currentcolor(var(--e-button-icon-color-filled-foreground-hover-light));
      }
    }
  }

  @include buttonHelper.active() {
    border-color: transparent;
    background-clip: padding-box;
  }

  @include buttonHelper.focus('btn');

  @include buttonHelper.disabled() {
    border-color: var(--e-color-border-disabled-1);
    background: var(--e-color-background-disabled-2);
    color: var(--e-color-text-disabled-2);
    cursor: not-allowed;

    @include buttonHelper.only-primary-button {
      .e-btn__icon i {
        @include icons.icon-currentcolor(var(--e-color-background-disabled-2));
      }
    }
  }

  &.e-btn--loading {
    display: inline-block;
    cursor: progress;

    span {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: var(--e-color-text-4);
      @include buttonHelper.loading-animation();
    }

    span:nth-of-type(1) {
      @include helpers.animation-delay(-0.32s);
    }

    span:nth-of-type(2) {
      @include helpers.animation-delay(-0.16s);
    }
  }
}
