@use './helpers.scss' as buttonHelper;
@use '../../utilities/helpers.scss';
@use '../../utilities/icons.scss';

.e-btn.e-btn--danger {
  @include helpers.custom-light-theme-tokens {
    --e-button-danger-hover-background: var(--e-light-theme-black);
  }

  @include helpers.custom-dark-theme-tokens('btn') {
    --e-button-danger-hover-background: var(--e-dark-theme-white);
  }

  border-color: var(--e-color-signal-danger);
  background: var(--e-color-signal-danger);
  color: var(--e-color-text-3);

  // Icons
  .e-btn__icon {
    i {
      @include icons.icon-currentcolor(var(--e-color-text-3--contrast));
    }
  }

  // States
  @include buttonHelper.hover() {
    border-color: var(--e-button-danger-hover-background);
    background: var(--e-button-danger-hover-background);
    color: var(--e-color-text-4);

    .e-btn__icon i {
      @include icons.icon-currentcolor(var(--e-button-danger-hover-background));
    }
  }

  @include buttonHelper.active() {
    border-color: transparent;
    background-clip: padding-box;
  }

  @include buttonHelper.disabled() {
    border-color: var(--e-color-signal-danger);
    background: var(--e-color-signal-danger);
    opacity: 0.3;
  }

  &.e-btn--loading span {
    background-color: var(--e-color-static-white);
  }
}
