@use '../../utilities/helpers.scss';
@use '../../variables/colors.scss';
@use '../../utilities/icons.scss';

.e-btn.e-btn--danger {
  @include helpers.custom-light-theme-tokens {
    --e-button-danger-hover-background: var(--e-light-theme-black);
  }

  @include helpers.custom-dark-theme-tokens('btn') {
    --e-button-danger-hover-background: var(--e-dark-theme-white);
  }

  border-color: var(--e-color-signal-error);
  background: var(--e-color-signal-error);
  color: var(--e-color-text-3);

  .e-btn__icon {
    i {
      @include icons.icon-currentcolor(var(--e-color-text-3--contrast));
    }
  }

  // States
  @include helpers.hover() {
    &.e-btn---hover,
    &.e-btn---selected,
    &.e-btn---active,
    &:active:not(:disabled):not(.e-btn--loading),
    &:hover:not(:disabled):not(.e-btn--loading) {
      border-color: var(--e-button-danger-hover-background);
      background: var(--e-button-danger-hover-background);
      color: var(--e-color-text-4);

      .e-btn__icon i {
        @include icons.icon-currentcolor(var(--e-button-danger-hover-background));
      }
    }
  }

  &.e-btn---active,
  &:active:not(:disabled):not(.e-btn--loading) {
    border-color: transparent;
    background-clip: padding-box;
  }

  &.e-btn---disabled,
  &:disabled {
    border-color: var(--e-color-signal-error);
    background: var(--e-color-signal-error);
    cursor: not-allowed;
    opacity: 0.3;
  }

  &.e-btn--loading span {
    background-color: colors.color('elvia-on');
  }
}
