@use '../../variables/colors.scss';
@use '../../utilities/helpers.scss';

// DEPRECATED (Primary - inverted)
.e-btn.e-btn--inverted,
.e-btn.e-btn--primary.e-btn--inverted {
  border: 1px solid colors.color('elvia-on');
  background: colors.color('elvia-on');
  color: colors.color('font-color');

  .e-btn__icon i {
    visibility: visible;
  }

  // States
  &.e-btn--sm.e-btn---focus.e-btn--inverted {
    border: 1px solid colors.color('elvia-on');
    background: colors.color('elvia-on');
    color: colors.color('font-color');
  }

  &.e-btn---disabled,
  &:disabled {
    border-color: colors.color('grey-70');
    background: colors.color('grey-70');
    color: colors.color('grey');
    cursor: not-allowed;
  }

  &.e-btn--loading span {
    background-color: colors.color('elvia-off');
  }
}

// DEPRECATED (Secondary - inverted)
.e-btn.e-btn--secondary.e-btn--inverted {
  border: 1px solid colors.color('elvia-on');
  background: colors.color('grey');
  color: colors.color('font-color-light');

  &:disabled {
    border-color: colors.color('grey-70');
    background: transparent;
    color: colors.color('grey-70');
    cursor: not-allowed;

    .e-btn__icon {
      opacity: 0.3;
    }
  }

  .e-btn__icon {
    i {
      visibility: hidden;
    }

    i[class*='inverted'],
    i[class*='color-disabled-light'],
    i[class*='e-icon--disabled-inverted'] {
      visibility: visible;
    }
  }

  &.e-btn--loading span {
    background-color: colors.color('elvia-on');
  }
}

// DEPRECATED (Tertiary - inverted)
.e-btn.e-btn--tertiary.e-btn--inverted {
  color: colors.color('elvia-on') !important;

  .e-btn__icon {
    i {
      visibility: hidden;
    }

    i[class*='inverted'],
    i[class*='color-disabled-light'],
    i[class*='e-icon--disabled-inverted'] {
      visibility: visible;
    }
  }

  // States
  @include helpers.hover() {
    &:hover:not(:disabled):not(.e-btn--loading) {
      border-color: colors.color('elvia-charge');
      background: none;

      .e-btn__icon {
        i {
          visibility: hidden;
        }

        i[class*='inverted'],
        i[class*='color-disabled-light'],
        i[class*='e-icon--disabled-inverted'] {
          visibility: visible;
        }
      }
    }
  }

  &:active:not(:disabled):not(.e-btn--loading) .e-btn__icon {
    i {
      visibility: hidden;
    }

    i[class*='inverted'],
    i[class*='color-disabled-light'],
    i[class*='e-icon--disabled-inverted'] {
      visibility: visible;
    }
  }

  &:disabled {
    border-bottom: none;
    background: none;
    color: colors.color('grey-70') !important;
    cursor: not-allowed;

    .e-btn__icon {
      opacity: 0.3;
    }
  }

  &.e-btn--loading span {
    background-color: colors.color('elvia-on');
  }
}

// DEPRECATED (Danger - inverted)
.e-btn.e-btn--danger.e-btn--inverted {
  @include helpers.hover() {
    &.e-btn---hover,
    &.e-btn---selected,
    &.e-btn---active,
    &:active:not(:disabled):not(.e-btn--loading),
    &:hover:not(:disabled):not(.e-btn--loading) {
      border-color: colors.color('elvia-on');
      background: colors.color('elvia-on');
      color: colors.color('font-color');

      .e-btn__icon {
        i:not([class*='color-white']) {
          visibility: visible;
        }

        i[class*='color-white'] {
          visibility: hidden;
        }
      }
    }
  }

  &.e-btn---active,
  &:active:not(:disabled):not(.e-btn--loading) {
    border-color: transparent;
    background-clip: padding-box;
  }

  &.e-btn---disabled,
  &:disabled {
    color: colors.color('font-color-light');
  }
}

// DEPRECATED (Icon - inverted)
.e-btn.e-btn--icon.e-btn--inverted {
  .e-btn__icon {
    i {
      visibility: hidden;
    }

    i[class*='inverted'],
    i[class*='color-disabled-light'],
    i[class*='e-icon--color'],
    i[class*='e-icon--disabled-inverted'],
    i:disabled {
      visibility: visible;
    }
  }

  // States
  @include helpers.hover() {
    &:hover:not(:disabled) {
      .e-btn__icon {
        i {
          visibility: visible !important;
        }

        i[class*='inverted'],
        i[class*='color-disabled-light'],
        i[class*='e-icon--disabled-inverted'] {
          visibility: hidden !important;
        }
      }
    }
  }

  &:disabled {
    background: none;
    color: colors.color('grey-70');
    cursor: not-allowed;

    .e-btn__icon {
      opacity: 0.3;
    }
  }

  &:focus {
    background: none;
  }

  &.e-btn--loading {
    span {
      background-color: colors.color('elvia-on');
    }
  }
}
