@use './button-helpers.scss' as buttonHelper;
@use '../../utilities/helpers.scss';
@use '../../utilities/icons.scss';

.e-btn.e-btn--icon {
  width: 40px;
  height: 40px;
  padding: 8px;
  border: none;
  border-radius: 50px;
  background: none;
  color: var(--e-color-text-1);

  // Icons
  .e-btn__icon {
    @include icons.icon-size('sm');

    i {
      display: flex;
      align-items: center;
      justify-content: center;
      visibility: visible;

      @include icons.icon-currentcolor();
    }
  }

  // Sizes
  &.e-btn--lg {
    width: 48px;
    height: 48px;

    .e-btn__icon {
      @include icons.icon-size('md');
    }
  }

  &.e-btn--sm {
    width: 32px;
    height: 32px;

    .e-btn__icon {
      @include icons.icon-size('xs');
    }
  }

  // States
  @include buttonHelper.hover() {
    @include icons.icon-currentcolor();
  }

  @include buttonHelper.active() {
    @include helpers.transform(scale(0.95));
  }

  @include buttonHelper.disabled() {
    background: none;

    .e-btn__icon i {
      @include icons.icon-color(var(--e-color-text-disabled-1));
    }
  }

  &.e-btn--loading {
    padding-right: 0;
    padding-left: 0;

    span {
      background-color: var(--e-color-text-1);
    }
  }

  // Circled
  &.e-btn--circled {
    position: relative;
    width: 24px;
    height: 24px;
    padding: 0;

    // Larger click surface
    &::after {
      position: absolute;
      padding: 16px;
      content: '';
    }

    // Icons
    i {
      position: absolute;
      top: 0;
      left: 0;
    }

    .e-btn__icon i[class*='filled-color'] {
      visibility: hidden; // Hiding hover icon, the filled-color icons can't be replaced by css-variable switching
    }

    // Sizes
    &.e-btn--sm {
      width: 16px;
      height: 16px;
    }

    &.e-btn--lg {
      width: 32px;
      height: 32px;

      &::after {
        content: none;
      }
    }

    // States
    @include buttonHelper.hover() {
      background: transparent;

      .e-btn__icon i:not([class*='filled-color']) {
        visibility: hidden; // Hiding original icon
      }

      .e-btn__icon i[class*='filled-color'] {
        visibility: visible; // Showing hover icon
      }
    }
  }
}
