@use '../../utilities/helpers.scss';
@use '../../variables/colors.scss';
@use '../../utilities/icons.scss';

.e-btn.e-btn--icon {
  display: inline-flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: none;
  border-radius: 50px;
  background: none;
  color: var(--e-color-text-1);

  .e-btn__icon {
    justify-content: center;
    @include icons.icon-size('sm');

    i {
      display: flex;
      align-items: center;
      justify-content: center;
      visibility: visible;

      @include icons.icon-currentcolor();
    }
  }

  // Sizes
  &.e-btn--lg {
    width: 48px;
    height: 48px;

    .e-btn__icon {
      @include icons.icon-size('md');
    }
  }

  &.e-btn--sm {
    width: 32px;
    height: 32px;

    .e-btn__icon {
      @include icons.icon-size('xs');
    }
  }

  // States
  @include helpers.hover() {
    &.e-btn---hover,
    &.e-btn---selected,
    &.e-btn---active,
    &:active:not(:disabled):not(.e-btn--loading),
    &:hover:not(:disabled):not(.e-btn--loading) {
      background: var(--e-color-background-hover-1);
      color: var(--e-color-background-hover-1--contrast);

      @include icons.icon-currentcolor();
    }
  }

  &.e-btn---active,
  &:active:not(:disabled):not(.e-btn--loading) {
    @include helpers.transform(scale(0.95));
  }

  &.e-btn---disabled,
  &:disabled {
    background: none;
    cursor: not-allowed;

    .e-btn__icon i {
      @include icons.icon-color(var(--e-color-text-disabled-1));
    }
  }

  &.e-btn--loading {
    padding-right: 0;
    padding-left: 0;

    span {
      background-color: var(--e-color-text-1);
    }
  }

  // Circled
  &.e-btn--circled {
    position: relative;
    width: 24px;
    height: 24px;
    padding: 0;

    // Larger click surface
    &::after {
      position: absolute;
      padding: 16px;
      content: '';
    }

    // Hiding hover icon, the filled-color icons can't be replaced by css-variable switching
    .e-btn__icon i[class*='filled-color'] {
      visibility: hidden;
    }

    // Sizes
    &.e-btn--sm {
      width: 16px;
      height: 16px;
    }

    &.e-btn--lg {
      width: 32px;
      height: 32px;

      &::after {
        content: none;
      }
    }

    // States
    @include helpers.hover() {
      &.e-btn---hover,
      &.e-btn---selected,
      &.e-btn---active,
      &:active:not(:disabled),
      &:hover:not(:disabled) {
        background: transparent;
        // Showing hover ikon
        .e-btn__icon i:not([class$='filled-color']),
        .e-btn__icon i:not([class$='disabled']) {
          visibility: hidden;
        }

        .e-btn__icon i[class*='filled-color'] {
          visibility: visible;
        }
      }
    }
  }
}
