@use './button-helpers.scss' as buttonHelper;
@use '../../utilities/icons.scss';

.e-btn.e-btn--secondary {
  border: 1px solid var(--e-color-border-1);
  background: var(--e-color-background-element-1);
  color: var(--e-color-text-1);

  // Icons
  .e-btn__icon i {
    @include icons.icon-currentcolor(var(--e-color-text-1--contrast));
  }

  // States
  @include buttonHelper.hover() {
    border-color: var(--e-color-border-hover-1);
    background: var(--e-color-background-hover-1);
    color: var(--e-color-background-hover-1--contrast);

    .e-btn__icon i {
      @include icons.icon-currentcolor(var(--e-button-icon-color-filled-foreground-hover-light));
    }
  }

  @include buttonHelper.disabled() {
    border-color: var(--e-color-border-disabled-1);
    background: transparent;
    color: var(--e-color-text-disabled-1);
  }

  @include buttonHelper.active() {
    border-color: transparent;
    background-clip: padding-box;
  }

  &.e-btn--loading span {
    background-color: var(--e-color-text-1);
  }
}
