@use './button.scss';
@use '../../utilities/helpers.scss';
@use '../../variables/colors.scss';
@use '../../utilities/icons.scss';

.e-btn.e-btn--tertiary {
  padding: 0;
  padding-bottom: 3.5px;
  border: none;
  border-radius: 0;
  border-bottom: 2.5px solid transparent;
  background: none;
  color: colors.color('font-color');
  @include helpers.hover() {
    &:hover:not(:disabled):not(.e-btn--loading) {
      border-color: colors.color('elvia-charge');
      background: none;

      .e-btn__icon i {
        visibility: visible;
      }
    }
  }

  .e-btn__icon {
    @include icons.icon-size('sm');

    i {
      @include icons.icon-size('sm');
      visibility: visible;
    }

    i[class*='inverted'],
    i[class*='color-disabled-light'],
    i[class*='e-icon--disabled-inverted'] {
      visibility: hidden;
    }
  }

  &.e-btn--loading {
    @extend %e-btn--loading;

    span {
      background: colors.color('elvia-off');
    }
  }

  &.e-btn--inverted {
    color: colors.color('elvia-on') !important;

    @include helpers.hover() {
      &:hover:not(:disabled):not(.e-btn--loading) {
        border-color: colors.color('elvia-charge');
        background: none;

        .e-btn__icon {
          i {
            visibility: hidden;
          }

          i[class*='inverted'],
          i[class*='color-disabled-light'],
          i[class*='e-icon--disabled-inverted'] {
            visibility: visible;
          }
        }
      }
    }

    &.e-btn--loading {
      span {
        background-color: colors.color('elvia-on');
      }
    }

    .e-btn__icon {
      i {
        visibility: hidden;
      }

      i[class*='inverted'],
      i[class*='color-disabled-light'],
      i[class*='e-icon--disabled-inverted'] {
        visibility: visible;
      }
    }

    &:disabled {
      border-bottom: none;
      background: none;
      color: colors.color('grey-70') !important;
      cursor: not-allowed;

      .e-btn__icon {
        opacity: 0.3;
      }
    }

    &:active:not(:disabled):not(.e-btn--loading) {
      .e-btn__icon {
        i {
          visibility: hidden;
        }

        i[class*='inverted'],
        i[class*='color-disabled-light'],
        i[class*='e-icon--disabled-inverted'] {
          visibility: visible;
        }
      }
    }
  }

  &.e-btn--lg {
    padding-bottom: 1.5px;

    // &.e-btn--loading {
    //   span {
    //     width: button.$loading-dot-lg;
    //     height: button.$loading-dot-lg;
    //   }
    // }
  }

  &.e-btn--sm {
    .e-btn__icon {
      @include icons.icon-size('xs');

      i {
        @include icons.icon-size('xs');
      }
    }

    // &.e-btn--loading {
    //   span {
    //     width: button.$loading-dot-sm;
    //     height: button.$loading-dot-sm;
    //   }
    // }
  }

  &.e-btn---disabled,
  &:disabled {
    color: colors.color('disabled');
    cursor: not-allowed;
  }

  &.e-btn---hover,
  &.e-btn---selected {
    border-color: colors.color('elvia-charge');
    background: none;

    .e-btn__icon i {
      visibility: visible;
    }
  }

  &.e-btn---hover[class*='e-btn--inverted'],
  &.e-btn---selected[class*='e-btn--inverted'] {
    .e-btn__icon {
      i {
        visibility: hidden;
      }

      i[class*='inverted'],
      i[class*='color-disabled-light'],
      i[class*='e-icon--disabled-inverted'] {
        visibility: visible;
      }
    }
  }

  &.e-btn---active,
  &:active:not(:disabled):not(.e-btn--loading) {
    padding-bottom: 4.5px;
    border-color: colors.color('elvia-charge');
    border-bottom: 1.5px solid colors.color('elvia-charge');
    background: none;

    &.e-btn--lg {
      padding-bottom: 2.5px;
    }

    .e-btn__icon i {
      visibility: visible;
    }
  }
}
