:host {
  width: 100%;
}

.doc-subtitle {
  display: block;
}

pre {
  padding: 0;
  margin: 0;
  font-size: 0.875rem;
  background: var(--e-grey);
}

.highlight-container {
  width: 100%;
  padding: 24px;
  background: var(--e-grey);
  border-radius: 8px;

  &.do-dont-comp {
    border-radius: 8px 8px 0 0;
  }

  .top-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 24px;

    .tabs {
      display: flex;
      flex-direction: row;
      .tab {
        display: flex;
        align-items: center;
        margin: 0 12px;
        font-family: 'Red Hat Display';
        font-size: 14px;
        line-height: 32px;
        text-transform: uppercase;
        color: var(--e-grey-20);

        cursor: pointer;

        display: flex;
        align-items: center;
        width: 100%;
        letter-spacing: 0.2px;
        white-space: nowrap;

        position: relative;
        border-bottom: 2px solid transparent;
        margin-left: 12px;

        &.active {
          color: var(--e-white);
          text-shadow: 0 0 0 var(--e-white), 0 0 0.5px var(--e-white);
          &:before {
            content: '';
            visibility: visible;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: var(--e-green);
            border-radius: 16px;
          }
        }

        &:not(.active):hover:before {
          visibility: visible;
          width: 100%;
        }

        &:before {
          content: '';
          position: absolute;
          width: 0;
          height: 2px;
          bottom: -2px;
          left: 0;
          background-color: var(--e-green);
          border-radius: 16px;
          visibility: hidden;
          transition: all 0.3s ease-in-out;
        }
      }
      .tab:first-of-type {
        margin-left: 0;
      }
      .tab:only-of-type {
        cursor: auto;
        &:before {
          background: transparent;
        }
      }
    }
    .copy-code {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      color: var(--e-white);
      i[class*='e-icon--copy'] {
        display: none;
      }
      i[class*='e-icon--inverted'] {
        display: flex;
      }
      .e-btn:hover {
        i[class*='e-icon--copy'] {
          display: flex;
        }
        i[class*='e-icon--inverted'] {
          display: none;
        }
      }
    }
  }
}

.codepen-link {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}
