:host {
  width: 100%;
}

.doc-subtitle {
  display: block;
}

pre {
  line-height: 18px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  background: var(--e-grey);
}

.highlight-container {
  width: 100%;
  padding: 24px;
  background: var(--e-grey);
  border-radius: 8px;

  &.do-dont-comp {
    border-radius: 8px 8px 0 0;
  }

  .top-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-bottom: 16px;
    margin-bottom: 8px;
    overflow: auto;

    > * {
      width: 100%;
    }
    .copy-code {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      color: var(--e-white);
      width: 100px;
    }
  }
}

.code-container {
  overflow: auto;
  padding-bottom: 16px;
  margin-bottom: -16px;
  .active-code {
    font-family: 'Fira mono';
    color: white;
  }
  .script-tag {
    height: 18px;
  }
}

.codepen-link {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}
