@import "../variables/borders";

// Making border classes for all border-sizes
.e-border {
  & {
    border: $border-medium;
  }
  &-t {
    border-top: $border-medium;
  }
  &-b {
    border-bottom: $border-medium;
  }
  &-l {
    border-left: $border-medium;
  }
  &-r {
    border-right: $border-medium;
  }
}
