@import "../variables/shadows";

.e-shadow {
  &-none {
    box-shadow: none;
  }
  &-1 {
    box-shadow: $shadow-light;
  }
  &-2 {
    box-shadow: $shadow-medium;
  }
  &-3 {
    box-shadow: $shadow-strong;
  }
}
