@import "../variables/spacing";

// Making margin and padding classes for all spacing
.e {
  @each $label, $map in $spacing {
    $value: map-get($map, value);
    $alt-labels: map-get($map, labels);
    $labels: ($label);

    @if $alt-labels {
      @each $label in $alt-labels {
        $labels: append($labels, $label);
      }
    }

    @each $label in $labels {
      &-p-#{$label} {
        padding: $value;
      }
      &-pt-#{$label} {
        padding-top: $value;
      }
      &-pb-#{$label} {
        padding-bottom: $value;
      }
      &-pl-#{$label} {
        padding-left: $value;
      }
      &-pr-#{$label} {
        padding-right: $value;
      }
      &-m-#{$label} {
        margin: $value;
      }
      &-mt-#{$label} {
        margin-top: $value;
      }
      &-mb-#{$label} {
        margin-bottom: $value;
      }
      &-ml-#{$label} {
        margin-left: $value;
      }
      &-mr-#{$label} {
        margin-right: $value;
      }
    }
  }
}
