.filters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 24px;
}

.information {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;

  i {
    min-width: 40px;
  }
}
