@use '@elvia/elvis/src/utilities/breakpoints.scss' as breakpoints;

:host {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: space-between;

  @include breakpoints.breakpoint-up(Mobile) {
    flex-direction: column;
  }
}

code {
  white-space: nowrap;
}
