@use '@elvia/elvis/src/utilities/breakpoints.scss' as breakpoints;

.not-found {
  display: flex;
  justify-content: center;
  background-color: var(--e-grey-90);
  padding-top: 64px;
}

main {
  flex: 1;
}

.page-with-sidenav {
  margin-top: 64px;

  @include breakpoints.breakpoint-up(Tablet) {
    margin-top: 32px;
  }
}
