$ElviaWhite: #fff;
$ElviaOn: $ElviaWhite;
$FontColorLight: $ElviaWhite;
$ElviaBlack: #000;
$ElviaOff: $ElviaBlack;
$ElviaFontColor: $ElviaBlack;
$ElviaGrey: #262626;
$ElviaGreen: #29d305;
$ElviaCharge: $ElviaGreen;
$ElviaYellow: #ffff00;
$ElviaOrange: #ffa000;
$ElviaRed: #ee0701;
$ElviaGreenApple: #21ac04;
$ElviaVioletGrape: #490192;
$ElviaBlueBerry: #006ddb;
$ElviaPurplePlum: #b66dff;
$ElviaOrangeMango: #db6d00;
$ElviaRedTomato: #b90202;
$ElviaGrey90: #3b3b3b;
$ElviaGrey80: #515151;
$ElviaFontGrey: $ElviaGrey80;
$ElviaGrey70: #676767;
$ElviaGrey60: #7c7c7c;
$ElviaGrey50: #929292;
$ElviaGrey40: #a8a8a8;
$ElviaGrey30: #bdbdbd;
$ElviaDisabled: $ElviaGrey30;
$ElviaGrey20: #d3d3d3;
$ElviaGrey10: #e9e9e9;
$ElviaGrey05: #f4f4f4;
$ElviaDisabledLight: $ElviaGrey05;
$ElviaGrey02: #fafafa;
$ElviaFocusOutline: #0064fa;
