@use '@elvia/elvis/src/utilities/breakpoints.scss' as breakpoints;
@use '@elvia/elvis/src/utilities/helpers.scss' as helpers;

.footer {
  --footer-height: 136px;

  height: var(--footer-height);
  display: grid;
  padding: 48px;
  grid-template-areas: 'copyright contact contact contact links';
  gap: 32px 0;
  align-items: center;
  background-color: var(--e-color-background-3);

  @include breakpoints.breakpoint-up(Mobile) {
    --footer-height: 225px;

    grid-template-areas:
      'contact contact'
      'copyright links';
  }
}

.copyright {
  grid-area: copyright;
}

.contact {
  grid-area: contact;
  max-width: 400px;
  text-align: center;
  justify-self: center;
}

.links {
  grid-area: links;
  justify-self: flex-end;
  display: flex;
  gap: 16px;

  .inverted-img {
    display: none;
  }

  a {
    background-color: var(--e-dark-theme-grey);

    &:hover {
      .inverted-img {
        display: block;
      }

      .default-img {
        display: none;
      }
    }
  }
}

.elvia-curve {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  height: 3.7vw;
  margin-top: -1px;
  background-color: var(--e-color-background-3);

  &::before {
    position: absolute;
    content: '';
    background-color: var(--e-color-background-1);
    width: 685vw;
    height: 685vw;
    border-radius: 100%;
    bottom: calc(100% - 3.7vw);
  }
}
