@use '@elvia/elvis/src/utilities/breakpoints.scss' as breakpoints;
@use '@elvia/elvis/src/utilities/helpers.scss' as helpers;

:host {
  --footer-background: var(--e-color-background-3);
}

.footer {
  --footer-height: 136px;

  height: var(--footer-height);
  display: grid;
  padding: 48px;
  grid-template-areas: 'copyright contact contact contact links';
  gap: 32px 0;
  align-items: center;
  background-color: var(--footer-background);

  @include breakpoints.breakpoint-up(Mobile) {
    --footer-height: 225px;

    grid-template-areas:
      'contact contact'
      'copyright links';
  }
}

.copyright {
  grid-area: copyright;
}

.contact {
  grid-area: contact;
  max-width: 400px;
  text-align: center;
  justify-self: center;
}

.links {
  grid-area: links;
  justify-self: flex-end;
  display: flex;
  gap: 16px;

  .inverted-img {
    display: none;
  }

  a {
    background-color: var(--e-dark-theme-grey);

    img {
      width: 16px;
    }

    &:hover {
      .inverted-img {
        display: block;
      }

      .default-img {
        display: none;
      }
    }
  }
}

.elvia-curve {
  --elvia-curve-foreground: var(--e-color-background-1);
  --elvia-curve-background: var(--footer-background);
}
