@use '@elvia/elvis/src/utilities/breakpoints.scss';

:host {
  line-height: normal;

  .e-theme-light & {
    --code-container-background-color: var(--e-light-theme-grey);
  }
  .e-theme-dark & {
    --code-container-background-color: var(--e-dark-theme-grey-60);
  }
}

.code-container {
  background-color: var(--code-container-background-color, var(--e-color-background-3));
  border-radius: 8px;
  padding: 24px;
  width: 100%;

  pre {
    margin: 0;
  }

  @include breakpoints.breakpoint-up(Mobile) {
    padding: 16px;
  }
}

.top-menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-bottom: 16px;
  margin-bottom: 8px;
  overflow: auto;

  .copy-code {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: var(--e-color-text-3);
    width: 100px;
  }
}

.ceg-code {
  font-family: 'Red Hat Mono', Verdana, sans-serif;
  font-size: 0.875rem;
  background: unset;
  color: var(--e-color-text-3);
  border-radius: unset;
  padding: inherit;
  line-height: inherit;
  width: fit-content;
}

.overflow-container {
  overflow: auto;
  max-height: 800px;
}
