@use '@elvia/elvis/src/utilities/typography.scss' as typography;

div {
  @include typography.typography('text-caps');
  border: 2px dashed var(--e-color-border-3);
  color: var(--e-color-text-2);
  display: grid;
  min-height: 100px;
  min-width: 100px;
  place-items: center;
}
