@use '@elvia/elvis/src/utilities/mixins.scss';

div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100px;
  min-width: 100px;
  gap: 18px;

  .e-text-sm {
    text-align: right;
  }
}
