@use '@elvia/elvis/src/utilities/breakpoints.scss' as breakpoints;
@use '@elvia/elvis/src/utilities/helpers' as helpers;
@use '../shared/shared-animations.scss' as animation;

:host {
  padding-bottom: 40px;
  --home-background-color: var(--e-color-background-3);
}

.home-top {
  display: grid;
  gap: 6vw;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 64px;
  background-color: var(--home-background-color);
  height: 32vw;
  min-height: 477px;
  max-height: 520px;
  place-items: center;

  @include breakpoints.breakpoint-up(MinDesktop) {
    gap: 5vw;

    .top-image img {
      top: 32px;
      width: 135%;
    }
  }

  @include breakpoints.breakpoint-up(Tablet) {
    padding: 0 16px;
    grid-template-columns: 1fr;
    height: 40vw;
    min-height: 196px;
    max-height: 378px;

    .top-image {
      width: 80vw;

      .image {
        inset: 0;
        width: 100%;
      }
    }
  }
}

.title-desktop {
  @include animation.ease-in-out-opacity(0.6s, 0.6s);
  max-width: 750px;
}

.title-mobile {
  @include animation.ease-in-out-opacity(0.6s, 0.6s);
  margin: 18vw auto 0;
  max-width: 590px;
  padding: 0 16px;
}

.top-image {
  @include animation.ease-in-out-opacity(0.6s, 0.28s);
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 300px;
  max-width: 1000px;

  img {
    position: absolute;
    inset: 0 -70px auto auto;
    width: 125%;
    max-width: 1000px;
  }
}

.green-dot::after {
  content: '.';
  color: var(--e-color-brand-accent);
}

.elvia-curve {
  --elvia-curve-foreground: var(--home-background-color);
  --elvia-curve-background: transparent;
}

.card-links {
  @include animation.ease-in-out-opacity(0.6s, 0.8s);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 40px;
  gap: 56px;
  .card-link {
    aspect-ratio: 1 / 1;
    width: 154px;
    max-width: 250px;
  }
  @include breakpoints.breakpoint-up(Tablet) {
    margin-top: 80px;
    gap: 32px;
  }
  @include breakpoints.breakpoint-up(Mobile) {
    margin-top: 72px;
    flex-wrap: wrap;
    gap: 16px;

    .card-link {
      flex: 0 calc(40% - (32px));
    }
  }
  @media (max-width: 500px) {
    .card-link {
      flex: 0 calc(50% - (32px));
    }
  }
}

.home-whats-new {
  margin: 0 auto;
  max-width: 700px;
  @include breakpoints.breakpoint-up(Tablet) {
    width: 60%;
    min-width: 520px;
  }
  @include breakpoints.breakpoint-up(Mobile) {
    width: 100%;
    padding: 24px;
    min-width: unset;
  }
}
