<div class="page-container">
    <h2>UU-Tools</h2>
    <h3 class="header-secondary">Utkast er basert på NAV sin side om tilgjengelighet :
        https://design.nav.no/accessibility/tools</h3>


    <div class="elvia-factbox is-warn ">
        <div class="elvia-factbox-icon">
            <i class="e-icon-alert-circle e-icon-sm"></i>
        </div>
        <div class="elvia-factbox-content">
            VIKTIG! Før du tar i bruk noen av verktøyene nedenfor, må du huske at sikkerhet og personvern SKAL ivaretas.
            Sørg derfor
            for at du tester på testmiljøer og lignende som har fiktiv testdata. En av grunnene til dette er at noen av
            utvidelsene
            til nettlesere KAN sende data til servere utenfor Elvia.

        </div>
    </div>

    <h3>Manual analysis</h3>
    <p>Det finnes flere forskjellige skjermlesere. Vi anbefaler at du tester med en eller flere skjermlesere, og at du i
        tillegg brukertester med noen som bruker skjermleser til daglig.</p>
    <ul>
        <li>TIPS TIPS TIPS</li>
        <li>TIPS TIPS TIPS</li>
        <li>TIPS TIPS TIPS</li>
        <li>TIPS TIPS TIPS</li>
    </ul>

    <h3>Automatic analysis</h3>

    <ul>
        <li>TIPS TIPS TIPS</li>
        <li>TIPS TIPS TIPS</li>
        <li>TIPS TIPS TIPS</li>
        <li>TIPS TIPS TIPS</li>
    </ul>

    <h3>Word Blindness</h3>
    <ul>
        <li>TIPS TIPS TIPS</li>
        <li>TIPS TIPS TIPS</li>
    </ul>

    <h3>Contrast</h3>
    <ul>
        <li>TIPS TIPS TIPS</li>
        <li>TIPS TIPS TIPS</li>
        <li>TIPS TIPS TIPS</li>
        <li>TIPS TIPS TIPS</li>
    </ul>

    <h3>Mobile and browser compability</h3>
    <ul>
        <li>TIPS TIPS TIPS</li>
        <li>TIPS TIPS TIPS</li>
        <li>TIPS TIPS TIPS</li>
        <li>TIPS TIPS TIPS</li>
    </ul>

</div>