<!--HEADER-->
<app-component-header>
  <ng-container ngProjectAs="headerTitle">
    UU-Tools
  </ng-container>
  <ng-container ngProjectAs="headerDescription">
    <p class="e-text-body">
      Utkast er basert på NAV sin side om tilgjengelighet: 
      <span class="e-link">https://design.nav.no/accessibility/tools</span>
    </p>
  </ng-container>
  
</app-component-header>

<!--BODY-->
<div class="page-body">
  <div class="elvia-factbox is-warn ">
    <div class="elvia-factbox-icon">
      <i class="e-icon-alert-circle e-icon--sm"></i>
    </div>
    <div class="elvia-factbox-content">
      VIKTIG! Før du tar i bruk noen av verktøyene nedenfor, må du huske at
      sikkerhet og personvern SKAL ivaretas. Sørg derfor for at du tester på
      testmiljøer og lignende som har fiktiv testdata. En av grunnene til dette
      er at noen av utvidelsene til nettlesere KAN sende data til servere
      utenfor Elvia.
    </div>
  </div>

  <h2 class="e-title-md">Manual analysis</h2>
  <p class="e-text-body">
    Det finnes flere forskjellige skjermlesere. Vi anbefaler at du tester med en
    eller flere skjermlesere, og at du i tillegg brukertester med noen som
    bruker skjermleser til daglig.
  </p>
  <ul>
    <li>TIPS TIPS TIPS</li>
    <li>TIPS TIPS TIPS</li>
    <li>TIPS TIPS TIPS</li>
    <li>TIPS TIPS TIPS</li>
  </ul>

  <h3 class="e-title-sm">Automatic analysis</h3>
  <ul>
    <li>TIPS TIPS TIPS</li>
    <li>TIPS TIPS TIPS</li>
    <li>TIPS TIPS TIPS</li>
    <li>TIPS TIPS TIPS</li>
  </ul>

  <h3 class="e-title-sm">Word Blindness</h3>
  <ul>
    <li>TIPS TIPS TIPS</li>
    <li>TIPS TIPS TIPS</li>
  </ul>

  <h3 class="e-title-sm">Contrast</h3>
  <ul>
    <li>TIPS TIPS TIPS</li>
    <li>TIPS TIPS TIPS</li>
    <li>TIPS TIPS TIPS</li>
    <li>TIPS TIPS TIPS</li>
  </ul>

  <h3 class="e-title-sm">Mobile and browser compability</h3>
  <ul>
    <li>TIPS TIPS TIPS</li>
    <li>TIPS TIPS TIPS</li>
    <li>TIPS TIPS TIPS</li>
    <li>TIPS TIPS TIPS</li>
  </ul>
</div>
