/* Code highlighter */
@use 'prismjs/plugins/toolbar/prism-toolbar';
@use 'prismjs/themes/prism-okaidia';

@use 'app/shared/shared-sizes' as sizes;
@use 'app/shared/shared-animations' as animation;

/* Elvia Styleguide */
@use '@elvia/elvis/src/main.scss';
@use '@elvia/elvis/src/utilities/breakpoints.scss' as breakpoints;
@use '@elvia/elvis/src/variables/typography.scss' as typography;

// Prebuilt css for enabling use of overlays from @angular/cdk
@import '@angular/cdk/overlay-prebuilt.css';

// Normalizer for website
::selection {
  background: var(--e-green);
  color: var(--e-black);
}

body {
  margin: 0;
  font-family: 'Red Hat Text', Verdana, sans-serif;
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 40px 0;
}

// Shared classes
.component-preview-temp {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 56px;
  &.v2 {
    align-items: flex-start;
    .component-preview-temp-example {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 340px;
      max-width: 788px;
      padding: 40px;
      border: 1px solid var(--e-grey-10);
      border-radius: 8px;
    }
  }
}

code,
.code-text {
  font-family: 'Red Hat Mono', Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: inherit;
  overflow: auto;

  background: var(--e-grey-05);
  border-radius: 4px;
  padding: 0 2px;
}

kbd,
.keyboard-button {
  padding: 6px 16px;
  margin-right: 8px;
  border: 1px solid black;
  border-radius: 64px;
  @include typography.typography('text-sm');
  &:not(:first-of-type) {
    margin: 0 8px;
  }
  &.icon {
    padding: 9px 16px 4px 16px;
  }
}

.accessibility-keyboard-navigation {
  line-height: 34px;
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

.page-body {
  width: 90%;
  min-width: 20rem;
  max-width: 55rem;
  &.overview {
    max-width: 65rem;
    @media (min-width: 1800px) {
      max-width: 75rem;
    }
  }
  @include breakpoints.breakpoint-up(MinDesktop) {
    margin: 0 auto;
  }
}

.overview-page-title-container {
  @include breakpoints.breakpoint-up(Tablet) {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.overview-page-title-size {
  @include breakpoints.breakpoint-up(Tablet) {
    display: flex;
    width: 100%;
    padding: 0px;
    max-width: 522px;
    margin-left: -8px;
    margin-bottom: 20px;
  }
  @media (max-width: 414px) {
    padding-left: 24px;
  }
}

.components-overview-cards,
.overview-action-link {
  display: grid;
  column-gap: 32px;
  row-gap: 48px;
  grid-template-columns: repeat(auto-fit, minmax(154px, 1fr));
  grid-template-rows: auto;

  @include breakpoints.breakpoint-up(MaxDesktop) {
    column-gap: 24px;
    row-gap: 40px;
  }

  @include breakpoints.breakpoint-up(Tablet) {
    display: none;
  }
}

.overview-page {
  .illustration-placement {
    margin: -24px 0;
    @media (min-width: 1600px) {
      margin-top: 0px;
      margin-bottom: 40px;
    }
    @include breakpoints.breakpoint-up(MinDesktop) {
      margin: 0;
    }
  }
  .illustration-container {
    display: grid;
    place-items: center;

    @include breakpoints.breakpoint-up(Mobile) {
      display: none;
    }

    .content-loader-padding {
      width: 100%;
      padding-bottom: 42.363%;
      position: relative;
      @include breakpoints.breakpoint-up(MinDesktop) {
        padding-bottom: 45.863%;
      }
    }
    .illustration {
      width: 60.5%;
      transition: width ease-in 250ms;

      @include breakpoints.breakpoint-up(MinDesktop) {
        width: 65.5%;
        transition: width ease-in 250ms;
      }
    }

    .e-content-loader {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      margin: auto;
      padding: 56px;
      padding-top: 72px;
      @include breakpoints.breakpoint-up(MinDesktop) {
        padding: 16px;
        padding-top: 54px;
      }
    }
  }
  .overview-description {
    text-align: center;
    font-family: 'Red Hat Text', Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 160%;
    @media (min-width: 1450px) {
      font-size: 24px;
      line-height: 160%;
    }
    @include breakpoints.breakpoint-up(Tablet) {
      display: none;
    }
  }
  .phone-overview {
    display: none;
    @include breakpoints.breakpoint-up(Tablet) {
      display: block;
    }
  }
  .desktop-overview {
    @include breakpoints.breakpoint-up(Tablet) {
      display: none;
    }
  }
}

// Changelog
.changelog-row {
  font-family: 'Red Hat Text', Verdana, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 32px;
  display: flex;
  flex-direction: row;
  padding: 40px 0;
  column-gap: 24px;
  @include breakpoints.breakpoint-up(Mobile) {
    flex-direction: column;
    row-gap: 16px;
  }
  &:not(:last-of-type) {
    border-bottom: 1px solid var(--e-grey-10);
  }
  &--skipped {
    padding: 0;
  }
}

.changelog-date {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  .changelog-date-span {
    white-space: nowrap;
    color: var(--e-grey-80);
  }
  @-moz-document url-prefix() {
    .changelog-date-span {
      margin-top: 0;
    }
  }
  @include breakpoints.breakpoint-up(Mobile) {
    width: 100%;
  }
}

.changelog-content {
  display: flex;
  row-gap: 24px;
  flex-direction: column;
  word-wrap: anywhere;

  @include breakpoints.breakpoint-up(Mobile) {
    width: 100%;
  }

  .changelog-section-title {
    font-weight: 500;
  }
  .changelog-section-margin {
    margin-left: 16px;
  }
  .changelog-code {
    font-size: 14px !important;
    line-height: 21px !important;
  }
}

// Display examples
.display-container {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -30px;

  .display-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    width: 172px;
    .display-text-content {
      width: 100%;
    }

    .sub-title {
      width: 50%;
      color: black;
    }
    .sub-content {
      width: 50%;
      color: #000;
    }

    &-circle {
      margin: auto;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 2px solid transparent;
      display: flex;
      justify-content: center;
      align-items: center;

      &.primary {
        width: 160px;
        height: 160px;
      }
    }

    @media (max-width: 494px) {
      flex-direction: row;
      width: 100%;
      .display-text-content {
        margin-left: 32px;
      }
      &-circle.primary {
        width: 120px;
        height: 120px;
      }
    }

    &-square {
      margin: auto;
      margin-top: 10px;
      border: 2px solid transparent;
    }

    &-sub-title {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px 0;
      &:first-of-type {
        padding-top: 26px;
      }
      width: 100%;
      border-bottom: 1px solid var(--e-grey-10);
    }
    &-sub-title {
      color: var(--e-grey-80);
    }

    .contrast-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      .e-icon {
        margin-right: 8px;
      }
    }

    &-variable {
      height: 15%;
      margin: 5px 0;
    }
  }
}

// Page Animations - Fade in
// Components
.component-header-description-animation {
  @include animation.ease-in-opacity(0.2s, 0.1s);
}
.component-preview-animation {
  @include animation.ease-in-opacity(0.2s, 0.2s);
}
.documentation-section-animation {
  @include animation.ease-in-opacity(0.3s, 0.2s);
}
// Overview pages
.components-overview-cards-animation {
  @include animation.ease-in-out-opacity(0.4s, 0.2s);
}
.overview-illustration-animation {
  @include animation.ease-in-out-opacity(0.4s, 0.2s);
}
.overview-description-animation {
  @include animation.ease-in-out-opacity(0.4s, 0.4s);
}
// Home page
.home-image-animation {
  @include animation.ease-in-out-opacity(0.6s, 0.28s);
}
.home-text-animation {
  @include animation.ease-in-out-opacity(0.6s, 0.6s);
}
.home-card-links-animation {
  @include animation.ease-in-out-opacity(0.6s, 0.8s);
}

// Typography - specific for doc
.big-header {
  font-family: 'Red Hat Display', Verdana, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 120%;
  @include breakpoints.breakpoint-up(Mobile) {
    font-size: 32px;
  }
}

hr {
  border: 1px solid black;
}
