/* Code highlighter */
@use 'prismjs/plugins/toolbar/prism-toolbar';
@use 'prismjs/themes/prism-okaidia';

@use 'app/shared/shared-animations' as animation;

/* Elvia Styleguide */
@use '@elvia/elvis/src/main.scss';
@use '@elvia/elvis/src/utilities/breakpoints.scss' as breakpoints;
@use '@elvia/elvis/src/variables/typography.scss' as typography;
@use './typography-utils.scss';

// Prebuilt css for enabling use of overlays from @angular/cdk
@import '@angular/cdk/overlay-prebuilt.css';

// Normalizer for website
::selection {
  background: var(--e-green);
  color: var(--e-black);
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  margin: 0;
  min-height: 100vh;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

// Shared classes
.component-preview-temp {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 56px;
}

.accessibility-keyboard-navigation {
  line-height: 34px;
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

.page-body {
  width: 90%;
  min-width: 20rem;
  max-width: 55rem;
  &.overview {
    max-width: 65rem;
    @media (min-width: 1800px) {
      max-width: 75rem;
    }
  }
  @include breakpoints.breakpoint-up(MinDesktop) {
    margin: 0 auto;
  }
}

// Display examples
.display-container {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -30px;

  .display-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    width: 172px;
    .display-text-content {
      width: 100%;
    }

    .sub-title {
      width: 50%;
      color: black;
    }
    .sub-content {
      width: 50%;
      color: #000;
    }

    &-circle {
      margin: auto;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 2px solid transparent;
      display: flex;
      justify-content: center;
      align-items: center;

      &.primary {
        width: 160px;
        height: 160px;
      }
    }

    @media (max-width: 494px) {
      flex-direction: row;
      width: 100%;
      .display-text-content {
        margin-left: 32px;
      }
      &-circle.primary {
        width: 120px;
        height: 120px;
      }
    }

    &-square {
      margin: auto;
      margin-top: 10px;
      border: 2px solid transparent;
    }

    &-sub-title {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px 0;
      &:first-of-type {
        padding-top: 26px;
      }
      width: 100%;
      border-bottom: 1px solid var(--e-grey-10);
    }
    &-sub-title {
      color: var(--e-grey-80);
    }

    .contrast-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      .e-icon {
        margin-right: 8px;
      }
    }

    &-variable {
      height: 15%;
      margin: 5px 0;
    }
  }
}

// Page Animations - Fade in
// Components
.component-preview-animation {
  @include animation.ease-in-opacity(0.2s, 0.2s);
}

.documentation-section-animation {
  @include animation.ease-in-opacity(0.3s, 0.2s);
}

// Landing page
.components-overview-cards {
  @include animation.ease-in-out-opacity(0.4s, 0.2s);

  display: grid;
  column-gap: 32px;
  row-gap: 48px;
  grid-template-columns: repeat(auto-fit, minmax(154px, 1fr));
  grid-template-rows: auto;

  @include breakpoints.breakpoint-up(MaxDesktop) {
    column-gap: 24px;
    row-gap: 40px;
  }

  @include breakpoints.breakpoint-up(Tablet) {
    display: none;
  }
}

// Typography - specific for doc
.big-header {
  font-family: 'Red Hat Display', Verdana, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 120%;
  @include breakpoints.breakpoint-up(Mobile) {
    font-size: 32px;
  }
}
