/* Code highlighter */
@use 'prismjs/plugins/toolbar/prism-toolbar';
@use 'prismjs/themes/prism-okaidia';

@use 'app/shared/shared-animations' as animation;

/* Elvia Styleguide */
@use '@elvia/elvis/src/main.scss';
@use '@elvia/elvis/src/utilities/breakpoints.scss' as breakpoints;
@use './typography.scss';

// Prebuilt css for enabling use of overlays from @angular/cdk
@import '@angular/cdk/overlay-prebuilt.css';

// Normalizer for website
::selection {
  background: var(--e-color-brand-accent);
  color: var(--e-color-brand-accent--contrast);
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: inherit;
}

.theme-image-padding {
  background: var(--e-light-theme-white);
  padding: 16px;
  border-radius: 8px;
}

.accessibility-keyboard-navigation {
  line-height: 34px;
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

.page-body {
  width: 90%;
  min-width: 16rem;
  max-width: 55rem;
  &.overview {
    max-width: 65rem;
    @media (min-width: 1800px) {
      max-width: 75rem;
    }
  }
  @include breakpoints.breakpoint-up(MinDesktop) {
    margin: 0 auto;
  }
}

// TODO: This can be moved to layout-doc.component.scss when the old color doc and old shadow doc has been removed
// Some of the classes can also be removed.
.display-container {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -30px;

  .display-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    width: 172px;
    .display-text-content {
      width: 100%;
    }

    .sub-title {
      width: 50%;
      color: var(--e-color-text-1);
    }
    .sub-content {
      width: 50%;
      color: var(--e-color-text-1);
    }

    &-circle {
      margin: auto;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 2px solid transparent;
      display: flex;
      justify-content: center;
      align-items: center;

      &.primary {
        width: 160px;
        height: 160px;
      }
    }

    @media (max-width: 494px) {
      flex-direction: row;
      width: 100%;
      .display-text-content {
        margin-left: 32px;
      }
      &-circle.primary {
        width: 120px;
        height: 120px;
      }
    }

    &-square {
      margin: auto;
      margin-top: 10px;
      border: 2px solid transparent;
    }

    &-sub-title {
      color: var(--e-color-text-2);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px 0;
      &:first-of-type {
        padding-top: 26px;
      }
      width: 100%;
      border-bottom: 1px solid var(--e-color-border-2);
    }

    &-variable {
      height: 15%;
      margin: 5px 0;
    }
  }
}

.documentation-section-animation {
  @include animation.ease-in-opacity(0.3s, 0.2s);
}

.components-overview-cards {
  @include animation.ease-in-out-opacity(0.4s, 0.2s);

  display: grid;
  column-gap: 32px;
  row-gap: 48px;
  grid-template-columns: repeat(auto-fit, minmax(154px, 1fr));
  grid-template-rows: auto;

  @include breakpoints.breakpoint-up(MaxDesktop) {
    column-gap: 24px;
    row-gap: 40px;
  }

  @include breakpoints.breakpoint-up(Tablet) {
    display: none;
  }
}
