:host {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

legend {
  padding: 0;
  border: none;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.fieldset-legend {
  margin-bottom: 4px;
}
