@use '@elvia/elvis/src/utilities/breakpoints.scss' as breakpoints;

.header-img {
  display: block;
  width: 80%;
  margin: auto;
  transition: width 250ms ease-in;

  @include breakpoints.breakpoint-up(Tablet) {
    width: 90%;
  }

  @include breakpoints.breakpoint-up(Mobile) {
    width: 100%;
  }
}
