@use '@elvia/elvis/src/utilities/breakpoints.scss' as breakpoints;

.page-body {
  display: flex;
  justify-content: center;
  .contact-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 128px 8vw;
    @include breakpoints.breakpoint-up(Mobile) {
      grid-template-columns: repeat(1, 1fr);
      gap: 0;
    }
  }
  .contact-profile-container {
    display: flex;
    height: 479px;
    position: relative;
    @include breakpoints.breakpoint-up(Mobile) {
      height: unset;
      justify-content: center;
      &:not(:last-of-type) .contact-profile {
        margin-bottom: 72px;
      }
    }
  }
  .contact-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    &.odd {
      margin-top: 314px;
      @include breakpoints.breakpoint-up(Mobile) {
        margin-top: initial;
      }
      .profile-emoji {
        left: 314px - 36px - 58px;
        @include breakpoints.breakpoint-up(Mobile) {
          left: 186px - 44px;
        }
      }
    }
    .profile-emoji {
      font-size: 58px;
      position: absolute;
      top: 5px;
      left: 36px;
      user-select: none;
      z-index: 1;
      @include breakpoints.breakpoint-up(Mobile) {
        font-size: 44px;
        left: 186px - 44px;
      }
    }
    .profile-image-loader {
      width: 314px;
      height: 314px;
      @include breakpoints.breakpoint-up(Mobile) {
        width: 186px;
        height: 186px;
      }
    }
    .profile-image {
      max-width: 314px;
      border-radius: 100%;
      filter: grayscale(100%);
      @include breakpoints.breakpoint-up(Mobile) {
        max-width: 186px;
      }
    }
    .profile-info {
      margin-top: 32px;
      text-align: center;
      z-index: 1;
      .profile-slack-button {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.criticallyImportantStyle {
  animation: exceptionallyImportantAnimation 800ms;
}

@keyframes exceptionallyImportantAnimation {
  0% {
    opacity: 1;
    transform: rotate3d(0deg);
  }

  50% {
    opacity: 0;
    transform: rotate3d(1, 0, 1, 360deg);
  }

  100% {
    opacity: 1;
    transform: rotate3d(0deg);
    transform: scale3d(2, 2, 2);
  }
}
