@import '@elvia/elvis/src/utilities/breakpoints.scss';

.page-body {
  margin-top: 104px;
  @include breakpoint-up(Mobile) {
    margin-top: 72px;
  }
  .contact-profile-container {
    display: flex;
    height: 479px;
    position: relative;
    @include breakpoint-up(Mobile) {
      height: unset;
      justify-content: center;
      &:not(:last-of-type) .contact-profile {
        margin-bottom: 72px;
      }
    }
    &.trygve {
      margin-top: -270px;
    }
    &.viljar {
      margin-top: -80px;
    }
    &.martin {
      margin-top: -230px;
    }
    &.hilde {
      margin-top: -100px;
    }
    &.trygve,
    &.viljar,
    &.martin,
    &.hilde {
      @media (max-width: 1300px) {
        margin-top: 40px;
      }
      @include breakpoint-up(Tablet) {
        margin-top: -120px;
      }
      @include breakpoint-up(Mobile) {
        margin-top: 0px;
      }
    }
  }
  .contact-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    position: absolute;
    @include breakpoint-up(Mobile) {
      position: relative;
    }
    .profile-emoji {
      font-size: 58px;
      position: absolute;
      top: 5px;
      left: 36px;
      @include breakpoint-up(Mobile) {
        font-size: 44px;
        left: 186px - 44px;
      }
      &.right {
        left: 314px - 36px - 58px;
        @include breakpoint-up(Mobile) {
          left: 186px - 44px;
        }
      }
    }
    .profile-image-loader {
      width: 314px;
      height: 314px;
      @include breakpoint-up(Mobile) {
        width: 186px;
        height: 186px;
      }
    }
    .profile-image {
      max-width: 314px;
      @include breakpoint-up(Mobile) {
        max-width: 186px;
      }
    }
    .profile-info {
      margin-top: 32px;
      text-align: center;
      z-index: 1;
      .profile-links {
        display: flex;
        justify-content: center;
        align-items: center;
        .profile-figma-image {
          margin-right: 8px;
          img {
            height: 24px;
          }
        }
      }
    }

    &.viljar {
      right: 7%;
      @media (max-width: 1300px) {
        right: 0px;
      }
    }
    &.fride {
      right: -6%;
      @include breakpoint-up(Mobile) {
        left: 0px;
      }
    }
    &.martin {
      right: -6%;
      @media (max-width: 1300px) {
        right: 0px;
      }
    }
  }
}
