@import '@elvia/elvis/src/utilities/breakpoints.scss';

:host {
  width: 100%;
}

@mixin first-col {
  width: 80%;
  @include breakpoint-up(Mobile) {
    width: 70%;
  }
}
@mixin second-col {
  width: 20%;
  @include breakpoint-up(Mobile) {
    width: 30%;
  }
}

.ceg-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .ceg-row-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 340px;

    .ceg-col-1 {
      @include first-col;
    }
    .ceg-col-2 {
      @include second-col;
    }
  }
  .ceg-row-2 {
    @include first-col;
  }
  .ceg-full-row {
    width: 100%;
  }

  &.full-width .ceg-row-2,
  &.full-width .ceg-col-1 {
    width: 100% !important;
  }

  .ceg-code-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 40px;
    border: 1px solid var(--e-grey-10);
    border-radius: 8px;
    .ceg-frame {
      text-align: center;
      width: 100%;
      height: 0;
    }
  }
}
