@import '@elvia/elvis/src/utilities/breakpoints.scss';

:host {
  width: 100%;
}

@mixin first-col {
  width: 80%;
  @include breakpoint-up(Mobile) {
    width: 70%;
  }
}
@mixin second-col {
  width: 20%;
  @include breakpoint-up(Mobile) {
    width: 30%;
  }
}
@mixin full-col {
  width: 100%;
}

.ceg-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .ceg-top-filters {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    margin-bottom: 24px;
    @include first-col;
    &.no-side-filters {
      @include full-col;
    }
    .ceg-dropdown {
      width: 50%;
      &:first-of-type {
        margin-right: 12px;
      }
      &:last-of-type {
        margin-left: 12px;
      }
    }
  }

  .ceg-row-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 340px;
    .ceg-col-1 {
      @include first-col;
      &.no-side-filters {
        @include full-col;
      }
    }
    .ceg-col-2 {
      @include second-col;
    }
  }
  .ceg-row-2 {
    @include first-col;
    &.no-side-filters {
      @include full-col;
    }
  }

  &.full-width .ceg-row-2,
  &.full-width .ceg-col-1 {
    width: 100% !important;
  }

  .ceg-code-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 40px;
    border: 1px solid var(--e-grey-10);
    border-radius: 8px;

    @include breakpoint-up(Mobile) {
      padding: 24px;
    }

    &.ceg-code-preview--accordion {
      align-items: flex-start;
      padding-top: 80px;
      @include breakpoint-up(Mobile) {
        padding-top: 40px;
      }
      @include breakpoint-up(Tablet) {
        padding-top: 48px;
      }
    }

    .ceg-frame {
      display: flex;
      justify-content: center;
      align-items: center;
      &.aligned-top {
        align-items: flex-start;
      }
      width: 100%;
      height: 0;
    }
  }
}
