.e-title-lg {
  font-family: 'Red Hat Display', Verdana, sans-serif;
  font-size: 44px;
  line-height: 53px;
  font-weight: 900;
  font-style: unset;
  letter-spacing: unset;
  text-transform: unset;
  color: inherit;
}
@media (max-width: 767px) {
  .e-title-lg {
    font-size: 32px;
    line-height: 34px;
  }
}

.e-title-md {
  font-family: 'Red Hat Display', Verdana, sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  font-style: unset;
  letter-spacing: unset;
  text-transform: unset;
  color: inherit;
}
@media (max-width: 767px) {
  .e-title-md {
    font-size: 24px;
    line-height: 29px;
  }
}

.e-title-sm {
  font-family: 'Red Hat Display', Verdana, sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  font-style: unset;
  letter-spacing: unset;
  text-transform: unset;
  color: inherit;
}
@media (max-width: 767px) {
  .e-title-sm {
    font-size: 20px;
    line-height: 24px;
  }
}

.e-title-xs {
  font-family: 'Red Hat Display', Verdana, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  font-style: unset;
  letter-spacing: unset;
  text-transform: unset;
  color: inherit;
}
.e-text-caps {
  font-family: 'Red Hat Text', Verdana, sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  font-style: unset;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: inherit;
}
.e-text-caps b,
.e-text-caps strong {
  font-weight: 500;
}

.e-title-caps {
  font-family: 'Red Hat Text', Verdana, sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  font-style: unset;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: inherit;
}
.e-text-lead {
  font-family: 'Red Hat Text', Verdana, sans-serif;
  font-size: 24px;
  line-height: 39px;
  font-weight: 400;
  font-style: unset;
  letter-spacing: unset;
  text-transform: unset;
  color: inherit;
}
@media (max-width: 767px) {
  .e-text-lead {
    font-size: 22px;
    line-height: 36px;
  }
}

.e-text-lead b,
.e-text-lead strong {
  font-weight: 500;
}

.e-text-body {
  font-family: 'Red Hat Text', Verdana, sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  font-style: unset;
  letter-spacing: unset;
  text-transform: unset;
  color: inherit;
}
@media (max-width: 767px) {
  .e-text-body {
    font-size: 18px;
    line-height: 29px;
  }
}

.e-text-body b,
.e-text-body strong {
  font-weight: 500;
}

.e-text-lg {
  font-family: 'Red Hat Text', Verdana, sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  font-style: unset;
  letter-spacing: unset;
  text-transform: unset;
  color: inherit;
}
@media (max-width: 767px) {
  .e-text-lg {
    font-size: 18px;
    line-height: 29px;
  }
}

.e-text-lg b,
.e-text-lg strong {
  font-weight: 500;
}

.e-text-lg-strong {
  font-family: 'Red Hat Text', Verdana, sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  font-style: unset;
  letter-spacing: unset;
  text-transform: unset;
  color: inherit;
}
@media (max-width: 767px) {
  .e-text-lg-strong {
    font-size: 18px;
    line-height: 29px;
  }
}

.e-text-lg-strong b,
.e-text-lg-strong strong {
  font-weight: 500;
}

.e-text-lg-light {
  font-family: 'Red Hat Text', Verdana, sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  font-style: unset;
  letter-spacing: unset;
  text-transform: unset;
  color: #515151;
}
@media (max-width: 767px) {
  .e-text-lg-light {
    font-size: 18px;
    line-height: 29px;
  }
}

.e-text-lg-light b,
.e-text-lg-light strong {
  font-weight: 500;
}

.e-text-description {
  font-family: 'Red Hat Text', Verdana, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  font-style: unset;
  letter-spacing: unset;
  text-transform: unset;
  color: inherit;
}
.e-text-description b,
.e-text-description strong {
  font-weight: 500;
}

.e-text-md {
  font-family: 'Red Hat Text', Verdana, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  font-style: unset;
  letter-spacing: unset;
  text-transform: unset;
  color: inherit;
}
.e-text-md b,
.e-text-md strong {
  font-weight: 500;
}

.e-text-md-strong {
  font-family: 'Red Hat Text', Verdana, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  font-style: unset;
  letter-spacing: unset;
  text-transform: unset;
  color: inherit;
}
.e-text-md-strong b,
.e-text-md-strong strong {
  font-weight: 500;
}

.e-text-md-light {
  font-family: 'Red Hat Text', Verdana, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  font-style: unset;
  letter-spacing: unset;
  text-transform: unset;
  color: #515151;
}
.e-text-md-light b,
.e-text-md-light strong {
  font-weight: 500;
}

.e-text-info {
  font-family: 'Red Hat Text', Verdana, sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-style: unset;
  letter-spacing: unset;
  text-transform: unset;
  color: inherit;
}
.e-text-info b,
.e-text-info strong {
  font-weight: 500;
}

.e-text-sm {
  font-family: 'Red Hat Text', Verdana, sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-style: unset;
  letter-spacing: unset;
  text-transform: unset;
  color: inherit;
}
.e-text-sm b,
.e-text-sm strong {
  font-weight: 500;
}

.e-text-sm-strong {
  font-family: 'Red Hat Text', Verdana, sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  font-style: unset;
  letter-spacing: unset;
  text-transform: unset;
  color: inherit;
}
.e-text-sm-strong b,
.e-text-sm-strong strong {
  font-weight: 500;
}

.e-text-sm-light {
  font-family: 'Red Hat Text', Verdana, sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-style: unset;
  letter-spacing: unset;
  text-transform: unset;
  color: #515151;
}
.e-text-sm-light b,
.e-text-sm-light strong {
  font-weight: 500;
}

.e-text-micro {
  font-family: 'Red Hat Text', Verdana, sans-serif;
  font-size: 11px;
  line-height: 14px;
  font-weight: 400;
  font-style: unset;
  letter-spacing: 0.2px;
  text-transform: unset;
  color: inherit;
}
.e-text-micro b,
.e-text-micro strong {
  font-weight: 500;
}

.e-text-micro-strong {
  font-family: 'Red Hat Text', Verdana, sans-serif;
  font-size: 11px;
  line-height: 14px;
  font-weight: 500;
  font-style: unset;
  letter-spacing: 0.2px;
  text-transform: unset;
  color: inherit;
}
.e-text-micro-strong b,
.e-text-micro-strong strong {
  font-weight: 500;
}

.e-text-quote {
  font-family: 'Red Hat Text', Verdana, sans-serif;
  font-size: 26px;
  line-height: 42px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: unset;
  text-transform: unset;
  color: inherit;
}
@media (max-width: 767px) {
  .e-text-quote {
    font-size: 20px;
    line-height: 32px;
  }
}

.e-text-quote b,
.e-text-quote strong {
  font-weight: 500;
}

.e-text-img {
  font-family: 'Red Hat Text', Verdana, sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 29px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: unset;
  text-transform: unset;
  color: inherit;
}
@media (max-width: 767px) {
  .e-text-img {
    font-size: 16px;
    line-height: 26px;
  }
}

.e-text-img b,
.e-text-img strong {
  font-weight: 500;
}

// Classses below are deprecated from version 1.0.0
// Not removed as might still be in use by some applications
// The design system should not use these but instead define the typography directly in those components

.e-text-label {
  font-family: 'Red Hat Text', Verdana, sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 500;
  font-style: unset;
  letter-spacing: unset;
  text-transform: unset;
  color: inherit;
}
.e-text-label b,
.e-text-label strong {
  font-weight: 500;
}

.e-text-option {
  font-family: 'Red Hat Text', Verdana, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-style: unset;
  letter-spacing: unset;
  text-transform: unset;
  color: inherit;
}
.e-text-option b,
.e-text-option strong {
  font-weight: 500;
}
