<ul class="navbar e-border-r e-pb-4">
  <section>
    <ul class="navbar-list">
      <a
        [routerLink]="['overview-accessibility-doc']"
      
      >
        <h2 class="navbar-list-header e-pl-2">Accessibility</h2>
      </a>
      <li
        class="navbar-item e-text-body"
        *ngFor="let navbarItem of eAccessibility"
      >
        <a
          [routerLink]="[navbarItem.docUrl]"
          routerLinkActive="active"
        >
          <div class="navbar-item-title">
            {{ navbarItem.title }}
          </div>
        </a>
      </li>
    </ul>
  </section>
</ul>