<div class="page-container">
    <h2>Alt-Text</h2>
    <h3 class="header-secondary">Utkast er basert på NAV sin side om tilgjengelighet : https://design.nav.no/accessibility/alt-text</h3>

    <p>Alle meningsbærende bilder skal ha en beskrivende alt-tekst.</p>

    <h3>Hva er en alt-tekst?</h3>
    <p>En alt-tekst (kort for alternativ tekst) er en tekst som vises eller leses opp når bildet ikke vises for brukeren. Dette
    kan være fordi:</p>

    <ul>
        <li>123</li>
        <li>123</li>
        <li>123</li>
        <li>123</li>
        <li>123</li>
    </ul>

    <div>
        FACTBOX
    </div>

    <h3>Bilder uten tekst</h3>
    <p>
        Bilder som ikke er meningsbærende (for eksempel bare til pynt eller overflødig) skal ikke ha noe alt-text, men husk å gi
        dem et tomt alt-attributt:
    </p>
    <div>
        PICTURE EXAMPLE
    </div>
    <div>
        Warning box
    </div>

    <h3>Er bildet meningsbærende</h3>
    <p>
        Det er ikke alltid enkelt å vite om bildet er meningsbærende eller rent dekorativt.
    </p>
    <p>
        En god start kan være å «leke skjermleser»: prøv å les opp siden som den skulle blitt lest for en bruker med
        skjermleser. Går brukeren glipp av relevant informasjon hvis du hopper over bildene?
    </p>
    <p>
        Hvis bildene bare gjentar informasjon som er tilgjengelig i nærheten som ren tekst er alt-tekster på disse overfødig.
    </p>

 <div>
     WCAG3 example container with picture and link
 </div>
 <h3>How to write alt-text</h3>
 <div>
     Container for links
     <div>link box to tips and trix</div>
     <div>E læringskurs for skribenter og redaktører(DIFI)</div>
 </div>

</div>