.hex.dark::before {
  background-color: var(--e-dark-theme-green);
}

.split-arrow-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  width: fit-content;
  padding: 16px 0;

  .horizontal-line {
    margin-right: 4px;
  }

  .horizontal-line.align-bottom {
    grid-row: 2;
  }

  .arrow {
    grid-column: 3;
  }
}
