body {
  margin: 0;
  background-color: var(--e-color-background-2);
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.components-examples {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.example-wrapper {
  padding: 32px 32px 72px;

  &:not(:first-child) {
    border-top: 1px solid var(--e-color-border-hover-1);
  }
}
