.phone {
  position: relative;
  margin: auto;
  padding: 64px 24px;
  border-radius: 50px;
  border: 12px solid var(--e-grey-80);
  width: 400px;
  height: 630px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__notch {
    position: absolute;
    top: -1px;
    padding-top: 5px;
    left: 22%;
    width: 56%;
    height: 27px;
    background-color: var(--e-grey-80);
    border-radius: 0px 0px 20px 20px;
    display: flex;
    justify-content: center;

    .speaker {
      border-radius: 15%;
      width: 25%;
      height: 7px;
      margin-right: 5px;
      background-color: var(--e-grey);
    }
  }

  &__camera {
    position: absolute;
    top: 5px;
    right: 38%;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: var(--e-grey);
  }

  &__elvia,
  &__time {
    position: absolute;
    top: 15px;
    font-family: 'Red Hat Display', Verdana, sans-serif;
    font-size: 14px;
    font-weight: 700;
  }

  &__elvia {
    left: 25px;
  }

  &__time {
    right: 25px;
  }
}

.phone__content {
  height: 100%;
  overflow-y: auto;
  padding: 1px;
}
