@use "../utilities/icons";
@use "../variables/colors";
@use "../variables/typography";
@use '../utilities/helpers';

.e-accordion {
  display: inline-flex;
  width: 100%;

  &__item {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;

    .e-accordion__title {
      display: flex;
      font-family: 'Red Hat Display';
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;

      padding-right: 8px;
      max-width: 80%;
    }
    .e-accordion__icon {
      @keyframes rotate-center-forward {
        0% {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
        }
        100% {
          -webkit-transform: rotate(0);
          transform: rotate(0);
        }
      }
      animation: rotate-center-forward 0.2s ease-in-out both;

      display: flex;
      @include icons.icon-size('sm');
      i[class*='expand_circle-filled-color'] {
        display: none;
      }
    }

    .e-accordion__content {
      max-height: 0;
      opacity: 0;
      padding-top: 0;
      @include helpers.transition(max-height 0.18s cubic-bezier(0, 0.18, 0.9, 1));
      @include helpers.transition(opacity 0.17s cubic-bezier(0.4, 0.01, 0.78, 1.1));
      @include helpers.transition(padding-top 0.18s cubic-bezier(0, 0.18, 1, 1));
      display: flex;
      width: 100%;
      flex-direction: column;
      pointer-events: none;
      overflow: hidden;
      @include typography.typography('text-body');
    }

    &.e-accordion__item--open {
      .e-accordion__icon {
        @keyframes rotate-center-back {
          0% {
            -webkit-transform: rotate(0);
            transform: rotate(0);
          }
          100% {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
          }
        }
        animation: rotate-center-back 0.2s ease-in-out both;
      }
      .e-accordion__content {
        pointer-events: auto;
        max-height: 10000px;
        opacity: 1;
        padding-top: 24px;
        transition: all 0.25s cubic-bezier(0.4, 0.01, 0.12, 0.32),
          opacity 0.3s cubic-bezier(0, 0.3, 0.83, 0.97);
        -webkit-transition: all 0.25s cubic-bezier(0.4, 0.01, 0.12, 0.32),
          opacity 0.3s cubic-bezier(0, 0.3, 0.83, 0.97);
        font-size: inherit;
        @include typography.typography('text-body');
      }
    }

    @include helpers.hover() {
      .e-accordion__title:hover,
      .e-accordion__icon:hover {
        cursor: pointer;
      }
      .e-accordion__title:hover + .e-accordion__icon,
      .e-accordion__icon:hover {
        i[class*='expand_circle-color'] {
          display: none;
        }
        i[class*='expand_circle-filled-color'] {
          display: flex;
        }
      }
    }

    .e-accordion__title:active + .e-accordion__icon,
    .e-accordion__icon:active {
      i[class*='expand_circle-color'] {
        display: none;
      }
      i[class*='expand_circle-filled-color'] {
        display: flex;
      }
    }
  }

  &.e-accordion--lg {
    .e-accordion__icon {
      @include icons.icon-size('md');
    }
    .e-accordion__title {
      font-size: 18px;
    }
  }
  &.e-accordion--md {
    .e-accordion__icon {
      @include icons.icon-size('sm');
    }
    .e-accordion__title {
      font-size: 16px;
    }
  }
  &.e-accordion--sm {
    .e-accordion__icon {
      @include icons.icon-size('xs');
    }
    .e-accordion__title {
      font-size: 14px;
    }
  }

  &.e-accordion--single {
    .e-accordion__icon {
      @include icons.icon-size('xs');
    }
    .e-accordion__content {
      padding-top: 0px;
      font-size: 14px;
      line-height: 24px;
    }
    .e-accordion__item.e-accordion__item--open {
      .e-accordion__content {
        padding-top: 16px;
      }
    }
  }

  &.e-accordion--group {
    display: flex;
    flex-direction: column;
    width: 100%;

    .e-accordion__item {
      border-bottom: 1px solid colors.color('grey-10');
      .e-accordion__label {
        display: flex;
        justify-content: space-between;
        padding: 20px 16px 19px 16px;
        width: 100%;

        @include helpers.hover() {
          &:hover {
            cursor: pointer;
            i[class*='expand_circle-color'] {
              display: none;
            }
            i[class*='expand_circle-filled-color'] {
              display: flex;
            }
          }
        }
        .e-accordion__title {
          font-family: 'Red Hat Display';
          font-weight: 500;
          font-size: 20px;
          line-height: 32px;
          margin-right: 8px;
        }
        .e-accordion__icon {
          @include icons.icon-size('md');
        }
      }

      .e-accordion__content {
        padding-left: 19px;
        transition: opacity 0.17s cubic-bezier(0.4, 0.01, 0.78, 1.1),
          padding-top 0.18s cubic-bezier(0, 0.18, 1, 1);
        -webkit-transition: opacity 0.17s cubic-bezier(0.4, 0.01, 0.78, 1.1),
          padding-top 0.18s cubic-bezier(0, 0.18, 1, 1);
      }
    }

    .e-accordion__item--open {
      .e-accordion__item__row {
        border: none;
        padding-bottom: 0px;
      }

      .e-accordion__content {
        padding-bottom: 24px;
      }
    }
  }

  &.e-accordion--center {
    .e-accordion__item {
      justify-content: center;
    }
    .e-accordion__content {
      align-items: center;
    }
  }

  &.e-accordion--end {
    .e-accordion__item {
      justify-content: flex-end;
    }
    .e-accordion__content {
      align-items: flex-end;
    }
  }
}
