@use '../utilities/icons';
@use '../variables/colors';
@use '../variables/typography';
@use '../utilities/helpers';

.e-accordion {
  display: inline-flex;
  width: 100%;

  &__item {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    align-items: center;

    @include helpers.hover() {
      .e-accordion__title:hover,
      .e-accordion__icon:hover {
        cursor: pointer;
      }

      .e-accordion__title.e-accordion__title--no-icon-hover:hover + .e-accordion__icon,
      .e-accordion__icon:hover {
        i[class*='expand_circle-color'] {
          display: flex;
        }

        i[class*='expand_circle-filled-color'] {
          display: none;
        }
      }

      .e-accordion__title:hover + .e-accordion__icon,
      .e-accordion__icon:hover {
        i[class*='expand_circle-color'] {
          display: none;
        }

        i[class*='expand_circle-filled-color'] {
          display: flex;
        }
      }
    }

    .e-accordion__title {
      display: flex;
      max-width: 80%;
      padding-right: 8px;
      font-family: 'Red Hat Display', Verdana, sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      text-align: left;

      &.e-accordion__title--no-icon-hover {
        @include helpers.hover() {
          .e-accordion__title:hover,
          .e-accordion__icon:hover {
            cursor: unset;
          }

          .e-accordion__title:hover + .e-accordion__icon,
          .e-accordion__icon:hover {
            i[class*='expand_circle-color'] {
              display: unset;
            }

            i[class*='expand_circle-filled-color'] {
              display: unset;
            }
          }
        }
      }
    }

    .e-accordion__icon {
      @include icons.icon-size('sm');

      display: flex;
      animation: rotate-center-forward 0.2s ease-in-out both;

      @include helpers.keyframes(rotate-center-forward) {
        0% {
          @include helpers.transform(rotate(180deg));
        }

        100% {
          @include helpers.transform(rotate(0));
        }
      }

      i[class*='expand_circle-filled-color'] {
        display: none;
      }
    }

    .e-accordion__content {
      @include typography.typography('text-lg');
      overflow: hidden;
      width: 100%;
      max-height: 0;
      padding-top: 0;
      opacity: 0;
      pointer-events: none;
      text-align: left;
      transition: max-height 0.18s cubic-bezier(0, 0.18, 0.9, 1);
      transition: opacity 0.17s cubic-bezier(0.4, 0.01, 0.78, 1.1);
      transition: padding-top 0.18s cubic-bezier(0, 0.18, 1, 1);
    }

    &.e-accordion__item--open {
      > .e-accordion__icon,
      > .e-accordion__label > .e-accordion__icon {
        animation: rotate-center-back 0.2s ease-in-out both;

        @include helpers.keyframes(rotate-center-back) {
          0% {
            @include helpers.transform(rotate(0));
          }

          100% {
            @include helpers.transform(rotate(180deg));
          }
        }
      }

      > .e-accordion__content,
      > .e-accordion__label > .e-accordion__content {
        @include typography.typography('text-lg');
        max-height: 10000px;
        padding-top: 24px;
        font-size: inherit;
        opacity: 1;
        pointer-events: auto;
        transition: all 0.25s cubic-bezier(0.4, 0.01, 0.12, 0.32),
          opacity 0.3s cubic-bezier(0, 0.3, 0.83, 0.97);
      }
    }

    .e-accordion__title:active + .e-accordion__icon,
    .e-accordion__icon:active {
      i[class*='expand_circle-color'] {
        display: none;
      }

      i[class*='expand_circle-filled-color'] {
        display: flex;
      }
    }
  }

  &.e-accordion--lg {
    .e-accordion__icon {
      @include icons.icon-size('sm');
    }

    .e-accordion__title {
      font-size: 20px;
    }
  }

  &.e-accordion--md {
    .e-accordion__icon {
      @include icons.icon-size('sm');
    }

    .e-accordion__title {
      font-size: 16px;
    }
  }

  &.e-accordion--sm {
    .e-accordion__icon {
      @include icons.icon-size('xs');
    }

    .e-accordion__title {
      font-size: 14px;
    }
  }

  &.e-accordion--single {
    .e-accordion__icon {
      @include icons.icon-size('xs');
    }

    .e-accordion__content {
      overflow: hidden;
      max-height: 0;
      padding-top: 0;
      font-size: 14px;
      line-height: 24px;
      opacity: 0;
      pointer-events: none;
    }

    .e-accordion__item.e-accordion__item--open {
      .e-accordion__content {
        max-height: 10000px;
        padding-top: 16px;
        font-size: 14px;
        line-height: 24px;
        opacity: 1;
        pointer-events: auto;
        transition: all 0.25s cubic-bezier(0.4, 0.01, 0.12, 0.32),
          opacity 0.3s cubic-bezier(0, 0.3, 0.83, 0.97);
      }
    }
  }

  &.e-accordion--group {
    display: flex;
    width: 100%;
    flex-direction: column;

    .e-accordion__item {
      &:not(:last-of-type) {
        border-bottom: 1px solid colors.color('grey-10');
      }

      .e-accordion__label {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 24px 16px;

        @include helpers.hover() {
          &:hover {
            cursor: pointer;

            i[class*='expand_circle-color'] {
              display: none;
            }

            i[class*='expand_circle-filled-color'] {
              display: flex;
            }
          }
        }

        .e-accordion__title {
          @include typography.typography('text-lg-strong');
          margin-right: 8px;
        }

        .e-accordion__icon {
          @include icons.icon-size('md');
        }
      }

      .e-accordion__content {
        @include typography.typography('text-lg');
        padding-top: 0;
        padding-left: 19px;
        transition: opacity 0.17s cubic-bezier(0.4, 0.01, 0.78, 1.1),
          padding-top 0.18s cubic-bezier(0, 0.18, 1, 1);
      }
    }

    .e-accordion__item--open {
      .e-accordion__item__row {
        padding-bottom: 0;
        border: none;
      }

      .e-accordion__content {
        padding-bottom: 24px;
      }
    }
  }

  &.e-accordion--center {
    .e-accordion__item {
      justify-content: center;
    }

    .e-accordion__content {
      align-items: center;
    }
  }

  &.e-accordion--end {
    .e-accordion__item {
      justify-content: flex-end;
    }

    .e-accordion__content {
      align-items: flex-end;
    }
  }
}
