@use '../utilities/mixins';
@use '../utilities/breakpoints';

.e-alert {
  --alert-color: var(--e-color-signal-danger);

  position: relative; //  To align the close button to the top right corner
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'icon title'
    'icon text';
  gap: 0 24px;
  width: 100%;

  min-width: 270px;
  max-width: 650px;
  padding: 24px 32px 24px 24px;
  border-radius: 8px;
  box-shadow: inset 0 0 0 2px var(--alert-color);

  .e-alert__icon {
    --icon-size: 32px;
    grid-area: icon;

    display: flex;
    align-items: center;
    max-height: calc(var(--icon-size) + 24px);

    > * {
      width: var(--icon-size);
      height: var(--icon-size);
    }
  }

  .e-alert__title {
    grid-area: title;
    align-self: center;

    @include mixins.typography('text-md-strong');
    color: var(--e-color-text-1);
    margin: 0;
  }

  .e-alert__text {
    grid-area: text;
    align-self: center;

    @include mixins.typography('text-md');
    color: var(--e-color-text-1);
    margin: 0;
  }

  .e-alert__actions {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 16px;
    flex-wrap: wrap;
  }

  .e-alert__close {
    position: absolute;
    inset: 8px 8px auto auto;
  }

  ul {
    padding: 0 0 0 17px;
    margin: 8px 0 0;
    list-style: initial;
  }

  @include breakpoints.breakpoint-up(Mobile) {
    grid-template-areas:
      'icon title'
      'text text';
    gap: 8px;
    padding: 16px 24px 16px 16px;

    &:not(:has(.e-alert__title)) {
      grid-template-rows: auto;
      grid-template-areas: 'icon text';
    }

    .e-alert__icon {
      --icon-size: 24px;
    }

    .e-alert__title {
      @include mixins.typography('text-sm-strong');
    }

    .e-alert__text {
      @include mixins.typography('text-sm');
    }

    .e-alert__actions {
      margin-top: 8px;
    }
  }
}

.e-alert.e-alert--global {
  --alert-color: var(--e-color-signal-info);

  border-radius: 0;
  padding: 24px;
  max-width: unset;
  background-color: var(--alert-color);

  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    'icon title actions'
    'icon text actions';

  .e-alert__icon {
    align-self: center;
  }

  .e-alert__title {
    @include mixins.typography('title-xs');
    margin: 0 0 2px;
  }

  .e-alert__actions,
  .e-alert__close {
    position: static;
    grid-area: actions;
    align-self: center;
  }

  .e-alert__actions {
    margin-top: 0;
    gap: 16px;
  }

  @include breakpoints.breakpoint-up(Mobile) {
    grid-template-areas:
      'icon title'
      'icon text'
      'actions actions';
    gap: 0 16px;
    padding: 24px 16px;

    // Links should not take the full width
    &:has(.e-alert__actions > a) {
      grid-template-areas:
        'icon title'
        'icon text'
        'icon actions';
    }

    &:not(:has(.e-alert__title)) {
      grid-template-areas:
        'icon text'
        'actions actions';
    }

    .e-alert__icon {
      --icon-size: 32px;
    }

    .e-alert__actions {
      margin-top: 24px;
      gap: 24px;

      &:has(a) {
        margin-top: 16px;
      }

      > button {
        flex: 1;
      }
    }

    .e-alert__close {
      position: absolute;
      grid-area: unset;
    }
  }
}

// Shared color schemes for all alert types
.e-alert.e-alert--error {
  --alert-color: var(--e-color-signal-danger);
}

.e-alert.e-alert--warn {
  --alert-color: var(--e-color-signal-warning);
}

.e-alert.e-alert--info {
  --alert-color: var(--e-color-signal-info);
}
