@use '../utilities/typography.scss';
@use '../utilities/icons.scss';
@use '../utilities/breakpoints';
@use '../utilities/helpers';

$local-padding: 22px 30px 22px 22px; // -2px for border;
$local-mobile-padding: 14px; // -2px for border;
$local-max-width: 650px;

$global-padding: 22px;
$global-mobile-padding: 22px 14px; // -2px border
$global-mobile-notitle-padding: 14px; // -2px border

$toast-padding: 14px; // -2px border
$toast-max-width: 400px;

.e-alert {
  position: relative;
  display: inline-flex;
  min-width: 270px;
  box-sizing: border-box;
  flex-direction: row;
  border: 2px solid var(--e-color-signal-danger);
  background: var(--e-color-background-1);
  text-align: left;

  // Local as default
  &:not(.e-alert--global):not(.e-alert--toast) {
    @extend .e-alert--local;
  }

  &__icon {
    display: flex;
    width: 32px;
    margin-right: 24px;
    @include breakpoints.breakpoint-up(Mobile) {
      align-items: center;
      margin-top: 0;
      margin-right: 16px;
    }
  }

  &__content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;

    .e-alert__title {
      @include typography.typography('title-caps');
      margin-bottom: 2px;
      color: var(--e-color-text-1);
      text-align: left;
    }

    .e-alert__text {
      @include typography.typography('text-md');
      max-width: 758px;
      color: var(--e-color-text-1);
      text-align: left;

      ul {
        padding: 0;
        padding-left: 17px;
        margin: 0;
        margin-top: 8px;
        @include breakpoints.breakpoint-up(Mobile) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }

    .e-alert__links {
      height: 26px;
      margin-top: 16px;

      a:not(:last-of-type) {
        margin-right: 24px;
      }
    }
  }

  // GLOBAL
  &.e-alert--global {
    width: 100%;
    max-width: unset;
    padding: $global-padding;
    border-color: var(--e-color-signal-info);
    @include breakpoints.breakpoint-up(Mobile) {
      padding: $global-mobile-padding;
    }

    .e-alert__close {
      display: grid;
      margin-left: 24px;
      place-items: center;

      @include breakpoints.breakpoint-up(Mobile) {
        margin-left: 16px;
      }
    }

    .e-alert__icon {
      align-items: center;
    }

    .e-alert__content .e-alert__title {
      @include typography.typography('title-xs');
      color: var(--e-color-text-1);
    }

    .e-alert__content .e-alert__text {
      max-width: unset;
    }

    &.e-alert--warn {
      border-color: var(--e-color-signal-warning);
    }

    &.e-alert--error {
      border-color: var(--e-color-signal-danger);
    }

    &.e-alert--expandable {
      @include breakpoints.breakpoint-up(Mobile) {
        .e-alert__icon {
          align-items: flex-start;
        }

        &.e-alert--open .e-alert__text {
          width: calc(100% + 47px);
          margin-top: 16px;
          margin-left: -47px;
        }
      }

      .e-alert__icon {
        margin-top: 0;
      }

      .e-alert__content,
      .e-alert__title {
        width: 100%;
      }

      .e-alert__title {
        display: flex;
        min-height: 32px;
        align-items: center;
        justify-content: space-between;

        .e-alert__accordion {
          @include icons.icon-size('sm');

          display: flex;
          margin-left: 24px;
          animation: rotate-center-forward 0.2s ease-in-out both;

          @include helpers.keyframes(rotate-center-forward) {
            0% {
              @include helpers.transform(rotate(180deg));
            }

            100% {
              @include helpers.transform(rotate(0));
            }
          }

          i[class*='expand_circle-filled-color'] {
            display: none;
          }
        }

        &:hover {
          cursor: pointer;

          i[class*='expand_circle-color'] {
            display: none;
          }

          i[class*='expand_circle-filled-color'] {
            display: flex;
          }
        }
      }

      .e-alert__text {
        overflow: hidden;
        width: 100%;
        max-height: 0;
        margin-top: 0;
        opacity: 0;
        pointer-events: none;
        transition: max-height 0.18s cubic-bezier(0, 0.18, 0.9, 1),
          opacity 0.17s cubic-bezier(0.4, 0.01, 0.78, 1.1), margin-top 0.17s cubic-bezier(0, 0.18, 1, 1);
      }

      &.e-alert--open {
        .e-alert__accordion {
          animation: rotate-center-back 0.2s ease-in-out both;
          @include helpers.keyframes(rotate-center-back) {
            0% {
              @include helpers.transform(rotate(0));
            }

            100% {
              @include helpers.transform(rotate(180deg));
            }
          }
        }

        .e-alert__icon {
          align-items: flex-start;
          margin-top: 2px;
        }

        .e-alert__title {
          margin-bottom: 4px;
        }

        .e-alert__text {
          max-height: 10000px;
          opacity: 1;
          pointer-events: auto;
          transition: 0.25s cubic-bezier(0.4, 0.01, 0.12, 0.32), opacity 0.3s cubic-bezier(0, 0.3, 0.83, 0.97),
            margin-top 0.1s cubic-bezier(0, 0.3, 0.83, 0.97);
        }
      }
    }
  }

  // LOCAL
  &.e-alert--local {
    width: 100%;
    max-width: $local-max-width;
    padding: $local-padding;
    border-radius: 8px;

    @include breakpoints.breakpoint-up(Mobile) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: $local-mobile-padding;

      .e-alert__content {
        margin-top: 8px;
      }

      .e-alert__text {
        text-align: center;
      }
    }

    .e-alert__icon {
      margin-top: 11px;

      @include breakpoints.breakpoint-up(Mobile) {
        margin: 0;
      }
    }

    .e-alert__title {
      @include typography.typography('text-md-strong');
      margin: 0;
      color: var(--e-color-text-1);

      @include breakpoints.breakpoint-up(Mobile) {
        text-align: center;
      }
    }

    .e-alert__close {
      position: absolute;
      inset: 8px 8px auto auto;
    }

    &.e-alert--warn {
      border-color: var(--e-color-signal-warning);
    }

    &.e-alert--info {
      border-color: var(--e-color-signal-info);
    }
  }

  // NO TITLE
  &.e-alert--no-title {
    &.e-alert--global {
      @include breakpoints.breakpoint-up(Mobile) {
        padding: $global-mobile-notitle-padding;
      }
    }
  }

  // ACTIONS
  &.e-alert--actions {
    .e-alert__icon {
      align-items: center;
      margin-top: 0;
      @include breakpoints.breakpoint-up(Mobile) {
        align-items: center;
        padding-bottom: 48px;
      }
    }

    .e-alert__content {
      width: 100%;
      flex-direction: row;
      justify-content: flex-start;
      @include breakpoints.breakpoint-up(Mobile) {
        flex-direction: column;
      }

      .e-alert__text {
        display: flex;
        align-items: center;
      }

      .e-alert__actions {
        display: flex;
        align-items: center;
        padding-left: 24px;
        margin-left: auto;
        gap: 24px;

        @include breakpoints.breakpoint-up(Mobile) {
          width: calc(100% + 47px);
          padding-left: 0;
          margin-top: 16px;
          margin-left: -47px;

          button {
            width: 100%;
          }
        }

        // IE hack
        @media screen and (-ms-high-contrast: none) {
          width: 100%;
        }
      }
    }
  }
}
