@use "../variables/typography.scss";
@use "../variables/shadows.scss";
@use "../variables/colors";
@use '../utilities/helpers.scss';

$autocomplete-padding-item: 12px 16px;

.e-autocomplete {
  position: absolute;
  display: block;
  background-color: colors.color('white');
  width: 100%;
  max-width: 448px;
  max-height: 262px;
  overflow-y: auto;
  margin-top: 4px;
  border: 1px solid colors.color('grey-10');
  border-radius: 4px;
  box-shadow: shadows.$e-shadow-6;
  z-index: 1;

  &__item {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: $autocomplete-padding-item;
    z-index: 1;
    @include typography.typography('text-description');

    @include helpers.hover() {
      &:hover {
        background-color: colors.color('grey-10');
      }
    }
    &:active {
      background-color: colors.color('grey-10');
    }
  }
}
