/* stylelint-disable */
@use '../variables/typography.scss';
@use '../utilities/shadows.scss';
@use '../utilities/helpers.scss';

$autocomplete-padding-item: 12px 16px;
$autocomplete-padding-item-compact: 6px 10px;

//DEPRECATED
.e-autocomplete {
  position: absolute;
  z-index: 100;
  display: block;
  width: 100%;
  max-width: 448px;
  max-height: 262px;
  border-radius: 4px;
  margin-top: 4px;
  background-color: var(--e-color-background-element-5);
  box-shadow: shadows.getShadow('medium');
  color: var(--e-color-text-1);
  overflow-y: auto;
  text-align: left;

  &__item {
    @include typography.typography('text-md');
    z-index: 100;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: $autocomplete-padding-item;
    cursor: pointer;

    @include helpers.hover() {
      &:hover {
        background-color: var(--e-color-background-hover-2);
      }
    }

    &:active {
      background-color: var(--e-color-background-selected-2);
    }
  }
}

// form field adjustments for autocomplete
.e-form-field {
  &.e-form-field--compact,
  &.e-form-field--small {
    .e-autocomplete {
      &__item {
        @include typography.typography('text-sm');
        padding: $autocomplete-padding-item-compact;
      }
    }
  }
}
