@use "../variables/colors.scss";
@use "../variables/shadows.scss";
@use "../variables/shared-sizes.scss";
@use "../variables/spacing";
@use "../utilities/animations.scss";
@use "../utilities/helpers.scss";
@use "../utilities/breakpoints.scss";
@use "../utilities/outline.scss";
@use "../utilities/icons.scss";

$button-radius: 24px;
$button-font-weight: 500;
$button-border-width: 1px;
$button-extra-border-hover: 1px;

$button-lg-padding-y: 12px;
$button-lg-padding-x: 32px;
$button-lg-padding: $button-lg-padding-y $button-lg-padding-x;
$button-lg-font-size: 18px;
$button-lg-line-height: 24px;

$button-md-padding-y: 10px;
$button-md-padding-x: 24px;
$button-md-padding: $button-md-padding-y $button-md-padding-x;
$button-md-font-size: 16px;
$button-md-line-height: 20px;

$button-sm-padding-y: 8px;
$button-sm-padding-x: 16px;
$button-sm-padding: $button-sm-padding-y $button-sm-padding-x;
$button-sm-font-size: 14px;
$button-sm-line-height: 16px;

$loading-dot-lg: 12px;
$loading-dot-md: 10px;
$loading-dot-sm: 8px;

.e-btn {
  // .e-btn--primary .e-btn--md is the default for any e-button
  @extend .e-btn--primary;
  @extend .e-btn--md;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: $button-font-weight;
  justify-content: center;
  text-decoration: none;

  // Removing default focus on firefox
  &::-moz-focus-inner {
    border: 0;
  }

  &:focus:not(:disabled) {
    @include outline.e-outline();
  }
  &.e-btn---focus {
    @include outline.e-outline-pseudoclass();

    &.e-btn--inverted {
      border: 1px solid colors.color('white');
      background: colors.color('white');
      color: colors.color('black');
    }
  }

  // Adding margin if icon
  &__title + &__icon,
  &__icon + &__title {
    margin-left: 8px;
  }

  // SIZES
  &.e-btn--lg {
    font-size: $button-lg-font-size;
    line-height: $button-lg-line-height;
    padding: calc(#{$button-lg-padding-y} - 1px) calc(#{$button-lg-padding-x} - 1px);
    .e-btn__icon {
      @include icons.icon-size('sm');
      i {
        @include icons.icon-size('sm');
      }
    }
    &.e-btn--loading {
      span {
        width: $loading-dot-lg;
        height: $loading-dot-lg;
      }
    }
  }
  &.e-btn--md {
    font-size: $button-md-font-size;
    line-height: $button-md-line-height;
    padding: calc(#{$button-md-padding-y} - 1px) calc(#{$button-md-padding-x} - 1px);
    .e-btn__icon {
      @include icons.icon-size('xs');
      i {
        @include icons.icon-size('xs');
      }
    }
  }
  &.e-btn--sm {
    font-size: $button-sm-font-size;
    line-height: $button-sm-line-height;
    padding: calc(#{$button-sm-padding-y} - 1px) calc(#{$button-sm-padding-x} - 1px);
    .e-btn__icon {
      @include icons.icon-size('xs');
      i {
        @include icons.icon-size('xs');
      }
    }
    &.e-btn--loading {
      span {
        width: $loading-dot-sm;
        height: $loading-dot-sm;
      }
    }
  }

  // PRIMARY BTM
  &.e-btn--primary {
    border: 1px solid colors.color('black');
    @include helpers.border-radius($button-radius);
    background: colors.color('black');
    color: colors.color('white');

    &.e-btn--inverted {
      border: 1px solid colors.color('white');
      background: colors.color('white');
      color: colors.color('black');

      &.e-btn---disabled,
      &:disabled {
        background: colors.color('grey-70');
        border-color: colors.color('grey-70');
        color: colors.color('grey');
        cursor: not-allowed;
      }

      .e-btn__icon {
        i {
          visibility: visible;
        }
      }

      &.e-btn--loading span {
        background-color: colors.color('black');
      }
    }

    .e-btn__icon {
      position: relative;
      display: flex;
      align-items: center;

      i {
        position: absolute;
        display: flex;
        left: 0;
        top: 0px;
        // Hiding hover ikon (only show inverted ikon)
        visibility: hidden;
      }
      i[class*='inverted'],
      i[class*='color-disabled-light'] {
        visibility: visible;
      }
    }

    &.e-btn--danger {
      .e-btn__icon i {
        visibility: visible;
      }
      background: colors.color('red');
      border-color: colors.color('red');
      color: colors.color('black');
    }

    &.e-btn---disabled,
    &:disabled {
      background: colors.color('grey-30');
      border-color: colors.color('grey-30');
      color: colors.color('grey-05');
      cursor: not-allowed;
    }
    &.e-btn---hover,
    &.e-btn---active,
    &:active:not(:disabled):not(.e-btn--loading) {
      background: colors.color('green');
      border-color: colors.color('green');
      color: colors.color('black');
      // Showing hover ikon
      .e-btn__icon i[class*='inverted'] {
        visibility: hidden;
      }
      .e-btn__icon i:not([class$='inverted']) {
        visibility: visible;
      }
    }
    @include helpers.hover() {
      &:hover:not(:disabled):not(.e-btn--loading) {
        background: colors.color('green');
        border-color: colors.color('green');
        color: colors.color('black');
        // Showing hover ikon
        .e-btn__icon i[class*='inverted'] {
          visibility: hidden;
        }
        .e-btn__icon i:not([class$='inverted']) {
          visibility: visible;
        }
      }
    }

    &.e-btn---active,
    &:active:not(:disabled):not(.e-btn--loading) {
      border-color: transparent;
      background-clip: padding-box;
    }
  }

  // SECONDARY BTN
  &.e-btn--secondary {
    border: 1px solid colors.color('black');
    @include helpers.border-radius($button-radius);
    background: colors.color('white');
    color: colors.color('black');
    .e-btn__icon i {
      visibility: visible;
    }

    &.e-btn--loading {
      span {
        background-color: colors.color('black');
      }
    }

    &.e-btn--inverted {
      border: 1px solid colors.color('white');
      background: colors.color('grey');
      color: colors.color('white');

      &:disabled {
        background: transparent;
        border-color: colors.color('grey-70');
        color: colors.color('grey-70');
        cursor: not-allowed;
      }

      .e-btn__icon {
        i {
          visibility: hidden;
        }
        i[class*='inverted'],
        i[class*='color-disabled-light'],
        i[class*='e-icon--disabled-inverted'] {
          visibility: visible;
        }
      }
      &.e-btn--loading {
        span {
          background-color: colors.color('white');
        }
      }
    }

    &.e-btn---disabled,
    &:disabled {
      background: transparent;
      border-color: colors.color('grey-30');
      color: colors.color('grey-30');
      cursor: not-allowed;
    }

    &.e-btn---hover,
    &.e-btn---active,
    &:active:not(:disabled):not(.e-btn--loading) {
      background: colors.color('green');
      border-color: colors.color('green');
      color: colors.color('black');
      .e-btn__icon i {
        visibility: visible;
      }
    }
    @include helpers.hover() {
      &:hover:not(:disabled):not(.e-btn--loading) {
        background: colors.color('green');
        border-color: colors.color('green');
        color: colors.color('black');
        .e-btn__icon i {
          visibility: visible;
        }
      }
    }

    &.e-btn---active,
    &:active:not(:disabled):not(.e-btn--loading) {
      border-color: transparent;
      background-clip: padding-box;
      .e-btn__icon i {
        visibility: visible;
      }
    }
  }

  // TERTIARY BTN
  &.e-btn--tertiary {
    border: none;
    border-bottom: 2.5px solid transparent;
    @include helpers.border-radius(0px);
    padding: 0px;
    padding-bottom: 3.5px;
    background: none;
    color: colors.color('black');
    .e-btn__icon {
      i {
        visibility: visible;
      }
      i[class*='inverted'],
      i[class*='color-disabled-light'],
      i[class*='e-icon--disabled-inverted'] {
        visibility: hidden;
      }
    }

    &.e-btn--loading {
      @extend %e-btn--loading;

      span {
        background: black;
      }
    }

    &.e-btn--inverted {
      color: colors.color('white') !important;

      &.e-btn--loading {
        span {
          background-color: white;
        }
      }

      .e-btn__icon {
        i {
          visibility: hidden;
        }
        i[class*='inverted'],
        i[class*='color-disabled-light'],
        i[class*='e-icon--disabled-inverted'] {
          visibility: visible;
        }
      }

      &:disabled {
        color: colors.color('grey-70') !important;
        background: none;
        cursor: not-allowed;
        border-bottom: none;
      }

      @include helpers.hover() {
        &:hover:not(:disabled):not(.e-btn--loading) {
          border-bottom-color: colors.color('green');
          border-color: colors.color('green');
          background: none;
          .e-btn__icon {
            i {
              visibility: hidden;
            }
            i[class*='inverted'],
            i[class*='color-disabled-light'],
            i[class*='e-icon--disabled-inverted'] {
              visibility: visible;
            }
          }
        }
      }

      &:active:not(:disabled):not(.e-btn--loading) {
        .e-btn__icon {
          i {
            visibility: hidden;
          }
          i[class*='inverted'],
          i[class*='color-disabled-light'],
          i[class*='e-icon--disabled-inverted'] {
            visibility: visible;
          }
        }
      }
    }

    &.e-btn--lg {
      padding-bottom: 1.5px;
      &.e-btn--loading {
        span {
          width: $loading-dot-lg;
          height: $loading-dot-lg;
        }
      }
    }
    &.e-btn--sm {
      &.e-btn--loading {
        span {
          width: $loading-dot-sm;
          height: $loading-dot-sm;
        }
      }
    }

    &.e-btn---disabled,
    &:disabled {
      color: colors.color('grey-30');
      cursor: not-allowed;
    }
    &.e-btn---hover {
      border-bottom-color: colors.color('green');
      border-color: colors.color('green');
      background: none;
      .e-btn__icon i {
        visibility: visible;
      }
    }
    @include helpers.hover() {
      &:hover:not(:disabled):not(.e-btn--loading) {
        border-bottom-color: colors.color('green');
        border-color: colors.color('green');
        background: none;
        .e-btn__icon i {
          visibility: visible;
        }
      }
    }

    &.e-btn---hover[class*='e-btn--inverted'] {
      .e-btn__icon {
        i {
          visibility: hidden;
        }
        i[class*='inverted'],
        i[class*='color-disabled-light'],
        i[class*='e-icon--disabled-inverted'] {
          visibility: visible;
        }
      }
    }

    &.e-btn---active,
    &:active:not(:disabled):not(.e-btn--loading) {
      padding-bottom: 4.5px;
      &.e-btn--lg {
        padding-bottom: 2.5px;
      }
      border-bottom: 1.5px solid colors.color('green');
      border-color: colors.color('green');
      background: none;
      .e-btn__icon i {
        visibility: visible;
      }
    }
  }

  // ICON BTN
  &.e-btn--icon {
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    @include helpers.border-radius(50px);
    padding: 8px;
    background: none;
    color: colors.color('black');
    width: 40px;
    height: 40px;

    &.e-btn--loading {
      @extend %e-btn--loading;

      padding-left: 0px;
      padding-right: 0px;

      span {
        background-color: colors.color('black');
      }
    }

    .e-btn__icon {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        @include icons.icon-size('sm');
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: visible;
      }
    }

    &.e-btn--lg {
      width: 48px;
      height: 48px;
      .e-btn__icon {
        width: 32px;
        height: 32px;
        i {
          @include icons.icon-size('md');
        }
      }
      &.e-btn--loading {
        span {
          width: $loading-dot-lg;
          height: $loading-dot-lg;
        }
      }
    }

    &.e-btn--sm {
      width: 32px;
      height: 32px;
      .e-btn__icon {
        width: 16px;
        height: 16px;
        i {
          @include icons.icon-size('xs');
        }
      }
      &.e-btn--loading {
        span {
          width: $loading-dot-sm;
          height: $loading-dot-sm;
        }
      }
    }

    &.e-btn--inverted {
      .e-btn__icon {
        i[class*='inverted'],
        i[class*='color-disabled-light'],
        i[class*='e-icon--color'],
        i[class*='e-icon--disabled-inverted'],
        i:disabled {
          visibility: visible;
        }
      }

      &:disabled {
        color: colors.color('grey-70');
        background: none;
        cursor: not-allowed;
      }

      &:focus {
        background: none;
      }

      @include helpers.hover() {
        &:hover:not(:disabled) {
          .e-btn__icon {
            i {
              visibility: visible !important;
            }
            i[class*='inverted'],
            i[class*='color-disabled-light'],
            i[class*='e-icon--disabled-inverted'] {
              visibility: hidden !important;
            }
          }
        }
      }
      &.e-btn--loading {
        span {
          background-color: colors.color('white');
        }
      }
    }

    &.e-btn--circled {
      position: relative;
      padding: 0;
      width: 24px;
      height: 24px;
      // Larger click surface
      &:after {
        content: '';
        padding: 16px;
        position: absolute;
        left: -4px;
        top: -4px;
      }

      // Hiding hover ikon
      .e-btn__icon i[class*='filled-color'] {
        visibility: hidden;
      }

      &.e-btn--lg {
        width: 32px;
        height: 32px;
        &:after {
          content: none;
        }
      }
      &.e-btn--sm {
        width: 16px;
        height: 16px;
        // Larger click surface
        &:after {
          content: '';
          padding: 16px;
          position: absolute;
          left: -8px;
          top: -8px;
        }
      }

      &.e-btn---hover,
      &.e-btn---active,
      &:active:not(:disabled) {
        background: transparent;
        // Showing hover ikon
        .e-btn__icon i:not([class$='filled-color']),
        .e-btn__icon i:not([class$='disabled']) {
          visibility: hidden;
        }
        .e-btn__icon i[class*='filled-color'] {
          visibility: visible;
        }
      }
      @include helpers.hover() {
        &:hover:not(:disabled) {
          background: transparent;
          // Showing hover ikon
          .e-btn__icon i:not([class$='filled-color']),
          .e-btn__icon i:not([class$='disabled']) {
            visibility: hidden;
          }
          .e-btn__icon i[class*='filled-color'] {
            visibility: visible;
          }
        }
      }

      &.e-btn---active,
      &:active:not(:disabled) {
        @include helpers.transform(rotate(0.93));
      }
    }

    &.e-btn--danger {
      .e-btn__icon
        i:not([class$='color-red']):not([class$='e-icon--color-disabled']):not([class$='e-icon--inverted-disabled-grey-70']) {
        visibility: hidden;
      }

      &.e-btn--inverted {
        @include helpers.hover() {
          &:hover:not(:disabled) {
            .e-btn__icon {
              i {
                visibility: visible !important;
              }
              i[class*='inverted'],
              i[class*='color-disabled-light'],
              i[class*='e-icon--disabled-inverted'] {
                visibility: hidden !important;
              }
            }
          }
        }
      }

      &.e-btn---hover,
      &.e-btn---active,
      &:active:not(:disabled) {
        // Showing hover ikon
        .e-btn__icon i[class*='red'] {
          visibility: hidden;
        }
        .e-btn__icon i:not([class$='red']) {
          visibility: visible;
        }
      }
      @include helpers.hover() {
        &:hover:not(:disabled) {
          // Showing hover ikon
          .e-btn__icon i[class*='red'] {
            visibility: hidden;
          }
          .e-btn__icon i:not([class$='red']) {
            visibility: visible;
          }
        }
      }
    }

    &.e-btn---hover,
    &.e-btn---active,
    &:active:not(:disabled):not(.e-btn--loading) {
      background: colors.color('green');
      .e-btn__icon i[class$='inverted'] {
        visibility: visible;
      }
    }
    @include helpers.hover() {
      &:hover:not(:disabled):not(.e-btn--loading) {
        background: colors.color('green');
        .e-btn__icon i[class$='inverted'] {
          visibility: visible;
        }
      }
    }

    &.e-btn---active,
    &:active:not(:disabled):not(.e-btn--loading) {
      @include helpers.transform(rotate(0.95));
    }
    &.e-btn---disabled,
    &:disabled {
      cursor: not-allowed;
    }
  }

  &.e-btn--loading {
    @extend %e-btn--loading;

    span {
      background-color: colors.color('white');
    }
  }
}

%e-btn--loading {
  display: inline-block;
  cursor: progress;

  span {
    width: $loading-dot-md;
    height: $loading-dot-md;
    @include helpers.border-radius(100%);
    display: inline-block;
    animation: loading-dots 1s infinite ease-in-out both;
    -o-animation: loading-dots 1s infinite ease-in-out both;
    -moz-animation: loading-dots 1s infinite ease-in-out both;
    -webkit-animation: loading-dots 1s infinite ease-in-out both;
  }

  span:nth-of-type(1) {
    @include helpers.animation-delay(-0.32s);
  }
  span:nth-of-type(2) {
    @include helpers.animation-delay(-0.16s);
  }
}

@keyframes loading-dots {
  0%,
  80%,
  100% {
    @include helpers.transform(scale(0));
  }
  40% {
    @include helpers.transform(scale(1));
  }
}
