@use "../variables/colors";
@use "../variables/shadows";
@use "../variables/typography";
@use "../utilities/breakpoints";
@use "../utilities/helpers";

$card-radius: 8px;
$card-padding: 40px;
$card-padding-mobile: 24px;

// For action cards on Elvis documentaion page
$card-header-action-icon-size: 24px;
$card-actions-action-padding: 13px 0;
$card-actions-button-spacing: 25px;

.e-card {
  @include helpers.border-radius($card-radius);
  @include helpers.box-shadow(shadows.$e-shadow-3);
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  background: colors.color('white');
  box-sizing: border-box;
  padding: $card-padding;
  position: relative;

  @include breakpoints.breakpoint-up(Tablet) {
    padding: $card-padding-mobile;
  }

  &--shadow-soft {
    @include helpers.box-shadow(shadows.$e-shadow-3);
  }

  &--shadow-medium {
    @include helpers.box-shadow(shadows.$e-shadow-6);
  }

  &--shadow-hard {
    @include helpers.box-shadow(shadows.$e-shadow-8);
  }

  &--on-white {
    @include helpers.box-shadow(shadows.$e-shadow-6);
  }

  &__title {
    // .e-title-sm is font-properties, defined in typography.
    @include typography.typography('title-xs');
    line-height: 24px;
    margin-bottom: 16px;

    &.e-card__title--above {
      @include typography.typography('text-caps');
      position: absolute;
      transform: translateY(-100%);
      top: -8px;
      left: 8px;
    }
  }

  &__content {
    display: block;
    @include typography.typography('text-description');
  }
}
