// DEPRECATED
/* stylelint-disable */
@use '../variables/colors';
@use '../utilities/shadows';
@use '../variables/typography';
@use '../utilities/breakpoints';
@use '../utilities/helpers';

$card-radius: 8px;
$card-padding: 40px;
$card-padding-mobile: 24px;

// For action cards on Elvis documentaion page
$card-header-action-icon-size: 24px;
$card-actions-action-padding: 13px 0;
$card-actions-button-spacing: 25px;

.e-card {
  border-radius: $card-radius;
  box-shadow: shadows.getShadow('soft');
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  background: colors.color('elvia-on');
  box-sizing: border-box;
  padding: $card-padding;
  position: relative;
  text-align: left;

  @include breakpoints.breakpoint-up(Tablet) {
    padding: $card-padding-mobile;
  }

  &--text-only {
    max-width: 450px;
  }

  &--shadow-soft {
    box-shadow: shadows.getShadow('soft');
  }

  &--shadow-medium {
    box-shadow: shadows.getShadow('medium');
  }

  &--shadow-hard {
    box-shadow: shadows.getShadow('hard');
  }

  &--on-white {
    box-shadow: shadows.getShadow('medium');
  }

  &__title {
    // .e-title-sm is font-properties, defined in typography.
    @include typography.typography('title-xs');
    line-height: 24px;
    margin-bottom: 16px;

    &.e-card__title--above {
      @include typography.typography('title-caps');
      position: absolute;
      // line height 17px from title-caps typography and 8px margin to get -25px to top attribute
      top: -25px;
      left: 8px;
    }
  }

  &__content {
    display: block;
    @include typography.typography('text-md');
  }
}
