@use "sass:map";
@use "../variables/typography";
@use '../variables/colors';
@use "../utilities/icons";
@use "../utilities/helpers";

$chips-padding: 5px 16px;

.e-chip-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: -8px;

  .e-chip {
    margin-bottom: 8px;
  }
  .e-chip:not(:last-of-type) {
    margin-right: 16px;
  }
}

.e-chip {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  border-radius: 50px;
  padding: $chips-padding;
  @extend .e-chip--green-apple;

  &__label {
    @include typography.typography('text-info');
  }

  &__close {
    @include icons.icon-size('xxs');
    display: flex;
    margin-left: 8px;
  }

  @each $label, $map in colors.$just-colors {
    $labels: ($label);
    $rgb: map.get($map, rgb);

    @each $label in $labels {
      &.e-chip--#{$label} {
        position: relative;
        background: rgba($rgb, 0.25);

        &.e-chip---disabled,
        &:disabled {
          background: rgba($rgb, 0.065);
        }
      }
    }
  }

  &:active,
  &---hover:not(:disabled):not(.e-chip---disabled) {
    background: colors.color('elvia-charge');
    cursor: pointer;
  }
  @include helpers.hover() {
    &:hover:not(:disabled):not(.e-chip---disabled) {
      background: colors.color('elvia-charge');
      cursor: pointer;
    }
  }

  &---disabled,
  &:disabled {
    cursor: not-allowed;
    background: rgba(colors.color('green-apple'), 0.065);
    .e-chip__label {
      color: black;
      opacity: 0.5;
    }
    .e-chip__close {
      opacity: 0.5;
    }
  }
}
