@use "../variables/typography";
@use '../variables/colors';
@use "../utilities/icons";
@use "../utilities/helpers";

.e-chip-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: -8px;

  .e-chip {
    margin-bottom: 8px;
  }
  .e-chip:not(:last-of-type) {
    margin-right: 16px;
  }
}

.e-chip {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  @include helpers.border-radius(50px);

  padding: 4px 16px;
  @extend .e-chip--green-apple;

  &__label {
    @include typography.typography('text-info');
  }

  &__close {
    @include icons.icon-size('xxs');
    display: flex;
    margin-left: 8px;
  }

  @each $label, $map in colors.$just-colors {
    $labels: ($label);

    @each $label in $labels {
      &.e-chip--#{$label} {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          background: colors.color($label);
          opacity: 0.25;
          @include helpers.border-radius(50px);
        }
      }
    }
  }

  &---hover:not(.e-chip---disabled) {
    background: colors.color('green');
    opacity: 1;
    cursor: pointer;
    &::before {
      background: colors.color('green');
    }
  }
  @include helpers.hover() {
    &:hover:not(:disabled) {
      background: colors.color('green');
      opacity: 1;
      cursor: pointer;
      &::before {
        background: colors.color('green');
      }
    }
  }

  &:active:not(:disabled) {
    background: colors.color('green');
    opacity: 1;
    cursor: pointer;
    &::before {
      background: colors.color('green');
    }
  }

  &---disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
