@use '../variables/colors';
@use '../utilities/helpers';

.e-content-loader {
  display: flex;
  width: 260px;
  height: 260px;

  @include helpers.keyframes(wave) {
    from {
      opacity: 0.3;
    }
    to {
      opacity: 1;
    }
  }
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background: colors.color('grey-05');
    border-radius: 16px;
    -o-animation: wave 1s infinite alternate;
    -moz-animation: wave 1s infinite alternate;
    -webkit-animation: wave 1s infinite alternate;
    animation: wave 1s infinite alternate;
  }

  &.e-content-loader--inverted {
    &::after {
      background: colors.color('grey-90');
    }
  }

  &.e-content-loader--circle {
    &:after {
      border-radius: 50%;
    }
  }

  &.e-content-loader--text {
    width: 100%;
    height: 24px;
    &:after {
      width: 100%;
      height: 24px;
      border-radius: 8px;
    }
    &.e-content-loader--short {
      width: 100%;
      &:after {
        width: 70%;
      }
    }
  }
}
