@use '../variables/colors';
@use '../utilities/helpers';

.e-content-loader {
  display: flex;
  width: 260px;
  height: 260px;

  @include helpers.keyframes(wave) {
    to {
      opacity: 0.3;
    }
  }
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background: colors.color('grey-10');
    @include helpers.border-radius(16px);
    -o-animation: wave 1s infinite alternate;
    -moz-animation: wave 1s infinite alternate;
    -webkit-animation: wave 1s infinite alternate;
    animation: wave 1s infinite alternate;
  }

  &.e-content-loader--circle {
    &:after {
      @include helpers.border-radius(50%);
    }
  }

  &.e-content-loader--text {
    width: 100%;
    height: 24px;
    &:after {
      width: 100%;
      height: 24px;
      @include helpers.border-radius(8px);
    }
    &.e-content-loader--short {
      width: 100%;
      &:after {
        width: 70%;
      }
    }
  }
}
