@use '../variables/colors';
@use '../utilities/helpers';

.e-content-loader {
  display: flex;
  width: 260px;
  height: 260px;

  @include helpers.keyframes(wave) {
    from {
      opacity: 0.3;
    }

    to {
      opacity: 1;
    }
  }

  &::after {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    animation: wave 1s infinite alternate;
    background-color: var(--e-color-background-element-3);
    content: '';
  }

  &.e-content-loader--circle {
    &::after {
      border-radius: 50%;
    }
  }

  &.e-content-loader--text {
    width: 100%;
    height: 24px;

    &::after {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }

    &.e-content-loader--short {
      width: 100%;

      &::after {
        width: 70%;
      }
    }
  }
}
