@use '../variables/colors';
@use "../variables/typography";

.e-divider {
  display: block;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid colors.color('grey-10');

  &.e-divider--title {
    border-color: colors.color('elvia-off');
    .e-divider__title {
      @include typography.typography('title-md');
      margin-bottom: 24px;
    }
  }

  &.e-divider--curved {
    border-color: colors.color('grey-20');
  }
}
