@use '../variables/colors';
@use "../variables/typography";

.e-divider {
  display: block;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid colors.color('grey-10');
  text-align: left;

  &.e-divider--inverted {
    border-color: colors.color('grey-80');
  }

  &.e-divider--title {
    border-color: colors.color('elvia-off');
    .e-divider__title {
      @include typography.typography('title-md');
      margin-bottom: 24px;
    }

    &.e-divider--inverted {
      border-color: colors.color('elvia-on');
    }
  }

  &.e-divider--curved {
    border: none;
    height: 4vw;
    position: relative;
    overflow: hidden;
    background-color: inherit;
    width: 100%;

    &::after {
      content: '';
      border: 2px solid colors.color('grey-20');
      border-radius: 100%;
      position: absolute;
      bottom: 0;
      margin: auto;
      height: 775%;
      width: 150%;
      left: -25%;
    }

    &.e-divider--inverted::after {
      border-color: colors.color('grey-70');
    }
  }
}
