@use "../variables/typography.scss";
@use './../variables/colors';
@use './../variables/shadows';
@use "../variables/shared-sizes";
@use './form/input.scss';
@use "../utilities/outline.scss";
@use "../utilities/icons.scss";
@use './autcomplete.scss';

.e-dropdown {
  cursor: pointer;
  max-width: 448px;

  .e-input {
    > input {
      cursor: pointer;
      color: colors.color('black');
    }
    i {
      @include icons.icon-size('xxs');
      position: absolute;
      right: 16px;
      top: calc(50% - (8px / 2));
    }
  }
  &__content {
    @extend .e-autocomplete;
  }
  &__item {
    @extend .e-autocomplete__item;
    line-height: 22px;
    padding: 13px 16px;

    &:hover {
      background-color: colors.color('grey-10');
    }
  }
}

// form field adujustments for dropdown
.e-form-field {
  &.e-form-field--compact {
    .e-dropdown {
      .e-input i {
        right: 10px;
      }
      .e-dropdown__content .e-dropdown__item {
        display: flex;
        align-items: center;
        line-height: 22px;
        padding: 6px 16px;
      }
    }
  }
}
