@use '../variables/colors';
@use '../variables/borders';
@use '../utilities/breakpoints';
@use '../utilities/helpers';

$label-padding: 4px 8px;
$label-radius: 4px;
$label-font-size: 11px;

%status-content {
  display: inline-flex;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  left: 8px;
}

@mixin circle($color) {
  padding: 4px 8px 4px 24px;
  &::before {
    content: ' ';
    position: absolute;
    background-color: colors.color($color);
    @extend %status-content;
  }
}

.e-label {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: $label-padding;
  border-radius: $label-radius;
  background: colors.color('grey-10');

  font-family: 'Red Hat Text', 'Verdana, sans-serif';
  font-size: $label-font-size;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: colors.color('font-color');
  white-space: nowrap;

  @each $label, $map in colors.$just-colors {
    $color: colors.color($label);
    $labels: ($label);

    @each $label in $labels {
      &.e-label--#{$label} {
        @include circle($label);
      }
    }
  }
}
