@use '../utilities/outline';
@use '../utilities/icons';
@use '../utilities/helpers';
@use '../utilities/mixins';

$link-jumbo-desktop-padding: 30px 40px;
$link-jumbo-desktop-width: 545px;
$link-jumbo-phone-padding: 30px 24px;
$link-jumbo-phone-width: 287px;

.e-link {
  // Default for links is md
  @extend .e-link--md;
  position: relative;
  display: inline;
  box-sizing: border-box;
  border-bottom: 2px solid var(--e-color-border-1);

  @include mixins.typography('text-interactive-md');
  color: var(--e-color-text-1);
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  @include helpers.hover() {
    &:hover {
      border-bottom-color: var(--e-color-border-hover-1);
    }
  }

  &__icon {
    display: inline-flex;
    align-items: center;

    i {
      @include icons.icon-size('xxs');
      display: flex;
    }
  }

  // Adding margin if icon
  &__title + &__icon,
  &__icon + &__title {
    position: relative;
    margin-left: 4px; // Inline -> space between elements => 8px - 4px space = 4px
  }

  &.e-link--lg {
    @include mixins.typography('text-interactive-lg');
    font-weight: 600;
  }

  &.e-link--md {
    @include mixins.typography('text-interactive-md');
    font-weight: 600;
  }

  &.e-link--sm {
    @include mixins.typography('text-interactive-sm');
    font-weight: 600;
  }

  &:active,
  &.e-link---hover {
    border-bottom-color: var(--e-color-border-hover-1);
  }

  &:active {
    padding-bottom: 1px;
    border-bottom-width: 1px;
  }

  &.e-link---focus {
    @include outline.e-outline-pseudoclass();
  }

  &:focus {
    @include outline.e-outline();
  }

  &.e-link--inline {
    display: inline;
    font-size: inherit;
    font-weight: 500;
    line-height: 100%;
  }

  &.e-link--new-tab {
    .e-link__icon {
      @include icons.icon-size('custom14');
    }

    &.e-link--sm .e-link__icon {
      @include icons.icon-size('custom12');
    }

    &.e-link--lg .e-link__icon {
      @include icons.icon-size('xs');
    }
  }

  &.e-link--back,
  &.e-link--action {
    display: inline-flex;
    align-items: center;
    border: transparent;
    @include helpers.hover() {
      &:hover {
        .e-link__icon i[class*='filled-color'] {
          visibility: visible;
        }

        .e-link__icon i:not([class*='filled-color']) {
          visibility: hidden;
        }
      }
    }

    .e-link__title + .e-link__icon,
    .e-link__icon + .e-link__title {
      margin-left: 8px;
    }

    .e-link__icon i[class*='filled-color'] {
      visibility: hidden;
    }

    .e-link__icon {
      position: relative;
      right: 0;

      i {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
      }
    }

    &.e-link--lg {
      @include mixins.typography('text-interactive-lg');
      font-weight: 600;

      .e-link__icon {
        @include icons.icon-size('sm');
      }
    }

    &.e-link--md {
      @include mixins.typography('text-interactive-lg');
      font-weight: 600;

      .e-link__icon {
        @include icons.icon-size('sm');
      }
    }

    &.e-link--sm {
      @include mixins.typography('text-interactive-md');
      font-weight: 600;

      .e-link__icon {
        @include icons.icon-size('xs');
      }
    }

    &:active,
    &.e-link---hover {
      .e-link__icon i[class*='filled-color'] {
        visibility: visible;
      }

      .e-link__icon i:not([class*='filled-color']) {
        visibility: hidden;
      }
    }
  }
}
