@use '../variables/colors.scss';
@use '../utilities/spacing.scss';
@use '../utilities/breakpoints';
@use '../utilities/helpers';
@use '../variables/typography';

$list-border-size: 20px;
$list-dot-size: 8px;
$list-border-radius: 50%;
$list-number-size: 30px;
$line-height: calc(1.25rem * 1.6);
$mobile-line-height: calc(1.125rem * 1.6);

.e-list {
  $this: &;
  // remove browser margin and padding
  padding: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  font-size: 1rem;
  text-align: left;
  box-sizing: border-box;

  %li-element {
    @include typography.typography('text-lg');
    list-style: none;
    position: relative;

    // extra padding for the width of the green content bulletin.
    padding-left: 24px;
    margin: 0.5rem 0;

    &::before {
      content: '';
      display: flex;

      position: absolute;
      left: 0;
      top: calc(($line-height / 2) - ($list-dot-size / 2));
      width: $list-dot-size;
      height: $list-dot-size;
      background-color: colors.color('elvia-charge');
      border-radius: $list-border-radius;

      @include breakpoints.breakpoint-up(Mobile) {
        top: calc(($mobile-line-height / 2) - ($list-dot-size / 2));
      }
    }
  }

  li {
    @extend %li-element;
  }

  &.e-list--numbers {
    counter-reset: elvis-item;
    list-style: none;

    li {
      counter-increment: elvis-item;
      margin: 32px 0;
      padding-left: 48px;

      &::before {
        content: counter(elvis-item);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: helpers.toRem(18);
        width: $list-number-size;
        height: $list-number-size;
        top: calc(($line-height / 2) - ($list-number-size / 2));
        background: transparent;
        border: 2px solid colors.color('elvia-charge');
        border-radius: $list-border-radius;

        @include breakpoints.breakpoint-up(Mobile) {
          top: calc(($mobile-line-height / 2) - ($list-number-size / 2));
        }
      }
    }

    .e-list:not(.e-list--numbers) li,
    .e-list:not(.e-list--icons) li {
      @extend %li-element;
    }
  }

  &.e-list--strong {
    font-weight: 600;
    background: transparent;
  }

  &.e-list--icons {
    &#{$this} li {
      &::before {
        content: none;
      }
    }
    li {
      padding-left: 32px;
      margin: 16px 0;
      margin-left: 16px;

      @include breakpoints.breakpoint-up(Mobile) {
        padding-left: 20px;
        margin-left: 24px;
      }
    }
    .e-list__icon > i {
      position: absolute;
      margin-right: 8px;
      margin-left: -48px;
      top: calc(($line-height / 2) - (32px / 2));

      @include breakpoints.breakpoint-up(Mobile) {
        top: calc(($mobile-line-height / 2) - (32px / 2));
      }
    }

    .e-list:not(.e-list--numbers) li,
    .e-list:not(.e-list--icons) li {
      @extend %li-element;
    }
  }
}
