@use '../utilities/breakpoints';

@function get-text-offset($marker-size, $multiplier: 1) {
  @return calc(($marker-size + var(--list-marker-margin)) * $multiplier);
}

@function get-marker-top-offset($marker-size) {
  @return calc((var(--list-line-height) - $marker-size) / 2);
}

.e-list {
  --list-line-height: 28px;
  --list-marker-size: 32px;
  --list-marker-dot-size: 8px;
  --list-marker-margin: 16px;

  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding-left: get-text-offset(var(--list-marker-dot-size));
  margin: 0.5rem 0;
  color: var(--e-color-text-1);
  font-family: 'Red Hat Text', Verdana, sans-serif;
  gap: 8px;
  line-height: var(--list-line-height);
  list-style: none;
  text-align: left;

  li {
    position: relative;

    p {
      margin: 0;
    }

    &::before {
      position: absolute;
      top: get-marker-top-offset(var(--list-marker-dot-size));
      left: get-text-offset(var(--list-marker-dot-size), -1);
      width: var(--list-marker-dot-size);
      height: var(--list-marker-dot-size);
      border-radius: 50%;
      background-color: var(--e-color-brand-accent);
      content: '';
    }
  }

  &.e-list--strong {
    background: transparent;
    font-weight: 600;
  }
}

.e-list.e-list--numbers {
  padding-left: get-text-offset(var(--list-marker-size));
  margin: 32px 0;
  counter-reset: elvis-item;
  gap: 16px;

  li {
    counter-increment: elvis-item;

    &::before {
      top: get-marker-top-offset(var(--list-marker-size));
      left: get-text-offset(var(--list-marker-size), -1);
      display: grid;
      width: var(--list-marker-size);
      height: var(--list-marker-size);
      border: 2px solid var(--e-color-brand-accent);
      background: transparent;
      content: counter(elvis-item);
      font-size: 18px;
      place-items: center;
    }
  }
}

.e-list.e-list--icons {
  padding-left: get-text-offset(var(--list-marker-size));
  margin: 16px 0;
  gap: 16px;

  li {
    &::before {
      content: none;
    }

    .e-list__icon > i {
      position: absolute;
      top: get-marker-top-offset(var(--list-marker-size));
      left: get-text-offset(var(--list-marker-size), -1);
      margin-right: var(--list-marker-margin);
    }
  }
}
