@use "../variables/colors.scss";
@use "../utilities/spacing.scss";
@use "../utilities/breakpoints";

$list-border-size: 20px;
$list-dot-size: 8px;
$list-border-radius: 50%;

.e-list {
  $this: &;
  // remove browser margin and padding
  padding: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  // list font properties
  box-sizing: border-box;

  li {
    list-style: none;
    position: relative;
    line-height: 32px;

    // extra padding for the width of the green content bulletin.
    padding-left: 24px;
    margin: 0.5rem 0;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 12px;
      width: $list-dot-size;
      height: $list-dot-size;
      background-color: colors.color('green');
      border-radius: $list-border-radius;
    }
  }

  &.e-list--numbers {
    counter-reset: elvis-item;
    list-style: none;

    li {
      counter-increment: elvis-item;
      margin: 32px 0;
      padding-left: 48px;

      &::before {
        content: counter(elvis-item);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        width: 30px;
        height: 30px;
        top: 2px;
        background: transparent;
        border: 2px solid colors.color('green');
        border-radius: $list-border-radius;
      }
    }
  }

  &.e-list--strong {
    font-weight: 700;
    background: transparent;
  }

  &.e-list--icons {
    &#{$this} li {
      &::before {
        content: none;
      }
    }
    li {
      padding-left: 32px;
      margin: 16px 0;
      margin-left: 16px;

      @include breakpoints.breakpoint-up(Mobile) {
        padding-left: 20px;
        margin-left: 24px;
      }
    }
    .e-list__icon > i {
      position: absolute;
      margin-right: 8px;
      margin-left: -48px;
    }
  }
}
