@use '../variables/colors';
@use "../variables/typography";
@use "../utilities/breakpoints";
@use "../utilities/helpers";

$modal-border-radius: 8px;
$modal-max-width: 704px;

$modal-desktop-padding: 48px;

$modal-mobile-padding: 32px;

.e-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0, 0, 0, 0.25);
  z-index: 1299;
  pointer-events: auto;
  box-sizing: border-box;
  opacity: 1;
  -o-animation: fadeIn 300ms ease-in;
  -moz-animation: fadeIn 300ms ease-in;
  -webkit-animation: fadeIn 300ms ease-in;
  animation: fadeIn 300ms ease-in;

  @include helpers.keyframes(fadeIn) {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &__content {
    position: relative;
    padding: $modal-desktop-padding;
    display: flex;
    flex-direction: column;
    max-width: $modal-max-width;
    width: auto;
    height: auto;
    border-radius: $modal-border-radius;
    background: colors.color('elvia-on');

    @include breakpoints.breakpoint-up(Mobile) {
      padding: $modal-mobile-padding;
      border-radius: 0px;
      width: 100%;
      max-width: 100%;
      height: 100%;
      margin: 0;
    }

    .e-modal__title {
      @include typography.typography('title-md');
    }
    .e-modal__text {
      @include typography.typography('text-body');
      color: colors.color('font-color');
      padding-top: 32px;
    }
    .e-modal__actions {
      display: flex;
      justify-content: flex-end;
      padding-top: 32px;
      @include breakpoints.breakpoint-up(Mobile) {
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        width: 100%;
      }

      button:not(:only-of-type) {
        width: 100%;
      }
      button:only-of-type {
        width: 50%;
        @include breakpoints.breakpoint-up(Mobile) {
          width: 100%;
        }
      }
      button:first-of-type:not(:last-of-type) {
        margin-right: 24px;
        @include breakpoints.breakpoint-up(Mobile) {
          margin-bottom: 16px;
        }
      }
    }
  }
}
