@import '../variables/colors';
@import '../utilities/helpers';

$notification-dot-size: 10px;
$notification-dot-border: 2px solid color('white');

.e-notification-dot {
  position: absolute;
  top: calc(#{$notification-dot-size}/ -2);
  right: calc(#{$notification-dot-size}/ -2);

  width: $notification-dot-size;
  height: $notification-dot-size;

  border: $notification-dot-border;
  @include helpers.border-radius(100%);

  // Default colors
  background: color('red');
}
