@use "../variables/colors";
@use "../utilities/helpers";

.e-progress {
  display: flex;
  width: 100%;
  height: 2px;
  margin: 0;
  background-color: colors.color('grey-10');
  @include helpers.border-radius(50px);

  &__bar {
    @extend .e-progress__bar--loading;

    &.e-progress__bar--loading {
      @include helpers.border-radius(50px);
      align-self: center;
      width: 15%;
      height: 6px;
      margin-left: 0;
      background-color: colors.color('green');
      -o-animation: loading 1s infinite;
      -moz-animation: loading 1s infinite;
      -webkit-animation: loading 1s infinite;
      animation: loading 1s infinite;
    }
    &.e-progress__bar--error {
      width: 100%;
      height: 6px;
      background-color: colors.color('red');
      -o-animation: none;
      -moz-animation: none;
      -webkit-animation: none;
      animation: none;
    }
  }
}

@include helpers.keyframes(loading) {
  0% {
    width: 0%;
    margin-left: 0%;
  }
  15% {
    width: 15%;
    margin-left: 0%;
  }

  85% {
    width: 15%;
  }

  100% {
    width: 0;
    margin-left: 100%;
  }
}
