@use "../variables/typography.scss";
@use "../utilities/outline.scss";
@use "../utilities/helpers";

$control-count: 8;

.e-radio-filter {
  display: flex;
  flex-direction: row;
  @include helpers.user-select(none);

  label:not(:last-of-type) {
    margin-right: 4px;
  }

  label {
    padding: 4px 11px;
    border: 1px solid transparent;
    border-radius: 32px;
    background: var(--e-white);
    cursor: pointer;

    .e-radio-filter__label {
      @include typography.typography('text-option');
      font-weight: 500;
    }
  }

  input {
    position: absolute;
    opacity: 0;
    &:focus ~ label:first-of-type {
      @include outline.e-outline();
    }

    &:hover:not(:disabled) + label {
      border-color: var(--e-green);
    }
    &:checked:not(:disabled) + label {
      border-color: var(--e-black);
    }
    &:disabled + label {
      cursor: not-allowed;
      & > .e-radio-filter__label {
        color: var(--e-grey-40);
      }
    }
  }
}
