@use "../utilities/outline.scss";
@use "../utilities/helpers";
@use "../variables/colors.scss";

$control-count: 8;

.e-radio-filter {
  display: flex;
  flex-direction: row;
  @include helpers.user-select(none);

  label:not(:last-of-type) {
    margin-right: 4px;
  }

  label {
    display: flex;
    padding: 4px 11px;
    border: 1px solid transparent;
    border-radius: 32px;
    background: colors.color('elvia-on');
    cursor: pointer;

    .e-radio-filter__label {
      font-family: 'Red Hat Display';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
    }
  }

  &.e-radio-filter---focus input + label:first-of-type {
    @include outline.e-outline-pseudoclass();
  }
  input {
    position: absolute;
    opacity: 0;

    &:focus + label {
      @include outline.e-outline();
    }
    &.e-radio-filter---hover + label,
    &:hover:not(:disabled) + label {
      border-color: colors.color('elvia-charge');
    }
    &.e-radio-filter---checked + label,
    &:checked:not(:disabled) + label {
      border-color: colors.color('elvia-off');
    }
    &.e-radio-filter---disabled + label,
    &:disabled + label {
      cursor: not-allowed;
      & > .e-radio-filter__label {
        color: colors.color('grey-40');
      }
    }
  }
}
