@use "../variables/colors";
@use "../variables/typography";
@use "../utilities/icons";
@use "../utilities/helpers";

$table-padding: 10px 16px;
$table-compact-padding: 9px 16px;
$table-phone-padding: 6px 8px;
$table-border-radius: 8px;
$table-min-height: 48px;
$table-compact-min-height: 40px;

$grey10: colors.color('grey-10');

%header-style {
  background: colors.color('elvia-on');
  width: 100%;
  th {
    color: colors.color('font-color');
    font-weight: 700;
    border-bottom: 1px solid colors.color('grey-10');
  }
}

.e-table-container {
  width: 100%;
  overflow: auto;
  border: 1px solid colors.color('grey-10');
  border-radius: $table-border-radius;
}
.e-table-footnote,
.e-table__footnote {
  margin-top: 8px;
  font-family: 'Red Hat Text', Verdana, sans-serif;
  font-size: 16px;
  line-height: 26px;
  &.e-table__footnote--compact {
    font-size: 14px;
  }
}
.e-table {
  display: table;
  overflow: auto;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  background: colors.color('elvia-on');
  white-space: nowrap;

  // No spacing between table and container
  border-collapse: separate;
  border-spacing: 0;
  position: relative;

  thead {
    @extend %header-style;
    tr {
      height: 56px;
    }
    th {
      @include typography.typography('title-xs');
    }
    th,
    td {
      text-align: left;
    }
  }

  td,
  th {
    @include typography.typography('text-description');
    text-align: left;
    padding: $table-padding;
    height: $table-min-height;
    &.e-table__cell--multiline {
      display: inline-block;
      white-space: pre-wrap;
      width: 450px;
      height: auto;
    }
    &.e-table__cell--multiline-small,
    &.e-table__cell--multiline-sm {
      display: inline-block;
      white-space: pre-wrap;
      width: 250px;
      height: auto;
    }
  }

  // Zebra table
  tbody {
    &:not(.no-zebra) {
      tr:nth-of-type(odd) {
        background: colors.color('grey-05');
      }
    }
  }

  &.e-table--compact {
    thead {
      @extend %header-style;
    }
    td,
    th {
      @include typography.typography('text-info');
      padding: $table-compact-padding;
      line-height: 21px;
      height: $table-compact-min-height;
    }
  }
}

// TABLE MOBILE
.e-table-mobile {
  display: table;
  table-layout: auto;
  width: 100%;
  overflow: hidden;
  border-radius: $table-border-radius;
  border-spacing: 0;
  box-shadow: 0 0 0 1px $grey10;
  background: colors.color('elvia-on');

  thead {
    tr {
      height: 56px;
    }
    th,
    td {
      text-align: left;
    }
    @extend %header-style;
    th {
      @include typography.typography('title-xs');
    }
  }

  th,
  td {
    @include typography.typography('text-description');
    line-height: 27px;
    padding: $table-padding;
    text-align: left;
    height: $table-min-height;
  }

  tbody:not(:last-of-type) tr:not(:first-of-type):not(:last-of-type) td,
  tbody:not(:last-of-type) tr:not(:first-of-type):not(:last-of-type) th {
    border-bottom: 1px solid colors.color('grey-10');
  }
  tbody:last-of-type tr:not(:last-of-type) td,
  tbody:last-of-type tr:not(:first-of-type):not(:last-of-type) th {
    border-bottom: 1px solid colors.color('grey-10');
  }

  tbody tr:first-of-type th {
    background: colors.color('grey-05');
    font-size: 17px;
    color: colors.color('font-color');
    font-weight: 500;
  }
  tbody th,
  tbody td {
    text-align: left;
  }

  th + td:first-of-type,
  td:not(:first-of-type) {
    text-align: right;
  }
  th + th {
    text-align: right;
  }

  &.e-table-mobile--compact {
    thead {
      tr {
        height: 40px;
      }
      th {
        font-family: 'Red Hat Display', Verdana, sans-serif;
        font-weight: 700;
        font-size: 15px;
        line-height: 19px;
      }
    }
    td,
    th {
      @include typography.typography('text-info');
      padding: $table-compact-padding;
      line-height: 21px;
      height: $table-compact-min-height;
    }
    tbody tr:first-of-type th {
      font-size: 15px;
    }
  }
}

// OPTIONS
// Input
.e-table .e-table__input,
.e-table-mobile td.e-table-mobile__input {
  padding: 6px;
  .e-input {
    input {
      background: transparent;
      border-color: colors.color('grey-60');
    }
    .e-input---focus > input,
    .e-input---focus > textarea,
    > input:focus,
    > textarea:focus {
      border-color: colors.color('elvia-charge');
    }
  }
}
// Compact
.e-table.e-table--compact .e-table__input,
.e-table-mobile.e-table-mobile--compact td.e-table-mobile__input {
  padding: 2px;
}

// Button
.e-table .e-table__button {
  text-align: center;
}
.e-table .e-table__button,
.e-table-mobile td.e-table-mobile__button {
  padding: 4px 16px;
  .e-btn:not(:last-of-type) {
    margin-right: 8px;
  }
  .e-btn.e-btn--icon {
    width: 40px;
    height: 40px;
    padding: 7px;
    .e-btn__icon {
      @include icons.icon-size('custom20');
    }
  }
}
// Compact
.e-table.e-table--compact .e-table__button,
.e-table-mobile.e-table-mobile--compact td.e-table-mobile__button {
  padding: 0px 16px;
}

// Select
.e-table .e-table__checkbox {
  th:first-of-type,
  td:first-of-type {
    padding: 0px;
    width: 48px;
    .e-checkbox {
      padding: $table-padding;
    }
  }
}
.e-table-mobile tr.e-table-mobile__checkbox {
  th:first-of-type,
  td:first-of-type {
    display: flex;
    align-items: center;
    .e-checkbox {
      margin-right: 10px;
    }
  }
}
.e-table .e-table__checkbox.e-table__checkbox--selected,
.e-table-mobile tr.e-table-mobile__checkbox.e-table-mobile__checkbox--selected {
  th:last-of-type {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 4px;
      right: 0;
      top: 0;
      background: colors.color('green');
      border-radius: 4px 0 0 4px;
    }
  }
}

// Link
.e-table .e-table__select {
  .e-link__icon {
    @include icons.icon-size('custom20');
  }
  td:last-of-type {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &:hover {
    th:first-of-type,
    td:first-of-type {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 4px;
        left: 0;
        top: 0;
        background: colors.color('green');
        border-radius: 0 4px 4px 0;
      }
    }
    th + td {
      &::before {
        display: none;
      }
    }
  }
  &:hover {
    cursor: pointer;
    .e-link__icon i[class*='filled-color'] {
      visibility: visible;
    }
    .e-link__icon i:not([class*='filled-color']) {
      visibility: hidden;
    }
  }
}
// Compact
.e-table-mobile.e-table-mobile--compact tr.e-table-mobile__select th {
  padding: 8px 16px;
}

// DEPRECATED
.e-table .e-table__sort-header {
  cursor: pointer;
  .e-table__sort-icon {
    display: inline-flex;
    align-items: center;
    margin-left: 4px;
    @include icons.icon-size('xxs');
    width: 16px;
    i[class*='e-icon--arrow_down-bold'] {
      display: flex;
      width: 16px;
    }
    i[class*='e-icon--arrow_up-bold'] {
      display: none;
    }
    &.e-table__sort-icon--up {
      i[class*='e-icon--arrow_up-bold'] {
        display: flex;
        width: 16px;
      }
      i[class*='e-icon--arrow_down-bold'] {
        display: none;
      }
    }
    &.e-table__sort-icon--inactive i[class*='e-icon--arrow_up-bold'],
    &.e-table__sort-icon--inactive i[class*='e-icon--arrow_down-bold'] {
      display: none;
    }
  }
  &:hover {
    .e-table__sort-icon.e-table__sort-icon--inactive {
      i[class*='e-icon--arrow_down-bold'] {
        display: flex;
      }
      i[class*='e-icon--arrow_up-bold'] {
        display: none;
      }
      &.e-table__sort-icon--up {
        i[class*='e-icon--arrow_down-bold'] {
          display: none;
        }
        i[class*='e-icon--arrow_up-bold'] {
          display: flex;
        }
      }
    }
  }
}
