@use '../variables/colors';
@use '../variables/typography';
@use '../utilities/icons';
@use '../utilities/helpers';
@use '../utilities/breakpoints.scss';

$table-padding: 10px 16px;
$table-compact-padding: 9px 16px;
$table-phone-padding: 6px 8px;
$table-border-radius: 8px;
$table-header-height: 56px;
$table-header-compact-height: 40px;
$table-invalid-border: 2px solid colors.color('red');
$table-cell-invalid-padding: 8px 14px;
$table-row-invalid-vertical-padding: 8px;
$table-row-invalid-horizontal-padding: 16px;

$grey10: colors.color('grey-10');

%header-style {
  width: 100%;
  background: colors.color('white');

  th {
    border-bottom: 1px solid colors.color('grey-10');
    color: colors.color('font-color');
    font-weight: 700;
  }
}

%checkbox-selected-style {
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
    border-radius: 4px 0 0 4px;
    background: colors.color('green');
    content: '';
  }
}

.e-table-container {
  overflow: auto;
  width: 100%;
  border: 1px solid colors.color('grey-10');
  border-radius: $table-border-radius;
}

.e-table-footnote,
.e-table__footnote {
  margin-top: 8px;
  color: inherit;
  font-family: 'Red Hat Text', Verdana, sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-align: left;

  &.e-table__footnote--compact {
    font-size: 14px;
  }
}

.e-table {
  position: relative;
  display: table;
  overflow: auto;
  width: 100%;
  box-sizing: border-box;

  // No spacing between table and container
  border-collapse: separate;
  border-spacing: 0;
  text-align: left;
  white-space: nowrap;

  thead {
    @extend %header-style;

    tr {
      height: $table-header-height;
    }

    th {
      @include typography.typography('title-xs');
    }

    th,
    td {
      color: colors.color('font-color');
      text-align: left;
    }
  }

  td,
  th {
    @include typography.typography('text-md');

    padding: $table-padding;
    background: colors.color('white');
    text-align: left;

    @include breakpoints.breakpoint-up(Mobile) {
      line-height: 28px;
    }

    &.e-table__cell--invalid {
      border: $table-invalid-border;
      padding: $table-cell-invalid-padding;
    }

    &.e-table__cell--multiline {
      width: 450px;
      min-width: 450px;
      max-width: 450px;
      height: auto;
      vertical-align: top;
      white-space: pre-wrap;
    }

    &.e-table__cell--multiline-small,
    &.e-table__cell--multiline-sm {
      width: 250px;
      min-width: 250px;
      max-width: 250px;
      height: auto;
      vertical-align: top;
      white-space: pre-wrap;
    }
  }

  tbody {
    tr {
      background: colors.color('white');

      &.e-table__row--invalid {
        td {
          border-top: $table-invalid-border;
          border-bottom: $table-invalid-border;
          padding-top: $table-row-invalid-vertical-padding;
          padding-bottom: $table-row-invalid-vertical-padding;
        }

        td:first-child {
          border-left: $table-invalid-border;
          padding-left: $table-row-invalid-horizontal-padding;
        }

        td:last-child {
          border-right: $table-invalid-border;
          padding-right: $table-row-invalid-horizontal-padding;
        }
      }
    }

    tr:nth-of-type(odd) {
      background: colors.color('grey-05');
    }

    tr:nth-of-type(odd) th,
    tr:nth-of-type(odd) td {
      background: colors.color('grey-05');
    }

    tr:last-child {
      border-bottom-left-radius: $table-border-radius;
      border-bottom-right-radius: $table-border-radius;

      td:first-child {
        border-bottom-left-radius: $table-border-radius;
      }

      td:last-child {
        border-bottom-right-radius: $table-border-radius;
      }
    }
  }

  &.e-table--no-stripes {
    tbody {
      tr,
      tr:nth-of-type(odd) th,
      tr:nth-of-type(odd) td {
        background: colors.color('white');
      }
    }
  }

  &.e-table--compact {
    thead {
      @extend %header-style;
    }

    tr {
      height: $table-header-compact-height;
    }

    td,
    th {
      @include typography.typography('text-sm');
      padding: $table-compact-padding;
      color: colors.color('font-color');
      line-height: 21px;
    }
  }

  &.e-table--sticky-header {
    thead {
      position: sticky;
      z-index: 10;
      top: 0;
    }
  }

  &.e-table--sticky-column-header {
    thead th:first-of-type,
    th[scope='row'] {
      position: sticky;
      z-index: 1;
      left: 0;
      border-right: 1px solid colors.color('grey-10');
    }
  }
}

// TABLE MOBILE
.e-table-container .e-table-mobile {
  box-shadow: none;
}

.e-table-mobile {
  position: relative;
  display: table;
  overflow: hidden;
  width: 100%;
  border-radius: $table-border-radius;
  background: colors.color('elvia-on');
  border-spacing: 0;
  box-shadow: 0 0 0 1px $grey10;
  table-layout: auto;

  thead {
    @extend %header-style;

    tr {
      height: $table-header-height;
    }

    th,
    td {
      color: colors.color('font-color');
      text-align: left;
    }

    th {
      @include typography.typography('title-xs');
      color: colors.color('font-color');
    }
  }

  th,
  td {
    @include typography.typography('text-md');
    padding: $table-padding;
    color: colors.color('font-color');
    line-height: 27px;
    text-align: left;

    @include breakpoints.breakpoint-up(Mobile) {
      line-height: 27px;
    }
  }

  th[class*='e-table-mobile__cell'] {
    vertical-align: text-top;
  }

  tbody:not(:last-of-type) tr:not(:first-of-type):not(:last-of-type) td,
  tbody:not(:last-of-type) tr:not(:first-of-type):not(:last-of-type) th {
    border-bottom: 1px solid colors.color('grey-10');
  }

  tbody:last-of-type tr:not(:last-of-type) td,
  tbody:last-of-type tr:not(:first-of-type):not(:last-of-type) th {
    border-bottom: 1px solid colors.color('grey-10');
  }

  tbody tr:first-of-type th {
    @include typography.typography('text-md-strong');
    background: colors.color('grey-05');
  }

  tbody th,
  tbody td {
    text-align: left;
  }

  th + td:first-of-type,
  td:not(:first-of-type) {
    text-align: right;
  }

  th + th {
    text-align: right;
  }

  &.e-table-mobile--compact {
    thead {
      tr {
        height: $table-header-compact-height;
      }

      th {
        font-family: 'Red Hat Display', Verdana, sans-serif;
        font-size: 15px;
        font-weight: 700;
        line-height: 19px;
      }
    }

    td,
    th {
      @include typography.typography('text-sm');
      padding: $table-compact-padding;
      color: colors.color('font-color');
      line-height: 21px;
    }

    tbody tr:first-of-type th {
      @include typography.typography('text-sm-strong');
      color: colors.color('font-color');
    }
  }

  &.e-table-mobile--sticky-header {
    overflow: auto;

    tbody {
      position: relative;

      tr:first-of-type {
        position: sticky;
        z-index: 10;
        top: 0;
      }
    }
  }
}

// OPTIONS
// Mono font for numbers
.e-table .e-text-mono,
.e-table-mobile .e-text-mono {
  font-family: 'Red Hat Mono', Verdana, sans-serif !important;
}

// Input
.e-table .e-table__input,
.e-table-mobile td.e-table-mobile__input {
  padding: 6px;

  .e-input {
    input {
      border-color: colors.color('grey-60');
      background: transparent;
    }

    .e-input---focus > input,
    .e-input---focus > textarea,
    > input:focus,
    > textarea:focus {
      border-color: colors.color('elvia-charge');
    }
  }
}
// Compact
.e-table.e-table--compact .e-table__input,
.e-table-mobile.e-table-mobile--compact td.e-table-mobile__input {
  padding: 2px;
}

// Button
.e-table .e-table__button {
  text-align: center;
}

.e-table .e-table__button,
.e-table-mobile td.e-table-mobile__button {
  padding: 4px 16px;

  .e-btn:not(:last-of-type) {
    margin-right: 8px;
  }

  .e-btn.e-btn--icon {
    width: 40px;
    height: 40px;
    padding: 7px;

    .e-btn__icon {
      @include icons.icon-size('custom20');
    }
  }
}
// Compact
.e-table.e-table--compact .e-table__button,
.e-table-mobile.e-table-mobile--compact td.e-table-mobile__button {
  padding: 0 16px;
}

// Select
.e-table .e-table__checkbox {
  th:first-of-type,
  td:first-of-type {
    width: 48px;
    padding: 0;

    .e-checkbox {
      padding: $table-padding;
    }
  }
}

.e-table-mobile tr.e-table-mobile__checkbox {
  th:first-of-type,
  td:first-of-type {
    display: flex;
    align-items: center;

    .e-checkbox {
      margin-right: 10px;
    }
  }
}

.e-table .e-table__checkbox.e-table__checkbox--selected {
  @extend %checkbox-selected-style;
}

.e-table-mobile tr.e-table-mobile__checkbox.e-table-mobile__checkbox--selected {
  @extend %checkbox-selected-style;
}

// Link
.e-table .e-table__select {
  .e-link__icon {
    @include icons.icon-size('custom20');
  }

  td:last-of-type {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &:hover {
    cursor: pointer;

    th:first-of-type,
    td:first-of-type {
      position: relative;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        height: 100%;
        border-radius: 0 4px 4px 0;
        background: colors.color('green');
        content: '';
      }
    }

    th + td {
      &::before {
        display: none;
      }
    }

    .e-link__icon i[class*='filled-color'] {
      visibility: visible;
    }

    .e-link__icon i:not([class*='filled-color']) {
      visibility: hidden;
    }
  }
}
// Compact
.e-table-mobile.e-table-mobile--compact tr.e-table-mobile__select th {
  padding: 8px 16px;
}

// DEPRECATED
/* stylelint-disable -- do not lint deprecated styles. */
.e-table .e-table__sort-header {
  cursor: pointer;
  .e-table__sort-icon {
    display: inline-flex;
    align-items: center;
    margin-left: 4px;
    @include icons.icon-size('xxs');
    width: 16px;
    i[class*='e-icon--arrow_down-bold'] {
      display: flex;
      width: 16px;
    }
    i[class*='e-icon--arrow_up-bold'] {
      display: none;
    }
    &.e-table__sort-icon--up {
      i[class*='e-icon--arrow_up-bold'] {
        display: flex;
        width: 16px;
      }
      i[class*='e-icon--arrow_down-bold'] {
        display: none;
      }
    }
    &.e-table__sort-icon--inactive i[class*='e-icon--arrow_up-bold'],
    &.e-table__sort-icon--inactive i[class*='e-icon--arrow_down-bold'] {
      display: none;
    }
  }
  &:hover {
    .e-table__sort-icon.e-table__sort-icon--inactive {
      i[class*='e-icon--arrow_down-bold'] {
        display: flex;
      }
      i[class*='e-icon--arrow_up-bold'] {
        display: none;
      }
      &.e-table__sort-icon--up {
        i[class*='e-icon--arrow_down-bold'] {
          display: none;
        }
        i[class*='e-icon--arrow_up-bold'] {
          display: flex;
        }
      }
    }
  }
}
/* stylelint-enable */
