@use 'sass:map';
@use '../utilities/helpers';

$tag-colors: (
  'neutral': --e-tag-color-neutral,
  'white': --e-color-static-white,
  'black': --e-color-static-black,
  'grey': --e-tag-color-grey,
  'green': --e-color-brand-accent,
  'positive': --e-color-signal-positive,
  'success': --e-color-signal-positive,
  'caution': --e-color-signal-caution,
  'yellow': --e-color-signal-caution,
  'warning': --e-color-signal-warning,
  'orange': --e-color-signal-warning,
  'error': --e-color-signal-danger,
  'danger': --e-color-signal-danger,
  'red': --e-color-signal-danger,
  'green-apple': --e-color-data-1,
  'violet-grape': --e-color-data-2,
  'blue-berry': --e-color-data-3,
  'purple-plum': --e-color-data-4,
  'orange-mango': --e-color-data-5,
  'red-tomato': --e-color-data-6,
);

$label-padding: 4px 8px;
$label-radius: 4px;
$label-font-size: 11px;

@mixin circle($variable) {
  padding: 4px 8px 4px 24px;

  &::before {
    position: absolute;
    left: 8px;
    display: inline-flex;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var($variable);
    content: ' ';
  }
}

.e-tag {
  @include helpers.custom-light-theme-tokens {
    --e-tag-color-neutral: var(--e-light-theme-black);
    --e-tag-color-grey: var(--e-light-theme-grey);
  }

  @include helpers.custom-dark-theme-tokens('tag') {
    --e-tag-color-neutral: var(--e-dark-theme-white);
    --e-tag-color-grey: var(--e-dark-theme-grey-30);
  }

  position: relative;
  display: inline-flex;
  align-items: center;
  padding: $label-padding;
  border-radius: $label-radius;
  background: var(--e-color-background-element-3);
  color: var(--e-color-text-1);
  font-family: 'Red Hat Text', Verdana, sans-serif;
  font-size: $label-font-size;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 16px;
  text-transform: uppercase;
  white-space: nowrap;

  @each $name, $variable in $tag-colors {
    &.e-tag--#{$name} {
      @include circle($variable);
    }
  }
}
