@use '../variables/colors';
@use '../utilities/breakpoints';
@use '../utilities/helpers';

$label-padding: 4px 8px;
$label-radius: 4px;
$label-font-size: 11px;
$label-colors: map-merge(colors.$just-colors, colors.$primary-colors);

@mixin circle($color) {
  padding: 4px 8px 4px 24px;

  &::before {
    position: absolute;
    left: 8px;
    display: inline-flex;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: colors.color($color);
    content: ' ';
  }
}

// DEPRECATED (e-label -> e-tag)
.e-label,
.e-tag {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: $label-padding;
  border-radius: $label-radius;
  background: colors.color('grey-10');
  color: colors.color('font-color');
  font-family: 'Red Hat Text', Verdana, sans-serif;
  font-size: $label-font-size;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 16px;
  text-transform: uppercase;
  white-space: nowrap;

  @each $colorName, $map in $label-colors {
    $color: colors.color($colorName);
    $labels: ($colorName);

    @each $name in $labels {
      &.e-label--#{$name},
      &.e-tag--#{$name} {
        @include circle($name);
      }
    }
  }
}
