@use '../variables/colors.scss';
$tag-padding: 10px;
$tag-border-radius: 4px;

.e-tags {
  position: relative;
  margin-top: 8px;
  box-sizing: border-box;

  &_item {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    min-width: 45px;
    margin-left: 16px;
    padding: $tag-padding;
    border-radius: $tag-border-radius;
    background: colors.color('elvia-charge');
    color: colors.color('font-color');
    letter-spacing: 0.15px;
    &:first-child {
      margin-left: 0;
    }
  }
}
