@use '../variables/colors';
@use '../utilities/helpers';
@use '../utilities/outline.scss';

$border-radius: 8px;

.e-thumbnail {
  position: relative;
  padding: 0;
  border: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
  font-size: 100%;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  vertical-align: baseline;

  img {
    width: 56px;
    border-radius: $border-radius;
    aspect-ratio: 1/1;
    object-fit: cover;
    vertical-align: bottom;
  }

  &::after {
    --offset: 8px;
    position: absolute;
    top: calc(var(--offset) / 2 * -1);
    left: calc(var(--offset) / 2 * -1);
    display: block;
    width: calc(100% + var(--offset));
    height: calc(100% + var(--offset));
    box-sizing: border-box;
    border: 2px solid var(--e-color-border-hover-1);
    border-radius: calc($border-radius + var(--offset) / 2);
    content: '';
    opacity: 0;
    transform: scale(0.9);
    transition: 0.15s all ease;
  }

  &.e-thumbnail---selected {
    &::after {
      border: 2px solid var(--e-color-border-1);
      opacity: 1;
      transform: scale(1);
    }
  }

  &.e-thumbnail---hover,
  &:hover {
    &::after {
      opacity: 1;
      transform: scale(1);
    }
  }
}
