.counter {
  display: flex;
  align-items: center;
  gap: 8px;
}

// Based on the article https://www.a11yproject.com/posts/how-to-hide-content/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.disabled {
  color: var(--e-color-text-disabled-1);
  cursor: not-allowed;
}
