$text-light: #515151;
$text-disabled: #bdbdbd;
$grey-30: #bdbdbd;
$grey-10: #e9e9e9;
$grey-05: #f4f4f4;
$green: #29d305;
$red: #ff0000;

$datepicker-input-height: 48px;
$datepicker-input-compact-height: 34px;

// -> Override in js (fjerne dobbelt opp)
// .MuiIconButton-root:hover,
// .MuiIconButton-root.Mui-focusVisible {
//   background-color: $green;
// }
// .MuiIconButton-root:active {
//   transform: scale(0.93);
// }

.ewc-datepicker {
  position: relative;
  // Input field
  // Empty label/text
  .MuiFormControl-root {
    margin: 0;
  }
  .MuiFormLabel-root {
    margin: -23px 0;
    // position: absolute;
    // top: -16px;

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    &.Mui-disabled {
      color: $grey-30;
      cursor: not-allowed;
    }
  }
  .MuiFormLabel-root.Mui-focused,
  .MuiFormLabel-root.MuiFormLabel-filled {
    display: none;
  }
  .MuiFormLabel-root.Mui-focusVisible {
    outline: 2px solid #0064fa;
    outline-offset: 2px;
  }
  .MuiFormLabel-root:not(.MuiFormLabel-filled):not(.Mui-focused) {
    padding: 12px 17px;
    font-size: 16px;
  }
  .MuiInputAdornment-root .MuiIconButton-root {
    width: 40px;
    height: 40px;
    margin-right: 7px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
  // Input
  .MuiInputBase-root {
    height: $datepicker-input-height;
    border-radius: 4px;
    border: 1px solid black;

    font-family: 'Red Hat Text', Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: normal;

    &.Mui-disabled {
      border: 1px solid $grey-30;
      cursor: not-allowed;
    }
    // Button
    .MuiButtonBase-root {
      &:hover,
      &.Mui-focusVisible {
        background-color: #29d305;
      }
      .MuiIconButton-label .MuiSvgIcon-root path {
        display: none;
      }
    }
  }
  label + .MuiInput-formControl {
    margin: 0px;
  }
  .MuiInput-underline:before,
  .MuiInput-underline:hover:not(.Mui-disabled):before {
    border: 0;
  }
  .MuiInput-underline:after {
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    height: calc(100% + 2px);
    width: calc(100% + 2px);
    top: -1px;
    left: -1px;
    transition: none;
    transform: scaleX(1);
  }
  &.ewc-datepicker--error {
    .MuiInput-underline:after {
      border: 2px solid $red;
    }
  }
  .MuiInput-underline.Mui-focused:after {
    border: 2px solid #29d305;
  }
  input.MuiInputBase-input {
    padding: 15px 0 13px;
    padding-left: 16px;
    &.Mui-disabled {
      color: $grey-30;
      cursor: not-allowed;
    }
  }
  // Helper text
  .MuiFormHelperText-root {
    display: none;
  }

  &.ewc-datepicker--compact {
    .ewc-datepicker__label {
      font-family: 'Red Hat Text';
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 100%;

      display: inline-block;
      position: absolute;
      top: -5px;
      background: white;
      margin-left: 7px;
      padding: 0 3px;
      z-index: 1;
    }

    .ewc-datepicker__icon.ewc-datepicker__icon {
      width: 16px;
      height: 16px;
    }

    .MuiInputBase-root {
      height: $datepicker-input-compact-height;
      font-family: 'Red Hat Text';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 160%;
    }
    input.MuiInputBase-input,
    .MuiFormLabel-root,
    .MuiFormLabel-root:not(.MuiFormLabel-filled):not(.Mui-focused) {
      padding: 5px 0 7px;
      padding-left: 10px;

      font-family: 'Red Hat Text';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 160%;
    }
    input.MuiInputBase-input {
      padding: 9px 0 7px;
      padding-left: 10px;
    }
    .MuiInputAdornment-root .MuiIconButton-root {
      width: 32px;
      height: 32px;
      margin-right: 4px;
    }
    .MuiInput-underline:after {
      height: $datepicker-input-compact-height;
    }
  }
}

// Datepicker dropdown
.MuiPopover-paper {
  margin-top: 16px;
  &.MuiPaper-elevation8 {
    box-shadow: 0px 0px 40px rgb(0 0 0 / 6%);
  }
  .MuiPickersBasePicker-pickerView {
    min-width: 304px;
    min-height: 316px;
    max-height: 316px;
  }
  .MuiPickersBasePicker-containerLandscape {
    flex-direction: column;
    .MuiPickersToolbar-toolbarLandscape {
      max-width: 310px;
    }
  }
}

.MuiPaper-root {
  &.MuiPaper-rounded {
    border-radius: 8px;
  }
  // Header
  .MuiToolbar-regular {
    min-height: 20px;
  }
  .MuiPickersDatePickerRoot-toolbar {
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .MuiPickersToolbar-toolbar {
    height: 48px;
    border-bottom: 1px solid $grey-10;
    background-color: white;
    justify-content: space-between;
    .MuiTypography-h4 {
      font-family: 'Red Hat Text';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 16px;
      color: black;
      &:first-letter {
        text-transform: uppercase;
      }
    }
    .ewc-datepicker--toolbar-year {
      display: flex;
      align-items: center;
      position: relative;
      background: none;
      cursor: pointer;
      .MuiButton-root:hover {
        background: white;
      }

      .MuiPickersToolbarText-toolbarTxt {
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: black;

        margin-right: 8px;
      }
      .Mui-focusVisible {
        &::after {
          display: block;
        }
      }
      .ewc-datepicker__icon-dropdown {
        position: relative;
        height: 16px;
        width: 16px;
        &.rotate-forward {
          transform: rotate(180deg);
        }
      }
      &::after {
        content: '';
        display: none;
        position: absolute;
        width: 100%;
        height: 2px;
        top: 19.5px;
        background: $green;
        border-radius: 50px;
      }
      &:hover {
        &::after {
          display: block;
        }
      }
    }
    .ewc-datepicker--toolbar-today {
      font-family: 'Red Hat Display';
      font-size: 16px;
      line-height: 28px;
      font-weight: 400;
      color: black;
      margin: 0px;
      user-select: none;
    }
  }
  .MuiPickersYearSelection-container {
    position: relative;
    height: 306px;
    margin: 8px 0;
    //fade
    &::before {
      content: '';
      display: block;
      position: sticky;
      top: -1px;
      width: 100%;
      height: 60px;
      background-image: linear-gradient(to top, rgba(255, 255, 255, 0), #fff);
      pointer-events: none;
    }
    &:after {
      content: '';
      display: block;
      position: sticky;
      bottom: 0;
      width: 100%;
      height: 60px;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), #fff);
      pointer-events: none;
    }
    .MuiTypography-subtitle1,
    .MuiPickersYear-yearSelected {
      font-family: 'Red Hat Display';
      font-size: 16px;
      line-height: 28px;
      font-weight: 400;
      color: black;
      margin: 0px;
      &:first-of-type {
        margin-top: -20px;
      }
      &:hover,
      &:focus {
        background: $grey-05;
      }
    }
    .MuiPickersYear-yearSelected {
      background: $grey-10;
    }
  }
  .MuiPickersCalendarHeader-switchHeader {
    margin-top: -30px;
    margin-bottom: 0;
    padding: 8px 16px 0px 16px;
    // MONTH
    .MuiPickersCalendarHeader-transitionContainer {
      height: 16px;
    }
    .MuiTypography-body1 {
      font-family: 'Red Hat Display', Verdana, sans-serif;
      font-style: normal;
      text-transform: capitalize;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
    }

    // ARROWS
    .MuiPickersCalendarHeader-iconButton {
      width: 32px;
      height: 32px;
    }
    .MuiPickersCalendarHeader-iconButton.Mui-disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }

  // Mon - Sun
  .MuiPickersCalendarHeader-daysHeader {
    max-height: 32px;
    padding-top: 8px;
    .MuiPickersCalendarHeader-dayLabel {
      width: 32px;
      height: 24px;
      margin: 0 4px;
    }
    .MuiTypography-caption {
      font-family: 'Red Hat Text', Verdana, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: $text-light;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  // Numbers
  .MuiPickersCalendar-transitionContainer {
    margin-top: 0px;
  }
  .MuiPickersCalendar-week {
    .MuiPickersDay-day {
      width: 32px;
      height: 32px;
      margin: 4px;
    }
    .MuiTypography-body2 {
      font-family: 'Red Hat Text', Verdana, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: black;
    }
    .MuiPickersDay-daySelected,
    .MuiPickersDay-current.MuiPickersDay-daySelected {
      background: $green;
      border: 1px solid black;
      .MuiTypography-body2 {
        font-weight: 500;
      }
    }
    .MuiPickersDay-dayDisabled .MuiTypography-body2 {
      color: $text-disabled;
    }
    .MuiPickersDay-current {
      border: 0;
      background: $grey-05;
      .MuiTypography-body2 {
        font-weight: 500;
      }
    }
    .MuiPickersDay-day:hover,
    .MuiPickersDay-day.Mui-focusVisible {
      border: 1px solid $green;
      background: transparent;
    }
    .MuiPickersDay-current.MuiPickersDay-day:hover {
      background: $grey-05;
    }
    .MuiPickersDay-current.MuiPickersDay-daySelected:hover,
    .MuiPickersDay-daySelected.MuiPickersDay-day:hover,
    .MuiPickersDay-day.Mui-focusVisible.MuiPickersDay-daySelected {
      background: $green;
      border: 0;
    }
  }
}

// EWC
.ewc-datepicker {
  // Label
  .ewc-datepicker__label {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;

    display: block;
    margin-bottom: 4px;
    &.ewc-datepicker__label--disabled {
      color: $grey-30;
    }
  }
  // Error
  .ewc-datepicker__error {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    margin: 0;
    margin-top: 4px;
    display: flex;
    align-items: center;
    width: 100%;
    .ewc-datepicker__helper-text {
      margin-left: 24px;
    }
  }
}
.ewc-datepicker__icon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  width: 24px;
  height: 24px;
  &.ewc-datepicker__icon--arrow {
    width: 16px;
    height: 16px;
  }
  &.ewc-datepicker__icon--error {
    height: 16px;
    width: 16px;
  }
}
