$text-light: #676767;
$text-disabled: #bdbdbd;
$text-placeholder: #676767;
$grey-10: #e9e9e9;
$grey-05: #f4f4f4;
$green: #29d305;
$red: #ee0701;
$outline: #0064fa;
$red-hat-text: 'Red Hat Text', Verdana, sans-serif;
$red-hat-display: 'Red Hat Display', Verdana, sans-serif;
$datepicker-max-width: 448px;

.ewc-no-outline {
  * {
    outline: none !important;
  }
}
%ewc-outline {
  outline: 2px solid $outline;
  outline-offset: 2px;
}

// Custom icons
.ewc-datepicker__icon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.ewc-datepicker {
  position: relative;
  width: 163px;
  max-width: $datepicker-max-width;

  // Removing mui label and helpertext
  .MuiFormLabel-root,
  .MuiFormHelperText-root {
    display: none;
  }

  // LABEL
  .ewc-datepicker__label {
    font-family: $red-hat-text;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    text-align: left;

    display: block;
    margin-bottom: 4px;
  }

  // ERROR MESSAGE
  .ewc-datepicker__error {
    font-family: $red-hat-text;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    margin: 0;
    margin-top: 4px;
    display: flex;
    align-items: flex-start;
    width: 100%;
    .ewc-datepicker__helper-text {
      margin-left: 8px;
    }
  }
  .ewc-datepicker__error-placeholder {
    height: 26px;
  }

  // INPUT
  .MuiInputBase-root {
    height: 48px;
    width: 163px;
    max-width: $datepicker-max-width;
    border-radius: 4px;
    border: 1px solid black;

    font-family: $red-hat-text;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: normal;

    input {
      padding: 15px 0 13px;
      padding-left: 16px;
      &::placeholder {
        opacity: 1;
        color: $text-placeholder;
        user-select: none;
      }
    }

    // Calendar button
    .MuiButtonBase-root {
      padding: 8px;
      border-radius: 50%;
      margin-right: 8px;
      &.ewc-datepicker__keyboardbutton--open,
      &:hover {
        background-color: $green;
      }
      &.Mui-focusVisible {
        outline: 2px solid $outline;
        outline-offset: 4px;
      }
      &:active {
        transform: scale(0.93);
      }
      @media screen and (-ms-high-contrast: none) {
        margin-right: 32px;
      }
    }

    &.MuiInputBase-fullWidth {
      width: 100%;
      max-width: unset;
    }
    &.Mui-disabled {
      border: 1px solid $text-disabled;
      cursor: not-allowed;
      input::placeholder {
        color: $text-disabled;
      }
    }
  }

  // INPUT BORDER
  .MuiInput-underline:after,
  .MuiInput-underline:before,
  .MuiInput-underline:hover:not(.Mui-disabled):before {
    border: 0;
  }
  .MuiInput-underline:after {
    border-radius: 4px;
    box-sizing: border-box;
    height: calc(100% + 2px);
    width: calc(100% + 2px);
    top: -1px;
    left: -1px;
    transition: none;
    transform: scaleX(1);
  }

  &.ewc-datepicker--open {
    .MuiInput-underline::after {
      border: 2px solid $green !important;
    }
  }
  // Focus
  .MuiInput-underline.Mui-focused::after {
    border: 2px solid $green !important;
  }
  .MuiInput-underline.Mui-focused {
    @extend %ewc-outline;
  }
  // Error
  &.ewc-datepicker--error {
    .MuiInput-underline::after {
      border: 2px solid $red !important;
    }
  }

  // COMPACT INPUT
  &.ewc-datepicker--compact {
    width: 133px;
    padding-top: 8px;
    // LABEL
    .ewc-datepicker__label {
      font-family: $red-hat-text;
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 100%;

      display: inline-block;
      position: absolute;
      top: 0;
      background: white;
      margin-left: 7px;
      padding: 0 3px;
      z-index: 1;
    }

    // INPUT
    .MuiInputBase-root {
      height: 34px;
      width: 133px;
      padding: 5px 0 7px;
      &.MuiInputBase-fullWidth {
        width: 100%;
      }

      font-family: $red-hat-text;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 160%;

      input.MuiInputBase-input {
        padding-left: 10px;
      }

      // Calendar button
      .MuiInputAdornment-root .MuiIconButton-root {
        margin-right: 4px;
        margin-top: 2px;
        @media screen and (-ms-high-contrast: none) {
          margin-right: 24px;
        }
        .ewc-datepicker__icon--cal {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
  // Full width
  &.ewc-datepicker--full-width {
    max-width: unset;
    min-width: 163px;
    width: 100%;
  }
}

// PICKER
.MuiPaper-root {
  margin-top: 9px;
  margin-left: -1px;
  transform: none !important;
  transition: opacity 328ms cubic-bezier(0.4, 0, 0.2, 1) !important;
  &.MuiPaper-elevation8 {
    box-shadow: 0px 0px 40px rgb(0 0 0 / 6%);
  }
  &.MuiPaper-rounded {
    border-radius: 8px;
  }
  .MuiPickersBasePicker-containerLandscape {
    flex-direction: column;
    .MuiPickersToolbar-toolbarLandscape {
      max-width: 310px;
    }
  }

  // TOOLBAR
  .ewc-datepicker__toolbar {
    height: 48px;
    border-bottom: 1px solid $grey-10;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

    .ewc-datepicker__toolbar-today {
      font-family: $red-hat-display;
      font-size: 16px;
      line-height: 28px;
      font-weight: 400;
      color: black;
      margin: 0px;
      user-select: none;
      .ewc-capitalize {
        text-transform: capitalize;
      }
    }
    .ewc-datepicker__toolbar-dropdown {
      display: flex;
      align-items: center;
      position: relative;
      background: none;
      border: none;
      cursor: pointer;
      padding: 0 0 3.5px 0;
      border-bottom: 2.5px solid transparent;
      border-radius: 0;
      min-width: 0;
      transition: none;
      top: 5px;

      .ewc-datepicker__toolbar-year {
        font-family: $red-hat-display;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: black;

        margin-right: 8px;
      }
      // Rotate the year-dropdown icon when opened
      svg {
        transform: rotate(0deg);
        transition: transform 0.2s ease-out;
      }
      &[data-isyearview='true'] svg {
        transform: rotate(180deg);
      }

      &:hover {
        border-color: $green;
      }
      &.Mui-focusVisible {
        @extend %ewc-outline;
      }
    }
    .ewc-datepicker__toolbar-clear {
      background: none;
      color: inherit;
      border: none;
      padding: 0;

      display: flex;
      align-items: center;
      position: absolute;
      z-index: 1;
      right: 24px;
      bottom: 16px;

      border-bottom: 2.5px solid transparent;
      border-radius: 0;
      cursor: pointer;

      font-family: $red-hat-display;
      font-size: 14px;
      line-height: 115%;
      font-weight: 500;
      &:hover {
        border-color: $green;
      }
    }
  }

  // YEAR SELECTION VIEW
  .MuiPickersYearSelection-container {
    position: relative;
    height: 306px;
    margin: 8px 0;

    // Fade
    &::before {
      content: '';
      display: block;
      position: sticky;
      width: 100%;
      height: 60px;
      pointer-events: none;
      top: -1px;
      background-image: linear-gradient(to top, rgba(255, 255, 255, 0), #fff);
    }
    &:after {
      content: '';
      display: block;
      position: sticky;
      width: 100%;
      height: 60px;
      pointer-events: none;
      bottom: 0;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), #fff);
    }

    .MuiTypography-subtitle1,
    .MuiPickersYear-yearSelected {
      font-family: $red-hat-display;
      font-size: 16px;
      line-height: 28px;
      font-weight: 400;
      color: black;
      margin: 0px;
      &:first-of-type {
        margin-top: -20px;
      }
      &:hover {
        background: $grey-05;
      }
      &:focus {
        @extend %ewc-outline;
      }
    }
    .MuiPickersYear-yearSelected {
      background: $grey-10;
    }
  }

  // DAY SELECTION VIEW
  .MuiPickersBasePicker-pickerView {
    min-width: 304px;
    max-width: 304px;
    height: 316px;
  }

  // MONTH SWITCHER
  .MuiPickersCalendarHeader-switchHeader {
    margin-top: -30px;
    margin-bottom: 0;
    padding: 8px 16px 0px 16px;
    .MuiPickersCalendarHeader-transitionContainer {
      height: 22.4px;
    }
    .MuiTypography-body1 {
      font-family: $red-hat-text;
      font-style: normal;
      text-transform: capitalize;
      font-weight: 500;
      font-size: 14px;
      line-height: 22.4px;
      letter-spacing: 0.2px;
    }

    // Arrows
    .MuiPickersCalendarHeader-iconButton {
      padding: 8px;
      border-radius: 50%;
      &:hover {
        background-color: $green;
      }
      &.Mui-focusVisible {
        outline: 2px solid $outline;
        outline-offset: 2px;
      }
      &:active {
        transform: scale(0.93);
      }
      .ewc-datepicker__icon--arrow {
        width: 16px;
        height: 16px;
      }
      &.Mui-disabled {
        opacity: 0.3;
        cursor: not-allowed;
      }
    }
  }

  // WEEKDAY HEADERS (MA -> SØ)
  .MuiPickersCalendarHeader-daysHeader {
    max-height: 32px;
    padding-top: 8px;
    .MuiPickersCalendarHeader-dayLabel {
      width: 32px;
      height: 24px;
      margin: 0 4px;
    }
    .MuiTypography-caption {
      font-family: $red-hat-text;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: $text-light;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  // DATES (1 -> 31)
  .MuiPickersCalendar-transitionContainer {
    margin-top: 0px;
  }
  .MuiPickersCalendar-week {
    .ewc-datepicker__day {
      font-family: $red-hat-text;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: black;

      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      box-sizing: border-box;
      border: 1px solid transparent;
      border-radius: 50%;
      position: relative;
      z-index: 1;
      cursor: pointer;

      // Transparent before-element on all dates to help with targeting the correct date.
      &::before {
        content: '';
        position: absolute;
        z-index: -2;
        height: 30px;
        width: 43px;
        transform: translateX(-2px);
        background-color: transparent;
        border-radius: 0;
      }

      // Before-elements are used to add grey background to date range.
      &.ewc-datepicker__day-in-range {
        &::before {
          background-color: $grey-05;
        }
        &.ewc-datepicker__day-start-of-week::before,
        &.ewc-datepicker__day-start-of-month::before {
          width: 36px;
          transform: translateX(2px);
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
        &.ewc-datepicker__day-end-of-week::before,
        &.ewc-datepicker__day-end-of-month::before {
          width: 36px;
          transform: translateX(-3px);
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
        &.ewc-datepicker__day-first-in-range.ewc-datepicker__day-end-of-week::before {
          width: 30px;
          transform: translateX(0);
          border-top-left-radius: 50%;
          border-bottom-left-radius: 50%;
        }
        &.ewc-datepicker__day-first-in-range::before {
          width: 36px;
          transform: translateX(3px);
          border-top-left-radius: 50%;
          border-bottom-left-radius: 50%;
        }
        &.ewc-datepicker__day-last-in-range.ewc-datepicker__day-start-of-week::before {
          width: 31px;
          transform: translateX(-1px);
          border-top-right-radius: 50%;
          border-bottom-right-radius: 50%;
        }
        &.ewc-datepicker__day-last-in-range::before {
          width: 36px;
          transform: translateX(-3px);
          border-top-right-radius: 50%;
          border-bottom-right-radius: 50%;
        }
        &.ewc-datepicker__day-first-in-range.ewc-datepicker__day-last-in-range::before {
          transform: translateX(0);
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
      }
      &.ewc-datepicker__day-first-in-range {
        &:not(&:hover) {
          font-weight: 500;
        }
      }
      &.ewc-datepicker__day-last-in-range {
        &.ewc-datepicker__day-first-in-range,
        &:not(:hover) {
          font-weight: 500;
        }
      }

      // Selected day
      &.ewc-datepicker__day-selected {
        font-weight: 500;
        &.ewc-datepicker__day-current {
          font-weight: 500;
        }
        &::after,
        &.ewc-datepicker__day-current::after {
          content: '';
          position: absolute;
          z-index: -1;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: $green;
        }
      }
      // Other selected day in range
      &.ewc-datepicker__day-other-selected-date::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid black;
        &:hover::after {
          border: 1px solid $green;
        }
      }
      // Current day
      &.ewc-datepicker__day-current {
        position: relative;
        background: white;
        border: 1px solid transparent;
        border-radius: 50%;
        font-weight: 400;
        &:not(.ewc-datepicker__day-first-in-range):not(.ewc-datepicker__day-last-in-range):not(.ewc-datepicker__day-selected)::after {
          content: '';
          position: absolute;
          border-radius: 50%;
          background: $green;
          width: 4px;
          height: 4px;
          top: 25px;
          left: 12.5px;
        }
        &.ewc-datepicker__day-disabled {
          &::after {
            background: $text-disabled;
          }
        }
        // Hover border specific for current day
        &:not(.ewc-datepicker__day-disabled):not(.ewc-datepicker__day-in-range):not(.ewc-datepicker__day-selected):not(.ewc-datepicker__day-first-in-range):not(.ewc-datepicker__day-last-in-range):hover {
          border: 1px solid $green;
        }
      }

      // Hover border
      &:not(.ewc-datepicker__day-disabled):not(.ewc-datepicker__day-selected):hover {
        &::after {
          content: '';
          z-index: 2;
          position: absolute;
          height: 30px;
          width: 30px;
          border-radius: 50%;
          border: 1px solid $green;
        }
        cursor: pointer;
      }
      // Disabled
      &.ewc-datepicker__day-disabled {
        color: $text-disabled;
        cursor: not-allowed;
      }
    }

    .ewc-datepicker__day,
    .ewc-datepicker__day-size {
      width: 32px;
      height: 32px;
      margin: 4px;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Removing datepicker animation
.MuiPickersBasePicker-pickerView {
  .MuiPickersSlideTransition-slideEnterActive,
  .MuiPickersSlideTransition-slideExitActiveLeft-left,
  .MuiPickersSlideTransition-slideExitActiveLeft-right {
    transition: none;
  }
}

.e-form-field__label--optional::after {
  content: ' (valgfri)';
  font-weight: 400;
}
