<!--HEADER-->
<app-component-header>
  <ng-container ngProjectAs="headerTitle">
    Changelog
  </ng-container>
  <ng-container ngProjectAs="headerDescription"></ng-container>
</app-component-header>

<!--BODY-->
<div class="page-body">
  <div class="elvis-anchor">
    <h2 class="e-title-md elvis-anchor-title">Github changelog</h2>
    Currently our changelog is only available for developers on GitHub. The changelog will be available on
    this website in the future. If you are a developer at Elvia and don't have access to the github-link, send
    a message on slack
    <a class="e-link" href="https://hafslundnett.slack.com/archives/C01302LBTC2">#designsystemet</a>
    .
    <p><a class="e-link" href="{{ externalUrl }}">See Changelog on GitHub</a></p>
  </div>
</div>
