@use '@elvia/elvis/src/variables/typography.scss' as typography;

div {
  @include typography.typography('text-caps');
  border: 2px dashed var(--e-color-border-3);
  color: var(--e-color-text-2);
  display: grid;
  height: 150px;
  place-items: center;
}
