$icon-size: 24px;

div[slot='trigger'] {
  height: $icon-size;
  width: $icon-size;

  e-icon[name='informationCircle'] {
    display: inline-block;
  }
  e-icon[name='informationCircleFilledColor'] {
    display: none;
  }

  &:hover {
    e-icon[name='informationCircle'] {
      display: none;
    }
    e-icon[name='informationCircleFilledColor'] {
      display: inline-block;
    }
  }
}
