@use "./../variables/typography.scss";
@use "../variables/colors";

.e-alert {
  display: inline-flex;
  padding: 22px 30px 22px 22px; // -2px for border
  box-sizing: border-box;
  border: 2px solid colors.color('red');
  flex-direction: row;
  max-width: 850px;

  .e-alert__icon {
    display: flex;
    margin-right: 24px;
    margin-top: 8px;
  }
  &.e-alert--no-title {
    .e-alert__icon {
      margin-top: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .e-alert__title {
      @include typography.typography('text-caps');
      margin-bottom: 2px;
    }
    .e-alert__text {
      font-size: 16px;
      line-height: 28px;
      ul {
        margin: 0;
        margin-top: 8px;
        padding: 0;
        padding-left: 17px;
      }
    }
    .e-alert__links {
      margin-top: 16px;
      a:not(:last-of-type) {
        margin-right: 24px;
      }
    }
  }

  &--local {
    border-radius: 8px;
  }

  &--positive {
    border-color: colors.color('green');
  }

  &--warn {
    border-color: colors.color('orange');
  }

  &--info {
    border-color: colors.color('black');
  }
}
