@import "../variables/colors.scss";
@import "../utilities/typography.scss";
@import "../variables/shadows.scss";

.e-autocomplete {

  input {
    position: relative;
    box-sizing: border-box;
    height: 48px;
    width: 100%;
    max-width: 448px;
    border: 1px solid color("black");
    border-radius: 4px;
    padding: 13px 16px;
    @extend .e-text-description;

    &::placeholder {
      @extend .e-text-option;
      color: color("grey-80") !important;
    }

    &:focus,
    &:active {
      outline: none;
      border-color: transparent;
      box-shadow: 0px 0px 0px 2px color('green');

    }

    &:invalid {
      border-color: transparent;
      box-shadow: 0px 0px 0px 2px color('red');
    }
  }

  &__content {
    position: absolute;
    display: block;
    background-color: color("white");
    width: 100%;
    max-width: 448px;
    max-height: 240px;
    overflow-y: hidden;
    margin-top: 4px;
    border: 1px solid color("grey-10");
    border-radius: 4px;
    box-shadow: $e-shadow-6;
    z-index: 1;

    &__item {
      display: block;
      box-sizing: border-box;
      height: 48px;
      width: 100%;
      padding: 13px 16px;
      z-index: 1;
      @extend .e-text-option;

      &:hover {
        background-color: color("grey-10");
      }
    }
  }

  //pseudo classes
  &.e-autocomplete---active {
    input {
      outline: none;
      border-color: transparent;
      box-shadow: 0px 0px 0px 2px color('green');
    }
  }

  &.e-autocomplete---invalid {
    input {
      border-color: transparent;
      box-shadow: 0px 0px 0px 2px color('red');
    }
  }

}
