@import '../variables/colors.scss';
@import '../variables/borders.scss';

$badge-padding: 5px 10px;
$badge-radius: 20px;
$badge-font-size: 0.75rem;

.e-badge {
  padding: $badge-padding;
  border-radius: $badge-radius;
  font-size: $badge-font-size;
  font-weight: bold;
  box-sizing: border-box;
  line-height: normal;

  // Default colors
  background: color('red');
  color: color('white');
}
