@import "../variables/colors.scss";
@import "../variables/shadows.scss";
@import "../variables/shared-sizes.scss";
@import "../utilities/animations.scss";
@import "../utilities/helpers.scss";

$button-radius: 24px;
$button-border-width: 1px;
$extra-border-hover: 1px;
$button-padding-top-bottom: 12px;
$button-padding-left-right: 32px;
$button-padding: $button-padding-top-bottom $button-padding-left-right;
$icon-button-height: 24px;
$icon-button-font-size: 24px;
$icon-button-height-with-border: $icon-button-height - $button-border-width; // Subtract width of border to match size of buttons without border
$button-font-size: 1rem;

.e-btn {
  // .is-primary is the default for any e-button
  @extend .is-primary;

  &.is-primary {
    display: inline-block;
    border: 2px solid transparent;
    border-radius: $button-radius;
    padding: $button-padding;
    font-size: $button-font-size;
    background: color("black");
    color: color("white");
    outline: none;
    cursor: pointer;
    box-sizing: border-box;

    &:disabled {
      background: color("grey-silver");
      color: rgba(255, 255, 255, 0.75);
      cursor: not-allowed;
    }

    &:focus {
      // Not in colors variables yet due to possibly update in future.
      border-color: #1ad6ff;
    }

    // Changes button-text on hover/active/focus
    &:enabled {
      &:hover:not(:focus) {
        color: color("green-lime");
      }

      &:active {
        color: color("green-lime");
        border-color: color("green-lime");
      }
    }
  }

  &.btn-secondary {
    display: inline-block;
    border: none;
    box-shadow: 0px 0px 0px 1px color('black');
    border-radius: $button-radius;
    padding: $button-padding + 1px;
    font-size: $button-font-size;
    background: color("white");
    color: color("black");
    outline: none;
    cursor: pointer;
    box-sizing: border-box;

    &:disabled {
      background: color("grey-silver");
      color: rgba(255, 255, 255, 0.75);
      cursor: not-allowed;
      box-shadow: none;
    }

    &:focus:not(:active) {
      box-shadow: 0px 0px 0px 2px #1ad6ff;
    }

    // Changes button-text on hover/active/focus
    &:enabled {
      &:hover:not(:focus) {
        color: color("green-lime");
        box-shadow: 0px 0px 0px 1px color("green-lime");
      }

      &:active {
        color: color("green-lime");
        box-shadow: 0px 0px 0px 2px color("green-lime");
      }
    }
  }

  // When button with text has icon
  &.has-icon {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border-radius: $button-radius;
    padding-left: 24px;
    padding-right: 24px;

    span {
      // standard size for buttons in large buttons
      background-size: 24px 24px;
      background-position: center;
      // negative margin on icons to not expand the button height
      margin-top: -8px;
      margin-bottom: -8px;
    }
  }

  // Todo: Might remove, not in Figa at moment

  // Buttons with icons only
  // &-icon {
  //   border: $button-border-width solid color("green-lime");
  //   color: color("green-lime");
  //   border-radius: $button-radius;
  //   background: transparent;
  //   height: $icon-button-height-with-border;
  //   width: $icon-button-height-with-border;
  //   font-size: $icon-button-font-size;
  //   cursor: pointer;
  //   padding: 0;
  //   outline-offset: -1px;

  //   // Changes button-text on hover/active/focus
  //   &:not([disabled]) {
  //     &:active {
  //       background: green;
  //       color: color("white");
  //       outline: none;
  //     }

  //     &:hover {
  //       box-shadow: $shadow-medium;
  //       border: $button-border-width + $extra-border-hover solid color("green-lime");
  //     }
  //   }
  // }

  &.btn-loading {
    span {
      background: transparent;
      border-radius: 50%;
      display: inline-block;
      height: 0.6rem;
      width: 0.6rem;
      animation: dots 1000ms linear infinite;
    }

    span:nth-child(2) {
      animation-delay: 0.2s;
    }
    span:nth-child(1) {
      animation-delay: 0.8s;
    }
    span:nth-child(3) {
      animation-delay: 0.4s;
    }
    span:nth-child(4) {
      animation-delay: 0.4s;
    }
    span:nth-child(5) {
      animation-delay: 0.2s;
    }
    span:nth-child(1) {
      animation-delay: 0s;
    }
  }
}

// Animation for loading button
@include keyframes(dots) {
  0% {
    background: transparent;
  }
  50% {
    background: white;
  }
  100% {
    background: transparent;
  }
}
