@import "./../variables/colors";
@import "./../variables/shadows";

$card-radius: 8px;
$card-padding: var(--e-spacing-40);
$card-padding-mobile: var(--e-spacing-24);

// For action cards on Elvis documentaion page
$card-header-action-icon-size: 24px;
$card-actions-action-padding: 13px 0;
$card-actions-button-spacing: 25px;

.e-card {
  border-radius: $card-radius;
  box-shadow: $e-shadow-3;
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  background: color("white");
  box-sizing: border-box;
  padding: $card-padding;
  max-width: 70ch;

  @include breakpoint-up(Tablet) {
    padding: $card-padding-mobile;
  }

  &--bg-white {
    box-shadow: $e-shadow-6;
  }

  &__title {
    // .e-title-sm is font-properties, defined in typography.
    @extend .e-title-sm;
    text-transform: uppercase;
    margin-bottom: var(--e-spacing-16);

    &-above {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      margin-bottom: var(--e-spacing-8);
    }
  }

  &__content {
    display: block;
  }

  // For action cards on Elvis documentaion page
  &__actions {
    display: flex;
    margin-top: auto; /* Align buttons always to the bottom of the card */

    .e-button {
      flex: auto;

      &:not(:last-child) {
        margin-right: $card-actions-button-spacing;
      }
    }

    &--action {
      flex-grow: 1;
      margin: calc(#{$card-padding} * -1) calc(#{$card-padding} * -1);
      padding: $card-actions-action-padding;
      border: 0;
      border-top: 1px solid color("grey-30");
      border-radius: 0;
      background: transparent;
      color: color("green");
      font-weight: 500;
      text-align: center;
      cursor: pointer;
      align-self: flex-end;
      justify-content: center;

      &:hover:not(.no-hover),
      &.is-hovering {
        background-color: #eee;
      }
    }
  }
}
