@use "../variables/typography.scss";
@use './../variables/colors';
@use './../variables/shadows';
@use "../variables/shared-sizes";
@use './form/input.scss';
@use "../utilities/outline.scss";
@use './autcomplete.scss';

.e-dropdown {
  @extend .e-autocomplete;

  &.e-dropdown--compact {
    .e-dropdown__item {
      display: flex;
      align-items: center;
      max-height: 34px;
      padding-top: 13px;
      padding-bottom: 13px;
      padding-left: 16px;
    }
  }

  &__item {
    @extend .e-autocomplete__item;

    &:hover {
      background-color: colors.color('grey-10');
    }
  }
}
