@use "../variables/typography.scss";

.e-filter-button {
  @include typography.typography('text-option');
  padding: 4px 11px;
  border: 1px solid transparent;
  border-radius: 32px;
  cursor: pointer;

  &:hover,
  &---hover {
    border-color: var(--e-green);
  }

  &:disabled,
  &---disabled {
    cursor: not-allowed;
    color: var(--e-grey-40);
    &:hover {
      border-color: transparent;
    }
  }

  &--selected {
    border-color: var(--e-black);
  }
}
