@use '../variables/colors.scss';
@use '../variables/borders.scss';
@use '../utilities/breakpoints.scss';

$label-padding: 4px 11px;
$label-padding-mobile: 2px 7px;
$label-radius: 4px;
$label-font-size: 11px;

%status-content {
  display: inline-flex;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  left: 11px;
  @include breakpoints.breakpoint-up(Mobile) {
    left: 7px;
  }
}

@mixin circle($color) {
  padding: 4px 11px 4px (11px + 8px + 8px);
  @include breakpoints.breakpoint-up(Mobile) {
    padding: 2px 7px 2px (7px + 8px + 6px);
  }
  &::before {
    content: ' ';
    position: absolute;
    background-color: colors.color($color);
    @extend %status-content;
  }
}

.e-label {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: $label-padding;
  border-radius: $label-radius;
  font-size: $label-font-size;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background: colors.color('grey-10');
  color: colors.color('black');

  @include breakpoints.breakpoint-up(Mobile) {
    padding: $label-padding-mobile;
  }

  &.e-label--green-apple {
    @include circle('green-apple');
  }
  &.e-label--violet-grape {
    @include circle('violet-grape');
  }
  &.e-label--blue-berry {
    @include circle('blue-berry');
  }
  &.e-label--purple-plum {
    @include circle('purple-plum');
  }
  &.e-label--orange-mango {
    @include circle('orange-mango');
  }
  &.e-label--red-tomato {
    @include circle('red-tomato');
  }
}
