@import "../variables/colors.scss";
@import "../utilities/breakpoints.scss";

.e-link {
  display: inline-flex;
  border-bottom: 2px solid color('black');
  cursor: pointer;

  // typography for links:
  font-family: "Red Hat Display", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: color("font-color");

  @include breakpoint-up(Mobile) {
    font-size: 16px;
    line-height: 21px;
  }

  i {
    position: relative;
    margin-left: spacing("1");
    margin-right: spacing("1");
    background-size: cover;
    height: 24px;
    width: 24px;
  }

  &:hover,
  &.e-hover {
    border-bottom-color: color('green');
  }

  &:focus,
  &.e-focus {
    outline: auto;
    outline-color: lightblue;
  }

  &.e-inline {
    display: inline-block;
    font-size: inherit;
    font-weight: 500;
    line-height: 100%;
  }

  &.e-custom {
    display: inline-flex;
    position: relative;
    font-size: 20px;
    line-height: 26px;

    @include breakpoint-up(Mobile) {
      font-size: 18px;
      line-height: 24px;
    }

    i {
      position: relative;
      margin-left: spacing("1");
      background-size: 24px;
      background-position-x: 60%;
      background-position-y: 50%;
      height: 20px;
      width: 20px;
      border: 1px solid color("green");
      border-radius: 50%;
      align-self: center;
    }

    &:hover,
    &.e-hover {
      i {
        background-color: color("green");
      }
    }
    &:focus,
    &.e-focus {
      outline: auto;
      outline-color: lightblue;
    }
  }

  &.e-super {
    border-bottom: red;
  }
}
