@import '../variables/colors.scss';

.e-link {

 border-bottom: 2px solid color('black');

  &:hover,
  &.is-hovering,
  &:focus,
  &.is-focusing {
    border-color: color('green-lime');
  }
  &:active,
  &.is-active {
    color: color('green-lime');
  }

  &.is-inline {
    font-size: inherit;
    font-weight: bold;
    border-bottom: 1.5px solid color('black');
    padding-bottom: -2px;
    display: inline;

    &:hover {
      border-bottom: 1.5px solid color('green-lime');
      cursor: pointer;
    }
  }

  &.action {
    $this: &;
    border: none;
    &::after{
      content: ">";
      font-size: 0.6rem;
      font-weight: 800;
      padding: 0px 4px;
      border: 1px solid color('green-lime');
      border-radius: 50%;
      margin-left: 0.25rem;
    }

    &:hover{
      &:after {
        content: ">";
        font-size: 0.6rem;
        font-weight: 800;
        padding: 0px 4px;
        background-color: color('green-lime') ;
        border: 1px solid color('green-lime');
        color: color('black');
        border-radius: 50%;
        margin-left: 0.25rem;
      }
    }
  }
}
