@import "../variables/colors.scss";
@import "../utilities/breakpoints.scss";

$iconSize: 24px;
$iconSizeCustom: 20px;

.e-link {
  display: inline-flex;
  border-bottom: 2px solid color("black");
  cursor: pointer;
  text-decoration: none;

  // typography for links:
  font-family: "Red Hat Display", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: color("font-color");

  @include breakpoint-up(Mobile) {
    font-size: 16px;
    line-height: 21px;
  }

  i {
    position: relative;
    margin-left: 8px;
    background-size: cover;
    height: $iconSize;
    width: $iconSize;
  }

  &.e-back {
    i {
      position: relative;
      margin-left: - 8px;
      background-size: cover;
      height: $iconSize;
      width: $iconSize;
    }
  }

  &.e-icon-first {
    i {
      position: relative;
      margin-left: 0;
      margin-right: 8px;
      background-size: cover;
      height: $iconSize;
      width: $iconSize;
    }
  }

  &:hover,
  &.e-hover {
    border-bottom-color: color("green");
    text-decoration: color("green");
  }

  &:focus,
  &.e-focus {
    outline: auto;
    outline-color: lightblue;
  }

  &.e-inline {
    display: inline;
    font-size: inherit;
    font-weight: 500;
    line-height: 100%;
    border: none;
    text-decoration: underline;

    &:hover,
    &.e-hover {
      text-decoration: underline color("green");
    }
  }

  &.e-custom {
    display: inline-flex;
    position: relative;
    font-size: 20px;
    line-height: 26px;
    border: none;
    
    @include breakpoint-up(Mobile) {
      font-size: 18px;
      line-height: 24px;
    }

    i {
      position: relative;
      margin-left: 8px;
      background-size: 24px;
      background-position-x: 60%;
      background-position-y: 50%;
      height: $iconSizeCustom;
      width: $iconSizeCustom;
      border: 1px solid color("green");
      border-radius: 50%;
      align-self: center;
    }

    &:hover,
    &.e-hover {
      i {
        background-color: color("green");
      }
    }
    &:focus,
    &.e-focus {
      outline: auto;
      outline-color: lightblue;
    }
  }

  &.e-external {
    display: inline-flex;
    position: relative;

    i {
      position: relative;
      margin-left: 8px;
      margin-right: 0px;
      background-size: 24px;
    }
  }

  &.e-jumbo {
    @extend .e-title-sm;
    border: 2px solid transparent;
    box-shadow: 0px 0px 0px 1px color("black");
    border-radius: 64px;
    padding: 32px 40px;
    width: 545px;
    background: color("white");
    color: color("black");
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    &::before { content: none }
    &::after { content: none }

    span:not(:first-of-type):not(:last-of-type) {
      text-align: left;
      width: 100%;
    }

    span:first-of-type {
      margin-right: 24px;
      i {
        width: 48px;
        height: 48px;
        img {
          width: 48px;
          height: 48px;
        }
      }
    }
    span:last-of-type {
      margin-left: 8px;
      i {
        width: 16px;
        height: 16px;
        img {
          width: 16px;
          height: 16px;
        }
      }
    }

    @include breakpoint-up(Mobile) {
      width: 287px;
      padding: 28px 32px;
      span:first-of-type {
        i {
          width: 32px;
          height: 32px;
          img {
            width: 32px;
            height: 32px;
          }
        }
      }
    }

    // Psudo classes / States
    &:focus:not(:active), &.e-focus {
      box-shadow: 0px 0px 0px 2px #00a2c7;
    }

    &:hover:not(:focus), &.e-hover {
      color: color("black");
      box-shadow: 0px 0px 0px 1px color("green");
    }

    &:active, &.e-active {
      color: color("black");
      box-shadow: 0px 0px 0px 2px color("green");
    }
  }
}
