@import "../variables/colors.scss";

$list-border-size: 1.25rem;
$list-dot-size: 0.5rem;
$list-border-radius: 50%;

.e-list {
  $this: &;
  // remove browser margin and padding
  padding: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  // list font properties
  line-height: 190%;

  li {
    list-style: none;
    position: relative;
    // extra padding for the width of the green content bulletin.
    padding-left: 24px;
    margin: 0.5rem 0;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 10px;
      width: $list-dot-size;
      height: $list-dot-size;
      background-color: color("green");
      border-radius: $list-border-radius;
    }
  }

  &.e-numbers {
    counter-reset: elvis-item;
    list-style: none;
    li {
      counter-increment: elvis-item;
      margin: 1rem 0;

      &::before {
        content: counter(elvis-item);
        left: calc(-1 * 0.5rem);
        line-height: $list-border-size;
        width: $list-border-size;
        height: $list-border-size;
        top: 0;
        background: transparent;
        border-radius: $list-border-radius;
        text-align: center;
        box-shadow: 0px 0px 0px 2px color("green");
      }
    }
  }

  &.e-has-icon {
    list-style: none;

    &#{$this} li {
      &::before {
        content: none;
      }
    }
    li {
      padding-left: 16px;
      margin: 1rem 0;
      margin-left: 16px;

      @include breakpoint-up(Mobile) {
        padding-left: 20px;
        margin-left: 24px;
      }
    }
    i {
      width: 32px;
      height: 32px;
      margin-right: 16px;
      vertical-align: middle;
    }
  }

  &.e-strong {
    font-weight: bold;
    background: transparent;
  }
}

.e-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit;

  @include breakpoint-up(Mobile) {
    left: -1em;
  }
}
