@import "../variables/colors.scss";

.e-list {

      li {
        $this: &;
        list-style: none;
        position: relative;
        padding: 0 0 0 20px;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 5px;
          width: 8px;
          height: 8px;
          background-color: color("green-lime");
          border-radius: 50%;
        }
      }

      &.numbers {
        li {
          list-style: decimal;
          border: 2px solid color('green-lime');
           &::before {
              content: none;
           }
        }
      }


      &.strong {
        font-weight: bold;
      }
}
