@import "../variables/colors.scss";
@import "../utilities/spacing.scss";

$list-border-size: 1.25rem;
$list-dot-size: 0.5rem;
$list-border-radius: 50%;

.e-list {
  $this: &;
  // remove browser margin and padding
  padding: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  // list font properties
  line-height: 190%;
  box-sizing: border-box;

  li {
    list-style: none;
    position: relative;
    // extra padding for the width of the green content bulletin.
    padding-left: 24px;
    margin: 0.5rem 0;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 10px;
      width: $list-dot-size;
      height: $list-dot-size;
      background-color: color("green");
      border-radius: $list-border-radius;
    }
  }

  &.e-list--numbers {
    counter-reset: elvis-item;
    list-style: none;

    li {
      counter-increment: elvis-item;
      margin: 32px 0;
      padding-left: 48px;

      &::before {
        content: counter(elvis-item);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        width: 32px;
        height: 32px;
        top: 0;
        background: transparent;
        border: 2px solid color("green");
        border-radius: $list-border-radius;
      }
    }
  }

  &.e-list--strong {
    font-weight: bold;
    background: transparent;
  }

  &.e-list--icons {

    display: flex;
    flex-direction: column;

    &#{$this} li {
      &::before {
        content: none;
      }
    }
    li {
      padding-left: 32px;
      margin: 16px 0;
      margin-left: 16px;

      @include breakpoint-up(Mobile) {
        padding-left: 20px;
        margin-left: 24px;
      }
    }
    .e-list__icon > i {
      position: absolute;
      margin-right: 8px;
      margin-left: -40px;
    }
  }
}
