@use "../variables/colors.scss";
@use "../utilities/breakpoints";
@use "../utilities/icons";
@use "../variables/typography";

$popover-border-width: 1px;
$popover-padding: 24px;
$popover-arrow-size: 12px;
$popover-arrow-size-small: calc(#{$popover-arrow-size} - (#{$popover-border-width} * 2));
$popover-arrow-offset: 25px; // Midtstilt i forhold til ikon 16X16px (xs)
$popover-button-offset: -30px;

$popover-desktop-size: 400px;
$popover-mobile-size: 300px;

%e-popover--center .e-popover__content {
  left: 50%;
  transform: translate(-50%, 0);
  &::before {
    left: calc(50% - (#{$popover-arrow-offset} / 2));
  }
  &::after {
    left: calc(50% - (#{$popover-arrow-offset} / 2) + 2px);
  }
}
%e-popover--top .e-popover__content {
  bottom: 150%;
  margin-bottom: 8px;
  &::before {
    bottom: calc(#{$popover-arrow-size} * -2);
    border-color: colors.color('green') transparent transparent transparent;
  }
  &::after {
    bottom: calc((#{$popover-arrow-size-small} * -2));
    border-color: colors.color('white') transparent transparent transparent;
  }
}

%e-popover--bottom .e-popover__content {
  top: 150%;
  margin-top: 6px;
  &::before {
    top: calc(#{$popover-arrow-size} * -2);
    border-color: transparent transparent colors.color('green') transparent;
  }
  &::after {
    top: calc((#{$popover-arrow-size-small} * -2));
    border-color: transparent transparent colors.color('white') transparent;
  }
}
%e-popover--left .e-popover__content {
  transform: translateX(-87%);
  // adding pixels to center and fit the arrows to relative point
  &:after {
    left: calc(100% - #{$popover-arrow-offset} - 24px);
  }
  &:before {
    left: calc(100% - #{$popover-arrow-offset} - 2px - 24px);
  }
  @include breakpoints.breakpoint-up(Mobile) {
    transform: translateX(-83.5%);
    &:after {
      left: calc(100% - #{$popover-arrow-offset} - 21px);
    }
    &:before {
      left: calc(100% - #{$popover-arrow-offset} - 2px - 21px);
    }
  }
}
%e-popover--left-50 .e-popover__content {
  transform: translateX(-62%);
  // adding pixels to center and fit the arrows to relative point
  &:after {
    left: calc(75% - #{$popover-arrow-offset} - 24px);
  }
  &:before {
    left: calc(75% - #{$popover-arrow-offset} - 2px - 24px);
  }
  @include breakpoints.breakpoint-up(Mobile) {
    transform: translateX(-58.5%);
    &:after {
      left: calc(75% - #{$popover-arrow-offset} - 21px);
    }
    &:before {
      left: calc(75% - #{$popover-arrow-offset} - 2px - 21px);
    }
  }
}
%e-popover--right .e-popover__content {
  transform: translateX(-7%);
  // adding pixels to center and fit the arrows to relative point
  &:after {
    left: calc(#{$popover-arrow-offset} + 4px);
  }
  &:before {
    left: calc(#{$popover-arrow-offset} + 2px);
  }
  @include breakpoints.breakpoint-up(Mobile) {
    transform: translateX(-8.7%);
    &:after {
      left: calc(#{$popover-arrow-offset} + 2px);
    }
    &:before {
      left: #{$popover-arrow-offset};
    }
  }
}
%e-popover--right-50 .e-popover__content {
  transform: translateX(-32%);
  // adding pixels to center and fit the arrows to relative point
  &:after {
    left: calc(38% - #{$popover-arrow-offset} + 4px);
  }
  &:before {
    left: calc(38% - #{$popover-arrow-offset} + 2px);
  }
  @include breakpoints.breakpoint-up(Mobile) {
    transform: translateX(-33.7%);
    &:after {
      left: calc(42% - #{$popover-arrow-offset} + 2px);
    }
    &:before {
      left: calc(42% - #{$popover-arrow-offset});
    }
  }
}
%e-popover__widget {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
}

.e-popover {
  position: relative;
  display: inline-block;
  box-sizing: border-box;

  &.e-popover--w-200 {
    .e-popover__content {
      min-width: 200px;
      max-width: 200px;
    }
  }
  &.e-popover--w-220 {
    .e-popover__content {
      min-width: 220px;
      max-width: 220px;
    }
  }
  &.e-popover--w-240 {
    .e-popover__content {
      min-width: 240px;
      max-width: 240px;
    }
  }
  &.e-popover--w-260 {
    .e-popover__content {
      min-width: 260px;
      max-width: 260px;
    }
  }

  &__content {
    display: block;
    opacity: 1;
    z-index: 99;
    pointer-events: all;
    position: absolute;
    width: max-content;
    min-width: $popover-desktop-size;
    max-width: $popover-desktop-size;
    padding: $popover-padding;
    background-color: colors.color('white');
    color: colors.color('font-color');
    border: 1px solid colors.color('green');
    border-radius: 8px;
    text-align: left;
    animation: fadeIn 300ms ease-in;

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @include breakpoints.breakpoint-up(Mobile) {
      min-width: $popover-mobile-size;
      max-width: $popover-mobile-size;
    }

    // for smallest units
    @media screen and (max-width: 360px) {
      max-width: 280px;
    }

    .e-popover__close {
      position: absolute;
      top: 7px;
      right: 7px;
      i {
        @include icons.icon-size('xs');
      }
    }

    .e-popover__title {
      @include typography.typography('text-info');
      font-weight: 500 !important;
      padding-bottom: 8px;
      margin-right: 16px;
    }
    .e-popover__text {
      @include typography.typography('text-info');
    }

    &::before {
      @extend %e-popover__widget;
      border: $popover-arrow-size solid;
    }
    &::after {
      @extend %e-popover__widget;
      border: $popover-arrow-size-small solid;
    }
  }

  // Default
  &:not(.e-popover--bottom) {
    @extend %e-popover--top;
  }
  &:not(.e-popover--left):not(.e-popover--left-50):not(.e-popover--right):not(.e-popover--right-50) {
    @extend %e-popover--center;
  }

  &.e-popover--bottom {
    @extend %e-popover--bottom;
  }

  &.e-popover--left {
    @extend %e-popover--left;
  }
  &.e-popover--w-200.e-popover--left {
    .e-popover__content {
      transform: translateX(-74%);
      @include breakpoints.breakpoint-up(Mobile) {
        transform: translateX(-75%);
      }
    }
  }
  &.e-popover--w-220.e-popover--left {
    .e-popover__content {
      transform: translateX(-76.5%);
      @include breakpoints.breakpoint-up(Mobile) {
        transform: translateX(-78%);
      }
    }
  }
  &.e-popover--w-240.e-popover--left {
    .e-popover__content {
      transform: translateX(-78%);
      @include breakpoints.breakpoint-up(Mobile) {
        transform: translateX(-80%);
      }
    }
  }
  &.e-popover--w-260.e-popover--left {
    .e-popover__content {
      transform: translateX(-80%);
      @include breakpoints.breakpoint-up(Mobile) {
        transform: translateX(-81%);
      }
    }
  }

  &.e-popover--left-50 {
    @extend %e-popover--left-50;
  }
  &.e-popover--w-200.e-popover--left-50 {
    .e-popover__content {
      transform: translateX(-49%);
      @include breakpoints.breakpoint-up(Mobile) {
        transform: translateX(-51%);
      }
    }
  }
  &.e-popover--w-220.e-popover--left-50 {
    .e-popover__content {
      transform: translateX(-51.5%);
      @include breakpoints.breakpoint-up(Mobile) {
        transform: translateX(-53.5%);
      }
    }
  }
  &.e-popover--w-240.e-popover--left-50 {
    .e-popover__content {
      transform: translateX(-53.5%);
      @include breakpoints.breakpoint-up(Mobile) {
        transform: translateX(-55.5%);
      }
    }
  }
  &.e-popover--w-260.e-popover--left-50 {
    .e-popover__content {
      transform: translateX(-55%);
      @include breakpoints.breakpoint-up(Mobile) {
        transform: translateX(-56.5%);
      }
    }
  }

  &.e-popover--right {
    @extend %e-popover--right;
  }
  &.e-popover--w-200.e-popover--right {
    .e-popover__content {
      transform: translateX(-14%);
      @include breakpoints.breakpoint-up(Mobile) {
        transform: translateX(-13%);
      }
    }
  }
  &.e-popover--w-220.e-popover--right {
    .e-popover__content {
      transform: translateX(-13%);
      @include breakpoints.breakpoint-up(Mobile) {
        transform: translateX(-12%);
      }
    }
  }
  &.e-popover--w-240.e-popover--right {
    .e-popover__content {
      transform: translateX(-12%);
      @include breakpoints.breakpoint-up(Mobile) {
        transform: translateX(-11%);
      }
    }
  }
  &.e-popover--w-260.e-popover--right {
    .e-popover__content {
      transform: translateX(-11%);
      @include breakpoints.breakpoint-up(Mobile) {
        transform: translateX(-10%);
      }
    }
  }
  &.e-popover--right-50 {
    @extend %e-popover--right-50;
  }
  &.e-popover--w-200.e-popover--right-50 {
    .e-popover__content {
      transform: translateX(-26.5%);
      @include breakpoints.breakpoint-up(Mobile) {
        transform: translateX(-30%);
      }
    }
  }
  &.e-popover--w-220.e-popover--right-50 {
    .e-popover__content {
      transform: translateX(-27.5%);
      @include breakpoints.breakpoint-up(Mobile) {
        transform: translateX(-31%);
      }
    }
  }
  &.e-popover--w-240.e-popover--right-50 {
    .e-popover__content {
      transform: translateX(-28.5%);
      @include breakpoints.breakpoint-up(Mobile) {
        transform: translateX(-32%);
      }
    }
  }
  &.e-popover--w-260.e-popover--right-50 {
    .e-popover__content {
      transform: translateX(-29.5%);
      @include breakpoints.breakpoint-up(Mobile) {
        transform: translateX(-33%);
      }
    }
  }
}
