.e-progress {
  display: flex;
  width: 100%;
  height: 2px;
  margin: 0;
  background-color: color("grey-10");
  border-radius: 50px;

  &__bar {
    @extend .e-progress__bar--loading;

    &.e-progress__bar--loading {
      border-radius: 50px;
      align-self: center;
      width: 15%;
      height: 6px;
      margin-left: 0;
      background-color: color("green");
      animation: loading 700ms infinite;
    }
    &.e-progress__bar--error {
      width: 100%;
      height: 6px;
      background-color: color("red");
      animation: none;
    }
  }
}

@keyframes loading {
  0% {
    width: 0%;
    margin-left: 0%;
  }
  15% {
    width: 15%;
    margin-left: 0%;
  }

  85% {
    width: 15%;
  }

  100% {
    width: 0;
    margin-left: 100%;
  }
}
