@import "./../utilities/typography.scss";

$table-padding: 0.688rem 1rem;
$table-phone-padding: 0.375rem 0.5rem;
$table-border-radius: 4px;

%header-style {
  background: color('grey');
  th {
    color: color('white');
    font-weight: 500;
  }
}

.e-table {
  display: block;
  overflow: auto;
  white-space: nowrap;
  width: 100%;
  max-width: 700px;
  box-sizing: border-box;
  text-align: left;

  // Not easy to get rounded borders with border-collapse
  border: 1px solid color('grey-10');
  border-radius: $table-border-radius;
  border-collapse: separate; 
  border-spacing: 0; 
  tr:first-child th:first-child { border-top-left-radius: $table-border-radius; }
  tr:first-child th:last-child { border-top-right-radius: $table-border-radius; }
  tr:last-child td:first-child { border-bottom-left-radius: $table-border-radius; }
  tr:last-child td:last-child { border-bottom-right-radius: $table-border-radius; }
  tr:first-child th { border-top-style: solid; }
  tr td:first-child { border-left-style: solid; }
  td, th {
    @extend .e-text-description;
    width: 100%;
    border: 1px solid color('grey-10');
    border-style: none solid solid none;
    padding: $table-padding;
  }

  .e-table_header {
    @extend %header-style;
  }

  // Striped table
  &:not(.no-zebra) {
    tr:nth-of-type(even) { background: color('grey-05'); }
  }
  .is-right {
    text-align: right;
  }
  .is-center {
    text-align: center;
  }
}

.e-table-mobile {
  display: inline-block;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  box-sizing: border-box;
  text-align: left;
  
  // Border for table, not easy to get round borders with border-collapse
  border-radius: $table-border-radius;
  border-spacing: 0;
  border: 1px solid color('grey-10');
  
  th, td {
    @extend .e-text-description;
    width: 100%;
    padding: $table-phone-padding;
  }

  .e-table_header {
    @extend %header-style;
  }
  
  .e-table_header-row {
    background: color('grey-10');
  }

  // Striped table
  &:not(.no-zebra) {
    tr:not(:first-of-type):nth-of-type(odd) { background: color('grey-05'); }
  }
  .is-right {
    text-align: right;
  }
  .is-center {
    text-align: center;
  }
}
