@use "../variables/colors";
@use "../variables/typography";
@use "../utilities/icons";

$table-padding: 10px 16px;
$table-compact-padding: 9px 16px;
$table-phone-padding: 6px 8px;
$table-border-radius: 8px;

%header-style {
  background: colors.color('grey');
  width: 100%;
  th {
    color: colors.color('white');
    font-weight: 500;
  }
}

.e-table {
  display: block;
  overflow: auto;
  text-align: left;
  white-space: nowrap;
  width: 100%;
  max-width: 768px;
  box-sizing: border-box;
  background: white;

  // Rounded borders with border-collapsed
  border: 1px solid colors.color('grey-10');
  border-radius: $table-border-radius;
  border-collapse: separate;
  border-spacing: 0;

  &__sort-header {
    cursor: pointer;
    .e-table__sort-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-left: 8px;
      @include icons.icon-size('xxs');
      i[class*='e-icon--arrow_down-bold'] {
        display: flex;
      }
      i[class*='e-icon--arrow_up-bold'] {
        display: none;
      }
      &.e-table__sort-icon--up {
        i[class*='e-icon--arrow_up-bold'] {
          display: flex;
        }
        i[class*='e-icon--arrow_down-bold'] {
          display: none;
        }
      }
      &.e-table__sort-icon--inactive i[class*='e-icon--arrow_up-bold'],
      &.e-table__sort-icon--inactive i[class*='e-icon--arrow_down-bold'] {
        display: none;
      }
    }
    &:hover {
      .e-table__sort-icon.e-table__sort-icon--inactive {
        i[class*='e-icon--arrow_down-bold'] {
          display: flex;
        }
        i[class*='e-icon--arrow_up-bold'] {
          display: none;
        }
        &.e-table__sort-icon--up {
          i[class*='e-icon--arrow_down-bold'] {
            display: none;
          }
          i[class*='e-icon--arrow_up-bold'] {
            display: flex;
          }
        }
      }
    }
  }

  &.e-table--compact {
    thead {
      td,
      th {
        color: colors.color('white');
        font-weight: 500;
      }
    }

    td,
    th {
      @include typography.typography('text-info');
      padding: $table-compact-padding;
    }
  }

  &.e-table--white-header {
    thead {
      th {
        background: colors.color('white');
        color: colors.color('font-color');
        border-bottom: 1px solid colors.color('grey-10');
      }
    }
  }

  &.e-table--bold {
    tbody {
      th {
        font-weight: bold;
      }
    }
  }

  &--align-center {
    text-align: center;
  }
  &--align-left {
    text-align: left;
  }
  &--align-right {
    text-align: right;
  }

  td,
  th {
    @include typography.typography('text-description');
    width: 100%;
    padding: $table-padding;
    &.e-table__cell--multiline {
      display: inline-block;
      white-space: pre-wrap;
      width: 300px;
    }
  }

  thead {
    @extend %header-style;
    text-align: center;

    th:first-child {
      text-align: left;
    }
  }

  // Zebra table
  tbody {
    &:not(.no-zebra) {
      tr:nth-of-type(odd) {
        background: colors.color('grey-05');
      }
    }
  }
}

.e-table-mobile {
  display: table;
  table-layout: auto;
  width: 100%;
  overflow: hidden;
  text-align: left;
  border-radius: $table-border-radius;
  border-spacing: 0;
  box-shadow: 0px 0px 0px 1px colors.color('grey-10');
  background: white;

  &.e-table-mobile--compact {
    thead {
      td,
      th {
        color: colors.color('white');
      }
    }

    td,
    th {
      @include typography.typography('text-info');
      padding: $table-compact-padding;
    }
  }

  &.e-table-mobile--white-header {
    thead {
      background-color: colors.color('white');

      th {
        color: colors.color('font-color');
      }
    }
  }

  &.e-table-mobile--bold {
    tbody {
      th {
        font-weight: bold;
      }
    }
  }

  &--align-center {
    text-align: center;
  }
  &--align-left {
    text-align: left;
  }
  &--align-right {
    text-align: right;
  }

  th,
  td {
    @include typography.typography('text-description');
    padding: $table-padding;
  }

  td:first-of-type {
    text-align: left;
  }
  th + td:first-of-type,
  td:not(:first-of-type) {
    text-align: right;
  }

  thead {
    @extend %header-style;
  }

  tbody tr:first-of-type th {
    background: colors.color('grey-10');
  }

  // Zebra table
  &:not(.no-zebra) {
    tr:not(:first-of-type):nth-of-type(odd) {
      background: colors.color('grey-05');
    }
  }
}
