@import "../../../shared/shared-animations";

.example-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  
    h2 {
      margin-bottom: 0;
    }
    .typography {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .example {
        width: 48%;
        margin: var(--e-spacing-5) 0;
        cursor: pointer;
      
        @extend %scale-up-09;
        &:hover {
          @extend %scale-down-09;
        }
      
        &-title {
          color: var(--e-grey-mine-shaft-05);
        }
      }
    }
  
}

