@import "../../../shared/shared-animations";

.example-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  &_column {
    display: flex;
    flex-direction: column;
    width: 48%;

    h2 {
      margin-bottom: 0;
    }
    .typography-desktop {
      padding: 5px 0;

      .example {
        margin: var(--e-spacing-5) 0;
        cursor: pointer;
      
        @extend %scale-up-09;
        &:hover {
          @extend %scale-down-09;
        }
      
        &-title {
          color: var(--e-grey-mine-shaft-05);
        }
      }
    }

    iframe {
      width: 150%;
    }
  }
}

