@import "../../shared/shared-sizes";
.header-warning {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  height: 60px;
  width: 100%;
  padding-left: 16px;
  color: var(--e-black);
  background: var(--e-orange);
  font-size: 16px;
  font-weight: normal;
  z-index: 11;
  i { padding-right: 16px; display: flex;}
}

.header {
  position: fixed;
  height: $header-height;
  width: 100%;
  top: 60px;
  margin: 0;
  padding: 0;
  z-index: 10;
  box-sizing: border-box;

  overflow: hidden;
  background-color: var(--e-grey);
  color: var(--e-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .header-top {
    height: $header-top-height;
    display: flex;
    flex-direction: row;

    &_logo {
      display: flex;
      width: $navbar-width;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      padding-top:20px;

      img { 
        padding:20px;
        height:40px;
      }
    }
    &_title {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 82%;
      padding: 20px;
      h2 {color: var(--e-white) !important;}
    }
    &_links {
      display: flex;
      width: $navbar-width;
      justify-content: flex-end;
      align-items: center;
      a {
        cursor: pointer;
      }
    }
  }

  .header-tabs {
    height: $header-tabs-height;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 80px;
    overflow: hidden;
    z-index: 11;

    .tab {
      cursor: pointer;
      margin: 0 24px;
      width: 170px;
      text-align: center;
      border-bottom: 2px solid transparent;

      &.active {
        font-weight: bold;
        border-bottom: 2px solid var(--e-green);
      }
      &:hover {
        font-weight: bold;
        border-bottom: 2px solid var(--e-green);
      }
    }
  }
}
