@import "../../shared/shared-sizes";
@import "../../../../style/elvis/src/utilities/breakpoints.scss";

.header-warning {
  position: fixed;
  display: none;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  top: 0;
  min-height: 60px;
  max-height: 60px;
  width: calc(100% - 16px);
  color: var(--e-black);
  background: var(--e-orange);
  font-weight: normal;
  z-index: 11;

  @include breakpoint-up(Mobile) {
    min-height: 120px;
    max-height: 120px;
  }
  
  div {
    display:flex;
    align-items: center;
  }

  &.show-header-warning {
    display:flex;
  }
}

.header {
  position: fixed;
  height: $header-height;
  width: 100%;
  top: 0px;
  margin: 0;
  padding: 0;
  z-index: 10;
  box-sizing: border-box;
  
  &.show-header-warning {
    top:60px;

    @include breakpoint-up(Mobile) {
      top: 120px;
    }
  }

  overflow: hidden;
  background-color: var(--e-grey);
  color: var(--e-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .header-top {
    height: $header-top-height;
    display: flex;
    flex-direction: row;

    &_logo {
      display: flex;
      width: $navbar-width;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      padding-top:20px;

      img {
        padding:20px;
        height:40px;

        @include breakpoint-up(Tablet) {
          padding:10px;
          height:20px;
        }
      }
    }
    &_title {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 82%;
      padding: 20px;
      h2 {color: var(--e-white) !important;}
    }
    &_links {
      display: flex;
      width: $navbar-width;
      justify-content: flex-end;
      align-items: center;
      a {
        cursor: pointer;
      }


    }
  }

  .header-tabs {
    height: $header-tabs-height;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 80px;
    overflow: hidden;
    z-index: 11;

    .tab {
      cursor: pointer;
      margin: 0 24px;
      width: 170px;
      text-align: center;
      border-bottom: 2px solid transparent;

      &.active {
        font-weight: bold;
        border-bottom: 2px solid var(--e-green);
      }
      &:hover {
        font-weight: bold;
        border-bottom: 2px solid var(--e-green);
      }
    }
  }
}
