<div class="header e-border-b">
  <div class="header-top">
    <a class="header-top_logo" [routerLink]="['', 'home']">
      <img src="./../../../assets/logo/elvia_negative_1.svg" width="150px" alt="Logo" />
    </a>
    <a class="header-top_title e-title-lg" [routerLink]="['', 'home']">
      <h2 class="e-title-md">Elvia designsystem</h2>
    </a>
    <div class="header-top_links">
      <div class="e-pr-24">
        <a href="https://www.figma.com/files/project/5995782/Designsystem-(Elvis)">
          <i class="e-icon-figma"></i>
        </a>
      </div>
      <div class="e-pr-24">
        <a href="https://github.com/hafslundnett/elvia-designsystem">
          <img src="./../../../assets/github-inverted.png" width="39px" alt="github" />
        </a>
      </div>
    </div>
  </div>

  <div class="header-tabs">
    <a class="tab" [routerLink]="['/home']" routerLinkActive="active">
      Get Started
    </a>
    <a class="tab" [routerLink]="['/components']" routerLinkActive="active">
      Components
    </a>
    <a class="tab" [routerLink]="['/utilities']" routerLinkActive="active">
      Utilities
    </a>
    <!-- <a class="tab" [routerLink]="['/accessibility']" routerLinkActive="active">
      Accessibility
    </a> -->
  </div>
</div>
