@import '../../../../style/src/variables/colors.scss';

.header {
  height: 70px;
  border-bottom: 1px solid color('border');
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: row;

  &_logo {
    display: flex;
    width: 18%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &_title {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 82%;
    padding: 20px;
  }
}
