<div [class.show-header-warning]="showWarning()" class="header-warning e-pl-16 e-pr-16">
  <div>
    <div>
      <i class="e-icon e-icon--warning_circle e-icon--sm e-mr-16"></i>
    </div>
    <div>
      <div>
        The designsystem is still in an early phase. A lot is still missing and changes happen in a rapid pace.  
        Contact us and keep up with the development at &nbsp;<a class="e-link e-link--sm" href="https://hafslundnett.slack.com/archives/C01302LBTC2">#designsystemet</a>
      </div>
    </div>
  </div>
  <div *ngIf="removableWarning()" class="header-warning-close">
    <button (click)="removeWarning()" class="e-btn e-btn--icon e-btn--circled e-btn--sm e-mr-16">
      <span class="e-btn__icon">
        <i class="e-icon e-icon--remove_circle"></i>
        <i class="e-icon e-icon e-icon--remove_circle-filled-color"></i>
      </span>
    </button>
  </div>
</div>
<div [class.show-header-warning]="showWarning()" class="header e-border-b">
  <div class="header-top">
    <a class="header-top_logo" [routerLink]="['', 'home']">
      <img src="./../../../assets/logo/elvia_negative_1.svg" alt="Logo" />
    </a>
    <div class="header-top_title">
     <h2 class="e-title-md">Elvia designsystem</h2>
    </div>
    <div class="header-top_links">
      <div class="e-pr-24 ">
       v{{version}}
      </div>
      <div class="e-pr-24">
          <a href="https://www.figma.com/files/project/5995782/Designsystem-(Elvis)">
            <i class="e-icon e-icon--figma e-icon--md"></i>
          </a>
        </div>
      <div class="e-pr-24">
        <a href="https://github.com/hafslundnett/elvia-designsystem">
          <img src="./../../../assets/github-inverted.png" width="39px" alt="github" />
        </a>
      </div>
    </div>
  </div>

  <div class="header-tabs">
    <a class="tab" [routerLink]="['/home']" routerLinkActive="active" role="tab">
      Get Started
    </a>
    <a class="tab" [routerLink]="['/components']" routerLinkActive="active" role="tab">
      Components
    </a>
    <a class="tab" [routerLink]="['/utilities']" routerLinkActive="active" role="tab">
      Utilities
    </a>
    <!-- <a class="tab" [routerLink]="['/accessibility']" routerLinkActive="active">
      Accessibility
    </a> -->
  </div>
</div>
