@use "sass:list";
@use "sass:map";
@use "sass:meta";
@function color-map($name, $color-set: $colors) {
  $color-map: null;

  @if map.has-key($color-set, $name) {
    $color-map: map.get($color-set, $name);
  } @else {
    @each $label, $map in $color-set {
      @if list.index(map.get($map, alt-labels), $name) {
        $color-map: $map;
      }
    }
  }

  @if meta.global-variable-exists(override-colors) {
    @if map.has-key($override-colors, $name) {
      $color-map: map.get($override-colors, $name);
    } @else {
      @each $label, $map in $override-colors {
        @if list.index(map.get($map, alt-labels), $name) {
          $color-map: $map;
        }
      }
    }
  }

  @if not $color-map {
    @warn 'the color "#{$name}" was not found';
    @return null;
  }

  @return $color-map;
}

@function color($name, $color-set: $colors) {
  $map: color-map($name, $color-set);
  @return map.get($map, color);
}

@function internal-color($name, $color-set: $internal-colors) {
  $map: color-map($name, $color-set);
  @return map.get($map, color);
}

// All colors as a list
// REMEMBER TO UPDATE THE DOCUMENTATION ALSO: color-doc -> color.ts
$primary-colors: (
  'white': (
    color: #fff,
    alt-labels: (
      elvia-on,
      font-color-light,
    ),
    contrastText: #000,
  ),
  'black': (
    color: #000,
    alt-labels: (
      font-color,
      elvia-off,
    ),
    contrastText: #fff,
  ),
  'grey': (
    color: #262626,
    contrastText: #fff,
  ),
  'green': (
    color: #29d305,
    alt-labels: (
      elvia-charge,
    ),
    contrastText: #000,
  ),
);

$signal-colors: (
  'green': (
    color: #29d305,
    rgb: rgb(41, 211, 5),
    alt-labels: (
      elvia-charge,
    ),
    contrastText: #000,
  ),
  'yellow': (
    color: #ffff00,
    rgb: rgb(255, 255, 0),
    contrastText: #000,
  ),
  'orange': (
    color: #ffa000,
    rgb: rgb(255, 160, 0),
    contrastText: #000,
  ),
  'red': (
    color: #ee0701,
    rgb: rgb(255, 0, 0),
    contrastText: #000,
  ),
);

$data-colors: (
  'green-apple': (
    color: #21ac04,
    rgb: rgb(33, 172, 4),
    contrastText: #000,
  ),
  'violet-grape': (
    color: #490192,
    rgb: rgb(73, 1, 146),
    contrastText: #fff,
  ),
  'blue-berry': (
    color: #006ddb,
    rgb: rgb(0, 109, 219),
    contrastText: #fff,
  ),
  'purple-plum': (
    color: #b66dff,
    rgb: rgb(182, 109, 255),
    contrastText: #000,
  ),
  'orange-mango': (
    color: #db6d00,
    rgb: rgb(219, 109, 0),
    contrastText: #000,
  ),
  'red-tomato': (
    color: #b90202,
    rgb: rgb(185, 2, 2),
    contrastText: #fff,
  ),
);

$greys: (
  'grey-90': (
    color: #3b3b3b,
    contrastText: #fff,
  ),
  'grey-80': (
    color: #515151,
    contrastText: #fff,
    alt-labels: (
      font-grey,
    ),
  ),
  'grey-70': (
    color: #676767,
    contrastText: #fff,
  ),
  'grey-60': (
    color: #7c7c7c,
    contrastText: #000,
  ),
  'grey-50': (
    color: #929292,
    contrastText: #000,
  ),
  'grey-40': (
    color: #a8a8a8,
    contrastText: #000,
  ),
  'grey-30': (
    color: #bdbdbd,
    contrastText: #000,
    alt-labels: (
      disabled,
    ),
  ),
  'grey-20': (
    color: #d3d3d3,
    contrastText: #000,
  ),
  'grey-10': (
    color: #e9e9e9,
    contrastText: #000,
  ),
  'grey-05': (
    color: #f4f4f4,
    contrastText: #000,
    alt-labels: (
      disabled-light,
    ),
  ),
  'grey-02': (
    color: #fafafa,
    contrastText: #000,
  ),
);

$just-colors: map-merge($signal-colors, $data-colors);
$grey-primary: map-merge($greys, $primary-colors);
$colors: map-merge($just-colors, $grey-primary);

$internal-colors: (
  'focus-outline': (
    color: #0064fa,
  ),
);
