@use 'sass:map';
@use './colors.scss';
@use '../utilities/breakpoints.scss';
@use '@elvia/elvis-typography/dist/typographyMap.scss' as TypographyMap;

$font-family: 'Red Hat Display', Verdana, sans-serif;
$font-family-secondary: 'Red Hat Text', Verdana, sans-serif;

@function getValue($name, $value) {
  $typography-map: null;

  @if map-has-key($typography, $name) {
    $typography-map: map-get($typography, $name);
  } @else {
    @each $label, $map in $typography {
      @if map-has-key($typography, alt-labels) {
        @if contains(map-get($map, alt-labels), $name) {
          $typography-map: $map;
        }
      }
    }
  }

  @if not $typography-map {
    @warn 'the typography variable "#{$name}" was not found';
    @return null;
  }

  @return map-get($typography-map, $value);
}

@mixin typography($name) {
  color: getValue($name, color);
  font-family: getValue($name, family);
  font-size: getValue($name, size);
  font-style: getValue($name, style);
  font-weight: getValue($name, weight);
  letter-spacing: getValue($name, letter-spacing);
  line-height: getValue($name, height);
  text-transform: getValue($name, transform);
  @include breakpoints.breakpoint-up(Mobile) {
    font-size: getValue($name, size-m);
    line-height: getValue($name, height-m);
  }
}

body {
  color: var(--e-color-text-primary, #000);
  font-family: $font-family;
}

$typography: TypographyMap.$typography;

@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,400i,500,500i,700,700i,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text:400,400i,500,500i,600,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,400;0,500;1,400&display=swap');
