/* Elvia Styleguide */
@import "~@hafslundnett/elvis/src/main.scss";

/* Code highlighter */
@import "~prismjs/plugins/toolbar/prism-toolbar.css";
@import "~prismjs/themes/prism-okaidia";


html,
body {
  height: 100%;
}

// Shared classes
.example-box {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.page-body {
  margin: auto;
  margin-bottom: 40px;
  width: 66%;
  min-width: 20em;
  max-width: 50em;
}

.code-text {
  background: #e6e6e6;
  padding: 1px 4px;
}
