/* Elvia Styleguide */
@import "../style/elvis/src/main.scss";

/* Code highlighter */
@import "~prismjs/plugins/toolbar/prism-toolbar.css";
@import "~prismjs/themes/prism-okaidia";


html,
body {
  height: 100%;
}

.example-box {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px;
}
