@import '../shared-sizes.scss';

.main-container {
  .page-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    margin: auto;
    height: 100%;

    .e-card {
      display: flex;
      min-width: 250px;
      max-width: 600px;
      min-height: 200px;
      margin: 20px 0;
    }
  }
}

@media screen and (min-width: 1180px) {
  .e-card {
    width: 48%;
  }
}
@media screen and (max-width: 1180px) {
  .e-card {
    width: 100%;
  }
}
