@import '../shared-sizes.scss';
@import '../../../../style/elvis/src/utilities/breakpoints.scss';

.main-container {
  &-title {
    @include breakpoint-up(Mobile) {
      text-align: center;
    }
  }

  .page-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    margin: auto;
    height: 100%;

    @include breakpoint-up(Mobile) {
      width: 90%;
    }

    .e-card {
      display: flex;
      min-width: 250px;
      max-width: 600px;
      min-height: 200px;
      margin: 20px 0;
    }
  }
}

@media screen and (min-width: 1180px) {
  .e-card {
    width: 48%;
  }
}
@media screen and (max-width: 1180px) {
  .e-card {
    width: 100%;
  }
}
