@import '../shared-sizes.scss';
@import '../../../../style/elvis/src/utilities/breakpoints.scss';

.main-container {
  &-title {
    @include breakpoint-up(Mobile) {
      text-align: center;
    }
  }

  .page-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    margin: auto;

    @include breakpoint-up(Mobile) {
      width: 90%;
    }

    .page-card-container {
      display: flex;
      .e-link--card {
        margin: 24px;
      }
    }
  }
}
