@import '@elvia/elvis/src/utilities/breakpoints.scss';

.tablet-size {
  width: unset;
  @include breakpoint-up(Tablet) {
    width: 100%;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    .second-wrapper {
      width: 100%;
      @include breakpoint-up(Tablet) {
        max-width: 522px;
      }

      h1 {
        margin: 0;
      }
    }
  }
}

.cms-img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cms-hr {
  height: 1px;
  border: none;
  border-top: 1px solid black;
}

.brand {
  font-family: 'Red Hat Display', Verdana, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 120%;
  text-align: center;

  .brand-text {
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
}

.cms-centered-content {
  text-align: center;
}

.cms-section {
  margin-top: 104px;
  @include breakpoint-up(Mobile) {
    margin-top: 72px;
  }

  &__content {
    margin-top: 72px;
    margin-left: 72px;
    @include breakpoint-up(Tablet) {
      margin-top: 56px;
      margin-left: 0;
    }
    @include breakpoint-up(Mobile) {
      margin-top: 48px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--e-black);

    .e-tooltip {
      .e-tooltip__content {
        display: none;
        left: -24px;
        margin-bottom: -4px;
      }
      &:hover .icons .normal-img {
        display: flex;
      }
    }
    .icons {
      cursor: pointer;
      position: relative;
      .component-section__img {
        display: none;
        position: absolute;
        top: 33px;
        left: -36px;
        padding-right: 12px;
      }
    }
    &.anchor-copied .icons .green-img,
    &.anchor-copied .e-tooltip .e-tooltip__content {
      display: flex;
      opacity: 1;
    }
    &.anchor-copied .icons .normal-img {
      display: none;
    }
  }
}

.cms-subsubsection {
  margin-left: 72px;
  @include breakpoint-up(Tablet) {
    margin-left: 0;
  }
  @include breakpoint-up(Mobile) {
    margin-top: 48px;
  }
}

.cms-section,
.cms-subsection,
.cms-subsubsection {
  p {
    margin: 0px;
  }
  p + p {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  li p {
    & + p {
      margin: 0px;
    }
    margin-top: 24px;
    margin-bottom: 8px;
  }
}

.cms-landing-page {
  text-align: center;
  &__img {
    width: 100%;
    max-width: 650px;
  }
  &__description {
    text-align: center;
    @include breakpoint-up(Tablet) {
      display: none;
    }
  }
}

.subpages-content-loader {
  @include breakpoint-up(Tablet) {
    margin: 0 40px;
    margin-top: -24px;
  }
}
