@import '@elvia/elvis/src/utilities/breakpoints.scss';
@import '../../../shared/overview-page/overview-page.component.scss';

$pageSectionMarginTop: 104px;
$pageSectionMarginBottom: 64px;
$pageIndentedMargin: 72px;

.doc-page-description {
  * {
    font-family: 'Red Hat Text', Verdana, sans-serif;
    font-size: 24px;
    line-height: 39px;
    font-weight: 400;
    font-style: unset;
    letter-spacing: unset;
    text-transform: unset;
    color: inherit;
  }
}
.doc-page-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: -16px;

  &__title {
    display: flex;
  }
  &__figma-icon {
    display: flex;
    align-items: flex-end;
    margin-right: 16px;
  }
  &__date {
    display: flex;
    margin-bottom: 11px;
    white-space: nowrap;
  }
  @include breakpoint-up(Mobile) {
    flex-direction: column;
    align-items: flex-start;
    &__title {
      margin-bottom: 8px;
    }
    &__date {
      margin-bottom: 0px;
    }
  }
}

.cms-img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.brand {
  font-family: 'Red Hat Display', Verdana, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 120%;
  text-align: center;

  .brand-text {
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
}

.cms-centered-content {
  text-align: center;
}

.cms-section,
.cms-heading1 {
  margin-top: $pageSectionMarginTop;
  @include breakpoint-up(Mobile) {
    margin-top: $pageSectionMarginBottom;
  }

  &__content {
    margin-top: $pageSectionMarginBottom;
    margin-left: $pageIndentedMargin;
    @include breakpoint-up(Tablet) {
      margin-top: 56px;
      margin-left: 0;
    }
    @include breakpoint-up(Mobile) {
      margin-top: 48px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--e-black);

    .e-tooltip {
      .e-tooltip__content {
        display: none;
        left: -24px;
        margin-bottom: -4px;
      }
      &:hover .icons .normal-img {
        display: flex;
      }
    }
    .icons {
      cursor: pointer;
      position: relative;
      .cms-section__img {
        display: none;
        position: absolute;
        top: 9px;
        left: -36px;
        padding-right: 12px;
      }
    }
    &.anchor-copied .e-tooltip .e-tooltip__content {
      display: flex;
      opacity: 1;
      left: -24px;
      margin-bottom: -4px;
    }
    &.anchor-copied .icons .green-img {
      display: flex;
      opacity: 1;
    }
    &.anchor-copied .icons .normal-img {
      display: none;
    }
  }
}

.cms-subsubsection {
  margin-left: $pageIndentedMargin;
  @include breakpoint-up(Tablet) {
    margin-left: 0;
  }
  @include breakpoint-up(Mobile) {
    margin-top: 48px;
  }
}

.cms-section,
.cms-subsection,
.cms-subsubsection {
  p {
    margin: 0px;
  }
  p + p {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  li p {
    & + p {
      margin: 0px;
    }
    margin-top: 24px;
    margin-bottom: 8px;
  }
}

.cms-heading1 {
  margin-bottom: $pageSectionMarginBottom;
  @include breakpoint-up(Tablet) {
    margin-bottom: 56px;
  }
  @include breakpoint-up(Mobile) {
    margin-bottom: 48px;
  }
  ~ *:not(.cms-section, .cms-heading1) {
    margin-left: $pageIndentedMargin;
    @include breakpoint-up(Tablet) {
      margin-left: 0;
    }
  }
}
.cms-heading2 {
  margin-bottom: -24px;
  &__title {
    margin-top: 48px;
    @include breakpoint-up(Mobile) {
      margin-top: 40px;
    }
  }
}
.cms-heading3 {
  margin-bottom: -32px;
  &__title {
    margin-top: 40px;
    @include breakpoint-up(Mobile) {
      margin-top: 32px;
    }
  }
}

.component-header__description {
  .cms-paragraph {
    margin-left: 0px;
  }
}

.cms-landing-page {
  text-align: center;
  &__img {
    width: 100%;
    max-width: 650px;
  }
  &__description {
    text-align: center;
    @include breakpoint-up(Tablet) {
      display: none;
    }
  }
}

.subpages-content-loader {
  @include breakpoint-up(Tablet) {
    margin: 0 40px;
    margin-top: -24px;
  }
}

.cms-image {
  .cms-image-inline {
    display: inline-flex;
    vertical-align: middle;
    margin-bottom: 8px;
    &.align-left {
      padding-right: 32px;
      &.original-margin {
        padding: 0px;
        margin-right: 32px;
      }
    }
    &.align-right {
      padding-left: 32px;
      &.original-margin {
        padding: 0px;
        margin-left: 32px;
      }
    }
    &.align-center {
      padding-left: 32px;
      padding-right: 32px;
      &.original-margin {
        padding: 0px;
        margin: 0 32px;
      }
    }
  }
  .align-left {
    float: left;
  }
  .align-right {
    float: right;
  }
  .align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .cms-image-inline + p {
    display: inline;
    vertical-align: middle;
  }

  &.cms-image-small {
    @include breakpoint-up(Mobile) {
      width: 50% !important;
    }
  }
}
