@use '@elvia/elvis/src/utilities/breakpoints.scss' as breakpoints;

$pageSectionMarginTop: 104px;
$pageSectionMarginBottom: 64px;
$pageIndentedMargin: 72px;

%image-typo {
  font-family: 'Red Hat Text', Verdana, sans-serif !important;
  font-size: 18px !important;
  text-align: center !important;
  line-height: 29px !important;
  font-weight: 400 !important;
  font-style: italic !important;
  letter-spacing: unset !important;
  text-transform: unset !important;
  color: inherit !important;
  @include breakpoints.breakpoint-up(Mobile) {
    font-size: 16px !important;
    line-height: 26px !important;
  }
}

.doc-page-description {
  font-weight: 400;
  * {
    font-family: 'Red Hat Text', Verdana, sans-serif;
    font-size: 24px;
    line-height: 39px;
    font-style: unset;
    letter-spacing: unset;
    text-transform: unset;
    color: inherit;
    @include breakpoints.breakpoint-up(Mobile) {
      font-size: 22px;
      line-height: 36px;
    }
    .e-text-img .e-text-lg {
      @extend %image-typo;
    }
  }
}

.overview-page-title-container {
  @include breakpoints.breakpoint-up(Tablet) {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.overview-page-title-size {
  @include breakpoints.breakpoint-up(Tablet) {
    display: flex;
    width: 100%;
    padding: 0px;
    max-width: 522px;
    margin-bottom: 20px;
  }
}

.doc-page-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: -16px;

  &__title {
    display: flex;
  }
  &__figma-icon {
    display: flex;
    align-items: flex-end;
    margin-right: 16px;
  }
  &__date {
    display: flex;
    margin-bottom: 11px;
    white-space: nowrap;
  }
  @include breakpoints.breakpoint-up(Mobile) {
    flex-direction: column;
    align-items: flex-start;
    &__title {
      margin-bottom: 8px;
    }
    &__date {
      margin-bottom: 0px;
    }
  }
}

.cms-img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.brand {
  font-family: 'Red Hat Display', Verdana, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 120%;
  text-align: center;

  .brand-text {
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
}

.cms-centered-content {
  text-align: center;
}

.cms-heading1 {
  margin-top: $pageSectionMarginTop;
  margin-bottom: $pageSectionMarginBottom;
  @include breakpoints.breakpoint-up(Tablet) {
    margin-bottom: 56px;
  }
  @include breakpoints.breakpoint-up(Mobile) {
    margin-bottom: 48px;
    margin-top: $pageSectionMarginBottom;
  }
  ~ *:not(.cms-section, .cms-heading1) {
    margin-left: $pageIndentedMargin;
    @include breakpoints.breakpoint-up(Tablet) {
      margin-left: 0;
    }
  }

  &__content {
    margin-top: $pageSectionMarginBottom;
    margin-left: $pageIndentedMargin;
    @include breakpoints.breakpoint-up(Tablet) {
      margin-top: 56px;
      margin-left: 0;
    }
    @include breakpoints.breakpoint-up(Mobile) {
      margin-top: 48px;
    }
  }

  &__title {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--e-black);

    &:hover .icons .normal-img {
      display: block;
    }

    .icons {
      display: inline-block;
      cursor: pointer;
      position: relative;
      height: 24px;
      width: 36px;
      .cms-section__img {
        display: none;
        position: absolute;
        padding-right: 12px;
      }
    }
    &.anchor-copied .icons .green-img {
      display: block;
    }
    &.anchor-copied .icons .normal-img {
      display: none;
    }
  }
}

.cms-heading2 {
  + p {
    margin-top: -8px;
  }
  &__title {
    margin-top: 48px;
    @include breakpoints.breakpoint-up(Mobile) {
      margin-top: 40px;
    }
  }
}
.cms-heading3 {
  + p {
    margin-top: -16px;
  }
  &__title {
    margin-top: 40px;
    @include breakpoints.breakpoint-up(Mobile) {
      margin-top: 32px;
    }
  }
}

.component-header__description {
  .cms-paragraph {
    margin-left: 0px;
  }
}

.cms-paragraph {
  code {
    font-family: 'Red Hat Mono', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: inherit;

    background: var(--e-grey-05);
    border-radius: 4px;
    padding: 0 2px;
  }
}

.cms-landing-page {
  text-align: center;
  &__img {
    width: 100%;
    max-width: 650px;
  }
  &__description {
    text-align: center;
    @include breakpoints.breakpoint-up(Tablet) {
      display: none;
    }
  }
}

.subpages-content-loader {
  @include breakpoints.breakpoint-up(Tablet) {
    margin: 0 40px;
    margin-top: -24px;
  }
}

.cms-image-align-center {
  display: flex;
  justify-content: center;
}
.cms-image-align-right {
  display: flex;
  justify-content: flex-end;
}
.cms-image-align-left {
  display: flex;
  justify-content: flex-start;
}
.cms-image {
  .cms-image-inline {
    display: inline-flex;
    vertical-align: middle;
    &.align-left,
    .align-left {
      padding-right: 32px;
      &.original-margin {
        padding: 0px;
        margin-right: 32px;
      }
    }
    &.align-right,
    .align-right {
      padding-left: 32px;
      &.original-margin {
        padding: 0px;
        margin-left: 32px;
      }
    }
    &.align-center,
    .align-center {
      padding-left: 32px;
      padding-right: 32px;
      &.original-margin {
        padding: 0px;
        margin: 0 32px;
      }
    }
  }
  .containerDivNewLine {
    clear: both;
  }
  .align-left {
    float: left;
  }
  .align-right {
    float: right;
  }
  .align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .cms-image-inline + p {
    display: inline;
    vertical-align: middle;
  }

  .cms-image-desc {
    display: none;

    @extend %image-typo;

    &.cms-image-desc-show {
      display: block;
    }
  }

  &.cms-image-small {
    @include breakpoints.breakpoint-up(Mobile) {
      width: 50% !important;
    }
  }
}

.cms-quote-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .cms-quote-text {
    margin-left: 40px;
    font-style: italic !important;

    @include breakpoints.breakpoint-up(Mobile) {
      margin-left: 31px;
    }
  }
}

.e-list {
  li p {
    margin: 0px;
  }
}

.cms-download-content {
  display: flex;
  flex-direction: column;

  .cms-display-image,
  .cms-display-image img {
    width: 100%;
    border-radius: 8px;
    pointer-events: none;
  }
  .cms-downloadable-asset {
    display: flex;
    justify-content: flex-end;
    &.centered {
      justify-content: center;
    }
  }
}

.cms-error {
  display: flex;
  flex-direction: column;
  align-items: center;

  .error-image {
    width: 260px;
    @include breakpoints.breakpoint-up(Tablet) {
      width: 200px;
    }
  }

  .error-message-title {
    margin-top: 62px;
  }

  .error-message {
    width: 75%;
    @include breakpoints.breakpoint-up(Tablet) {
      width: 85%;
    }
    @include breakpoints.breakpoint-up(Mobile) {
      width: 100%;
    }
  }
}

.when {
  display: flex;
  flex-direction: row;
  .when-to-use,
  .when-not-to-use {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .when-to-use {
    padding-right: 8px;
  }
  .when-not-to-use {
    padding-left: 8px;
  }
  ul {
    padding-left: 22px;
  }
  @include breakpoints.breakpoint-up(Mobile) {
    flex-direction: column;
    .when-to-use,
    .when-not-to-use {
      width: 100%;
      padding: 0;
    }
    .when-not-to-use {
      margin-top: 24px;
    }
  }
}

.e-grid {
  .cms-download-content .cms-display-image {
    text-align: center;
    img {
      max-width: 100%;
      width: auto;
    }
  }
}
