<div class="component">
  <div class="component-header page-body">
    <div class="component-header__title">
      <div class="title-text">
        <h1 class="e-title-lg">
          <ng-content select="headerTitle"></ng-content>
          <div class="e-pl-16">
            <a *ngIf="externalUrl" href="{{externalUrl}}">
              <i class="e-icon e-icon--figma e-icon--md"></i>
            </a>
          </div>
        </h1>
        <div *ngIf="componentStatus != ''">
          <span
            class="e-label e-label--green-apple"
            *ngIf="componentStatus === itemStatus.New"
            >{{ componentStatus }}</span
          >
          <span
            class="e-label e-label--red-tomato"
            *ngIf="componentStatus === itemStatus.Coming"
            >{{ componentStatus }}</span
          >
        </div>
      </div>
      <p
        class="component-header__description e-text-description"
      >
        <span class="e-text-description">
          <ng-content select="headerDescription"></ng-content>
        </span>
      </p>
      <div class="component-header__example-does" *ngIf="does || donts">
        <div class="component-header__example-does-does" *ngIf="does">
          <span class="marker e-bg-green"></span>
          <span class="e-text-description bold">When: </span>
          <span class="e-text-description">{{ does }}</span>
        </div>
        <div class="component-header__example-does-donts" *ngIf="donts">
          <span class="marker e-bg-red"></span>
          <span class="e-text-description bold">When not: </span>
          <span class="e-text-description">{{ donts }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="component-tabs e-border-t">
    <div
      *ngFor="let tab of tabs"
      [ngClass]="{ active: selected == tab }"
      class="component-tabs__title e-title-sm e-border"
      (click)="chooseTab(tab)"
    >
      {{ tab }}
    </div>
  </div>
</div>
