<div class="component">
  <div class="component-header page-body">
    <div class="component-header__title">
      <div class="title-text">
        <h1 class="e-title-lg">
          <ng-content select="headerTitle"></ng-content>
          <div class="e-pl-16">
            <a *ngIf="externalUrl" href="{{externalUrl}}">
              <i class="e-icon-figma"></i>
            </a>
          </div>
        </h1>
        <div *ngIf="componentStatus != ''">
          <span
            class="e-badge e-bg-green"
            *ngIf="componentStatus === itemStatus.New"
            >{{ componentStatus }}</span
          >
          <span
            class="e-badge e-bg-red"
            *ngIf="componentStatus === itemStatus.Coming"
            >{{ componentStatus }}</span
          >
          <span
            class="e-badge e-bg-green"
            *ngIf="componentStatus === itemStatus.Done"
            >{{ componentStatus }}</span
          >
        </div>
      </div>
      <p
        class="class e-bg-grey-30 e-text-info"
        *ngFor="let class of componentClasses"
      >
        <code>
          {{ class }}
        </code>
      </p>
      <p
        class="component-header__description e-text-description"
        [ngClass]="{
          'class-margin': componentClasses && componentClasses.length > 0
        }"
      >
        <span class="e-text-body">
          <ng-content select="headerDescription"></ng-content>
        </span>
      </p>
      <div class="component-header__example-does" *ngIf="does || donts">
        <div class="component-header__example-does-does" *ngIf="does">
          <span class="marker e-bg-green"></span>
          <span class="e-title-sm">When: </span>
          <span class="e-text-description">{{ does }}</span>
        </div>
        <div class="component-header__example-does-donts" *ngIf="donts">
          <span class="marker e-bg-red"></span>
          <span class="e-title-sm">When not: </span>
          <span class="e-text-description">{{ donts }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="component-tabs e-border-t">
    <div
      *ngFor="let tab of tabs"
      [ngClass]="{ active: selected == tab }"
      class="component-tabs__title e-title-sm e-border"
      (click)="chooseTab(tab)"
    >
      {{ tab }}
    </div>
  </div>
</div>
