<div class="component">
  <div class="component-header">
    <div class="component-header__title">
      <h1>
        <ng-content select="headerTitle"></ng-content>
      </h1>
      <div *ngIf="componentStatus!=''">
        <span class="elvis-badge is-orange" *ngIf="componentStatus==='New'">{{ componentStatus }}</span>
        <span class="elvis-badge is-red" *ngIf="componentStatus==='In progress'">{{ componentStatus }}</span>
        <span class="elvis-badge is-green" *ngIf="componentStatus==='Done'">{{ componentStatus }}</span>
      </div>
    </div>
    <p class="component-header__class">
      <code>
        <ng-content select="headerClass"></ng-content>
      </code>
    </p>
    <div class="component-header__body">
      <p class="component-header__body-description">
        <ng-content select="headerDescription"></ng-content>
      </p>
      <div class="component-header__body-does">
        <h2>✅ When to use:</h2>
        <ng-content select="descriptionDoes"></ng-content>
  
        <h2>⛔ When not to use:</h2>
        <ng-content select="descriptionDonts"></ng-content>
      </div>
    </div>
  </div>
</div>