@import '../shared-sizes';

.component {
  &-header {
    padding: 16px 0;
    margin-bottom: var(--e-spacing-40);

    &__title {
      .title-text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        h1 {
          margin-right: 16px;
        }
        h1,
        .e-label {
          display: flex;
          align-self: center;
        }
      }
      .class {
        margin: 4px 0;
        padding: 4px 16px;
        border-radius: 14px;
        width: fit-content;
      }
    }
    &__description {
      &.class-margin {
        padding-top: 24px;
      }
    }

    &__example-does {
      &-does,
      &-donts {
        margin: 8px 0;

        .e-text-description.bold {
          font-weight: 500;
        }
  
        .marker {
          display: inline-flex;
          margin-right: 11px;
          height: 11px;
          width: 11px;
          border-radius: 50%;
        }
      }
    }
  }

  &-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 48px;
    background: var(--e-white);

    &__title {
      border-left: none;
    }
    &__title {
      display: flex;
      padding: 18px;
      width: 100%;
      height: 100%;
      justify-content: center;
      background: #dddddd;
      border-top: none;
      cursor: pointer;
      
      &.active {
        border-bottom: none;
        background: var(--e-white);
      }
    }
  }
}
