@import "~@hafslundnett/elvis/src/variables/colors.scss";
@import '../shared-sizes';

.component {
  background: #efefef;

  &-header {
    padding: 16px 0;

    &__title {
      .title-text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        h1 {
          margin-right: 16px;
        }
        h1,
        .e-badge {
          display: flex;
          align-self: center;
        }
      }
      .class {
        margin: 4px 0;
        padding: 4px 16px;
        border-radius: 14px;
        width: fit-content;
      }
    }
    &__description {
      padding-top: 24px;
    }
  }

  &-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 48px;
    background: #fff;

    &__title {
      border-left: none;
    }
    &__title {
      display: flex;
      padding: 18px;
      width: 100%;
      height: 100%;
      justify-content: center;
      background: color('grey-silver');
      cursor: pointer;
      
      &.active {
        border-bottom: none;
        background: #fff;
      }
    }
  }
}
