@use '@elvia/elvis/src/variables/typography.scss';
@use '@elvia/elvis/src/utilities/breakpoints.scss' as breakpoints;

.example-content {
  padding: 16px;
  border: 1px solid var(--e-color-border-1);
  background: var(--e-color-background-element-1);
}

.example-square {
  box-sizing: border-box;
  border: 1px solid var(--e-color-border-1);
  border-radius: 8%;
}

.display-card {
  @media (max-width: 494px) {
    flex-direction: column;
    width: 30%;
  }

  @include breakpoints.breakpoint-up(Tablet) {
    flex-direction: column;
    width: 40%;
  }
  @include breakpoints.breakpoint-up(Mobile) {
    flex-direction: column;
    width: 33%;
  }
}

.padding-example {
  width: 100%;
}

@include breakpoints.breakpoint-up(Mobile) {
  img {
    display: none;
  }
}
.grid-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include breakpoints.breakpoint-up(MinDesktop) {
    flex-direction: column;
  }
}
.circles-container {
  display: flex;
  flex-direction: column;
  @include breakpoints.breakpoint-up(Mobile) {
    flex-direction: column;
    .information-container {
      margin-top: 16px;
    }
  }
  @include breakpoints.breakpoint-up(MinDesktop) {
    flex-direction: row;
  }

  .information-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 106px;
    &:not(:first-of-type) {
      margin-top: 16px;
    }
    @include breakpoints.breakpoint-up(MinDesktop) {
      margin-left: 0px;
      &:not(:first-of-type) {
        margin-top: 0px;
      }
      &:not(:last-of-type) {
        margin-right: 16px;
      }
    }
    .information-circle {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 16px;
      @include typography.typography('title-caps');
    }
  }
}

.box-example {
  width: 100%;
  height: 80px;
  border: 1px var(--e-color-border-3) dashed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--e-color-text-2);
  font-size: 10px;
}
