.example-content {
  padding: 16px;
  border: 1px solid var(--e-color-border-1);
  background: var(--e-color-background-element-1);
}

.box-example {
  width: 100%;
  height: 80px;
  border: 1px var(--e-color-border-3) dashed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--e-color-text-2);
  font-size: 10px;
}
