.zoom-on-hover {
  cursor: pointer;
  transition: scale 0.2s ease-in-out;
  display: inline-block;
  overflow: auto;
  max-width: 100%;
  vertical-align: top;
}

//only use this is the user allows motion
@media (prefers-reduced-motion: no-preference) {
  .zoom-on-hover:hover {
    scale: 1.03;
  }
}
