.ewc-tooltip-copy-content {
  display: contents;
  > * {
    cursor: pointer;
  }
}

//only use this is the user allows motion
@media (prefers-reduced-motion: no-preference) {
  .ewc-tooltip-copy-content {
    > * {
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.03);
      }
    }

    &.ewc-tooltip-copy-content--no-animation {
      > * {
        transition: none;
        &:hover {
          transform: scale(1);
        }
      }
    }
  }
}
