@import '../../../../../style/elvis/src/utilities/breakpoints.scss';

.cardsContainer {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  width: 100%;
}

.cardLink {
  box-sizing: border-box;
  flex: 0 1 calc(20% - 55px);
  margin-right: 55px;

  @include breakpoint-up(MinDesktop) {
    flex: 0 1 calc(20% - 35px);
    margin-right: 35px;

    &:nth-child(-n + 5) {
      margin-bottom: 32px;
    }
  }

  @media (max-width: 1190px) {
    flex: 0 1 calc(20% - 10px);
    margin-right: 10px;
    margin-bottom: 32px;
  }

  @include breakpoint-up(Tablet) {
    flex: 0 1 calc(25% - 31px);
    margin-right: 31px;
    margin-bottom: 32px;
  }
}
