@import '../../../../style/elvis/src/utilities/breakpoints.scss';

.properties-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--e-black);
}
.elvis-anchor-body {
  margin: 0 105px;

  @include breakpoint-up(Mobile) {
    margin: 0 55px;
  }
}

.e-list li::before {
  top: 11px;
}
.prop-element-title {
  font-family: 'Fira Mono';
  font-size: 14px;
  line-height: 22px;
  background: var(--e-grey-05);
  padding: 0 2px;
  border-radius: 2px;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
