<!--HEADER-->
<app-component-header>
  <ng-container ngProjectAs="headerTitle">
    For developers
  </ng-container>

  <ng-container ngProjectAs="headerDescription">
    <p class="e-text-lead">
      Elvis helps designers and developers create software with a consistent look and feel and saves time by
      allowing us to reuse components and design elements across multiple systems and sketches.
    </p>
  </ng-container>
</app-component-header>

<!--BODY-->
<div class="page-body">
  <!--OVERVIEW-->
  <div>
    <div class="elvis-anchor">
      <h2 class="e-title-md elvis-anchor-title e-mt-48">
        Talk with us
      </h2>
      <hr />
      <p>
        If you have any issues at all, please don't hesitate to contact us! Any friction you experience in the
        onboarding process, or during use is valuable feedback for us
      </p>
      <a class="e-link e-link--action e-link--lg" href="https://hafslundnett.slack.com/archives/C01302LBTC2">
        <span class="e-link__title">#designsystemet</span>
        <span class="e-link__icon">
          <i class="e-icon e-icon--arrow_circle-color"></i>
          <i class="e-icon e-icon--arrow_circle-filled-color"></i>
        </span>
      </a>
    </div>
    <div class="elvis-anchor">
      <h2 class="e-title-md elvis-anchor-title e-mt-48">
        Get started using CDN -
        <span class="e-text-green-apple">Recommended</span>
      </h2>
      <hr />
      <div class="e-text-description e-mb-64">
        <ol class="e-list e-list--numbers">
          <li>
            <strong>Put the following in &lt;head></strong>
            <!-- Terrible hack just to get it working, since PrismJS does not update DOM on changes to the code in the code-highlighter -->
            <app-code-highlighter [codeHTML]="linkTagCode"></app-code-highlighter>
          </li>
          <li>
            <strong>Put the following at the bottom of &lt;body></strong>
            <app-code-highlighter [codeHTML]="scriptTagCode"></app-code-highlighter>
          </li>
        </ol>

        <h3 class="e-title-sm e-mt-48">What it should look like</h3>
        <app-code-highlighter [codeHTML]="fullExampleCode"></app-code-highlighter>
      </div>

      <div class="elvis-anchor e-mb-64">
        <h2 class="e-title-md elvis-anchor-title">
          Get started using NPM -
          <span class="e-text-red">Advanced</span>
        </h2>
        <hr />
        <div class="e-text-description">
          <div>
            <ol class="e-list e-list--numbers">
              <li>
                <strong>Install the package</strong>
                <app-copy [message]="'npm i @elvia/elvis'">
                  <ng-container ngProjectAs="copyContent">
                    <code class="code-block">npm i @elvia/elvis</code>
                  </ng-container>
                </app-copy>
              </li>
              <li>
                <strong>Import src/main.scss or elvis.min.css in your stylesheet</strong>
                <app-copy [message]="'@import \'~@elvia/elvis/src/main.scss\';'">
                  <ng-container ngProjectAs="copyContent">
                    <code class="code-block">@import '~@elvia/elvis/src/main.scss';</code>
                  </ng-container>
                </app-copy>
              </li>
              <li>
                <strong>Add elvis.js from the NPM package in &#x3C;body&#x3E;</strong>
                <p><strong>or use the CDN for elvis.js:</strong></p>
                <app-code-highlighter [codeHTML]="scriptTagCode"></app-code-highlighter>
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="elvis-anchor">
        <h2 class="e-title-md e-mt-48 elvis-anchor-title">
          Optional: CSS-variables
        </h2>
        <hr />
        <div class="e-text-description">
          Sometimes creating your own classes is necessary. For most of the identity like colors, shadows and
          spacing CSS-variables are also provided. All these variables are available when importing the
          main.scss file in your stylesheet, meaning you don't need to import any specific files to use them.
          <div>
            The syntax for CSS-variables:
            <code class="code-text">var(--e-name-of-class)</code>
          </div>
        </div>
        <h3 class="e-title-sm">Internet Explorer Support</h3>
        <div class="e-text-description">
          <div>
            <a class="e-link" href="https://jhildenbiddle.github.io/css-vars-ponyfill/#/">
              Ponyfill documentation
            </a>
          </div>
          The CSS-variables are not supported by IE11 and a ponyfill is therefore added as a dependency. But
          this library is offered as a ponyfill, not a polyfill, meaning that the code below needs to be added
          to your project, in your main.js/ts file, for processing to take place:
          <app-code-highlighter [codeTS]="cssVarsCode"></app-code-highlighter>
        </div>
      </div>
    </div>
  </div>
</div>
