@use '@elvia/elvis/src/utilities/breakpoints.scss' as breakpoints;

:host {
  position: fixed;
  inset: 88px 48px auto auto;

  @include breakpoints.breakpoint-up(Tablet) {
    position: relative;
    inset: auto;
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
  background: transparent;
  border: 0px solid transparent;
  border-bottom-width: 2px;
  padding-bottom: 3px;

  &:hover {
    border-color: #29d305;
    cursor: pointer;
  }
}
