<!--HEADER-->
<app-component-header
  [componentStatus]="componentStatus"  
>
  <ng-container ngProjectAs="headerTitle">
    New project with Elvis
  </ng-container>
  <ng-container ngProjectAs="headerDescription">
    Elvis is the design library Elvia uses for external and internal systems. Elvis provides classes and variables for styling components,
    as well as templates, accessibility rules and design principles for all developers and designers at Elvia to follow. 
    This guide provides you how to install the project and how to use the classes and variables provided.
  </ng-container>
</app-component-header>

<!--BODY-->
<div class="page-body">
  <!--OVERVIEW-->
  <div>
    <div>
      <h2 class="e-title-medium">Getting started with Elvis</h2>
      <div class="e-text-body">
        <div>
          To get started with Elvis: 
          <h3>Install the package:</h3>
          <app-copy [message]="'npm i @hafslundnett/elvis'">
            <ng-container ngProjectAs="copyContent">
              <code class="code-block">npm i @hafslundnett/elvis</code>
            </ng-container>
          </app-copy>
          <h3>Import main.sass in your stylesheet:</h3>
          <app-copy [message]="'@import \'~@hafslundnett/elvis/src/main.scss\';'">
            <ng-container ngProjectAs="copyContent">
              <code class="code-block">@import '~@hafslundnett/elvis/src/main.scss';</code>
            </ng-container>
          </app-copy>
        </div>
        <div>
          Elvis links:
          <div>
            <a class="e-link" href="https://www.npmjs.com/package/@hafslundnett/elvis">Elvis npm package</a>
          </div>
          <div>
            <a class="e-link" href="https://github.com/hafslundnett/elvia-designsystem/">Elvis repository</a>
          </div>
          <div>
            <a class="e-link" href="https://github.com/hafslundnett/elvia-designsystem/issues/new/choose">Give feedback</a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h2 class="e-title-medium e-mt-5">Using the classes</h2>
      <div class="e-text-body">
        All components consists of classes that are available through the Elvis style library. Which classes 
        to use is documented for each component.
        <div>
          The syntax for classes: <code class="code-text">e-name-of-class</code>
        </div>
      </div>
    </div>
    <div>
      <h2 class="e-title-medium e-mt-5">Using the CSS-variables</h2>
      <div class="e-text-body">
        For most of the utilities like colors, shadows and spacing CSS-variables are also provided. 
        All these variables are available when importing the main.scss file in your stylesheet, meaning you
        don't need to import any specific files to use them.
        <div>
          The syntax for CSS-variables: <code class="code-text">var(--e-name-of-class)</code>
        </div>
      </div>
      <h3>IE Support</h3>
      <div class="e-text-body">
        <div>
          <a class="e-link" href="https://jhildenbiddle.github.io/css-vars-ponyfill/#/">Ponyfill documentation</a>
        </div>
        The CSS-variables are not supported by IE11 and a ponyfill is therefore added as a dependency.
        But this library is offered as a ponyfill, not a polyfill, 
        meaning that the code below needs to be added to your project, in your main.js/ts file, for processing to take place:
        <app-code-highlighter
          [isTS]="true"
          [code]="cssVarsCode"
        ></app-code-highlighter>
      </div>
    </div>
  </div>
</div>
