<!--HEADER-->
<app-component-header
  [componentStatus]="componentStatus"  
  [tabs]="tabs"
  [(selected)]="selected"
>
  <ng-container ngProjectAs="headerTitle">
    New project
  </ng-container>
  <ng-container ngProjectAs="headerDescription">
    At the start of a new project we advice that you take a look at the existing
    templates to get a good insight into how components are used, styled and
    toned.
  </ng-container>
</app-component-header>

<!--BODY-->
<div class="page-body">
  <!--OVERVIEW-->
  <div *ngIf="selected == tabNames.Overview">
    <h2 class="e-title-medium">How to get started</h2>
    <div class="e-text-body">
      At the start of a new project we advice that you take a look at the existing
      templates. This will give you a good insight into how components are used,
      styled and toned. Feel free to use an existing template as an origin to
      quickly get started on development. This will contribute a consistent
      experience for our users. Remember that components can be adapted to your
      need, but this needs to be clarified with the designer in charge of the
      Elvis design system.
    </div>
  </div>
</div>
