@use '@elvia/elvis/src/utilities/breakpoints.scss' as breakpoints;

:host {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.page-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include breakpoints.breakpoint-up(Tablet) {
    margin-bottom: 24px;
  }
}

.mobile-and-tablet-only {
  display: none;

  @include breakpoints.breakpoint-up(Tablet) {
    display: flex;
  }
}

.page-container {
  display: grid;
  margin: 0 128px;
  padding-right: min(80px, 4vw); // This shifts the content to the right to make it feel more centered
  grid-template-columns: 250px 1fr;
  gap: 32px;

  @include breakpoints.breakpoint-up(Tablet) {
    grid-template-columns: 1fr;
    padding-right: 0;
    margin: 0 64px 32px;
  }

  @include breakpoints.breakpoint-up(Mobile) {
    margin: 0 40px 16px;
  }
}

.feedback-link {
  position: fixed;
  inset: 88px 48px auto auto;

  @include breakpoints.breakpoint-up(Tablet) {
    position: relative;
    inset: auto;
  }
}

.hide-up-to-tablet {
  @include breakpoints.breakpoint-up(Tablet) {
    display: none;
  }
}

.tablet-and-mobile-only {
  display: none;

  @include breakpoints.breakpoint-up(Tablet) {
    display: block;
  }
}

.page-content {
  @include breakpoints.breakpoint-up(Tablet) {
    grid-column: 1 / -1;
  }
}
