@use '@elvia/elvis/src/utilities/breakpoints.scss' as breakpoints;

:host {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.page-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include breakpoints.breakpoint-up(Tablet) {
    margin-bottom: 24px;
  }
}

.page-container {
  display: grid;
  margin: 0 104px;
  padding-right: min(80px, 4vw); // This shifts the content to the right to make it feel more centered

  // minmax(0, 1fr) prevents CEGs from overflowing: https://css-tricks.com/preventing-a-grid-blowout/
  grid-template-columns: min(220px, 22%) minmax(0, 1fr);
  gap: min(64px, 4%);

  @include breakpoints.breakpoint-up(Tablet) {
    grid-template-columns: minmax(0, 1fr);
    padding-right: 0;
    margin: 0 64px 32px;
  }

  @include breakpoints.breakpoint-up(Mobile) {
    margin: 0 16px 16px;
  }
}

.feedback-link {
  --feedback-inset: 48px;
  position: fixed;
  inset: calc(64px + var(--feedback-inset)) var(--feedback-inset) auto auto;

  @include breakpoints.breakpoint-up(Tablet) {
    position: relative;
    inset: auto;
  }
}

.page-content {
  @include breakpoints.breakpoint-up(Tablet) {
    grid-column: 1 / -1;
  }
}

.mobile-navbar {
  max-width: 522px;
  margin: 0 auto;
}
