name: Azure Static Web App Deploy

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - master

permissions:
  contents: read
  id-token: write
  issues: write
  pull-requests: write

jobs:
  # Build and Deploys the Angular app to Azure Static Web Apps
  build_and_deploy_job:
    if:
      github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          submodules: true
          lfs: false
      - name: Fetch secrets from Vault
        uses: 3lvia/core-github-actions-templates/vault@trunk
        with:
          environment: prod
          system: kunde
          secrets: |
            kunde/kv/data/static_web_app/designsystem api_key | AZURE_STATIC_WEB_APPS_API_TOKEN ;

      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@1a947af9992250f3bc2e68ad0754c0b0c11566c9 # v1
        with:
          azure_static_web_apps_api_token:
            ${{ env.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR comments)
          action: 'upload'
          ###### Repository/Build Configurations - These values can be configured to match your app requirements. ######
          # For more information regarding Static Web App workflow configurations, please visit: https://aka.ms/swaworkflowconfig
          app_location: '/' # App source code path
          api_location: '' # Api source code path - optional
          output_location: 'packages/web/dist/elvia-designsystem/browser' # Built app content directory - optional
          skip_api_build: true # Set the value to true to skip building the API functions.
          ###### End of Repository/Build Configurations ######

  # Cleans up the staging environment (preview link) after the pull request is closed
  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Fetch secrets from Vault
        uses: 3lvia/core-github-actions-templates/vault@trunk
        with:
          environment: prod
          system: kunde
          secrets: |
            kunde/kv/data/static_web_app/designsystem api_key | AZURE_STATIC_WEB_APPS_API_TOKEN ;

      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@1a947af9992250f3bc2e68ad0754c0b0c11566c9 # v1
        with:
          azure_static_web_apps_api_token:
            ${{ env.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          action: 'close'
