name: Percy CI
on:
  pull_request:
    paths:
      - 'packages/elvis/**'
jobs:
  percyTest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Get Yarn Cache
        uses: actions/setup-node@v3
        with:
          cache: 'yarn'
      - name: Install
        run: yarn install --immutable
      - name: Build Tokens
        run: yarn build:tokens
      - name: Build Elvis
        run: yarn build:elvis
      - name: Run Percy on Elvis
        run: |
          cd packages/elvis
          node testing/server.js & 
          npx @percy/cli snapshot percy/snapshots.yml
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
