name: Playwright Tests
on:
  pull_request:
    paths:
      - 'packages/components/components/**'
jobs:
  componentTest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Get Yarn Cache
        uses: actions/setup-node@v4
        with:
          cache: 'yarn'
          node-version-file: '.nvmrc'
      - name: Install
        run: yarn install --immutable
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Build
        run: yarn build:tokens && yarn build:elvis && yarn build:components
      - name: Run Playwright Tests
        run: env HOME=/root npx @percy/cli exec -- yarn test-ct
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: packages/components/playwright-report/
          retention-days: 30
