name: Playwright Tests
permissions:
  contents: read
  actions: read
  checks: write
on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'packages/components/components/**'
      - '.github/workflows/**'
  push:
    branches:
      - master
    paths:
      - 'packages/components/components/**'
jobs:
  componentTest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Get Yarn Cache
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          cache: 'yarn'
          node-version-file: '.nvmrc'
      - name: Install
        run: yarn install --immutable
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Build
        run: yarn build:tokens && yarn build:elvis && yarn build:components
      - name: Run Playwright Tests
        run: npx @percy/cli exec -- yarn test-ct
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_COMPONENTS_TOKEN }}
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        if: always()
        with:
          name: playwright-report
          path: packages/components/playwright-report/
          retention-days: 30
