name: Playwright Tests
permissions:
  contents: read
  actions: read
  checks: write
on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'packages/components/components/**'
      - '.github/workflows/**'
  push:
    branches:
      - master
    paths:
      - 'packages/components/components/**'
jobs:
  componentTest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Get Yarn Cache
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          cache: 'yarn'
          node-version-file: '.nvmrc'
      - name: Install
        run: yarn install --immutable
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Build
        run: yarn build:tokens && yarn build:elvis && yarn build:components
      - name: Run Playwright Tests
        run: npx @percy/cli exec -- yarn test-ct
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_COMPONENTS_TOKEN }}
      - uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7
        if: always()
        with:
          name: playwright-report
          path: packages/components/playwright-report/
          retention-days: 30
