name: Publish to NPM
on:
  push:
    branches:
      - master
    paths:
      - 'packages/elvis/package.json'
      - 'packages/elvis-*/package.json'
      - 'packages/components/components/*/package.json'
jobs:
  publishToNpm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Get Yarn Cache
        uses: actions/setup-node@v4
        with:
          cache: 'yarn'
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'
          always-auth: true
      - name: Install
        run: yarn install --immutable
      - name: Build
        run: yarn build:tokens && yarn build:elvis && yarn build:components
      - name: Run tests
        run: yarn test
      - name: Publish
        continue-on-error: true
        run: yarn publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
