name: Publish to NPM
permissions:
  contents: read
on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - 'packages/elvis/package.json'
      - 'packages/elvis-*/package.json'
      - 'packages/components/components/*/package.json'
concurrency:
  group: 'publishToNpm'
  cancel-in-progress: true
jobs:
  publishToNpm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Get Yarn Cache
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          cache: 'yarn'
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'
          always-auth: true
      - name: Install
        run: yarn install --immutable
      - name: Build
        run: yarn build:tokens && yarn build:elvis && yarn build:components
      - name: Run tests
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3
        with:
          command: yarn test
          max_attempts: 3
          timeout_minutes: 10
      - name: Publish
        continue-on-error: true
        run: yarn publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
