name: Run Component Tests
permissions:
  contents: read
on:
  pull_request:
    paths:
      - 'packages/components/components/**'
      - 'yarn.lock'
      - '.github/workflows/**'
jobs:
  runComponentTests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Get Yarn Cache
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          cache: 'yarn'
          node-version-file: '.nvmrc'
      - name: Install
        run: yarn install --immutable
      - name: Build
        run: yarn build:tokens && yarn build:components
      - name: Run tests
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3
        with:
          command: yarn test
          max_attempts: 3
          timeout_minutes: 10
