name: Run Component Tests
permissions:
  contents: read
on:
  pull_request:
    paths:
      - 'packages/components/components/**'
      - 'yarn.lock'
      - '.github/workflows/**'
jobs:
  runComponentTests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Get Yarn Cache
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          cache: 'yarn'
          node-version-file: '.nvmrc'
      - name: Install
        run: yarn install --immutable
      - name: Build
        run: yarn build:tokens && yarn build:components
      - name: Run tests
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3
        with:
          command: yarn test
          max_attempts: 3
          timeout_minutes: 10
