name: Yarn Dedupe
on:
  workflow_dispatch:
  schedule:
  - cron: 0 5 1 * * #05:00, on day 1 of the month
permissions: write-all
jobs:
  release:
    name: Dedupe dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - name: Get Yarn Cache
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          cache: 'yarn'
          node-version-file: '.nvmrc'
      - name: Yarn Dedupe
        run: yarn dedupe --mode="update-lockfile"
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7
        with:
          commit-message: 'chore(deps): dedupe dependencies'
          title: 'chore(deps): dedupe dependencies'
          body: |
            chore(deps): dedupe dependencies
          branch: 'chore/dedupe-dependencies'
          base: 'master'
          delete-branch: true
