iframe {
  position: relative;
}

#examplebutton {
  position: absolute;
  z-index: 100000000;
  top:1%;
  right:1%;
}

#exampleInput {
  position: absolute;
  z-index: 100000000;
  bottom:11%;
  align-self: center;
  width: 50%;
}
