.e-modal__content {
  padding: 0;
}

#examplebutton {
  position: absolute;
  top:1%;
  right:1%;
}

#exampleInput {
  position: absolute;
  align-self: center;
  bottom:11%;
  width: 50%;
  background-color: #ffffff;
}
