@function color-map($name, $color-set: $colors) {
  $color-map: null;

  @if map-has-key($color-set, $name) {
    $color-map: map-get($color-set, $name);
  } @else {
    @each $label, $map in $color-set {
      @if index(map-get($map, alt-labels), $name) {
        $color-map: $map;
      }
    }
  }

  @if global-variable-exists(override-colors) {
    @if map-has-key($override-colors, $name) {
      $color-map: map-get($override-colors, $name);
    } @else {
      @each $label, $map in $override-colors {
        @if index(map-get($map, alt-labels), $name) {
          $color-map: $map;
        }
      }
    }
  }

  @if not $color-map {
    @warn 'the color "#{$name}" was not found';
    @return null;
  }

  @return $color-map;
}

@function color($name, $color-set: $colors) {
  $map: color-map($name, $color-set);
  @return map-get($map, color);
}


// All colors as a list
$colors: (
  'white': (
    color: #FFF,
    alt-labels: (primary, bg),
    contrast-text: #000,
  ),  
  'black': (
    color: #000,
    alt-labels: (text),
    contrast-text: #fff,
  ),  
  'grey-mine-shaft': (
    color: #262626,
    contrast-text: #fff,
  ),  
  'grey-stone': (
    color: #707070,
    contrast-text: #000,
  ),  
  'grey-silver': (
    color: #cacaca,
    alt-labels: (border),
    contrast-text: #000,
  ),
  'green-lime': (
    color: #29D305,
    contrast-text: #000,
  ),   
  'yellow': (
    color: #FFFF00,
    contrast-text: #000,
  ),  
  'yellow-05': (
    color: rgba(255, 255, 0, 0.5),
    contrast-text: #000,
  ),  
  'yellow-02': (
    color: rgba(255, 255, 0, 0.2),
    contrast-text: #000,
  ),  
  'orange-peel': (
    color: #FFA000,
    contrast-text: #000,
  ),  
  'orange-peel-05': (
    color: rgba(255, 160, 0, 0.5),
    contrast-text: #000,
  ),  
  'orange-peel-02': (
    color: rgba(255, 160, 0, 0.2),
    contrast-text: #000,
  ),  
  'red': (
    color: #FF0000,
    contrast-text: #000,
  ),  
  'red-08': (
    color: rgba(255, 0, 0, 0.8),
    contrast-text: #fff,
  ),  
  'red-05': (
    color: rgba(255, 0, 0, 0.5),
    contrast-text: #000,
  ),  
  'red-02': (
    color: rgba(255, 0, 0, 0.2),
    contrast-text: #000,
  ),  
);  
