@function color-map($name, $color-set: $colors) {
  $color-map: null;

  @if map-has-key($color-set, $name) {
    $color-map: map-get($color-set, $name);
  } @else {
    @each $label, $map in $color-set {
      @if index(map-get($map, alt-labels), $name) {
        $color-map: $map;
      }
    }
  }

  @if global-variable-exists(override-colors) {
    @if map-has-key($override-colors, $name) {
      $color-map: map-get($override-colors, $name);
    } @else {
      @each $label, $map in $override-colors {
        @if index(map-get($map, alt-labels), $name) {
          $color-map: $map;
        }
      }
    }
  }

  @if not $color-map {
    @warn 'the color "#{$name}" was not found';
    @return null;
  }

  @return $color-map;
}

@function color($name, $color-set: $colors) {
  $map: color-map($name, $color-set);
  @return map-get($map, color);
}


// All colors as a list
$colors: (
  'white': (
    color: #FFF,
    alt-labels: (primary),
  ),  
  'black': (
    color: #000,
  ),  
  'grey-mine-shaft': (
    color: #262626,
    alt-labels: (font),
  ),  
  'grey-silver': (
    color: #cacaca,
    alt-labels: (border),
  ),
  'green-lime': (
    color: #29D305,
  ),   
  'yellow': (
    color: #FFFF00,
  ),  
  'yellow-05': (
    color: rgba(255, 255, 0, 0.5),
  ),  
  'yellow-02': (
    color: rgba(255, 255, 0, 0.2),
  ),  
  'orange-peel': (
    color: #FFA000,
  ),  
  'orange-peel-05': (
    color: rgba(255, 160, 0, 0.5),
  ),  
  'orange-peel-02': (
    color: rgba(255, 160, 0, 0.2),
  ),  
  'red': (
    color: #FF0000,
  ),  
  'red-05': (
    color: rgba(255, 0, 0, 0.5),
  ),  
  'red-02': (
    color: rgba(255, 0, 0, 0.2),
  ),  
);  




// Making background and color classes for all colors
.elvis {
  @each $label, $map in $colors {
    $color: color($label);

    $alt-labels: map-get($map, alt-labels);
    $labels: ($label);

    @if $alt-labels {
      @each $label in $alt-labels {
        $labels: append($labels, $label);
      }
    }

    @each $label in $labels {
      &-color-#{$label} {
        color: $color;
      }
      &-background-#{$label} {
        background: $color;
      }
    }
  }
}