@import './colors.scss';

$font-family: "Red Hat Display", sans-serif;

@function font-size($name) {
  $typography-map: null;

  @if map-has-key($typography, $name) {
    $typography-map: map-get($typography, $name);
  } @else {
    @each $label, $map in $typography {
      @if map-has-key($typography, alt-labels) {
        @if contains(map-get($map, alt-labels), $name) {
          $typography-map: $map;
        }
      }
    }
  }

  @if not $typography-map {
    @warn 'the typography variable "#{$name}" was not found';
    @return null;
  }

  @return map-get($typography-map, size);
}

body {
  font-family: $font-family;
  color: color('text');
}

// List of typography-variables
$typography: (
  title-large: (
    family: $font-family,
    size: 2.75rem,
    height: 120%,
    weight: 900,
    color: color('text'),
    element: h1
  ),
  title-medium: (
    family: $font-family,
    size: 1.625rem,
    height: 120%,
    weight: bold,
    color: color('text'),
    element: h2
  ),
  title-small: (
    family: $font-family,
    size: 1.25rem,
    height: 120%,
    weight: bold,
    color: color('text'),
    element: h3
  ),
  text-lead: (
    family: $font-family,
    size: 1.625rem,
    height: 160%,
    weight: normal,
    color: color('text')
  ),
  text-quote: (
    family: $font-family,
    size: 1.5rem,
    height: 160%,
    weight: normal,
    style: italic,
    color: color('text')
  ),
  text-caps: (
    family: $font-family,
    size: 0.875rem,
    height: 120%,
    weight: 500,
    transform: uppercase,
    color: color('text')
  ),
  text-body: (
    family: $font-family,
    size: 1.125rem,
    height: 160%,
    weight: normal,
    color: color('text')
  ),
  text-description: (
    family: $font-family,
    size: 1rem,
    height: 175%,
    weight: normal,
    color: color('text')
  ),
  text-info: (
    family: $font-family,
    size: 0.875rem,
    height: 160%,
    weight: normal,
    color: color('text')
  ),
  label-input: (
    family: $font-family,
    size: 1rem,
    height: 140%,
    weight: 500,
    color: color('text')
  ),
  label-option: (
    family: $font-family,
    size: 1rem,
    height: 140%,
    weight: normal,
    color: color('text')
  ),
);


@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap");