@import '../../../shared/shared-animations';
@import '../../../../../style/elvis/src/utilities/breakpoints.scss';

.sizes-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 0 -16px;

  .sizes-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 16px;
  }
}

.dark-mode-toggle {
  display: flex;
  justify-content: center;
  align-items: center;

  .e-toggle {
    margin-left: 8px;
  }
}

.overview {
  &-search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .e-form-field {
      width: 35%;
      margin-top: -28px;
    }
    .filter-buttons {
      display: flex;
    }
    .dark-mode-toggle.mobile {
      display: none;
    }
    @media (max-width: 1260px) {
      flex-direction: column;
      align-items: flex-start;
      .e-form-field {
        width: 100%;
        margin-top: 24px;
      }
      .filter-buttons {
        margin-top: 24px;
        .e-filter-button {
          margin-right: 4px;
          // &:last-of-type {
          //   margin-right: 0px;
          // }
        }
      }
      .dark-mode-toggle {
        display: none;
      }
      .dark-mode-toggle.mobile {
        display: flex;
      }
    }
  }

  &-icons-container {
    max-height: 364px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 46px;
    padding: 8px;
    border-radius: 8px;

    &.open-accordion {
      max-height: 10000px;
      transition: 0.5s cubic-bezier(0.4, 0.01, 0.12, 0.32);
    }

    .icon-card {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 20px 10px;
      width: 72px;
      text-align: center;

      .icon-icon {
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      }

      .e-text-description {
        margin-top: 8px;
        width: 78px;
        line-height: 16px;
      }
    }
  }
}
