@import '../../../shared/shared-animations';

.sizes-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 0 -16px;

  .sizes-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 16px;
  }
}

.dark-mode-toggle {
  display: flex;
  justify-content: center;
  align-items: center;

  .e-toggle {
    margin-left: 8px;
  }
}

.overview {
  &-search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .e-form-field {
      margin-top: -28px;
    }
  }

  &-icons-container {
    max-height: 336px;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 46px;
    padding: 8px;
    border-radius: 4px;

    .icon-card {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 10%;
      min-width: 10%;
      margin: 20px 10px;
      width: 72px;
      text-align: center;

      .icon-icon {
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      }

      .e-text-description {
        margin-top: 8px;
        width: 78px;
        line-height: 16px;
      }
    }
  }
}
