@import '../../../shared/shared-animations';

.sizes-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 0 -16px;

  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 16px;
  }
}

.dark-mode-toggle {
  display: flex;
  justify-content: center;
  align-items: center;

  .e-toggle {
    margin-left: 8px;
  }
}

.overview {
  &-search-container {
    margin: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &-icons-container {
    max-height: 816px;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .icon-card {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 10%;
      min-width: 10%;
      margin: 16px 20px;
      width: 78px;
      text-align: center;
      cursor: pointer;

      .e-text-description {
        margin-top: 8px;
        width: 78px;
      }
    }
  }
}
